[2016-11-14 11:46] sniphpet opened #1 "Review the api when passing prop"
Maybe remove the childrenProps key and pass the props directly to the component.
I need to think a bit

[2016-11-14 12:58] #1 closed

[2017-03-16 01:04] Airkro opened #2 "Cannot read property 'props' of undefined"
When mouseover on the ToastContainer(with autoclose) and click closebtn, throw:

Uncaught TypeError: Cannot read property 'props' of undefined

[2017-03-19 00:30] sniphpet commented on #2
Hello,

I have time tomorrow i'll investigate. Thanks

[2017-03-25 00:31] #2 closed

[2017-04-02 10:54] dekelb opened #3 "Prevent Duplicates"
First - thanks for this project!

Is it possible to add an option to prevent duplicated messages?
Other toastr libraries have this feature and I really think it's a good one.

Thanks!

[2017-04-02 11:20] sniphpet commented on #3
I'm glad you like it!

Good idea. I'll add a props ```preventDuplicated``` like you suggested.

[2017-04-03 12:07] sniphpet commented on #3
The messages are transformed to a react component. You can also pass a component if you want too.
I need to find a way to shallow compare react component. Maybe if I convert the component to string and do a string comparison can be a solution. I'll make some test.

[2017-04-05 21:18] jayar95 opened #4 "EventManager.js:87 <SHOW_TOAST> Event is not registered. Did you forgot to bind the event ?"
There are times I want to show the toast outside of a button click. In these cases, the console will show the following alert:
EventManager.js:87 <SHOW_TOAST> Event is not registered. Did you forgot to bind the event ?

[2017-04-05 21:28] sniphpet commented on #4
Hello,

Can you provide me a sample to reproduce it please ?

Thanks

[2017-04-09 07:53] ritz078 opened #5 "Custom close button"
Will be nice if I can use close button from my React component.

API may look like

[code]

[2017-04-09 18:53] sniphpet commented on #5
Forgot to say good idea :+1:

[2017-04-09 20:46] sniphpet opened #6 "Update to new prop-types package https://www.npmjs.com/package/prop-types"

[2017-04-09 20:49] sniphpet opened #7 "Update documentation and gh-pages"

[2017-04-09 20:58] sniphpet commented on #5
@ritz078 This feature will be available for the release 1.3.0. I will probably publish it tomorrow on npm.

[2017-04-09 20:58] #5 closed

[2017-04-09 21:14] #6 closed

[2017-04-10 18:41] sniphpet commented on #5
@ritz078 I published the v1.3.0

[2017-04-11 15:07] jayar95 commented on #4
Yes! Sorry I forgot to include one originally!

`if(this.props.location.state && this.props.location.state.updatedAccount)
 +			toast('Account Updated! If you published a new account, the initial data pull could take a few minutes.', {
 +				type: toast.TYPE.SUCCESS
 +			});`

[2017-04-11 15:35] sniphpet commented on #4
Thanks. I'll investigate asap !

[2017-04-11 16:19] sniphpet commented on #4
I think that you are calling the toast function somewhere in your render method. Right ?

What is happening is that the ToastContainer is not rendered at this time which means that the event won't be bonded.

In your case it will be best to call the toast function inside [componentWillReceiveProps](https://facebook.github.io/react/docs/react-component.html#componentwillreceiveprops):

[code]

[2017-04-23 18:56] ritz078 opened #10 "Custom close button not working"
Even though its rendered, I don't see it being doing anything as there is no click event attached to it [here](https://github.com/sniphpet/react-toastify/blob/master/src/Toast.js#L78)

[2017-04-23 19:20] sniphpet commented on #10
Hello,

When using a custom close button, the component will receive a prop ```closeToast```. You need to call it inside your component to close the toast.

[code]

[2017-04-23 20:33] ritz078 commented on #10
Thanks. Working great.

[2017-04-23 20:33] #10 closed

[2017-04-29 01:02] NullVoxPopuli opened #11 "Feature Request: onHover?"
for example: http://stonecircle.github.io/ember-cli-notifications/

there is a timer, visual represented by a progress bar on the bottom, that is paused upon hover (which is super handy if an error toast happens to be long).

Are there plans to have this sort of functionality, or add a hook that would allow us to implement it?

[2017-04-29 05:14] sniphpet commented on #11
@NullVoxPopuli I really like this feature ! I'll work on it

[2017-05-06 16:20] jcuenod opened #12 "Turn off pointer events when no toast is displayed"
I noticed that I'm losing pointer events everything beneath the toastify element. Why not just set `pointer-events: none` while there's no toast being displayed?

[2017-05-06 17:13] sniphpet commented on #12
@jcuenod indeed it would be better. I'll release the v1.4.0 tonight or tomorrow. I'll take into account this change. Thanks you

[2017-05-06 17:40] #12 closed

[2017-05-06 17:41] #11 closed

[2017-05-07 14:12] #7 closed

[2017-05-07 14:13] sniphpet commented on #12
Hello @jcuenod, just to let you know that the v1.4.0 is live and it takes care of set `pointer-event` when needed.
Have a good day

[2017-05-07 14:14] sniphpet commented on #11
Hello @NullVoxPopuli, just to let you know that the v1.4.0 is live and it includes your feature request.
Have a good day.

[2017-05-07 14:24] NullVoxPopuli commented on #11
Thanks a ton! looks great!
![2017-05-07-102357_426x129_scrot](https://cloud.githubusercontent.com/assets/199018/25781979/566e6640-330f-11e7-909d-d841850fd4e2.png)

[2017-05-08 11:04] nirsky opened #14 "Console warning: Unknown prop `closeToast` on <div> tag. Remove this prop from the element."
Hey,

Getting this warning when using toast:

`Warning: Unknown prop `closeToast` on <div> tag. Remove this prop from the element. For details, see https://fb.me/react-unknown-prop
`

This is my usage (styling and content text simplified):

[code]

**Edit:**
Made a small workaround to avoid this warning (still should be fixed though):

[code]

[2017-05-08 11:30] fkhadra commented on #14
Hello @nirsky,

What's going on with your first snippet  is that you try to assign a prop to an html node instead of a react component.
But you're right i'll create a dumb container in case i don't receive a react element.

Thank for the input !

[2017-05-08 11:42] nirsky commented on #14
@fkhadra Thanks, keep up the good job! Great package, really easy to use.

[2017-05-08 20:07] fkhadra commented on #14
Hey @nirsky v1.4.2 is live with the fix.

Thanks

[2017-05-08 20:07] #14 closed

[2017-05-10 08:03] janbuerling opened #15 "Position option in toast don´t work."
To set the position option in the ToastContainer works. If the position is set to the toastr directly, it doesn´t.

[2017-05-10 09:45] fkhadra commented on #15
Hello @janbuerling, if you refer to the documentation there is no options to set the position for a toast itself.
I can think to add that feature to a next release maybe. I have to think about the best way to implement it.

[2017-05-10 12:04] janbuerling commented on #15
Okay thanks.

[2017-05-10 12:04] #15 closed

[2017-05-11 14:38] lorenzos opened #16 "Shouldn't `react` and `react-dom` be listed as peer dependencies?"
`react` is currently a normal dependency, and `react-dom` a development one. Shouldn't they be listed as peer dependencies?

[2017-05-11 14:48] fkhadra commented on #16
Hello @lorenzos,
Last week I was asking myself: "react should be considered a dependency or a peer dependency ?"
Then I forgot about it 😮.

If I define react as a peer dependency, it means that when you install the package you always get the latest version of react? Am I right?

[2017-05-11 14:55] fkhadra commented on #16
I guess `react-dom` need to set as a peerDependency as well.

[2017-05-11 14:58] lorenzos commented on #16
I can be wrong, but I think you're **exactly not right** :smile: The peer dependency is made exactly for the purpose of **not** be downloaded as a required dependency of your package. It means something like *this package should go along this one, but it'll be the user of my package to specify it as a dependency of **her** app*. And, thinking about it, that's what all React components should do (a

[2017-05-11 15:01] fkhadra commented on #16
Thanks for the precision, I understand better know 😁. I'll fix it tonight.

[2017-05-11 19:17] fkhadra commented on #16
@lorenzos package updated thanks for the advice !

[2017-05-11 19:17] #16 closed

[2017-05-12 21:41] mtompkins commented on #4
As the question is still open I thought I'd share my similar struggle. I'm not trying to hijack the thread here but I thought others might search down this particular error and my addition useful.

I thought the `componentDidMount` would be sufficient but it fails on initial load. Navigating back to the page does fire it off as expected. Any thoughts on what I might be missing?

I have a router **

[2017-05-12 22:06] fkhadra commented on #4
I'm now able to reproduce the issue using react router. I'm on it.

[2017-05-12 22:08] mtompkins commented on #4
Thanks so much - love this little bit of code btw - thanks for sharing!

[2017-05-12 22:10] fkhadra commented on #4
Glad you like it. Don't forget to pick the latest version :grin:

[2017-05-15 10:44] fkhadra commented on #4
FYI, I have a fix for that issue. I'll try to make the patch for this week or the next one.

[2017-05-15 11:25] mtompkins commented on #4
Awesome - thanks for the update. Will test it a bit when released.

[2017-05-16 16:19] mtompkins opened #18 "Enhancement: Assignable Toast ID & Dismiss"
One set of the features missing from this lovely module is the ability to identify and close existing toasts programmatically. Example: a timer is running and then there is a reason to dismiss it - like a download completes quicker than an expiring timer and you'd like to replace with a completed notification.

[2017-05-16 19:58] fkhadra commented on #18
Indeed, good idea !  I'll will add that feature to the next release

[2017-05-17 20:43] martinmckenna opened #19 "removeCloseButton not working?"
My code

`<ToastContainer
                    className="toast-container"
                    removeCloseButton={true}
                    autoClose={1500}/>`

autoClose is working fine along with other props that I try. Can't get removeCloseButton to work for the life of me

[2017-05-17 22:49] fkhadra commented on #19
Hello @martinmckenna,

Sorry I made a typo into the documentation, I will fix it. There is no such prop `removeCloseButton` :face_with_head_bandage:

To hide the close button you have to set `closeButton={false}` :

`<ToastContainer className="toast-container" closeButton={false} autoClose={1500}/>`

[2017-05-18 01:24] martinmckenna commented on #19
hahah. I thought I was losing my mind. Thanks!

[2017-05-18 06:58] fkhadra commented on #19
Haha sorry mate 😁

[2017-05-18 06:58] #19 closed

[2017-05-23 06:00] SmileSydney opened #20 "Enhancement: Align colors to bootstrap colors"
I noticed the container colours (the left border of toast) doesn't match those in vanilla bootstrap. It'd be nice if it did for consistency.

I believe the default Bootstrap colour values are:
Success: #5cb85c
Info: #5bc0de
Warning: #f0ad4e
Error: #d9534f

[2017-05-24 07:36] Kotpes opened #21 "css-modules"
Great module! Any plans making it work with css-modules out of the box?

[2017-05-24 07:45] fkhadra commented on #21
Hey @Kotpes appreciate. I'll think about it, it can be a good idea

[2017-05-24 07:51] fkhadra commented on #20
Hello @SmileSydney.

I understand your point of view but I'm not planning to switch to bootstrap colors.
I think it's pretty easy to set your preferred colors.

But I'll think about it. I'm not using bootstrap at all but It's true that there is a lot of people out there using it.

[2017-05-28 00:22] mtompkins opened #22 "Style object not applied ?"
I was trying to pass a style object with the balance of options as:

[code]

Yet the style wouldn't apply. Is there a different way we should pass the inline object?
The balance of options are working as expected.

[2017-05-28 19:39] aseem2625 opened #23 "Position property in options to toast object"
Just found this library and used it. Absolutely loved it. Only feature I felt missing was `position` property in options to `toast` object.

Is it limitation by design?

[2017-05-28 20:25] fkhadra commented on #4
This has been fixed with release 1.6.0

[2017-05-28 20:25] #4 closed

[2017-05-28 20:28] fkhadra commented on #18
@mtompkins the feature is now available!
toast function now returns a toastId. You can use it to remove the toast:
[code]

[2017-05-28 20:28] #18 closed

[2017-05-28 20:29] mtompkins commented on #18
Awesome ! TY

[2017-05-28 20:36] fkhadra commented on #23
Glad you liked it! To be honest, I thought about it but I always wondered if it made sense from a user POV.
Anyway, it can be useful :grin:

[2017-05-28 20:39] fkhadra commented on #22
@mtompkins  there is no style option for the toast. The easiest way to set your style would be to override the default toast class.
Do you think that adding a style option can be useful?

[2017-05-28 21:05] mtompkins commented on #22
I think it is likely a necessary feature because without the ability to adjust the content within the toast appearance can suffer. For example, when an icon is significantly bigger than the provided text, alignment can look off. Or in my case, ... Below is a screenshot.

The top toast looks awesome, icon size and text alignment. (margin above and below icon & text is equal)
The bottom toast looks

[2017-05-28 21:48] fkhadra commented on #22
So the reference you mentioned it's only for the `ToastContainer` component not for the toast. Just to give you an idea imagine I do that: `<ToastContainer autoClose={false} style={{border: '1px solid red'}} />`
Here is what it looks like
 ![toast-container-style](https://cloud.githubusercontent.com/assets/5574267/26532294/f1331754-43fc-11e7-9ce3-68f4f6af37ba.png)

In your case, you want to adjust

[2017-05-28 21:51] mtompkins commented on #22
Nope - great explanation and makes sense. Thanks so much - the more I use this little thing the move I love it...especially that dismiss by assignment you pushed!

[2017-05-28 21:52] fkhadra commented on #22
Thank you :grin: I close this issue then

[2017-05-28 21:52] #22 closed

[2017-05-29 08:58] aseem2625 commented on #23
@fkhadra Yes, absolutely useful. API related success/failure can be shown in bottom-left. Other app level notifications can be shown on top-center (and lot other combination as what user wants).

I will go through your code in 1-2 days and see if I can send PR to support this.

[2017-05-29 09:09] fkhadra commented on #23
Thanks for the details. I already have an idea how to implement it. I'll also try in 1 or 2 days depending on free time.

[2017-05-29 11:34] fkhadra commented on #23
Hey @aseem2625,

I had the time to implement it during the lunch!
![image](https://cloud.githubusercontent.com/assets/5574267/26548235/72a3f2ba-4473-11e7-85b9-8de1af8a3244.png)

I will try to push it today or tomorrow

[2017-05-29 12:35] aseem2625 commented on #23
@fkhadra
Haha looks nice.. you're fast 😄

[2017-05-30 18:21] fkhadra commented on #23
@aseem2625 feature available in [v1.7.0](https://github.com/fkhadra/react-toastify/tree/v1.7.0)

[2017-05-30 18:21] #23 closed

[2017-05-30 18:25] fkhadra commented on #3
Hey @dekelb when you say "Prevent Duplicates" you mean show only one toast at time?

[2017-05-30 18:33] fkhadra commented on #20
@SmileSydney I won't switch to bootstrap colors for the moment unless there is a real need.
You can easly set the colors if you edit the _variables.scss

[code]
Or you can override the following css classes:

[code]

BTW sorry to disappoint you

[2017-05-30 18:33] #20 closed

[2017-05-30 19:46] dekelb commented on #3
Duplicates means if msg1 and msg2 have exactly the same content, don't show msg2.

For example:
Toastr1: "Message submitted"
Toastr2: "Message submitted"
Toastr3: "Thanks for registering"

There will be **only two** toastrs (1 and 3) because the content of 1 and 2 is exactly the same.

[2017-05-30 20:33] aseem2625 commented on #23
@fkhadra Aah great. Going to update it soon. Thank you 😄

[2017-06-01 09:23] aseem2625 commented on #23
Hey @fkhadra
Great work.. Works fine.

Just a thing i noticed.

![image](https://cloud.githubusercontent.com/assets/6055628/26673149/7d620de6-46d9-11e7-9f52-90d0739834d7.png)

The space in of left boxes from window & right boxes from window is different.
It's due to `left: 1em` given to left boxes and `right: 2em` given to right boxes.

[2017-06-06 08:46] fkhadra opened #25 "The space in of left boxes from window & right boxes from window is different."
![image](https://cloud.githubusercontent.com/assets/6055628/26673149/7d620de6-46d9-11e7-9f52-90d0739834d7.png)

The space in of left boxes from window & right boxes from window is different.
It's due to `left: 1em` given to left boxes and `right: 2em` given to right boxes.

[2017-06-06 08:48] fkhadra commented on #23
Hey @aseem2625 I created an issue to fix it. Thanks for the feedback

[2017-06-07 18:47] Niphery opened #26 "add browser Compatibility list"
I've tested a basic example on:
Firefox
Chrome
Safari
Edge
without issue.
However it seems that IE 11 didn't work.

[2017-06-07 18:56] fkhadra commented on #26
You're right.

For ie11 we need to polyfill `Object.prototype.includes` method and also prefix some css classes.

I'll fix that

[2017-06-07 19:14] fkhadra commented on #3
The role of the library is only to display a notification.
Regarding the behavior, I think that it's the responsibility of the developer to implement it.
Maybe i'm wrong

[2017-06-07 19:18] dekelb commented on #3
I think that this feature is a very important one, and other toastr components has it so it's really a good one to have.

[2017-06-07 19:24] fkhadra commented on #3
You got me with: `as a developer it will require you to manage a wrapper for the toastr to decide if to show some message or not`  :grin:

Another question comes to my mind. If I don't show duplicate should I reset the timer for the notification?

[2017-06-07 19:43] dekelb commented on #3
No, I don't think you need to reset the time :)

[2017-06-07 20:05] fkhadra commented on #3
Regarding the implementation, It's not as easy as you think. There are three use cases:

- string and number, easy to prevent duplicate:
[code]

- react component, not so easy:
   - If we render named component we could use the component name as follow:

[code]

- If we render something like:

[code]
I could prevent duplicates only for string, number and named component.
Or maybe something like:
[

[2017-06-12 10:29] lorenzos opened #27 "autoClose is based on the progress bar animation"
If I write a custom CSS without progress bar animation (let's say I do not want to use them, so they are always hidden and I don't care styling them), the toast never closes itself, despite the `autoClose` property.

I think this is conceptually wrong, I mean, relying on something visual and completely optional to implement an apparently non-related key feature. Also, this break compatibility with

[2017-06-12 11:00] fkhadra commented on #27
Actually, before I implement the progress bar  I was managing the timer myself. You can have a look at the first release.

When I decided to introduce the progress bar, I thought also that relying on animation is conceptually wrong but I decided to choose simplicity. I mean the dom api is there for a reason.

You can still use the autoClose without the progress bar by simply hiding it:

[code]
Wha

[2017-06-17 21:04] ritz078 opened #28 "The default design is not usable"
The default design is very much different than a design that is used most of the times. Below are the most commonly used designs.

<img width="790" alt="screen shot 2017-06-18 at 2 33 29 am" src="https://user-images.githubusercontent.com/5389035/27256308-8fd080fa-53ce-11e7-9172-120c8d6e9eff.png">

[2017-06-18 16:01] fkhadra commented on #28
Hello @ritz078,

The purpose of react-toastify was to offer a kind of backbone to start to implement notification.

I don't want the component style to be opinionated. That's why it's really easy to style. A few line of css and you can roll your own style.

But maybe it will be good if I provide some kind of theme? Like a bootstrap theme or material theme.

What do you think?

[2017-06-18 17:14] ritz078 commented on #28
Lets see this way :

- current default design : direct usability = very low
- the one I preferred: definitely more people will use it in default who are in need of simple toasts and don't want to care about design.

If we are providing a basic design why not make it such that it can be consumed directly for more number of users ?

Anyways if someone wants to change the design he has to change from

[2017-06-18 18:04] fkhadra commented on #28
I got your point. I'll use what you suggested.

![toast](https://user-images.githubusercontent.com/5574267/27262913-dec6e0e0-5460-11e7-837e-ac43d655fe04.png)

[2017-06-20 14:08] Niphery commented on #26
Hello @fkhadra
Would you have any feedback on your progression toward the v1.7.1 ?

[2017-06-20 14:13] fkhadra commented on #26
Hello @Niphery,

I asked [BrowserStack](https://www.browserstack.com) to let me use their tool to test the compatibility.

They activated my account today. So I expect to release the v1.7.1 this week Saturday or Sunday. I'll let you know as soon as I deploy the new release.

The new release will also include a new design by default. [issue 28](https://github.com/fkhadra/react-toastify/issues/28).

[2017-06-20 18:58] Niphery commented on #28
I agree that the default design forced me to change my implementation of the toast.
I'm quite satisfied how things works on my end now. I've a wrapper around the Toast, which allow me to pass a different design on the default toast depending the function I call.

For the `ToastContainer` I pass the following class to let my custom toast use the full container`
[code]
Then i created my own design f

[2017-06-20 19:11] ritz078 commented on #28
@fkhadra Thanks. This shouldn't be a part of 1.7.1. Since this change won't be backward compatible, you should make a 2.0.0 release.

@Niphery I think the versioning should take care of that.

[2017-06-20 19:19] ritz078 commented on #3
Intead of accepting a string accept an object with `id` and message. This way it will be in user's control to prevent the type of duplicates he wants.

There may be case that the message is same and I don't wan't to prevent duplicate and change the UI. In that case if you handle equality by your own, I won't be able to do that.

[2017-06-20 21:17] fkhadra commented on #28
@ritz078 Indeed v2 make sense. I hate breaking changes.

I'll do a first implementation and share the result before push a new version

[2017-06-26 08:53] kabaluk opened #29 "Would you be so kind to publish typings for this?"
Really wanted to use this with Typescript.
Would be really nice if you could add Typings and publish to @types

[2017-06-27 10:52] fkhadra commented on #29
Hello @kabaluk,

I have to rewrite the lib using Typescript or is just something like typescript definition?
I don't know too much about typescript ecosystem.

[2017-06-27 22:21] kabaluk commented on #29
just the typecript definition would suffice and be very appreciated I am sure.

    On Tuesday, 27 June 2017, 11:52, Fadi Khadra <notifications@github.com> wrote:

 Hello @kabaluk,I have to rewrite the lib using Typescript or is just something like typescript definition?
I don't know too much about typescript ecosystem.—
You are receiving this because you were mentioned.
Reply to this email direct

[2017-06-29 15:26] ismyrnow commented on #3
This seems like something that'd be trivial to do as a developer just by writing your own `toast()` function which wraps the library's one. Then you can determine how to identify duplicates however you want (ID, message equality, time between messages, etc.). Having the library do it invites complexity.

[2017-06-29 16:22] fkhadra commented on #3
I understand both pov @dekelb @ismyrnow.
On one hand, it can ease the workload for the developer, on the other it will add complexity.

I'll think about it when I'm back from holiday.

[2017-07-06 12:25] ibmkaga opened #30 "can we show a background colour/image to the toasts appearing."
currently, the toast messages are coming in a white background popup, is there a way to customize the colour/background image of the same to match it with the application theme or some custom requirement.

Regards,
Kapil.

[2017-07-06 12:34] fkhadra commented on #30
Hey @ibmkaga,

Yes, you can. Add the following style for instance:

[code]
You will probably need to override other styles as well to match your need. I'll review the style with the version 2 which is coming soon.

[2017-07-06 13:24] ibmkaga commented on #30
aha ok, gr8. how about a long message, its overflowing the popup in open area right now. Can the toast size be customized based on the content size.

[2017-07-06 13:55] fkhadra commented on #30
The easiest things to do is to wrap your message with a div or whatever you want and apply a custom style.
I have to admit that it's not user-friendly at all.

As mentioned [there](https://github.com/fkhadra/react-toastify/issues/28), the default design is not usable out of the box if you don't want to waste time with styling.

Sorry for that 😬

[2017-07-12 06:11] zeeshanjan82 commented on #3
any solution to avoid displaying duplicate messages?

[2017-07-12 06:34] pramodZipGo commented on #11
Can we give some option where the progress should be running though you have hover'd on it. Aftre completion of timeout the toast must disappear

[2017-07-12 06:59] fkhadra commented on #11
hey @pramodZipGo,
Yes I will add it to my todo list

[2017-07-12 07:01] fkhadra opened #31 "Add fallback to setTiemout"
This relate to [issue 27](https://github.com/fkhadra/react-toastify/issues/27).

If a browser don't support animation play state. The lib should provide a viable alternative

[2017-07-12 07:01] pramodZipGo commented on #11
Thanks considering my request @fkhadra

[2017-07-12 07:07] fkhadra commented on #3
Hey @zeeshanjan82,

I will be able to work on the version 2 next week. I think I'll choose the solution proposed by @ritz078, what do you think ?

[2017-07-12 07:09] #30 closed

[2017-07-12 07:26] fkhadra commented on #11
you're welcome !

[2017-07-13 05:35] haydencarlson opened #32 "Toast not disappearing"
`toast.success("Your passwords do not match", {autoClose: 4000});`

Using `toast.dismiss(<toast_id)` . Even when I leave it default it won't work.

No errors in console and I tried modifying the package I just can't figure it out.
Anyone else experienced this or have any ideas?

[2017-07-13 06:51] fkhadra commented on #32
hello @haydencarlson,
Can you provide all the snippet ? So I can help you ?

Thanks

[2017-07-13 16:51] haydencarlson commented on #32
I have a view which contains the toast container
[code]

In one of my components:

[code]

It shows up fine, and everything seems to be working it just won't auto close unless I explicitly call toast.dismiss passing in the ID. I'd prefer not to run setTimeouts everytime haha

[2017-07-17 11:36] fkhadra opened #33 "Feature/Keep running on hover"
@pramodzipgo, I'll create a new issue to add the feature.
It's easier for me to track 😀

[2017-07-17 18:32] haydencarlson commented on #32
Anyone?

[2017-07-17 19:33] fkhadra commented on #32
Hey @haydencarlson,

I took your code but I'm unable to reproduce the issue :( . Can you tell me more about your setup please ?
- Browser version
- Are you using react-router ?
- React version ?

[2017-07-17 19:37] #25 closed

[2017-07-18 22:10] haydencarlson commented on #32
Version 54.0.2840.90 (64-bit)

Using react router yes

React: 15.4.1

[2017-07-19 21:12] #33 closed

[2017-07-19 21:36] fkhadra commented on #31
All modern browser(mobile browser included) even ie11 support animation play state. Fallback to setTimeout is definitely not needed

[2017-07-19 21:36] #31 closed

[2017-07-20 08:55] fkhadra commented on #32
Hello @haydencarlson,

I think I have an idea why your toast it's not removed.

Your ```Authorization Component``` is getting mounted and umounted over and over again, so the ``` <ToastContainer/>``` will be unmounted as well. When the ToastContainer is umounted, all the related events are unbound.

Move the ToastContainer at the root of your application to solve the issue.

[2017-07-20 17:06] haydencarlson commented on #32
@fkhadra you were right.

Thanks !
Closing.

[2017-07-20 20:00] #32 closed

[2017-07-20 21:44] fkhadra commented on #28
Hey @ritz078 and @Niphery,

Check the gif, what do you think?
![toastify](https://user-images.githubusercontent.com/5574267/28440053-02df6d14-6da5-11e7-8280-769927de1a2e.gif)

Thanks

[2017-07-21 06:01] fkhadra commented on #21
Any good example to make it works with css module ?

[2017-07-21 09:42] Kotpes commented on #21
Yeah, react-day-picker supports it: http://react-day-picker.js.org/docs/styling.html

[2017-07-21 09:45] fkhadra commented on #21
Thanks ! Got a starting point :+1:

[2017-07-21 10:30] fkhadra commented on #21
@Kotpes from what I understand, all I need to do is to expose a className property right ?

[2017-07-21 10:36] Kotpes commented on #21
For `<ToastContainer />` component, yes, looks like it will do the trick

[2017-07-21 14:18] fkhadra commented on #21
Actually the ToastContainer already accept a className property.
But I Will also give a way to set the className for toast and toast body

[2017-07-26 22:29] pepepaco commented on #28
i like it!

[2017-07-30 12:33] fkhadra opened #34 "Image for readme"
![readme](https://user-images.githubusercontent.com/5574267/28753331-1380a2f0-7534-11e7-8456-0b32e959db07.gif)

[2017-07-30 12:33] #34 closed

[2017-07-30 13:42] fkhadra opened #35 "Image on mobile for readme"
![mobile](https://user-images.githubusercontent.com/5574267/28754040-ae7195ea-753d-11e7-86e1-f23c5e6bc531.gif)

[2017-07-30 13:42] #35 closed

[2017-07-30 13:52] fkhadra commented on #28
@pepepaco Thanks !

[2017-07-30 13:52] #28 closed

[2017-07-30 13:52] #21 closed

[2017-07-30 17:32] ritz078 commented on #28
This is great.

[2017-07-30 19:55] #3 closed

[2017-07-31 15:25] fkhadra commented on #26
I published the v2. I'll fix the animation bug for ie11 this week

[2017-07-31 15:25] #26 closed

[2017-07-31 15:26] fkhadra opened #37 "Fix ie11 animation and close button"
- Entrance and exit animation are buggy on ie11.
- The close button is not well positioned when there is a progress bar

[2017-07-31 15:36] Niphery commented on #26
Great news! Good job on your work btw 👍

[2017-07-31 15:48] fkhadra commented on #26
Thanks, appreciate the support :grin:

[2017-07-31 22:57] pepepaco opened #38 "polyfill not being used for libs"
the code installed using npm doesnt work for ie11, I had to transpile the react-toastify libs using babel-plugin-transform-object-assign polyfill to make it work.

could this be done on the main repo please?

thanks!

[2017-08-01 10:01] fkhadra commented on #38
Indeed ! Thanks for the feedback. I push the fix Asap

[2017-08-01 10:52] fkhadra commented on #38
Hey @pepepaco,
I released the version with the polyfill.
Thanks for sharing the issue btw :+1:

[2017-08-01 10:52] #38 closed

[2017-08-03 20:05] pepepaco opened #41 "how to handle two or more instances?"
im trying to position the toast relative to the container, I accomplish that by setting:
[code]
and its parent relative:

[code]

and it works perfect, and shows relative to the header inside a modal window I have but...
,if I add another ToastContainer ouside this modal window, then , the toast doesnt show anymore when called from this parent window. also, the modal window now shows a duplicate t

[2017-08-03 21:29] pepepaco commented on #41
this is not required anymore thanks.

[2017-08-03 21:29] #41 closed

[2017-08-10 08:26] midori0507 commented on #29
@kabaluk just create custom typing for it, in types folder under `rootDir`, have folder with `react-toastify` and `index.d.ts` inside

For example i only use ToastContainer and toast
[code]

[2017-08-10 08:28] fkhadra commented on #29
Hey @kabaluk,  the typescript definition is on my todo list.

[2017-08-24 09:26] fkhadra opened #42 "Prepare migration to react v16"

[2017-08-25 21:33] fkhadra opened #43 "Render notification outside of the main react component to avoid style like translate to break position:fixed"
Issue is related to [react-contexify](https://github.com/fkhadra/react-contexify/issues/27)
more details [here](https://stackoverflow.com/a/15256339)
Wait for react16 to use ```createPortal```

[2017-09-11 08:01] der-lukas commented on #37
Thanks for the great library! Any news on fixing this issue?

[2017-09-11 09:41] fkhadra commented on #37
Hey @der-lukas,

Thank you, appreciate! I'll focus on it this week.

[2017-09-15 20:34] fkhadra opened #45 "Use font awesome close button by default ?"
I'm not sure if I like the default close button. It looks ugly for me.

[2017-09-15 20:42] fkhadra commented on #37
Yo @der-lukas  ! I pushed a new version.

[2017-09-15 20:42] #37 closed

[2017-09-15 21:02] fkhadra commented on #27
Hey @lorenzos ,

Since all browser support animation-play-state I don't think I'm gonna change something.

[2017-09-15 21:02] #27 closed

[2017-09-18 06:43] fkhadra opened #46 "Add more animations"
By default, the toast bounce on enter and on exit. I think others animations  would be  better suitted depending on the UI.

[code]
This is just an idea for the moment

Edit: Instead of providing animation I'll really on react-transition so end user can build them with ease.

![toastify_custom_trans](https://user-images.githubusercontent.com/5574267/31049179-0d52e14c-a62e-11e7-9abd-b0d169a0fadc.gi

[2017-09-21 21:17] emadow opened #47 "Animations not working, autoClose not working"
Oddly, animations are not working for me at all. When the toast appears, there is no animation. Similarly, when I manually close the toast, there is an abrupt close with no animation. And because `autoClose` is dependent on the animation, **the toast will never close until triggered manually**.

I have the CSS file referenced correctly, and styling seems to work otherwise. My implementation is as

[2017-09-22 06:58] fkhadra commented on #47
@emadow I don't have the issue at all.  I'm also using chrome and safari latest version. Do you see any things when you open the developer tools ?

[2017-09-22 09:30] talend-jphautin commented on #29
the one I am using until the official one. not perfect but could be a good start.
`declare module 'react-toastify' {

    export let toast:Toast;

    interface Toast {
        success(content:React.ReactNode, options?:ToastOptions):number
        info(content:React.ReactNode, options?:ToastOptions):number
        warn(content:React.ReactNode, options?:ToastOptions):number
        error(content:Re

[2017-09-22 09:34] fkhadra commented on #29
Hey @talend-jphautin ,

I appreciate a lot!  Merci 😀 . It's definitely a good start. I'll work on it this weekend. Thank you again.

[2017-09-22 13:01] kabaluk commented on #29
Heya.
We did end up auto generating one with dts-gen.
But the tool is not great and everything is any which kind beats the point.
the one from @talend-jphautin seems much nicer.

Thanks all for this.

[2017-09-22 16:14] emadow commented on #47
@fkhadra no errors in the console. Very puzzling.

[2017-09-22 16:50] emadow commented on #47
Ack. Seems to be the result of how webpack was dealing with my imports -- my `@keyframes` were not global.

[2017-09-22 16:50] #47 closed

[2017-09-22 17:41] fkhadra commented on #47
Ow I'm glad you fixed it.

[2017-09-23 06:53] fkhadra commented on #29
In typescript is it possible to do something like:

[code]

[2017-09-26 09:17] fkhadra opened #48 "Migrate to react-transition v2"

[2017-09-30 20:46] #48 closed

[2017-09-30 20:47] #46 closed

[2017-09-30 20:47] #42 closed

[2017-10-01 18:33] Kepro commented on #45
and if somebody doesn't have FA? :)

[2017-10-01 18:34] Kepro opened #50 "Notifications are never removed from dom"
After every item is disappear then we will see in dom react-empty comment, all dead notifications should be removed also internally

[2017-10-01 18:37] fkhadra commented on #45
I could extract it from FA and bundle it into the library. To be honest I'm not sure if it's a food idea anyway

[2017-10-01 19:03] fkhadra commented on #50
The dead notifications are removed. What you are seeing is the toast's containers which are removed after the n+1 iteration. This is done by design.

When you display a notification we check if for the given position a container exists. If yes, use it otherwise create one. In the meantime, we remove all unused container.

Go to the demo page, open your devtools and wait the end of the notification

[2017-10-01 19:05] Kepro commented on #50
I'm talking about
![toast1](https://user-images.githubusercontent.com/1714370/31057980-352a4f20-a6ec-11e7-9059-d353d41a1ae7.png)
![toast2](https://user-images.githubusercontent.com/1714370/31057981-352bbd38-a6ec-11e7-83dc-b8824a1169b2.png)

[2017-10-01 19:23] fkhadra commented on #50
Can you provide a snippet to reproduce it?
Mine is getting empty:
<img width="497" alt="screen shot 2017-10-01 at 21 22 50" src="https://user-images.githubusercontent.com/5574267/31058127-cecd3fc8-a6ee-11e7-8dbe-a3e405a304c6.png">

[2017-10-02 10:39] Kepro commented on #50
@fkhadra I'm using react 15.6.1 are you testing it on 16.0.0?

[2017-10-02 10:41] fkhadra commented on #50
@Kepro  yes I switched to react 16  and the same for the test. You think that it can cause the issue ?

[2017-10-02 10:44] Kepro commented on #50
React 16 is handling this in a different way... in react 15.x if you return null then you will see react-empty as I showed in screenshot, but my point was that you still have all elements in your object, so after dismiss you don't remove it from there, this is also wasting memory in application, think if you have some system and it's running 24/7 without reloading and you never remove hidden notif

[2017-10-02 10:49] fkhadra commented on #50
@Kepro  you're right. I clean the "object" when the container is unmounted.
I got your point, I'll fix this. I guess it will be cleaner. Thanks !

[2017-10-02 10:51] Kepro commented on #50
Thanks, sorry for no PR :) but don't have time now...

[2017-10-02 10:59] fkhadra commented on #50
Don't worry :D. Finding a bug is a way to contribute

[2017-10-03 16:45] niksosf opened #51 "Hold off showing toast until user is no longer idle"
Hi there, is there a plan to hold off the toast until the user moves its mouse if the window is already the foremost one or until the user brings the window back to the foreground?

[2017-10-03 17:01] fkhadra commented on #51
hey sounds like a really nice feature. I will check how I can implement it.
Thanks for the idea btw !

[2017-10-03 18:16] niksosf commented on #51
Let me know if there's something/anything I can help!

[2017-10-03 19:55] fkhadra commented on #51
Yep thank you 😄

[2017-10-04 06:54] pratikborsadiya opened #52 "Error in DefaultTransition.js"
There is an error while running webpack in production mode `webpack -p` when using react-toastify.

react-toastify version
[code]

Webpack Version: webpack 3.6.0

[code]

[2017-10-04 06:59] fkhadra commented on #52
Hello,

Did you had an old version of react-transition-group installed previously ?

[2017-10-04 07:04] pratikborsadiya commented on #52
No it's a fresh npm install

[2017-10-04 07:13] fkhadra commented on #52
Indeed. But it's working on development right ?

[2017-10-04 07:19] pratikborsadiya commented on #52
We are using npm and it's not working in devlopment either.

[2017-10-04 07:21] pratikborsadiya commented on #52
Is there a way except manually installing `react-transition-group`.

[2017-10-04 07:31] fkhadra commented on #52
You could try to use the react-toastify v2.0.0 so you won't have to do manual changes.
The v2.1 is tested with enzyme 3, react16 and provide custom animation.

The other solution would be to use symlinks

[2017-10-04 08:36] pratikborsadiya commented on #52
I have downgraded the version to `2.0.0` but the error is sill there.

[2017-10-04 08:39] fkhadra commented on #52
Damn it. You will have to use symlink or replace ```react-addons-css-transition-group``` by ```react-transition-group``` since ```react-addons-css-transition-group``` is deprecated.

[2017-10-04 08:53] pratikborsadiya commented on #52
The error is gone in `2.0.0` It was `^` in package which was installing `2.1.0`, I have replaced it with `~` and version `2.0.0` is working fine.

Thanks for the help.

[2017-10-04 08:53] #52 closed

[2017-10-04 09:42] fkhadra commented on #52
Awesome !

[2017-10-05 14:41] dhirendrarathod2000 commented on #50
@fkhadra i checked your demo
it removes from everything HTML dom but it keep container on React Dom

[2017-10-06 13:37] dhirendrarathod2000 opened #54 "Option to Replace Progress bar with Fade in and Fade out"
Is there anyway we can replace progress bar with fade out effect?

For my usage i want to fade out the toast slowly in the given time.
Is there any way to do it?

Thanks
D

[2017-10-09 14:38] cbroberg opened #55 "React 16.0.0. update"
Hi.

Thanks for the amazing lib.

Any chance of an update so react-toastify will work in React 16?

Thanks in advance.

[2017-10-09 16:58] #45 closed

[2017-10-09 17:20] fkhadra commented on #54
I have an idea how to do it. But I won't be able to pause the animation on hover with the current implementation.

[2017-10-10 15:10] dhirendrarathod2000 commented on #54
Can you please share it?

[2017-10-11 19:30] fkhadra commented on #54
Hello @dhirendrarathod2000,

Sorry for the late reply. Here the example, don't if it's what you are looking for
[fade out demo](https://codesandbox.io/s/ll0r2qmm37)

[2017-10-11 19:52] dhirendrarathod2000 commented on #54
@fkhadra
thanks for that

[2017-10-11 19:52] #54 closed

[2017-10-11 20:33] dhirendrarathod2000 opened #56 "Inject buttons in the toast message(Feature Request)"
First of all I want to say thank you for this package it is really good and simple to use.

Next This is more a feature request then an issue.
I want to inject buttons in the toast.
So if you can provide a way to inject React Components/array of buttons/HTML in to the toast it will be awesome.

The use case could be like each type of toast can be having different set of buttons
so putting it in th

[2017-10-12 07:18] fkhadra commented on #56
Hey @dhirendrarathod2000,

In case you miss it, you can already provide a custom close button, [check the example.](https://codesandbox.io/s/qzz1rojo84)

Is that what you are looking for ?

Thanks

[2017-10-12 07:48] #55 closed

[2017-10-12 13:10] dhirendrarathod2000 commented on #56
Actually I am looking to put buttons in it...
Like got it or undo...
Something like this...
![52cf93c5-cf38-4318-b7a1-3a1ff2849fac](https://user-images.githubusercontent.com/1930681/31497437-1a2e8a58-af2d-11e7-9f25-671e548109ad.jpeg)

[2017-10-12 13:23] fkhadra commented on #56
Ok I understand now. Simply pass a react component instead of text as [follow](https://codesandbox.io/s/14ynmk7377)

[2017-10-12 13:25] dhirendrarathod2000 commented on #56
👍

[2017-10-12 13:25] #56 closed

[2017-10-12 13:35] fkhadra opened #57 "Update documentation with advanced example"

[2017-10-12 18:41] oswaldoacauan opened #58 "Active toast's counter"
It would be useful to know how many messages are being currently displayed so you can dynamically add a "Dismiss all".

[2017-10-13 12:11] bardiaheshmati opened #60 "Invariant Violation: ToastContainer.render()"
I have two working version of my application, one is local host and one on aws ,
weirdly, notify function works fine on my local host by on the aws i get this error upon launch

Invariant Violation: ToastContainer.render() ...

[2017-10-13 17:54] jfsiebel commented on #60
Thats because on the last update the render is returning an Array which is only valid in React 16>.

Just fix the package version to 2.1.0 or update react.

[2017-10-13 19:26] fkhadra commented on #60
hmm maybe it was not a good idea to return an array.

[2017-10-13 19:27] fkhadra commented on #58
hey @oswaldoacauan,

You could do that using the `onOpen` and `onClose` hooks as follow :

[code]

[2017-10-13 19:28] #50 closed

[2017-10-13 19:29] Kepro commented on #60
@fkhadra, thanks for fixing #50 but for backward compatibility you need to wrap it to some <div>

[2017-10-13 19:30] fkhadra commented on #60
I'll fix it now. I was a bit too optimistic.

[2017-10-13 19:35] fkhadra commented on #60
Sorry for that change. It's fixed now.

[2017-10-14 06:54] bardiaheshmati commented on #60
you're awesome

[2017-10-14 07:32] #60 closed

[2017-10-16 11:49] #58 closed

[2017-10-17 14:47] fkhadra commented on #29
Hello,

May I ask for help, please. I wrote the definition file. The types hinting seems to works
<img width="401" alt="type hinting" src="https://user-images.githubusercontent.com/5574267/31671546-7d353c74-b35a-11e7-9337-d6662e5f57ba.png">

I'm wondering why I can't see the shape of the `ToastOptions`. Did I miss something?

[2017-10-18 02:28] Airomad opened #61 "Adding className to options does not have any affect on a toast style"
import style from './style.scss'
....
const options = {
  autoClose: 6000,
  hideProgressBar: false,
   position: toast.POSITION.TOP_LEFT,
  className: style.toast,
  pauseOnHover: true
};
toastID = toast('Test', options)
....
this not applying any changes. Toast shows with toastify-content--default style

react-toastify version: ^2.1.2

[2017-10-18 10:04] fkhadra commented on #61
Hey @Airomad,

The `className` is merged with the default defined classNames.

[2017-10-19 11:56] #61 closed

[2017-10-22 19:21] fkhadra commented on #51
Hey @niksosf,

The toast will pause when the page is not visible. I'm using the [page visibility api](https://developer.mozilla.org/en-US/docs/Web/API/Page_Visibility_API).

I'm not tracking if the user if afk for the moment but I will probably implement it for the next release.

[2017-10-22 19:21] #51 closed

[2017-10-22 19:21] #29 closed

[2017-10-23 02:39] thchia opened #63 "2.1.3 breaks TypeScript build"
[code]

I think there need to be imports for React and Transition.

[2017-10-23 06:23] LeopoldLerch commented on #63
same here

[2017-10-23 07:15] thchia commented on #63
I tried to do a quick fix, but I ran into problems because (I think) the type declaration file for react-transition-group specifies a wildcard dependency for React. I am still on React v15.x so there's a collision with the latest (v16.x) version.

[2017-10-23 07:19] fkhadra commented on #63
How can I validate my definition file? I'm a beginner with typescript

[2017-10-23 07:25] thchia commented on #63
The gist of it is you need to
[code]

And make sure that both of these type files are listed as dependencies (`@types/react` `@types/react-transition-group`).

The problem I had was that although this fixes _this_ package, I got errors because `@types/react-transition-group` referenced `@types/react: "*"`, which caused the types for v16 to be included in my project when I am using v15.x still.

[2017-10-23 07:29] fkhadra commented on #63
Ok thanks.

But I think `@types/react @types/react-transition-group`  need to be listed as devDependencies instead of dependencies.

When I look at other packages most of the time `@types/*` is listed as DevDependencies.

[2017-10-23 07:45] thchia commented on #63
Sorry yes I meant as devDependencies.

[2017-10-23 07:45] fkhadra commented on #63
Thanks for your help !

[2017-10-23 07:54] fkhadra commented on #63
Just pushed a new version. Can you tell me if it fix the issue please.

Thank you.

[2017-10-23 07:56] LeopoldLerch commented on #63
last bug fuxed, but new error occuring now:

ERROR in [at-loader] ./node_modules/react-toastify/index.d.ts:1:8
    TS1192: Module '"C:/Projekte/DAP/DAP/Webkomponenten/node_modules/@types/react/index"' has no default export.

[2017-10-23 08:11] fkhadra commented on #63
Really weird.

[2017-10-23 08:12] thchia commented on #63
[code]

I think this is because `@types/react-transition-group` is a devDependency. It doesn't get included when installing this library.

[2017-10-23 08:14] fkhadra commented on #63
Hmm. I'm wondering why it's not happening for React.

[2017-10-23 08:15] thchia commented on #63
That's because I already have the type file for react. I do not have it for the transition library.

[2017-10-23 08:32] fkhadra commented on #63
I'm wondering if it's not due to a cache issue

[2017-10-23 08:40] LeopoldLerch commented on #63
no, because react.index.ts doesn´t have a default export. So you have to import it either using  "*" or single components in {}

[2017-10-23 09:04] fkhadra commented on #63
Maybe I need to turn `import React from "react"` to `import React = require("react")`

[2017-10-23 09:06] LeopoldLerch commented on #63
or

import * as React from "react"

[2017-10-23 09:08] fkhadra commented on #63
Can you check if it works for you when doing `import * as React from "react"` inside the node_modules/react-toastify/index.d.ts.

[2017-10-23 09:11] fkhadra commented on #63
I saw in definitlyTypes that `import React = require('React')

[2017-10-23 09:17] fkhadra commented on #63
Sure. Thank you for the test. I fix it now.

[2017-10-23 09:19] fkhadra commented on #63
Fix pushed

[2017-10-23 09:35] LeopoldLerch commented on #63
works now @me

[2017-10-23 14:24] #63 closed

[2017-10-24 13:09] niksosf commented on #51
hey @fkhadra,
That was awesome, I think the page visibility api would take care of a lot of the cases. Thanks for this package and all the work on it!

[2017-10-24 16:27] James-Crean opened #65 "Demo page checkbox to hide progress bar does not work"
On the demo page, the checkbox for "Hide progress bar (less fanciness !)" does not select when clicked. This problem is present on both Firefox and Chrome.

The "aria-pressed" appears to change properly, but the button does not show being selected, and the demo toasts always show the progress bar.

[2017-10-24 18:35] fkhadra commented on #65
Indeed ! I'll fix it asap

[2017-10-24 19:59] fkhadra commented on #65
It's fixed. I made a typo

[2017-10-24 19:59] #65 closed

[2017-10-26 10:06] fkhadra opened #66 "Switch to styled-component ?"
Wondering if it would be useful to switch to styled-component.

- No need to import the Css file
- Inject only the used style

I'll try and see if it worth it.

[2017-10-29 20:12] fkhadra opened #67 "Add code coverage"

[2017-10-30 20:16] #67 closed

[2017-11-03 15:11] ashok-sc opened #69 "Documentation includes a type field being passed into the ToastContainer component, but it doesn't exist."
Readme has the following example:

[code]

Typescript compiler fails saying `[ts] Property 'type' does not exist on type 'IntrinsicAttributes & IntrinsicClassAttributes<ToastContainer> & Readonly<{ children?: ReactNode;...'.`.

[2017-11-03 15:20] fkhadra commented on #69
Hey @ashok-sc , this is an artifact from the past. I have to fix the doc.

[2017-11-03 15:30] fkhadra commented on #69
btw @ashok-sc sorry for the trouble. I updated the documentation

[2017-11-03 15:30] #69 closed

[2017-11-03 15:40] ashok-sc commented on #69
Not a problem! That was fast :).

[2017-11-07 15:47] cyrus-za commented on #55
Hi, I am encountering a issue when I upgrade. As soon as the toast gets called I get this error: `Cannot read property 'classList' of null`

    in Transition (created by DefaultTransition)
    in DefaultTransition (created by Toast)
    in Toast
    in div
    in TransitionGroup (created by ToastContainer)
    in div (created by ToastContainer)
    in ToastContainer (at Toast.js:7)
    in div (at

[2017-11-07 17:44] fkhadra commented on #55
Hey @cbroberg,

Would you like me to reopen the issue ? The behavior you get is kind of weird.

I created an app with `create-react-app` and I'm unable to reproduce the issue.
The test use react16 and the build pass without any issue.

Maybe it could be a cache issue or something like that. Did you try to clear the cache and install react from scratch ?

Can you provide some snippets so I could he

[2017-11-07 19:24] Zn4rK commented on #66
Have you made any progress on this?

[2017-11-07 21:07] cyrus-za commented on #55
I deleted my yarn lock file and ran yarn again and it fixed the issue.
Thanks

On Tue, 07 Nov 2017, 19:44 Fadi Khadra, <notifications@github.com> wrote:

[2017-11-07 23:03] cyrus-za commented on #55
Here's my Toast.js component that I add inside my Layout.js (so it renders on every nextjs page)

[code]

And then when ever I call toast('something') I get that error. I import toast in a different component and call it that way

[2017-11-08 10:22] fkhadra commented on #66
Note yet. But I can see that the interest is growing so I'll start asap.

I'm just wondering which implementation I should use:
- jss
- glamor
- emotion

You guys have any suggestions? Would love to hear it.

[2017-11-08 10:23] fkhadra commented on #55
Hey @cyrus-za,

I'll bootstrap an app with next4 to see if it has something to do with the SSR. Let you know if I found something asap.

[2017-11-08 10:45] fkhadra commented on #55
@cyrus-za is there a next4 starter kit available somewhere?

[2017-11-08 12:26] fkhadra commented on #55
@cyrus-za It's working with next4 without any issue. You can find my source [here](https://github.com/fkhadra/next-toastify)

PS: Sorry for the spam

[2017-11-08 15:58] cyrus-za commented on #55
Hi,

It seems to only be a problem on my local host. If I deploy it, the issue
goes away so something must still be  cached somewhere. You can close the
issue

On Wed, Nov 8, 2017 at 2:26 PM Fadi Khadra <notifications@github.com> wrote:

[2017-11-08 21:15] phil-r opened #71 "incorrect `z-index` in minified css"
In minified css that can be found here after installation:`node_modules/react-toastify/dist/ReactToastify.min.css`
`z-index` on `.toastify` class is set to `1`, although it should be `999`

Not a big deal, but it was a bit confusing ;)

[2017-11-09 10:04] fkhadra commented on #71
Hey @phil-r I had never paid attention, thank you

[2017-11-15 14:11] therealtx opened #72 "className option"
When toast container haven't className toast className option not work.
For example
Container
<Toast.ToastContainer
    hideProgressBar={true}
/>
And toast
Toast.toast(<Component />, {
    className:      'global-note',
});
This className not work

[2017-11-15 15:26] fkhadra commented on #72
Hello @therealtx ,

I'm not able to reproduce your issue. If you inspect the toast you will see that the className `testClass` is present.

[![Edit jz7mwo2505](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/jz7mwo2505)

[2017-11-16 04:36] mhannan opened #73 "How to add or hook Undo option in toaster"
May users may be looking for this options and would assist many of us. I am wondering how we can add or hook "Undo" option in the toaster. Would be nicer if given an example or change.

Thanks.

[2017-11-16 09:16] fkhadra commented on #73
Hello @mhannan ,

The example feature state only approach but it could be done even easier with redux or mobx.
Feel free to ask more questions if it's not clear enough.

[![Edit l2qkywz7xl](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/l2qkywz7xl)

[2017-11-16 17:48] altaurog opened #74 "<CLEAR_TOAST> Event is not registered. Did you forgot to bind the event ?"
If `dismiss()` is called too early, the following warning is logged:
[code]
This looks like it is the complement of #4

[2017-11-19 19:13] #73 closed

[2017-11-19 19:14] #72 closed

[2017-11-20 18:36] hyperh commented on #71
Yup getting the same issue, so it appears below some things in my app with higher z-index

[2017-11-20 19:33] fkhadra commented on #71
Yep, cssnano wanted to optimize the css too much 😁 . I was planning to do other stuff and pushing the fix at the same time.

I'll push the fix for the z-index in a few minutes. Other stuff can wait

[2017-11-20 19:44] fkhadra commented on #71
Fix piblished !

[2017-11-20 19:44] #71 closed

[2017-11-21 15:23] fkhadra commented on #66
Implementation ongoing using glamor

[2017-11-21 22:34] fkhadra commented on #66
Working version available [here](https://github.com/fkhadra/react-toastify/tree/feature/glamor)

[2017-11-23 09:23] mrbeen351 commented on #71
Hi @fkhadra , I just update to version 2.2.1 but still got same issue. It still appears below modal pop-up form when using with react-strap-form

[2017-11-23 09:43] fkhadra commented on #71
Hey @mrbeen351,

Did you try to remove npm cache maybe ? If you search the z-index you will see that the z-index is correct.

![image](https://user-images.githubusercontent.com/5574267/33166575-03d9b67c-d03b-11e7-9788-cfa5fe3740b5.png)

Tell me if it helps.

[2017-11-23 10:22] mrbeen351 commented on #71
Hi @fkhadra , yes I tried, I realized that
![capture](https://user-images.githubusercontent.com/13146393/33168190-adc1fba4-d072-11e7-9c09-09ccbefbf027.PNG) z-index of modal form is 1050, but when I change z-index to 1051 or larger it still appears below. I don't know why

[2017-11-23 10:36] fkhadra commented on #71
So If I understand you have overwritten the z-index of `.toastify` and still have the issue?
If yes could you provide a snippet so I can help you to debug?

[2017-11-23 11:01] mrbeen351 commented on #71
Hi @fkhadra , Sorry I think this fault is because of my code. I just create simple example with modal and it displays correctly. Thanks for your kindly support :)

[2017-11-23 11:25] fkhadra commented on #71
Perfect ! Have a nice day

[2017-11-24 22:08] #74 closed

[2017-11-24 22:09] #66 closed

[2017-11-24 22:09] #57 closed

[2017-11-27 07:35] the-spyke opened #79 "2.2.2 requires glamor"
Just updated `react-toastify` to `2.2.2` from npm and it broke my build:

[code]

[2017-11-27 07:49] mrbeen351 commented on #79
Same issue with version 2.2.0 and toastify display incorrect with me, although it ran fine on last week

[2017-11-27 07:58] the-spyke commented on #79
`2.2.1` runs fine for me.

[2017-11-27 08:45] csvan commented on #79
A temporary fix is adding `glamor` as a dep for your own project.

[2017-11-27 08:50] fkhadra commented on #79
sorry guys I'll fix it asap. You could upgrade to the v3

[2017-11-27 13:07] FallenAngel666 commented on #79
Same issue with `2.2.1` on my side.

[2017-11-27 13:10] fkhadra commented on #79
@FallenAngel666 can you upgrade to the latest version(v3) ?

[2017-11-27 13:13] FallenAngel666 commented on #79
Yeah, I guess "Can't resolve 'react-toastify/dist/ReactToastify.min.css' in" is just version related ^^

[2017-11-27 13:14] fkhadra commented on #79
Indeed, since v3 I switched to glamor so no need to import the css. I'll check if there is a way to add deprecation notice when npm update the package.

[2017-11-27 13:16] FallenAngel666 commented on #79
Thank you :)

[2017-11-28 09:42] ugogo opened #80 "Missing start script in package.json"
Hey,
There is no `start` script in the `package.json`, it makes it difficult for newcomers to start dev locally.
Could you add it pls?
Thx!

[2017-11-28 09:58] fkhadra commented on #80
Hey @ugogo,

Usually, I link the package and use create-react-app
- [npm](https://docs.npmjs.com/cli/link)
- [yarn](https://yarnpkg.com/lang/en/docs/cli/link)

It can be a good idea to add it directly to the library

[2017-11-28 23:07] jwheeler-gs opened #81 "Update existing toast?"
Is there any way to update a toast that is already visible?

For example, I want to create a toast with no auto-close timeout and type=info to show that a user-requested action is pending. Then when the action is determined to be successful or failed, I want to update that existing toast to change the type to success or failure and enable the auto-close timeout. This could be achieved by closing a

[2017-11-29 07:57] fkhadra commented on #81
Hello @jwheeler-gs,

There is no such thing, I could implement it, it would be useful.

Regarding the api, I'm wondering if it's best to implement an explicit method like:

[code]
or :

[code]

Both approach makes sense. I need to think a bit 😁

[2017-11-29 07:57] #79 closed

[2017-11-29 16:12] fkhadra commented on #81
Indeed, I started to implement something.
If I use an explicit api like `toast.update(id, newOptions);` it will be easier for me.
Thanks for your feedback.

[2017-11-29 16:26] ecirish opened #84 "Allow for relatively positioned toasts"
It may break the 'toast' paradigm, but the ability to use a toast more like a banner would be nice. It would minimally involve positioning the `ToastContainer` relatively from what I can tell in my tinkering.

[2017-11-29 16:28] jwheeler-gs commented on #81
Awesome! Thanks for the quick response on this. It will be very useful.

[2017-11-29 19:10] fkhadra commented on #84
Hey @ecirish,

I'm not sure to understand correctly what do you mean. When you said more like a banner, you are thinking about something like that ?
<img width="807" alt="screen shot 2017-11-29 at 20 08 23" src="https://user-images.githubusercontent.com/5574267/33394033-55868422-d541-11e7-9ddc-cae942210aed.png">

Please correct me if I'm wrong.

[2017-11-29 23:23] fkhadra commented on #81
Hey @jwheeler-gs,

WIP, what do you think? I need to fix the exit animation.

![toastify-update](https://user-images.githubusercontent.com/5574267/33404408-800a228a-d564-11e7-8dae-5fc63390e890.gif)

[2017-11-29 23:30] jwheeler-gs commented on #81
Hey @fkhadra,

Looking good so far! Will there be an option to override the update animation? It looks really nice for general use as you have it in your demo right now, but for my specific use case, I just want to be able to update auto-close, close-on-click, close button, and the background color without any transition (or maybe a custom transition that will allow the background color to do a fa

[2017-11-30 09:16] ugogo opened #85 "Problem with custom transition"
Hey,

I'm trying to update the default animation, but the `enter` animation does not seem to be triggered.
I'd like to avoid to manually add and remove classes on the `node`, so I tried to do something with the `Transition` component.

[code]

[code]

[code]

I created a repo if you want to have a look: https://github.com/ugogo/toastify-debug

Thanks!

[2017-11-30 10:45] fkhadra commented on #85
Hey @ugogo,

You are trying to do something like that  guess ? (sorry for the big gif btw)
![toastify-custom-transition](https://user-images.githubusercontent.com/5574267/33425930-7f55075e-d5c0-11e7-9302-ecfa33423295.gif)

tl;dr
In your code, you are using the 4 states provided by the Transition. You could simplify it by using only 2 of them:

[code]
What happened to your code:

The transition pas

[2017-11-30 11:30] ugogo commented on #85
Hah, so it was only a matter of state.
Thanks for the explanation and the fast answer 🤘

[2017-11-30 11:30] #85 closed

[2017-12-01 22:11] ecirish commented on #84
Well, I think we're on the same page then? A little hard to see without context. Basically the toast div having `position: relative` instead of position fixed? Just so that you can put it below and attach it to, say, your nav header instead of _on top_ of it?

[2017-12-03 10:05] nimish-gupta opened #86 "Make the zIndex of the Toast container to be maximum"
Make the zIndex of the Toast container to be maximum so that it always come at top of the components, we can prevent this behaviour by adding a flag

https://github.com/fkhadra/react-toastify/blob/32b27454fcd2ad90bbd4fc4703793bba05e5b6b7/src/ToastContainer.js#L21

[2017-12-03 10:17] nimish-gupta opened #87 "Correct Ts for the toastify module"
using `type.position`, ts is throwing error `Property position does not exist on type Toast`

[2017-12-03 14:57] fkhadra commented on #86
Hey @nimish-gupta,

For the next release, this is the case. I'll launch it today

[2017-12-03 15:03] fkhadra commented on #87
Hey @nimish-gupta,

Indeed `type.position` doesn't exist. toast expose a `POSITION` property than can be accessed like:
[code]
And if you want to set the position for a toast you can do the following:
[code]

[2017-12-03 15:14] fkhadra commented on #84
Hey @ecirish,

You can already override the position from `fixed` to `relative`, you can pass a className or use glamor for that:

[code]

[2017-12-04 22:04] kbrtrm opened #88 "Glamor in v3.*"
Hey there, looking to use `react-toastify` and I see that `glamor` is now a dependency with `v3.*`. We won't be using `glamor` in our project because we already have a css solution and don't want to pull it in for just one package. Is there a way to use `react-toastify` without `glamor`?

[2017-12-05 00:56] garethwarry opened #89 "CSS Padding for toasts"
Hi there,

I'm having some problems adding a bit more padding to the left and right of text in toast notifications. I tried adding it through toastClassName (as shown below), but it doesn't change the size of the toast container (resulting in a line break in the toast notification). Is there another way I should be doing this?

Thanks

[code]
[code]

[2017-12-05 06:18] fkhadra commented on #88
Hey @kbrtrm ,

Sorry to hear that. Unfortunately, if you want to use `react-toastify` without glamor you have to stick with the `v2` but you will miss the next updates.

Which css solution are you using ?

[2017-12-05 08:04] ifier opened #90 "Custom "glamor" rules not overriding default"
Hi. I'm trying to customize toastify and I have some issues with that:
1) http://prntscr.com/hj9gla
2) http://prntscr.com/hj9gu2
3) http://prntscr.com/hj9gxq

It's adding new class name but it didn't added new attribute to the div :( That's why I can't override default styles. Maybe I'm doing something wrong? But I've read "glamor" documentation and your as well and it seems like that all okay wit

[2017-12-05 08:26] fkhadra commented on #90
Hello @ifier,

I did the following:
[code]
And I got the expected result. Maybe you are overidding the style somewhere else ? Could you provide a snippet so I can help you better ?
![toastify-issue-90](https://user-images.githubusercontent.com/5574267/33596961-1695811c-d99e-11e7-9e10-1feddcb875fa.gif)

Regarding your last request, I'll see if there is a good way to choose a style strategy(glamor o

[2017-12-05 08:32] fkhadra commented on #90
@ifier when I look your screenshot, you are overriding the background color with the same value.
![8lmieymyqr_okvytbqa92w](https://user-images.githubusercontent.com/5574267/33597259-1ef9acba-d99f-11e7-931b-90d5e86189f1.png)

[2017-12-05 10:56] ifier commented on #90
Okay. I've made with CSS class names and `!important` (which is not great) for now.
I've notices strange behavior with glamor - it works not well with hot reload :(

I've made like I wrote before and refresh a page - styles are not working. But when I changed some styles and `hot-reload` refreshed `component/page` it applied new styles that I wrote...

Also `glamor` is heavy-weight module :( Maybe

[2017-12-05 11:20] fkhadra commented on #89
Hello @garethwarry,

The `ToastContainer` width is fixed to 320px by default. You could increase it via the style helper:
[code]
The position property of the `ToastContainer` is fixed so it's hard to have a dynamic width for the toast.

I think that I need to review the implementation a bit and use max-width/min-width so the toast width will expand till it reaches max width

[2017-12-05 11:38] fkhadra commented on #90
Thank you for the feedback.
Switching to css in js was a difficult decision. It has pro and cons like every solution, unfortunately.

I'll see how I can allow user to choose between css or glamor hoping that is not to heavy

[2017-12-05 12:59] #87 closed

[2017-12-05 13:02] #86 closed

[2017-12-05 14:49] kbrtrm commented on #88
Bummer! Optional glamor would've been great. We're still employing a more traditional CSS approach and our CSS-in-JS situation is still in flux.

[2017-12-05 16:11] garethwarry commented on #89
Thanks for the quick response! That solved the problem.

[2017-12-05 16:11] #89 closed

[2017-12-05 21:42] simondevries opened #91 "Missing css file"
I just pulled the source using npm install react-toastify and I am getting the error that 'react-toastify/dist/ReactToastify.min.css' cannot be found. I have looked in the dist folder and cannot find any css file. I also looked in the Github repo and cannot find any css file

[2017-12-05 21:43] #91 closed

[2017-12-05 21:44] simondevries commented on #91
It looks like you don't even need to specify the css file! Maybe the docs need updating?

[2017-12-05 21:47] fkhadra commented on #91
Hey @simondevries,

Actually the doc on github is up to date. But the one on the demo is deprecated.

Im working on it !

[2017-12-06 08:13] #84 closed

[2017-12-06 09:20] budiadiono commented on #55
@cyrus-za I have same issue, it was fixed by solving my "dependencies issue". I've checked through `npm ls react` -- some libraries in my project using React 15.x, that was causing the issue.

[2017-12-06 15:28] fkhadra opened #93 "Switch to rollup for umd build"

[2017-12-06 15:39] QRMarketing opened #94 "Not getting the science in your Component - example available?"
I am struggling to understand your examples. I have a parent Component triggering the toast Component. I want to trigger the toast from an event unrelated, not a button. All your examples come from a button. It works the first time through, but on every toast request after this, it does not show. I get the following console.log warning: EventManager.js:33 <SHOW_TOAST> Event is not registered. Did

[2017-12-06 17:55] khawerrind opened #95 "onClick function for a toast?"
Thank you for the great plugin. It will be nice to have an `onClick` function for a toast so if it is defined than `closeOnClick` will be ignored and user can perform manual operations on a toast.

[code]

This is currently not possible and can be possible if we can have `onClick` function for a toast. Thoughts?

[2017-12-06 19:04] ecirish commented on #84
Ah, great. Thank you!

[2017-12-07 08:02] fkhadra commented on #94
Hey @QRMarketing,

If you want to display a toast you don't need to render it like you did (see the comments below). The only component you need to mount is the `ToastContainer`:

[code]
Each time you call the `toast` function a toast will be displayed.

In your case, I suppose that you need to display a toast when `OrderToasty` is mounted. To do so simply call toast inside `componentDidMount`:

[

[2017-12-07 08:32] khawerrind commented on #95
Thank you @fkhadra i figured that out later 😄 I have another question should i ask it in this thread?

[2017-12-07 08:46] fkhadra commented on #95
Go ahead 😁

[2017-12-07 08:48] khawerrind commented on #95
Is it currently possible to limit the total number of toasts? If not, do you think it is something that can be considered to work on?

[2017-12-07 08:52] fkhadra commented on #95
You mean the total number of toast being displayed at the same time, right?

[2017-12-07 08:53] khawerrind commented on #95
yes right

[2017-12-07 09:26] fkhadra commented on #95
@khawerrind here is how you can accomplish it:

[![Edit 0orx2wjkyn](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/0orx2wjkyn)

I'm considering adding it

[2017-12-07 14:14] fkhadra commented on #81
Hey @jwheeler-gs,

The new version is almost ready. Got a question.

When updating a toast do you expect it to refresh the autoClose delay in case autoClose where set?

[2017-12-07 16:44] jwheeler-gs commented on #81
That's a good question. So you're ask if an existing toast has autoClose="7" and the update has autoClose="8", should it reset the timer back up to 8 or just let it keep running down from where it was before the update?

I think I'd expect an update to reset the timer *if* the autoClose option changes to a new value in the update. So if both the original and update have autoClose="7", I'd expect t

[2017-12-07 16:45] QRMarketing commented on #94
@fkhadra  thanks for the reply. Yes I understand the science better now. Since I am using this with a popup modal, on taking it down from the parent, it got an setState not mounted error. So I had to do the following on the return from the child (others may want this):

[code]
I also noticed that since - that on another toast I wanted to show a toast before taking down the modal I need to adjust t

[2017-12-07 19:48] fkhadra commented on #81
Thank you for the constructive answer. That's the kind of answer I like to hear.

[2017-12-07 19:52] fkhadra commented on #94
Hey,

Regarding the zIndex, the next version will allow you to change the value with ease.

I'm glad I was able to help you

[2017-12-07 19:52] #94 closed

[2017-12-07 19:52] #95 closed

[2017-12-07 20:45] bogdansoare opened #96 "Can't change zIndex"
Hey there.

Is there anyway to change the zIndex ? I want it bigger than 999.

I've tried with
[code]
but no luck.

Thanks.

[2017-12-08 07:39] fkhadra commented on #96
Hey @bogdansoare,

You will be able to adjust the zIndex like you did in the next release.

[2017-12-08 08:07] JaLe29 opened #97 "ERROR in ./node_modules/react-toastify/lib/ToastContainer.js"
I am getting error after call npm start in my project with react-toastify,

Solution for this problem is install "glamor": "^2.20.40" to my project, but why? Its your dependency, not my.

[2017-12-08 08:56] fkhadra commented on #97
Hey,

I saw that for red-face you were using react-toastify v2. What you could do is the following:

[code]

[2017-12-08 10:07] JaLe29 commented on #97
Thank you.

It fixed problem with 'glamor' lib.

But now, I am getting error about ReactToastify.min.css after npm run is called.
Actual version (after install lastest version) "react-toastify": "^3.0.0"

Full log:

[2017-12-08 10:17] bogdansoare commented on #96
Awesome, thanks @fkhadra ❤️

[2017-12-08 10:19] fkhadra commented on #97
@JaLe29,

Since v3 I switched to glamor. There is no more css files involved now, so you don't need to import the css file anymore.

[2017-12-08 10:30] fkhadra opened #98 "v3.1 doc gif"
![update-with-transition](https://user-images.githubusercontent.com/5574267/33761952-1cc9d55a-dc0b-11e7-9a05-29186ea1c1f0.gif)
![update-without-transition](https://user-images.githubusercontent.com/5574267/33761953-1ce2e0ea-dc0b-11e7-8967-a63c1185ce0e.gif)

[2017-12-08 10:51] JaLe29 commented on #97
Thank you for your help.

Now, it working correctly.

[2017-12-08 10:51] #97 closed

[2017-12-08 11:02] #98 closed

[2017-12-08 16:15] khawerrind commented on #95
Thanks @fkhadra when you add it to library i think it will be better if you don't block the new toasts and instead have it the following way

If newestOnTop {
    append at top and remove the last toast
} else {
   append at bottom and remove the first one
}

Thanks!

[2017-12-09 05:56] nimish-gupta commented on #87
@fkhadra even `toast.POSITION` is also giving the same error `Property POSITION does not exist on type TOAST`

[2017-12-10 21:44] #96 closed

[2017-12-10 21:44] fkhadra commented on #81
@jwheeler-gs v3.1 is live

[2017-12-10 21:44] #81 closed

[2017-12-10 21:45] #88 closed

[2017-12-10 21:45] #90 closed

[2017-12-10 21:46] fkhadra opened #101 "Glamor opt-in"

[2017-12-11 19:11] jwheeler-gs commented on #81
Works like a charm! Thank you! 👍

[2017-12-11 22:06] #43 closed

[2017-12-13 21:16] bruceisyoung opened #102 "glamor is breaking the build"
[code]

[2017-12-13 21:21] fkhadra commented on #102
Hey @bruceisyoung,

Are you updating from an older version ? If yes I suggest you remove it and reinstall it.

[2017-12-14 14:21] yq314 opened #103 "css doesn't work in 3.1.0"
setting css with glamor doesn't work in 3.1.0, tried the example in document, no effect at all.

[2017-12-14 14:30] fkhadra commented on #103
Hey @yq314 ,

Could you share a sample ? It will be easier to troubleshoot.

Thanks

[2017-12-14 14:34] yq314 commented on #103
Hi @fkhadra ,

I just ran a simple react app with this code:
[code]
click on the two buttons trigger the same toast with the default color, however the first one is supposed to be black.

[2017-12-14 14:43] fkhadra commented on #103
@yq314 you have to use `backgroundColor` instead of `background`. My mistake, I'll fix the doc right now.

Here is a working snippet:
[![Edit React-toastify fix issue #103](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/xo41ym8x9p)

[2017-12-14 14:52] fkhadra commented on #103
@yq314 I updated the doc btw 😁

[2017-12-14 14:52] yq314 commented on #103
![react toastify fix issue 103 codesandbox](https://user-images.githubusercontent.com/2336852/33998090-7ba787fa-e121-11e7-9050-db9e9afb2bba.png)
The CodeSandbox example doesn't seem to work for me?

[2017-12-14 14:54] yq314 commented on #103
I'm using Chrome 62.0.3202.94 btw

[2017-12-14 14:56] fkhadra commented on #103
We are using the same version. It's working for me. Could you try to refresh ? Maybe a cache issue.
![image](https://user-images.githubusercontent.com/5574267/33998254-4b2a621c-e0e7-11e7-9ed4-90d6e04e6081.png)

[2017-12-14 15:00] yq314 commented on #103
hmm, so weird, I cleared cache still no luck, tried in incognito mode also same...

[2017-12-14 15:01] yq314 commented on #103
it doesn't work for me on both my PC and Mac...

[2017-12-14 15:03] fkhadra commented on #103
I'll try with create-react-app to see what's going on

[2017-12-14 15:29] fkhadra commented on #103
Classes are not merged correctly.

[2017-12-14 15:40] fkhadra commented on #103
@yq314 got a fix.

[2017-12-14 15:45] yq314 commented on #103
thanks for the quick action! @fkhadra

[2017-12-14 16:06] keljond27 opened #104 "dismiss / dismissAll for TS"
TS interface for toast doesn't allow for dismiss argument to be optional -
current: `dismiss(toastId: number): void;`
should be: `dismiss(toastId?: number): void;`

This would allow user to forgo using toastId and enable dismissing all active toast messages

[2017-12-14 16:31] fkhadra commented on #104
Thank @keljond27  for reporting the issue. It's fixed and will be live soon.

[2017-12-14 19:39] fkhadra commented on #104
@keljond27 the new release is live 🚀

[2017-12-14 19:39] #104 closed

[2017-12-14 19:40] fkhadra commented on #103
@yq314 the new release is live 🚀

[2017-12-14 19:40] #103 closed

[2017-12-15 02:07] yq314 commented on #103
marvellous, this saved my life thanks @fkhadra

[2017-12-17 20:19] giocodes opened #106 "Add support for functions as content"
Hello! First of all, THANK YOU this is a great library. 👏 X1000
I want to suggest adding support for functions as content. Example:
[code]
I believe this currently returns nothing.

[2017-12-17 20:48] fkhadra commented on #106
Hello @giocodes,

Glad you like it.

When you call the `toast` function it returns a `toastId`. That one can be used to dismiss or to update the toast.

Anyway, I will probably allow this pattern in the next release. I'll let you know as soon as it's available.

[2017-12-18 08:46] bogdansoare opened #107 "Ability to change font-family"
Is there anyway to change the font-family?
Or maybe let it inherit from the body and not set it as `sans-serif`

[2017-12-18 09:38] fkhadra commented on #107
I don't know why I didn't think about it before. Thanks @bogdansoare for the suggestions.

[2017-12-18 12:23] fkhadra commented on #107
Hey @bogdansoare,

Actually, it can already be done:

For all toast:

[code]

Per toast:

[code]

Anyway, I'll probably allow to set it via the style helper.

[2017-12-20 07:40] #102 closed

[2017-12-20 21:13] jwheeler-gs opened #108 "Ability to add positioning offset"
It looks like with the current setup, there is no way to add an offset to the toast container. For example, when I open a toast in "TOP_RIGHT", it's always 1em from top and 1em from right.

My application has a couple of menu bars at the top that I'd like to position the toast below, so I'd like to be able to specify a top offset of "110px" instead of 1em, but only for toasts positioned in TOP_. I

[2017-12-21 07:11] fkhadra commented on #108
Hey @jwheeler-gs,

What do you think if I allow defining those settings via the style helper? For instance:

[code]

What do you think about the api ?

[2017-12-21 15:44] jwheeler-gs commented on #108
Yes, I think that would be fine. :D  That's actually what I originally tried to do before looking at the code and seeing that it was not supported.

[2017-12-21 18:47] fkhadra commented on #107
Feature released.

[2017-12-21 18:47] #107 closed

[2017-12-21 18:47] fkhadra commented on #106
Feature released.

[2017-12-21 18:47] #106 closed

[2017-12-21 18:47] fkhadra commented on #108
Feature released.

[2017-12-21 18:47] #108 closed

[2017-12-22 00:28] giocodes commented on #106
Awesome! Thanks

[2017-12-22 03:35] ProductOfAmerica opened #109 "Error: <SHOW_TOAST> Event is not registered."
**Edit: [Scroll to Actual Error](https://github.com/fkhadra/react-toastify/issues/109#issuecomment-353728338)**

Hello,
I've tried my best to follow the directions on the readme, but I'm not getting the expected output. Anything helps, I'm new to react and whatnot so please go easy on me if I did something stupid. Here's my code, and an example of what I'm getting instead:

![2017-12-21_21-34-05](

[2017-12-22 07:24] TonticiOleg opened #110 "types definitions issue"
wanted to create a pull request but..

In type definitions file - method signature declaration is wrong - mean cannot be compiled
type ToastContent = React.ReactNode | () => void;      instead of
type ToastContent = React.ReactNode | { () : void };

[2017-12-22 08:04] fkhadra commented on #110
Hey @TonticiOleg,

Thank you for reporting the issue. Just pushed a new build. It will be live in a few minute.

[2017-12-22 08:04] #110 closed

[2017-12-22 08:05] fkhadra commented on #109
Hey @ProductOfAmerica ,

Which version of react-toastify are you using ?

[2017-12-22 08:35] fkhadra commented on #109
Could you try to install the latest version? I'm getting the impression that you are running an old version.
if you use npm:
[code]

if you use yarn:
[code]

[2017-12-22 08:36] ProductOfAmerica commented on #109
I'm using "react-toastify": "2.2.0"

[2017-12-22 08:43] fkhadra commented on #109
Thanks for the reply @ProductOfAmerica. If you need to stick with the version 2, you have to import an additional css file as follow:

[code]
The version 3 rely on styled component.  It means that the css rules are injected at runtime and only the necessary rules are injected.

To sum up:
- version 2 you need to import the additional css file
- version 3 no need to import the css file

Hope the ex

[2017-12-22 08:44] ProductOfAmerica commented on #109
@fkhadra Thank you for that amazing explanation, I did move toastify to a different component, so that would make perfect sense, because I didn't move any CSS imports with it. I really appreciate your quick feedback!

[2017-12-22 15:28] jwheeler-gs commented on #108
Excellent. Thanks @fkhadra!

[2017-12-22 20:22] GaudamThiyagarajan opened #111 "Toast doesn't work when using with axios and redux-thunk"
When I try to show a toast with a function **that has** a action dispatcher with axios along with redux-thunk, the toast doesnt appear. but when I just comment out the action dispatcher It works fine. note ( It doesnt matter whether I fire before or after the action dispatch call )

![screen shot 2017-12-23 at 1 49 54 am](https://user-images.githubusercontent.com/21335564/34311463-c1ec6092-e783-11

[2017-12-23 13:48] fkhadra commented on #111
Hey @GaudamThiyagarajan,

I'll try to reproduce the issue.

[2017-12-23 14:17] ProductOfAmerica commented on #109
Hey @fkhadra, sorry for the bother, but I'm having problems again. Instead of making a new issue I decided to comment here. So the issue is this: `<SHOW_TOAST> Event is not registered. Did you forgot to bind the event ? EventManager.js?f85b:33`.

I seem to get the error only after I hit the back/forward buttons on my browser. My code:

**index.js:**
[code]

**Toaster.js:**
[code]

If I send a disp

[2017-12-24 04:11] ProductOfAmerica commented on #109
Reopening, seems like a bug?

[2017-12-24 12:18] fkhadra commented on #111
Hello @GaudamThiyagarajan,

Could you provide me the following information's so I can try to reproduce the issue:
- react version
- redux version
- react-toastify version

Thanks

[2017-12-25 04:16] ProductOfAmerica commented on #109
Good news, I found the solution to this problem. It occurs if you have two instances of ToastContainer in your project. I accidentally left one in a different component. I think what was happening was the two were conflicting, and one would dismount, but the toast.whatever() calls would try and toast to the missing component.

Now we know! :D

[2017-12-25 04:16] #109 closed

[2017-12-25 11:18] fkhadra commented on #109
@ProductOfAmerica I was unable to reproduce the issue. I'm glad you have been able to solve the issue 😁

[2018-01-07 15:40] neetocode opened #112 "word wrap"
How i do it?

`toast.warn("Error 400\nField text invalid")`

`\n` and `<br/>` not wrapping text.

[2018-01-07 18:48] fkhadra commented on #112
Hello @neetocode,

You could use jsx instead as follow:

[code]
Quote are not needed with jsx.

[2018-01-07 21:52] neetocode commented on #112
cool!

[2018-01-07 21:53] #112 closed

[2018-01-08 10:26] fkhadra opened #113 "Create a logo"

[2018-01-08 20:23] manishbhatt94 commented on #3
hey @fkhadra can we now use `toast.isActive` to determine whether a toast (containing a React component) is duplicate?
i tried using the method mentioned [here](https://github.com/fkhadra/react-toastify#prevent-duplicate), but no luck!

[2018-01-08 20:56] fkhadra commented on #3
Hey @manishbhatt94,

May I ask you to reproduce the issue on codesandbox for example, so I'll be able to help you?

Thanks

[2018-01-08 23:10] dmbrooking opened #114 "Toast does not look right on mobile"
A few things.. when mobile, the toast does not take over the entire view width.  Also, I have my toast set to be positioned in the bottom right, but when mobile, it shows on the bottom left.

I am guessing this is due to some style I have in my css that is conflicting with this component... just not sure where or what.

Could someone point in the right direction of what might be conflicting? Or is

[2018-01-08 23:26] fkhadra commented on #114
Hey @dmbrooking,

Could you tell me which version are you using please ?
On which device are you testing ?

Thanks.

[2018-01-08 23:28] dmbrooking commented on #114
I am using the latest version.. 3.2.1 I think.

Honestly, I think I figured it out. It's like all issues - you fight with something for hours and then you finally decide to ask for help and you figure it out a few minutes later.  The previous developer on my project did not have the meta tag setting initial scale to 1. When I set that, it appears to have fixed the issue. It also broke the entire r

[2018-01-08 23:38] fkhadra commented on #114
haha 😂 I know that feeling. Good luck then. I'll close the issue. Feel free to ask for help.

[2018-01-08 23:38] #114 closed

[2018-01-09 12:41] gabrielHosino opened #115 "Two toasts opening after updating to latest version"
Hi, I decided to update the react-toastify in my project(to the latest version). After that, when I open a toast for some reason it opens a wrong toast (considering the style i set up) over my styled toast.

![wrong](https://user-images.githubusercontent.com/8519076/34720696-c86fc390-f526-11e7-9733-52d94ef53a4e.png)

The image above shows the wrong toast, it appears on top of the right one, when i

[2018-01-09 14:24] fkhadra commented on #115
Hey @gabrielHosino,

Could you help me to reproduce the issue here:
[![Edit pypzllo62x](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/pypzllo62x)

I replaced `Fragment` by `div` cause codesandbox is running react 16 not 16.2

[2018-01-09 15:58] gabrielHosino commented on #115
Hey, so sorry. I didnt pay attention to the fact that I had two toast containers. That was the problem! Thanks, seeing your code working made me realize the problem was somewhere else!

[2018-01-09 15:58] #115 closed

[2018-01-09 17:55] fkhadra opened #116 "Define glamor as a peer dependencies ?"

[2018-01-10 15:07] ricardojrgpimentel opened #117 "clearTimeout() on componentWillUnmount"
I'm getting this error when i navigate to another page:

[code]

Shouldn't the component clearTimeout() when it unmounts?

[2018-01-10 15:19] fkhadra commented on #117
Hello @ricardojrgpimentel ,

Could you tell me which version you are using?

Thanks.

[2018-01-10 15:29] ricardojrgpimentel commented on #117
@fkhadra I'm on 3.2.1

[2018-01-10 15:36] fkhadra commented on #117
Actually, the eventManager and react-transition-group use `setTimeout`.
Could you provide a snippet so I can reproduce the error?

I'll try to reproduce the issue on my side also.

[2018-01-10 15:49] ricardojrgpimentel commented on #117
I'm using react-router, and i have the `ToastContainer` inside `ComponentA` and `ComponentB`

When the route changes to something like `/site/componentA` the `ComponentA` gets mounted with `ToastContainer` along with a `toast` that lasts for 10 seconds, if i navigate to `/site/componentB` the same happens but this time i get the error stated above.

[2018-01-10 15:54] fkhadra commented on #117
Thanks for the explanation. I'll investigate.

[2018-01-10 16:02] ricardojrgpimentel commented on #117
It's active

[2018-01-10 17:09] fkhadra commented on #117
@ricardojrgpimentel I'm trying to reproduce the issue here:
[![Edit o4xkk1pq9y](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/o4xkk1pq9y)

Could you modify the snippet to fit your use case please ?

[2018-01-10 17:25] manishbhatt94 commented on #3
Hey sorry for the late reply.
I put together demo which is quite close to what we have, but couldn't seem to reproduce it here..
https://codesandbox.io/s/pm77rqqzmq
Will let you know if I am able to reproduce on codesandbox..

[2018-01-10 17:36] fkhadra opened #118 "Not able to Prevent Duplicate"
@manishbhatt94, I created a new issue. It will be easier to follow.

I'll use the snippet with create-react-app to see if the behavior is different.

**original message:**

I put together a demo on codesandbox which is quite close to what we have, but couldn't seem to reproduce it here..
https://codesandbox.io/s/pm77rqqzmq
Will let you know if I am able to reproduce on codesandbox..

[2018-01-12 09:31] delta1 opened #119 "gh-pages "Fork me on Github" ribbon incorrect link"
Hey just wanted to let you know your "Fork me on Github" ribbon on https://fkhadra.github.io/react-toastify/ does not link to this repository!

I tried looking for the link in the gh-sources branch but I'm not sure that's up to date with gh-pages? I can't seem to find reference to it.

Anyway, happy to do a PR if you can point to the right branch/commit :) Unless you want a PR directly on the comp

[2018-01-12 10:18] fkhadra commented on #119
Hey @delta1,

Thank you. I have to push the gh-sources branch xD. When it's done I'll let you know so you can make the PR

Cheers

[2018-01-12 10:23] delta1 commented on #119
Sure - let me know once you've pushed your latest!

[2018-01-15 07:27] delta1 commented on #119
@fkhadra any update?

[2018-01-15 08:22] fkhadra commented on #119
Hey @delta1 ,

Will be done this week. I need to check on which computer is the sources.

[2018-01-15 19:18] eabovsky opened #120 "Error in IE 11"
When I try to use this component on IE 11, I get the following bug when the component is first being added:

It works fine on Edge and other browsers. Tested on the latest version (3.2.2) as well as an older build (1.7.0).

[2018-01-15 20:35] fkhadra commented on #120
Hey @eabovsky,

Could you show me a snippet please ?

[2018-01-15 21:21] eabovsky commented on #120
My mistake... this was only an issue in 1.7.0 - I had some caching problems when testing 3.2.2. The issue seems to be resolved in 3.2.2.

[2018-01-15 21:21] #120 closed

[2018-01-19 11:36] heyhujiao commented on #111
I can verify this issue occurs for me too. Using reduxThunk as middleware

[2018-01-19 11:39] fkhadra commented on #111
Thank for the feedback. I'll to find a boilerplate to reproduce the issue

[2018-01-19 11:42] heyhujiao commented on #111
If it helps, these are my packages version.

"react": "^15.6.2",
"redux": "^3.0.4",
"react-toastify": "^3.2.2"

[2018-01-19 11:47] fkhadra commented on #111
Thanks guys. I'll work on it this week.

[2018-01-19 19:50] #101 closed

[2018-01-19 20:07] fkhadra commented on #111
I tried to reproduce the issue using this [boilerplate](https://github.com/Angelfire/React-Redux-Thunk-Boilerplate) without success.

Could you suggest me another boilerplate to try ?

[2018-01-20 15:33] vaaralav opened #121 "Accessiblity questions"
Thanks for the awesome project!  I've been using this in handful of projects and it just works ❤️

Have you considered taking steps to make the notifications more accessible?

Currently the toasts doesn't have `role="alert"` on them by default so at least VoiceOver won't read the notifications. If that attribute is given to the toast content eg. `toast(<span role="alert">Wow so easy!</span>)` Voic

[2018-01-20 15:50] vaaralav commented on #121
Here's a sandbox with the `<span role="alert">Wow so easy!</span>` toast example: https://codesandbox.io/s/8zw2815229

[2018-01-20 23:58] wesharehoodies commented on #52
This issue still exists.

[2018-01-21 07:55] fkhadra commented on #121
Hello @vaaralav,

I really appreciate your feedback, thanks a lot!

This is probably due to the transition like you suggested.

Adding accessibility could only make the library better. I will work on it for sure.

[2018-01-21 07:59] fkhadra commented on #52
Hello @wesharehoodies,

Could you give the version of react-toastify you are using?
Are you upgrading or is it a fresh install.

Thanks

[2018-01-21 08:07] fkhadra commented on #119
Hey @delta1,

I'm not able to find the sources for the doc. I will check if they are not in the computer at the office tomorrow.

[2018-01-21 14:42] wesharehoodies commented on #52
`"react-toastify": "^3.2.2",`

It's a fresh install

[2018-01-21 15:31] wesharehoodies commented on #52
I removed `react-transition-group` and replaced it with `react-addons-css-transition-group` and it works.

Both packages were the latest.

[2018-01-24 14:13] fkhadra opened #122 "New gif for doc"
![react-toastify](https://user-images.githubusercontent.com/5574267/35336500-e58f35b6-0118-11e8-800b-2da6594fc700.gif)

[2018-01-24 14:13] #122 closed

[2018-01-24 14:31] fkhadra commented on #121
Hey @vaaralav,

The library is a bit more accessible :)

[2018-01-24 14:31] #121 closed

[2018-01-25 00:14] gpuente opened #124 "Heigh Content Toast"
When you add a content that is greater than the height of the toast, the toast not adapt their own height to show correctly the content

[2018-01-25 14:05] fkhadra commented on #124
Hey @gpuente,

Just published the patch under v3.3.1. Sorry for the bug

[2018-01-25 14:05] #124 closed

[2018-01-25 21:57] jbowen28 opened #126 "Toasts hidden behind modal"
I instantiated one ToastContainer at the top layer of my react application which is always active (rendered). Whenever my react-semantic-ui Modal components are active, they hide any toast created.  I tried changing the z-index of ToastContainer to 9999 and my Modal components to 100, but that did not fix the problem.  I also tried setting the z-index of each toast to 9999 but that did not work ei

[2018-01-26 18:27] fkhadra commented on #126
Hello @jbowen28,

Could you reproduce the issue on codesandbox ? Otherwise, I'll do that when I got some free times.

I'm curious why you don't want to upgrade to v3, could you share your reasons?

Thank you.

[2018-01-31 19:02] jbowen28 commented on #126
I cannot quite get the react-semantic-ui Modal to work in codesandbox.  Here is a link to my demo https://codesandbox.io/s/ko7m7r8365.  I am testing react-toastify 3.3.1.  It appears to have resolved this issue.

[2018-01-31 21:58] SaeedSheikhi commented on #114
Thanks for the awesome project!
on rtl content, there is a small bug,
when mobile, the toast does not take over the entire view width
![image](https://user-images.githubusercontent.com/30556349/35649468-6d0aca48-06ee-11e8-8942-844b1ac4e5af.png)

by injecting right : 0; into the css, the issue will be fixed.
![image](https://user-images.githubusercontent.com/30556349/35649699-27588b1a-06ef-11e8-9cb

[2018-02-01 07:48] fkhadra opened #128 "RTL support"
Original post:

on rtl content, there is a small bug,
when mobile, the toast does not take over the entire view width
![image](https://user-images.githubusercontent.com/30556349/35649468-6d0aca48-06ee-11e8-8942-844b1ac4e5af.png)

![image](https://user-images.githubusercontent.com/30556349/35649841-81e9e3a8-06ef-11e8-8ace-a3afde974e76.png)

[2018-02-01 07:49] fkhadra commented on #114
Hello @SaeedSheikhi,

Glad you like it! Thanks for the feedback.
I created a new [issue here](https://github.com/fkhadra/react-toastify/issues/128) to fix RTL support. 😄

[2018-02-01 07:51] fkhadra commented on #126
@jbowen28 good news. Should I investigate or are you gonna switch to the v3 ?

[2018-02-02 09:34] khacminh opened #130 "autoClose doesn't work"
Hi,

I'm facing an issue with **autoClose**. I follow your example, everything works but the **toast will never close until triggered manually**. I also try your [custom animation](https://github.com/fkhadra/react-toastify#define-a-custom-enter-and-exit-transition), The enter event fired, but the exit didn't.

Here is my code snippet:

– Toast Container settings:

[code]

– I create a toast by:

[

[2018-02-03 05:28] haddyo opened #131 "Toast to follow in Material Behaviour"
Dear Team,

My Requirement in the project is that Toast should behave as per Material Standards,i.e. Slide from Right Bottom to Top.
Our Current Position BOTTOM_RIGHT/TOP_RIGHT slides the toast from Right to top/bottom but the behavior I'm looking for is to slide from bottom.
I tried overriding the animation.js and override the prop in the component. But i was not able to achieve the desired behav

[2018-02-04 08:34] fkhadra commented on #130
Hey @khacminh,

I made a sample on codesanbox. I don't notice any issue. Could you modify it to fit your use case?

[![Edit n00qkkr68m](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/n00qkkr68m)

Thanks.

[2018-02-05 07:33] NehaAB opened #132 "Clear all toast support"
We have `dismissAll = () => toast.dismiss()` option to clear all toasts, but structurally is it possible to include a `Clear All button` within the **Toast-Container** ?

[2018-02-05 12:06] fkhadra commented on #132
Hello @NehaAB,

If I understand your request correctly, in place of a toast you want to display a button to remove all the active toast, is that right?

[2018-02-05 12:15] NehaAB commented on #132
Yes. If we can have a button it would be easy for us to use this functionality.

[2018-02-05 12:57] fkhadra commented on #132
@NehaAB the good news is that a toast can display anything you want. Here is a working example:

[![Edit React-toastify: Issue 132](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/04n063qnkn)

Please let me know if it help you.

[2018-02-05 12:58] #126 closed

[2018-02-05 13:42] NehaAB commented on #132
Your code seems to be fine.
But consider a case where dynamically multiple toasts appear one by one but logically this `Remove All` button shoulg be at the bottom or top, but it has to be fixed somewhere.
Now handling this thing using your way is difficult.

For example, consider any mobile phone notifications that appear one by one and you have a fixed button to clear all the notifications somewh

[2018-02-06 20:36] fkhadra commented on #132
I understand your need. I don't think that it is the responsibility of the lib to provide that kind of feature. But, I will think about it.

If your `remove all button` need to be fixed you could use a floating action button instead. It will be definitely easier to manage.

If you want to know when a new toast appears on the screen you can use the hooks as follow:
[code]

Please let me know if I m

[2018-02-06 20:39] fkhadra commented on #131
Hello @haddyo,

You want your toast to behave like [that](https://material.io/guidelines/components/snackbars-toasts.html#snackbars-toasts-specs)?

[2018-02-06 20:41] fkhadra commented on #128
Hello @SaeedSheikhi,

Got a question regarding the rtl support. Does the progress bar on the bottom need to be inverted as well ?

Thanks

[2018-02-07 13:37] SaeedSheikhi commented on #128
Hello @fkhadra,

it would be better for progress bar to be inverted

Thanks for your point of view
i appreciate it

[2018-02-08 07:17] NehaAB commented on #132
It is absolutely correct.
But, again if you consider a complex react-app wherein if we need to fire toasts from different components, it is difficult to manage the toastCounter.

[2018-02-13 06:44] haddyo commented on #131
It should behave like this ,

https://react-materialize.github.io/#/toast

[2018-02-14 14:52] pionl opened #133 "Animation "sluggy" - not smooth"
Hi, first, thank you for this amazing package! Love it :)

I've noticed you have changed the animation by not using css file (not a problem). I've updated to latest version and I've noticed that animation is little bit corrupted. It's making animation down and clipping content incorrectly (changing height). Feels sluggy and not smooth (I would prefer not changing the height). Here is a recording:

[2018-02-14 20:19] MichaelMarcialis opened #134 "Support Multiple ToastContainers"
Hello. Forgive me in advance, as I'm a bit of a React noob.

I have a situation on my current project where I would like to have two separate ToastContainers, and would like the option to direct individual toasts to one of those two ToastContainers (or both, simultaneously). In short, my hope is to direct one set of notifications to can be fixed positioned (as this does by default), and also be ab

[2018-02-14 22:30] rezmoth commented on #81
Toast Update not working:
[code]
It just displays Hello Toast it doesn't change. Why and how could I change it to work. Thanks.

[2018-02-14 22:34] rezmoth opened #135 "toast.update() not working?"
Toast Update not working:

... Component omited for brevity ...

[code]
It just displays Hello Toast it doesn't change even when the insertion to collection succeed. I'd expect it to update from info toast to success toast but I don't know why doesn't.  How can I fix it for the intended result? Thanks

[2018-02-15 08:31] fkhadra commented on #133
Hello @pionl,

Thank you for your feedback. You're right the demo is not up to date.

I don't think the issue is coming from not using a css file. Since the last version, I animate the height of the toast. Animating height property is not optimal at all.

When you remove a toast, I wanted to make the stacking of the remaining toast more smooth instead of having them stacking automatically. (Sorry

[2018-02-15 09:32] fkhadra commented on #135
Hello @rezmoth,

I made a sample, thanks to you I noticed that the update transition doesn't work anymore. So I'll release a fix today.

The update is working as expected.
[![Edit 3rpxlqzmkp](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/3rpxlqzmkp)

What you can do is to track the toastId and the one inside the callback to ensure they are the same

[2018-02-15 11:47] #93 closed

[2018-02-15 11:48] #113 closed

[2018-02-15 15:03] fkhadra commented on #134
Hello @MichaelMarcialis,

Don't apologize for being a "noob". I've been a noob also 👍 .

Supporting multiple `ToastContainer` will require reviewing the internal design. I don't see any particular use case for having 2 `ToastContainer`  except yours.

But, I'll definitely check how I can support multiple `ToastContainer`

[2018-02-15 15:59] DreadfulDeveloper commented on #135
I'm trying to integrate react-toastify with redux to give feedback to the user about different application states. The toast displays with the message "Submission in progress", but the update doesn't take place when the form is submitted

[code]

[2018-02-15 21:22] maxchehab commented on #135
I to am having difficulties with `toast.update()`. I have noticed that it works when inside of a timeout. For example....
[code]
however, outside of the timeout, `toast.update()` does not work.
``` toast.update(toastID, { render: "hello world" } );```
What causes this behavior?

[2018-02-16 07:30] GaudamThiyagarajan commented on #111
Did you try with same versions of react redux and axios as I have mentioned?

Please try following similar versions.

[2018-02-16 11:15] fkhadra commented on #135
Hey @maxchehab,

Are you using redux as well ?

[2018-02-16 11:18] fkhadra commented on #135
Can someone setup a boilerplate with redux on codesandbox to help me debug ?

[2018-02-16 11:22] fkhadra commented on #111
@GaudamThiyagarajan I never had an issue combining axios and react-toastify.
I don't use redux for state management, this is way I used a boilerplate found on github. If you can setup a boilerplate on codesanbox it will help me to find what's going on.

[2018-02-16 17:14] maxchehab commented on #135
I am not using redux. I think it has to do with the callstack. Running it inside of setTimeout would push it to the end of the callstack.

[2018-02-16 17:26] fkhadra commented on #135
oh sorry @maxchehab, I misunderstood you. Actually when I display a toast I already push it at the end of the callstack. You can look at the source of the EventManager.

But I'll implement a queu for the update and see if it fix your issue like you suggested

[2018-02-16 17:38] rezmoth commented on #135
Hello @fkhadra
I've uploaded an example of the problem I'm having with toast.update()

[![Edit mm050vy3xx](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/mm050vy3xx)

I believe it has to do with consecutive calls to setState as consecutive calls are 'discarded', altought I haven't checked the source code. Hope this helps. Thanks

[2018-02-16 19:27] fkhadra commented on #135
@rezmoth You're probably right. It's not working at all when updating the toast too fast.
I have to find a way to interrupt the animation or to wait for them to end before updating the toast.

[2018-02-16 20:09] fkhadra commented on #135
**Off topic**
@rezmoth For info the signature of your toast.update is wrong:

[code]
Maybe it could be useful to accept both.
**End off topic**

I found a solution but if the update occurs too fast you won't see the first message.

[2018-02-16 20:48] fkhadra commented on #135
@rezmoth I forked your sandbox with the hotfix:
[![Edit n496qxv8j4](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/n496qxv8j4)

@maxchehab and @DreadfulDeveloper could you update to the latest version v3.3.4 and see if it fix your issue, please.
Don't forget to clear your cache 😁

[2018-02-16 20:49] fkhadra commented on #111
Hey @GaudamThiyagarajan,

Could you update to the latest version v3.3.4 and tell me if it fixes your issue, please.

Thank you

[2018-02-16 21:47] merrilj opened #136 "Make Notifications Session or User Specific"
Hey there,

I'm using this awesome notification system for a tv monitoring system I'm working on. My app uses Slack OAuth for signing in users. I have functionality where I send a post request and the toast notifies on the response from the server (through socket-io). However, if user 1 has performed an action, they get the toast notification from the response as intended, but the notification als

[2018-02-17 16:49] fkhadra commented on #136
Hello @merrilj,

I'm glad you like it.

The notification system(react-toastify) run on the client side and it's stateless. I think your current behavior is due to the way you handle the socket.

If you want to make the notifications specific to each user, you need to specify the socket id when you dispatch the event from the server side.

There are several ways to dispatch events with socket.io re

[2018-02-19 06:16] realneeraj commented on #117
@fkhadra
I have updated the code page to reproduce the error. Please check the Home Component and try to login. Also check console log for the error.

Please let me know the solution.

Thanks in advance.

[2018-02-19 10:50] mkrds commented on #133
Hi, just wanted to say that i experience exactly same behaviour.

I'm using:
 "react-toastify": "^3.3.4",
 "react": "^16.2.0",
 "styled-components": "^3.1.6"

I'm using styled-components although I'm not styling ToastContainer with it.

[2018-02-19 11:20] fkhadra commented on #117
@realneeraj could you share the link? The sandbox is still showing the old code.

Thanks

[2018-02-19 11:36] realneeraj commented on #117
@fkhadra
https://codesandbox.io/s/64mml459z - Hopefully you can see it here now?

-------------------------------------------- Source code is here --------------------------------------------
import React from "react";
import { render } from "react-dom";
import {
  BrowserRouter as Router,
  Route,
  Link,
  Redirect
} from "react-router-dom";
import { ToastContainer, toast } from "react-toastify"

[2018-02-19 11:39] fkhadra commented on #117
The link is good now. Thanks

[2018-02-19 11:51] fkhadra commented on #117
@realneeraj `toast.success("Logged in successfully !")` will never works.

When the toast function is called, the `ToastContainer` will call `setState`, in the meantime you are calling `setState({ redirect: true })` which unmount the ToastContainer.

This is why we get:

Please check the code for the ToastContainer component.

Instead of putting `ToastContainer` inside each route component, put it

[2018-02-19 12:07] realneeraj commented on #117
Thanks for being a great help @fkhadra

That solution makes more sense!

[2018-02-19 12:10] fkhadra commented on #117
You are welcome @realneeraj. @ricardojrgpimentel you were encountering that error probably for the same reason. I'll close the issue. Feel free to create a new one is the issue is not related.

[2018-02-19 12:10] #117 closed

[2018-02-19 14:26] ricardojrgpimentel commented on #117
Sorry for the late answer, i moved the ToastContainer to the router component parent to fix it, like you said in the last comment.

[2018-02-19 14:40] SaeedSheikhi commented on #133
Hi,  having the same issue

using:
react@16.2.0
react-toastify@3.3.4
glamor@2.20.40

[2018-02-19 17:17] marios50 opened #137 "Notification not appearing"
Imported:
import { ToastContainer, toast } from 'react-toastify';

and called toast("some text");

But I cannot get the notification? Missing something obvious?

[2018-02-19 17:25] rezmoth commented on #135
Seems to be working, yes, if the update is too fast (which it is) I won't see the first toast, but placing a breakpoint and continuing executing it does show both toasts (for verifying purposes). Thanks

[2018-02-19 18:39] #137 closed

[2018-02-19 18:57] fkhadra commented on #135
Thank you @rezmoth for the feedback. @maxchehab I close the issue, if yours is still not fixed, feel free to open a new one.

[2018-02-19 18:57] #135 closed

[2018-02-19 19:04] fkhadra commented on #137
Hey @marios50,

You found how to fix your issue?

[2018-02-19 19:05] marios50 commented on #137
Hi,

Yes it was an issue on my rendering :)

[2018-02-19 19:07] fkhadra commented on #133
Hello @mkrds,

Thanks for sharing your experience. I'll rollback to the old animation for the next minor release.
Probably this week or the next one.

[2018-02-19 19:08] fkhadra commented on #137
Perfect 😄

[2018-02-20 16:05] merrilj commented on #136
Hi @fkhadra,

Thanks for the input, that's exactly what I'm trying to do. I'll look into it!

[2018-02-20 22:13] merrilj commented on #136
Hi again @fkhadra,

So I figured out the user specific issue (thanks for the help), but I have another question:
The toast component only displays on browser focus. If I'm not actively visiting the page when the socket comes through, the dev tools show logs, etc., but the toast doesn't show until I visit the page again where it dumps a ton of previous notifications at once.

Is there an option for

[2018-02-21 07:26] fkhadra commented on #136
Hello @merrilj,

The notification only shows up when the document is active. I'll add a way to opt-out for the next release.

[2018-02-21 15:59] merrilj commented on #136
Sounds great, thanks!

[2018-02-21 15:59] #136 closed

[2018-02-22 13:01] realneeraj commented on #4
@fkhadra
toast.success() dont seem to fire up in my react-redux project when I successfully login. Could you please help?

When API returns 401, toast.error() works fine. But when API return 200, I'm doing a route change to /dashboard. That's when toast.success('You have been logged in successfully!') does not seem to fire up.

development branch - https://github.com/realneeraj/react.git

[2018-02-22 13:11] fkhadra commented on #4
@realneeraj sure. I'll have a look later on when I'm back from work.

[2018-02-22 13:47] realneeraj commented on #4
Thank you!

[2018-02-22 15:15] SaeedSheikhi commented on #111
Hello @GaudamThiyagarajan

i think you are involved with hard coding,
previously i was working with redux thunk and axios upload progress event listener,  toastify could intergrate with that in an awesome super easy way.

it's better to take this approach
in your action func

[code]

and then move your if statement in [componentWillUpdate](https://medium.com/@baphemot/understanding-reactjs-compone

[2018-02-22 15:25] GaudamThiyagarajan commented on #111
**@SaeedSheikhi**  thanks for the suggestion let me check.
 **@fkhadra**  will update to version you specified and let you know if it works.
Sorry Im currently busy working on something else right now.

Thanks for your help guys

[2018-02-22 20:29] fkhadra commented on #4
@realneeraj on login success, the ToastContainer is calling `componentWillUnmount`:
<img width="662" alt="screen shot 2018-02-22 at 21 13 43" src="https://user-images.githubusercontent.com/5574267/36562057-030623f2-1816-11e8-91b6-7997babe5bb4.png">
Inside ToastContainer's  `componentWillUnmount` I clean all events listeners.

There is something that I don't understand:
- `componentWillUnmount` is

[2018-02-23 05:08] realneeraj commented on #4
I'm pretty new to React and I'm not really sure I understand it well though.

I had just following your anwser here https://github.com/fkhadra/react-toastify/issues/117 - to put <ToastContainer /> in App level. Is it because of this that even after componentWillUnmount is called, the component is still mounted (I'm just suspecting and I can we completely wrong here).

[2018-02-23 05:46] realneeraj commented on #4
@fkhadra - My bad brother. I had accidentally placed another <ToastContainer /> in the Login.js Component. Removing it solved the issue. All is well now.

Really appreciate your kind responses and help. react-toastify is a great piece of code.

Thank you once again! Cheers :)

[2018-02-23 14:58] johlrich opened #138 "custom closeButton element does not close toast"
If you disable `closeOnClick` and supply a custom element to `closeButton`, then you can see that the button will not actually close the toast. When inspecting the virtual dom it appears the `closeToast` function is being placed on a `closeToast` prop instead of `onClick` on the custom element.

You also get the following warning in the console:

Here's a minimal repro showing the issue:
[![Edit l

[2018-02-23 15:13] fkhadra commented on #138
Hello @johlrich,

Thanks for the feedback, appreciate.

I modified your sample to make it works. You have to pass a component instead of a node.
Inside your component, you need to bind `closeToast` to the event of your choice to close the toast.

The prop is not called `onClick` but `closeToast` for consistency, one can decide to close the toast by filling an input for instance.

[![Edit x9pqp6j37

[2018-02-23 15:25] johlrich commented on #138
Makes sense! Thanks again for the feedback and library.

[2018-02-23 15:25] #138 closed

[2018-02-25 11:44] colinricardo opened #139 "Toast shows behind modal"
I'm using a [modal](https://reactstrap.github.io/components/modals/), with a `zIndex` of `1000`. I have a toast as follows:

[code]

However, the toast shows behind the modal:

<img width="507" alt="omdal" src="https://user-images.githubusercontent.com/21294951/36641019-2c3e4008-1a21-11e8-9b19-3906d2539071.png">

The component hierarchy is:

[code]

The `<Toaster />` component is just a wrapper fo

[2018-02-26 18:55] fkhadra commented on #139
Hello @colinricardo,

Which version are you using? Regarding the modal, could you give me the options you uses so I can reproduce the issue?

Thanks

[2018-02-27 14:00] colinricardo commented on #139
The relevant versions are:

[code]

I've since changed my code, but I was just using a basic toast as shown above, and had it open on the same page as a [basic modal](http://reactstrap.github.io/components/modals/). Sorry for the lack of details!

[2018-02-27 14:42] fkhadra commented on #139
Thanks for the input @colinricardo:

I made a sandbox but I can't reproduce the issue. Could you modify it?

[![Edit vmkykx6817](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/vmkykx6817)

I removed the autoClose on toast voluntary. So first, I display the toast then the modal. Could you share your scenario? Thanks a lot

[2018-02-27 14:51] colinricardo commented on #139
Strange, I can't reproduce, even when I introduce multiple components. I'll close this for now, and if it crops up again I'll include steps to reproduce. Thanks!

[2018-02-27 14:51] #139 closed

[2018-02-27 16:53] tjacks3 commented on #130
I am also running into the same issue. I tested your code in the sandbox and it seems to work but, I cannot get my implementation to work.

`toast.success("City found!",{
autoClose: 3000
});`

[2018-02-27 17:27] sushmit-oodles opened #140 "How to style different toast types globally ?"
`   // Verification email sent
    if (status === 'checkMail') {
      toast.success('Please check your email', {
        className: {
          color: '#343a40',
          minHeight: '60px',
          borderRadius: '8px',
          background: '#2FEDAD',
          boxShadow: '2px 2px 20px 2px rgba(0,0,0,0.3)'
        },
        progressClassName: css({
          background: '#007aff'
        })

[2018-02-27 17:46] fkhadra commented on #140
Hello @sushmit-oodles,

It can be done easily with your own implementation as follow:

[![Edit v0lpr78prl](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/v0lpr78prl)

Cheers

[2018-02-27 17:46] #140 closed

[2018-02-27 17:48] fkhadra commented on #130
Hello @tjacks3,

Could you share your project if it's public? If not, could you share more details like the component where you mounted `ToastContainer` and the options you use.

Thanks

[2018-02-27 18:13] sushmit-oodles commented on #140
thanx it works. just one more thing is there any way to overwrite close button's css also ? some how in my code the close button is little lower because of inherited line height. if i inspeact from dev tools and give it line height:1 then it moves little up where it should be as usual. so i was wondering if i could change line height property somehow instead of rendering custom component for close

[2018-02-27 18:13] tjacks3 commented on #130
Hello the current project is private. I mounted the `ToastContainer` inside of the my `apps.js` file. I am calling the `toast.success();` inside of one of my containers/components.

[2018-02-27 18:28] fkhadra commented on #140
You're welcome.
For the close button you need to create your own for the moment. I updated the sanbox example.
You can set the `closeButton` globally or per toast

[2018-03-01 02:07] k-funk opened #141 "Use with no generated styles"
Is there any simple way to remove all inline styles?

I'd like to use only scss/classNames with no styles in .js (including the container border-radius and success/error/etc colors), but it seems like the only way to do that is a bunch of overrides using `import { style } from 'react-toastify';`, which doesn't help with styling the toastContainer.

[2018-03-01 07:54] fkhadra commented on #141
Hello @k-funk,

The library is not using inline style but styled component. Only the needed css is injected.
So if for example, you do the following:

[code]

The border radius will be added to the generated css class.

[2018-03-01 09:45] k-funk commented on #141
Sorry, I meant generated styles. Is there a way that I can remove all generated/injected styles so that I can use purely css + and css classes for styling (no styles in js)?

[2018-03-01 10:06] fkhadra commented on #141
Not for the moment but I think that I'll think about adding a way to choose which implementation suits your needs.

[2018-03-01 15:22] jeron-diovis commented on #141
Also, it would be nice to have props for defining css classes for different toast types.
Or, maybe, ability to make ToastContainer to render custom Toast component – so developer can wrap standard `Toast` and provide `className` based on `type` prop.

[2018-03-01 15:28] fkhadra commented on #141
got your idea @jeron-diovis.

For the moment one could do the following instead of using toast directly:

[code]

I'll take some time to review the internal implementation

[2018-03-04 02:28] eddiedozier commented on #130
I'm having the same exact issue with **autoClose**. Everything else seems to work except **autoClose**.

[2018-03-05 10:35] masdaff opened #142 "No longer works after spotify update"

[2018-03-06 05:05] fkhadra commented on #142
I don't see the link between spotify and the lib... Could you give more details?

[2018-03-06 17:04] #118 closed

[2018-03-06 17:06] fkhadra commented on #130
Are you using multiple `ToastContainer` ?

[2018-03-09 16:59] fkhadra commented on #128
Hello @SaeedSheikhi,

Rtl support is available with v3.4.0. Check the [doc](https://github.com/fkhadra/react-toastify#right-to-left-support) to enable it.

Cheers.

[2018-03-09 16:59] #128 closed

[2018-03-09 18:42] SaeedSheikhi commented on #128
Hello @fkhadra

unfortunately issue is still remaining
├─ react-toastify@3.4.0
├─ react@16.2.0
[code]
![ezgif-4-d0b4c5010b](https://user-images.githubusercontent.com/30556349/37223718-a1e40fda-23e6-11e8-93d2-7152740f7eb4.gif)

[2018-03-10 11:29] hemanth7787 commented on #130
Yup,  in older versions of react this don't works.
Example i used react and react-dom 0.14.3  (tutorial stuff)  and it dont autoclose.

[2018-03-10 14:24] fkhadra commented on #128
Hello @SaeedSheikhi,

I'm not able to reproduce the issue. I also tested on different mobile without the emulator, it works as expected.

There may be a css rule somewhere that break the rendering.

[2018-03-10 17:55] SaeedSheikhi commented on #128
Hello @fkhadra

i reproduce the issue,
body direction should be rtl, in index.html
and here is where direction breaks the rendering

[SandBox - RTL](https://codesandbox.io/s/2oym5l1w6n)

[2018-03-11 05:30] fkhadra commented on #128
Thanks @SaeedSheikhi, I'll have a look and get back to you

[2018-03-11 05:48] fkhadra commented on #128
@SaeedSheikhi I'm inexperienced with rtl layout I forgot to put `direction: rtl` on the body. Now I clearly see the issue.

The fix is coming.

[2018-03-11 13:05] crabicode commented on #141
@fkhadra Nope, the example above does not solve the problem referenced by @k-funk. The problem is that `glamour` injects css right after the app main `stylesheet.css`. That way glamour's styles override the application styles. The lib does everything I need but having no option to disable glamour brings problems :(

[2018-03-11 18:23] jeron-diovis commented on #141
@crabicode I ended up with this:

[code]

Quite rough and simple. Anyway I don't need *anything* from default styles.

[2018-03-12 22:16] SaeedSheikhi commented on #128
#145 Great work @fkhadra
Thanks, it's now perfectly compatible with rtl.

Cheers

[2018-03-13 09:40] fkhadra commented on #141
Hello,

Sorry for the late reply. @crabicode does the solution of @jeron-diovis solve your issue?
@jeron-diovis thanks for the solution btw.

[2018-03-13 13:48] crabicode commented on #141
@fkhadra, @jeron-diovis example is good workaround. But I certainly beilieve the lib would require opt-in for using glamour (at least for message styling, not container). One could also use `!important` but it feels a bit hacky.

[2018-03-13 16:17] fkhadra commented on #141
@crabicode I totally agree with you. I will work on it. You are not the first asking for that kind of feature.

[2018-03-13 16:40] fkhadra opened #146 "[POLL]: Remove glamor and switch back to css?"
[![](https://api.gh-polls.com/poll/01C8G3N0TBJ6D5XE8DDSYZWVHN/Yes%2C%20remove%20glamor%20and%20get%20back%20to%20css)](https://api.gh-polls.com/poll/01C8G3N0TBJ6D5XE8DDSYZWVHN/Yes%2C%20remove%20glamor%20and%20get%20back%20to%20css/vote)
[![](https://api.gh-polls.com/poll/01C8G3N0TBJ6D5XE8DDSYZWVHN/No%2C%20keep%20glamor)](https://api.gh-polls.com/poll/01C8G3N0TBJ6D5XE8DDSYZWVHN/No%2C%20keep%20glamo

[2018-03-15 15:03] albert-olive opened #148 "Uncaught Error: The element you provided cannot be rendered."
Hi,

I'm having this error after one toast has been shown:

[code]

In ```App.js``` I do this:

[code]

and the render:

[code]

Thanks

[2018-03-15 16:22] fkhadra commented on #148
Hello @albert-olive,

The issue is coming from here I guess:

[code]
It looks like `nextProps.errorMessage` is undefined. Could you check it?

[2018-03-15 16:36] albert-olive commented on #148
Hi, thank you for the response. No, it's always a text. Don't know why I'm having this error. I have checked all the documentation and seems correct

[2018-03-15 17:21] fkhadra commented on #148
Hmm strange. The test that fail is the following:

[code]

To be sure could you do:

[code]
Just to be sure that nothing strange happend on your side.

[2018-03-15 19:08] fkhadra opened #149 "Provide more built-in transition for entrance and exit"
One will be able to choose one of the following transition:
- bounce(default one)
- slide
- zoom
- fade
- flip

[2018-03-15 19:09] #142 closed

[2018-03-15 19:38] AndreiCalazans opened #150 "Jest test"
While trying to test my component using Jest, I'm getting this error from ToastContainer.

[code]

The error happens exactly when we create a toast event
`this.alertBox = toast('Loading...', { autoClose: false });`

Any ideas how we can overcome this?

[2018-03-15 20:47] AndreiCalazans commented on #150
Well for it to work I mocked the library, I don't  know if that is the best way to go.

[2018-03-16 07:39] albert-olive commented on #148
Yes, errorMessage is always a string. Also I have checked if it's undefined. I have notice that the first time I don't have that error.

One question, what's content?

Thanks

[2018-03-16 07:51] albert-olive commented on #148
Ok, yes I have checked properly If error is undefined. I had a weir case that happens. So I close the issue. Thanks for your support

[2018-03-16 07:51] #148 closed

[2018-03-17 13:18] fkhadra commented on #133
Hey,

I made some changes regarding the animation. Could you tell me if it's better for you now?

Thanks

[2018-03-17 14:17] sriksm19 opened #151 "Position centered toasts shifting towards the right in mobile screens"
after the latest update, the position centered toasts seems to have shifted to the right, probably due to overriding of the margins (`margin-left: -160px` gets overridden by `margin: 0` with media query). better use `transform: translateX(-50%);` instead

[2018-03-17 14:39] fkhadra commented on #151
Indeed the bug was introduced because of my laziness

[2018-03-17 16:21] fkhadra commented on #151
The fix is live

[2018-03-17 16:21] #151 closed

[2018-03-19 11:24] Ky6uk commented on #146
I think an imposing the only one CSS-in-JS solution is a bad idea in 2018. There are a lot of existing different solutions including the old-way CSS files which every developer should be free to choose byself.

[2018-03-19 12:15] fkhadra commented on #146
Hey @Ky6uk,

Could you share an example of others solutions? I'm open to everything.

[2018-03-19 14:01] Ky6uk commented on #146
@fkhadra I meant CSS-in-JS solutions. There are a lot of them. [`styled-components`](https://www.styled-components.com/), [`JSS`](http://cssinjs.org/), [`aphrodite`](https://github.com/Khan/aphrodite), etc. And every developer should be able to use any of them without an imposing by third-party libraries.

For example I got collisions when I tried to use my own classnames with `react-toastify`. In

[2018-03-19 14:36] Ky6uk commented on #146
I am not well-good with css-in-js libraries itself. I think including a some kind of css files is still the best solution. Developer will be able to make a decision to include that built-in style in his project or use his any other solution (including any of css-in-js libraries).

[2018-03-19 14:58] fkhadra commented on #146
Using css like it's done with react-virtualized seems to be the best choice. It also removes a dependency.

The only drawback I guess is that end users gonna need to import the style file. Anyway, I don't think it's a big deal.

[2018-03-19 15:05] Ky6uk commented on #146
Yeah, I think so. You can always bump the major version's number because this is will the breaking change.

[2018-03-19 15:24] fkhadra commented on #150
Hey @AndreiCalazans ,

Could you share the test?

Thanks

[2018-03-19 15:26] #116 closed

[2018-03-19 16:22] merrilj opened #153 "How to opt out of toast only rendering on active document"
Hi there,

I noticed a few releases since your last comment in #136 so I'm checking back to see if the support was added to opt out of toasts only being rendered when document is active.

Thanks!

[2018-03-19 17:21] fkhadra commented on #153
I forgot to merge the branch whith that feature xD

[2018-03-19 19:21] ashok-sc opened #154 "react-toastify does not appear about react-modal"
Hi there,

I'm using react-toastify and react-modal. When the react-modal is open, it sets a black, transparent overlay to hide the other contents of the div. This is fine, except that it also hides the react-toastify component. I've seen other issues on here with other modal components, but none of them have a solution - they all just magically worked. Is there a way to force the react-toastify t

[2018-03-19 19:41] fkhadra commented on #154
Hey @ashok-sc,

Most of the time it's a z-index issue. Have you tried to change the value of the z-index property ?

[2018-03-19 20:11] ashok-sc commented on #154
Hi Fadi,

Yeah the z-index of the modal was super high so I set toasts z-index to
something higher.

On Mon, Mar 19, 2018 at 12:41 PM, Fadi Khadra <notifications@github.com>
wrote:

--
Ashok Raju

[2018-03-19 20:12] fkhadra commented on #154
@ashok-sc ok even when setting the zindex you still have the issue?

[2018-03-19 20:21] ashok-sc commented on #154
Oh no, sorry I wasn't clear. That fixed the issue. react-modal uses 999999
as the z-index. So I just set my z-index for ToastContainer to 1 higher and
it works.

Thanks!

On Mon, Mar 19, 2018 at 1:12 PM, Fadi Khadra <notifications@github.com>
wrote:

--
Ashok Raju

[2018-03-19 20:39] fkhadra commented on #154
Perfect 👍 You're welcome

[2018-03-19 20:39] #154 closed

[2018-03-19 23:09] AndreiCalazans commented on #150
I can't share it, I was able to work around it by completely mocking react-toastify. At the end that was the best approach for me including for testability.

You should be able to reproduce it by simply using the versions below then running some component rendering it using react-test-renderer.

"react-toastify": "^3.3.5",
"jest-cli": "^20.0.4"

I'm using toast as follow.

**Method inside componen

[2018-03-21 22:35] joetidee opened #155 "How does rect-toastify work?"
I have worked with Toast libraries before that use Redux. It is easy to envisage the ToastContainer subscribing to the store to be auto-updated with new toasts. But, I cannot see redux being used in this library, so how does it work?

[2018-03-22 06:12] fkhadra commented on #155
Hello @joetidee,

React-toastify use a dead simple pubsub. So-called [`EventManager`](https://github.com/fkhadra/react-toastify/blob/master/src/util/EventManager.js). It has 3 methods:
- on
- off
- emit

When the `ToastContainer` is mounted, it listens to 2 events, the callback relies on `setState`, there is no `forceUpdate` or any other evil stuff:
- SHOW: tell the container that we need to rende

[2018-03-22 15:17] fkhadra opened #156 "Add documentation to wiki"

[2018-03-23 13:18] joetidee commented on #155
Thanks for the explanation. Does EventManager set any window event listeners?

[2018-03-23 13:47] fkhadra commented on #155
No, the EventManager use only custom event. There is only one DOM event used, it's the `visibilitychange`. This one is used to pause the pause when the window is not visible.

[2018-03-23 14:56] fkhadra opened #157 "Remove glamor in favor of css"

[2018-03-25 17:49] #155 closed

[2018-03-25 17:52] fkhadra opened #158 "Upgrade to webpack 4"

[2018-03-27 13:32] Zukye commented on #134
Any updates on this? I could use a functionality like this as well.

[2018-03-27 13:47] fkhadra commented on #134
Hello @Zukye,

I'm looking for a way to provide such functionality for the next major release. The library will also switch from glamor to css. Doing so, it will be easier to customize the components to fit your needs.

[2018-03-27 13:48] Zukye commented on #134
awesome! Thanks for the quick reply :)
That's good work you doin!

[2018-03-27 17:16] fkhadra commented on #134
Thanks appreciate

[2018-03-28 12:19] digitaloutback opened #159 "Add ability to touch-slide the toast to dismiss"
Much like the example here https://react-materialize.github.io/#/toast

[2018-04-02 20:17] nbcnc commented on #146
I agree, move back to normal stylesheets or scss.  I get that glamour's the cool kid but how are we supposed to override or extend from react-toastify when the classes are meaningless?

Here's an example of what Webpack does to a react-toastify after its stylesheet is imported:

<img width="223" alt="screen shot 2018-04-02 at 4 03 50 pm" src="https://user-images.githubusercontent.com/27741514/3821

[2018-04-03 11:28] fkhadra commented on #146
Hey @nbcnc,

Thanks for your feedback. I expect to launch the v4 this week if everything goes well. The v4 switch back to css.

[2018-04-03 12:21] nbcnc commented on #146
great to hear @fkhadra  thank you!

[2018-04-03 20:31] Zequee98 opened #160 "Is there a callback?"
Hello, my question is this:
Does this have a callback? I need to click to redirect me to another page

    notify () {
        toast.error(
            <spam><i className="fa fa-exclamation-circle" style={{ fontSize: 20, marginLeft: 10 }} />
                <spam style={{ marginLeft: 10, fontSize: 10 }}> Error en un servicio </spam>
            </spam>, {
                className: ({

[2018-04-03 21:48] fkhadra commented on #160
Hello @Zequee98,

You can add callback when the toast `open` and when it `closes`. [Define callback](https://github.com/fkhadra/react-toastify#define-hook).

Is it what you are looking for ?

Thanks

[2018-04-04 12:10] Zequee98 commented on #160
Yes, but I need it to be when I click on the notification and redirect to another page.
I do not want to be redirected when I open or close the notification!
:+1:
Thanks

[2018-04-04 13:13] fkhadra commented on #160
Why not simply put a `onClick` event on your component like so:
[code]

[2018-04-04 13:26] Zequee98 commented on #160
What a teacher! Thank you!!
:+1:

[2018-04-04 13:36] fkhadra commented on #160
You're welcome

[2018-04-04 13:37] #160 closed

[2018-04-05 21:55] fkhadra commented on #159
Work in progress
![swipe](https://user-images.githubusercontent.com/5574267/38393921-bf12c280-392c-11e8-97a0-6ed6e8c8e7b2.gif)

[2018-04-09 09:30] petewilkins commented on #146
Hey @fkhadra, is this still planned to be released this week?

[2018-04-09 09:52] tangnv commented on #130
Yeah, I have the same problem too.
I used react and react-dom `0.14.8`. It doesn't work.
[![Edit 4qrom4932w](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/4qrom4932w)

[2018-04-10 21:39] gnimmelf commented on #157
You probably have an idea on what you wanna do, but thought I'd just drop in what I did to match toast-colors to [Bootstrap v4 vars ](https://getbootstrap.com/docs/4.0/getting-started/theming/#css-variables)

[code]
Thanks for a great component!

[2018-04-12 10:30] LouisCuvelier opened #162 "Weird exit animation"
Firstly, thanks for this awesome lib ! 💯

But, I'm encountering a problem : the exit animation is weird. You can see it in the video below. It's on mobile, but it's the same on desktop.
https://drive.google.com/file/d/1VH_tdyiD25jhgb6Zg99WAqGOXx1PUIF4/view?usp=sharing

I'm using :
[code]

Thanks in advance for your help.

[2018-04-12 10:33] fkhadra commented on #162
Hello @LouisCuvelier,

Animations are getting fixed in the v4 coming this week(Everything is ready but the documentation). I'll close the issue when I release the v4 :).

Thanks.

[2018-04-12 11:30] ravisyaniya commented on #89
- [ ]

- [ ]

- [ ]

- [ ]

- [ ]

- [ ]

- [ ]

- [ ]

- [ ]

- [ ]

[2018-04-12 16:35] nick264 opened #163 "Fixed positioning"
It would be useful to expose an easy way to position toasts relative to the viewport (so that they are visible even if the user has scrolled down).

There are situations where a user might interact with the UI after scrolling, triggering an update without a page refresh. In that case, users can't see toasts.

Maybe I've missed an easy way to do this? Setting "position: fixed" on the toastcontainer

[2018-04-12 17:12] nick264 commented on #163
Never mind. The positioning in my case was being caused by flex properties on the parent container. I see that the default behavior is fixed positioning.

[2018-04-12 17:12] #163 closed

[2018-04-14 16:35] fkhadra opened #164 "[UPLOAD] animation"
![bounce](https://user-images.githubusercontent.com/5574267/38770379-985f49c8-4012-11e8-9db1-5d4d1f26a3d5.gif)
![flip](https://user-images.githubusercontent.com/5574267/38770380-9877dde4-4012-11e8-9485-0dc43346ce30.gif)
![slide](https://user-images.githubusercontent.com/5574267/38770381-98a81d24-4012-11e8-8011-1190f3fb17c3.gif)
![zoom](https://user-images.githubusercontent.com/5574267/38770382-98c

[2018-04-14 16:36] #164 closed

[2018-04-14 16:50] fkhadra commented on #164
![draggable](https://user-images.githubusercontent.com/5574267/38770523-9438ff7c-4014-11e8-93a5-acd7dbdae52b.gif)

[2018-04-14 19:50] goenning commented on #146
I just found this package and got surprise by its size (60kB minified). It seems like glamour is responsible for 50% of it:

[code]

I totally agree with this change and curious to see numbers of v4! Great work @fkhadra  👍

[2018-04-14 19:57] fkhadra commented on #146
@goenning
<img width="478" alt="screen shot 2018-04-14 at 21 54 42" src="https://user-images.githubusercontent.com/5574267/38772067-8bb29cc2-402e-11e8-9974-94bbfd59c32b.png">

If I refer to Webpack output 30kB minified and around 8kB gzipped. I think that I could reduce the size if I remove my custom prop-types.

[2018-04-14 20:52] fkhadra commented on #146
You can already test the v4:

[code]
 Feedback is welcome

[2018-04-15 09:13] #158 closed

[2018-04-15 09:27] fkhadra commented on #130
Thanks for the sample. I don't support react 0.14 but I'll definitely have a look and try to fix the issue.

[2018-04-15 10:14] #156 closed

[2018-04-15 10:15] fkhadra commented on #141
I released the v4. I switched back to css.

[2018-04-15 10:15] #141 closed

[2018-04-15 11:50] goenning commented on #146
@fkhadra I believe you forgot to push the css to the NPM package, I just got this:

`Module not found: Error: Can't resolve 'react-toastify/dist/ReactToastify.css'`

[code]

[2018-04-15 12:10] fkhadra commented on #146
@goenning holy ... you're right. I'm on it.

[2018-04-15 12:15] fkhadra commented on #146
@goenning Fixed. Thanks for that.

[2018-04-15 16:08] goenning commented on #146
@fkhadra It's working now! Thanks for quick reply. I got a total reduction of 23kB on this version, css (increased by 7kB).

 I'll continue using rc version and let you know if I find something else 👍

[2018-04-16 07:28] SDSLeon opened #165 "Statements are not allowed in ambient contexts"
![image](https://user-images.githubusercontent.com/6071034/38795403-ceeabf82-4160-11e8-9c41-f745ec016085.png)

Typescript version 2.8.1
toastify version 4.0.0-rc2

[2018-04-16 07:35] fkhadra commented on #165
@SDSLeon I published the fix. Is there any way to test a definition file with typescript ?

[2018-04-16 08:15] SDSLeon commented on #165
@fkhadra

import { Slide, Zoom, Flip, Bounce } from 'react-toastify';

also should be added to index.d.ts;

![image](https://user-images.githubusercontent.com/6071034/38797542-7ec05ac4-4167-11e8-9d67-cc9760595dc8.png)

[2018-04-16 08:30] fkhadra commented on #165
@SDSLeon thanks a lot:

Is that ok if I do the following for each component:
[code]
I'm a typescript noob btw

[2018-04-16 09:06] SDSLeon commented on #165
@fkhadra

1. In CommonOptions we have
`transition?: Transition;`
We need to change it to:
`transition?: React.ComponentType;`

and now
`export const Slide: React.ComponentType;
`

So now transition will expect
`ComponentClass<P> | StatelessComponent<P>`

So now we can pass custom animation like this
![image](https://user-images.githubusercontent.com/6071034/38799942-89a5cd82-416e-11e8-9ea6-c8f5d54

[2018-04-16 09:24] tzookb opened #166 "change position of top right"
Hey :)

awesome package 👍
cant wait for version 4 haha

quick question, can I change the position of "top right" from:
[code]

I saw the css rule but I think the class name is dynamic

any ideas?

Thanks!

[2018-04-16 09:43] fkhadra commented on #166
Hey @tzookb ,

Thank you. The current version is already the v4.0.0.rc-3(need to fix some bug). If you do the following inside your css file it should work for you:

[code]

[2018-04-16 10:26] fkhadra commented on #165
@SDSLeon thanks a lot for your help, I appreciate.

I published the fix, I hope this time it's ok 😀

[2018-04-16 10:26] fkhadra commented on #166
@tzookb I forgot to ask, which version are you using?

[2018-04-16 10:29] tzookb commented on #166
just wanted to start :)

Im now using

[code]

[2018-04-16 10:33] fkhadra commented on #166
@tzookb ok so the v3 is based on glamor if you want to change the position you have to do that:

[code]

If you upgrade to v4 I'm back to regular class so just modify the css file or override like that:

[code]

There you go 😁

[2018-04-16 10:37] tzookb commented on #166
Thanks @fkhadra

I dont wanna add glamour :/

using `styled-components` :)

can you tell what do I need to change on package.json to make sure Im on V4 ?

Thanks

[2018-04-16 10:41] fkhadra commented on #166
you are welcome.

@tzookb do the following to upgrade:

[code]
It's still a release candidate, the api won't change normally. Just some bugfix

[2018-04-16 10:55] SDSLeon commented on #165
@fkhadra excellent. For me all works as expected right now.

[2018-04-16 10:57] tzookb commented on #166
<img width="1431" alt="screen shot 2018-04-16 at 13 57 14" src="https://user-images.githubusercontent.com/3749973/38805334-1b071178-417e-11e8-92de-2b2b944add4c.png">

this is what I get.... any ideas?

[2018-04-16 10:58] tzookb commented on #166
<img width="1440" alt="screen shot 2018-04-16 at 13 58 05" src="https://user-images.githubusercontent.com/3749973/38805363-373e325e-417e-11e8-8185-2ebb096cf310.png">

this is what I get.... any ideas?

[2018-04-16 11:01] tzookb commented on #166
resolved :)

[2018-04-16 11:01] #166 closed

[2018-04-16 11:24] fkhadra commented on #165
Thanks again

[2018-04-16 11:24] #165 closed

[2018-04-16 14:57] ilovebeatles commented on #47
@emadow Can you please share your fix? I've stuck with this too.

[2018-04-17 14:57] megelismi commented on #140
@fkhadra  How do you style default toast using this construct? I tried the following. All of the rest work, but I got 'Uncaught TypeError: (0 , _toastify.toast) is not a function' when trying to render the default.

`export default {
    // Keep the signature of the original toast object
    // Doing so you can pass additional options
    success(msg, options = {}){
        return toast.success(ms

[2018-04-17 19:15] fkhadra commented on #140
Hello @megelismi,

Could you tell me which version you are using?
For the default notification you just need to do as follow:

[code]

This is what you are looking for?

[2018-04-19 19:38] hyperh commented on #52
Same issue.

I dont have `react-transition-group` in my npm dependencies. I already have `react-addons-css-transition-group` in my npm dependencies.

[2018-04-20 17:35] fkhadra commented on #130
Hello,

React v0.14 don't implement `ontransitionend` event. The event is available since react v0.15.

Are you not planning to upgrade?

[2018-04-20 19:04] #111 closed

[2018-04-23 11:50] SC7639 opened #169 "Parceljs Hot Reloading causing Toast Not To Show"
When using parcel js and Toast has been shown once then hot reloaded no toast is displayed and the below is shown in the console
[code]

[2018-04-23 11:51] fkhadra commented on #169
Hello @SC7639 ,

I never used parcel. Could you share a snippet on codesandbox ?

Thanks

[2018-04-24 13:00] Burlik commented on #134
Was this functionality (several ToastContainer) added in version 4? Thanks.

[2018-04-24 13:02] fkhadra commented on #134
hello @Burlik,

Not yet, unfortunately.

[2018-04-24 20:32] prmichaelsen opened #170 "Styles defined by classes seem to be overridden by cx"
If I create my toast like so:
[code]
with scss
[code]

The final resulting Toast has my styles applied and then the `Toastify__toast` style applied on top of that.

[2018-04-24 20:49] fkhadra commented on #170
Hello @prmichaelsen,

classNames library preserve css order. In the sample below, the class `foobar` is applied last:
[![Edit mzk8zkj9l8](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/mzk8zkj9l8)

Can you try to replicate the issue on codesandbox?

Thanks

[2018-04-24 21:31] prmichaelsen commented on #170
Hello @fkhadra, thank you for the fast response. I will try to recreate the issue for you by EOD

[2018-04-24 21:50] prmichaelsen commented on #170
Here is a code sandbox:
[![Edit oqz4xkw3o9](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/oqz4xkw3o9)

I added the `border-radius` attribute to the css for `foobar`. I applied the class to both `className` and `bodyClassName` options and saw results with neither.

[2018-04-25 04:48] fkhadra commented on #170
Hey @prmichaelsen,

Thanks for the feedback. The file `style.css` was loaded before `ReactToastify.css`, you need to load `ReactToastify.css` first:

[code]

[![Edit nnkpxor770](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/nnkpxor770)

[2018-04-25 17:40] prmichaelsen commented on #170
Ok, I see that you are correct. Thank you again for the help.

[2018-04-25 17:40] #170 closed

[2018-04-25 18:26] Gaabe opened #171 "Option to not pause autoclose when page is in background"
I searched through the documentation and examples, but didn't find an option to keep the autoclose timer running when the window is in background. Is such option implemented yet? If not, it would be an interesting feature

[2018-04-25 18:30] fkhadra commented on #171
Hey @Gaabel,

I think that you are looking for the `pauseOnVisibilityChange` props. It's only documented on in the api section of ToastContainer [here](https://github.com/fkhadra/react-toastify#toastcontainer).

I'll add more details to the documentation regarding this feature.

[2018-04-27 13:33] ApolloGun opened #172 "Making toasts take up full width on mobile devices when scale less than 100%"
Would it be possible to change the width of mobile toasts to account for situations where the document.body.style.zoom is set to less than 100%? For example, setting it to 65% causes the toast to only take up only 65% of the total width available and can look quite awkward. I'm not sure if there's a better solution, but I was able to fix the issue by just by setting the width to 200vw.

[2018-04-27 23:22] bioslikk opened #173 "Is it possible to change the width and absolute position of the toast"
I have a sidebar on the left and I want the toasts to show on the bottom-left as well but as if they are inside the sidebar. The toasts are wider, have padding and a different position than the one I would like. I still want the toast on the bottom-left position, but is it possible to change that position and size of toast just a little bit ?

[2018-04-29 10:25] fkhadra commented on #173
Hello @bioslikk,

Did you try to override the default css rules?

[2018-04-29 10:36] fkhadra commented on #172
Hello @ApolloGun,

On mobile, the toast width is set to ```100vw```. I have to figure it out why the width is not recalculated when the document scale change. For the moment, you can override the css rules to fix your issue:

[code]

[2018-04-30 19:46] jorgecuesta opened #174 "Sound feature?"
Hi, your component work perfect for me, thanks to share it with the world!
Just minor things, have some way to add sounds?

[2018-04-30 20:05] fkhadra commented on #174
Hey @jorgecuesta,

Thank for the support.😁

Check the sample:
[![Edit 4z6p980orx](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/4z6p980orx)

Don't forget to turn up the sound

[2018-04-30 20:53] jorgecuesta commented on #174
Thanks for the answer @fkhadra that was the same I does to implement it, I just was looking for a general implementation over TestContainer maybe? like something used by props that is used no matter if I pass callbacks to open/close.

[2018-05-02 11:00] andylaci opened #175 "different toast types class name"
it is hard to work with this lib, if not using glamor or whatever, global classes that can be set in container would be really nice

example:
[code]

it is really hard even to just remove that gay default color from white toast

[2018-05-02 11:05] fkhadra commented on #175
Hello @andylaci ,

Since the v4 glamor is not used anymore. The lib is back to css

[2018-05-02 11:12] andylaci commented on #175
@fkhadra thank you, this is perfect, now, it took me 10 sec to restyle it to my own need! good job!

_didn't notice, when the lib updated, I was little bit confused_

[2018-05-02 11:12] #175 closed

[2018-05-02 11:16] fkhadra commented on #174
Hey @jorgecuesta ,
I'll think about it for sure.

[2018-05-02 13:04] JoshRandall-Andculture opened #176 "TypeScript error on ToastContainer"
When we add the `<ToastContainer />` element in a .tsx file, we receive the error `JSX element type 'ToastContainer' does not have any construct or call signatures`

If we change the definition for the ToastContainer class in `index.d.ts` to include the `any` type for the component state it no longer throws that error.  Can this change be made in the repo and re-published to npm?

Doesn't work (cu

[2018-05-02 13:14] fkhadra commented on #176
@JoshRandall-Andculture  thanks for the feedback i'll do it now

[2018-05-02 13:15] JoshRandall-Andculture commented on #176
Awesome, thanks for the quick response @fkhadra!

[2018-05-02 14:04] fkhadra commented on #176
@JoshRandall-Andculture I published the v4.0.1. I had to fix a build issue in the mean time.

[2018-05-02 14:04] fkhadra commented on #176
I close the issue, feel free to tell if something else wrong.

[2018-05-02 14:04] #176 closed

[2018-05-02 17:46] jorgecuesta commented on #174
Thanks @fkhadra sorry my delay to answer you but here (Argentina) was long weekend 😄

[2018-05-03 16:30] kevde commented on #130
I have the same problem and my team doesnt plan to upgrade since there will be an amount of change in our codebase

[2018-05-09 15:05] fkhadra commented on #173
Hey @bioslikk ,

Did you solve your issue?

[2018-05-09 15:35] gtsiokos opened #177 "Custom toastId"
I keep a list of pending external API requests statuses with custom uuids on a reducer.
Each item updates the API call status from PENDING to SUCCESS or ERROR and i'm looking for a way to update the respective toast message to the resolved type.

 Is there a way to fire toast instances with custom uuids to be used later for updating its TYPE?

[2018-05-10 15:39] bioslikk commented on #173
Yes, thank you very much for your help.

[2018-05-10 15:39] #173 closed

[2018-05-11 18:01] fkhadra commented on #177
Hello @gtsiokos,

For the moment, the toast ids are handled by the library there is no way to pass a custom one. Maybe you could keep a map of the uuid associated to the correct toastId.

 If you can share a sample, maybe I'll be able to help you better.

[2018-05-15 06:18] bwoodlt opened #178 "How do I use this with Grunt?"
I'm having issues importing injecting css into my jsx as grunt doesnt like this. How do I get around this issue to use react-toasify successfully?

[2018-05-15 19:03] #177 closed

[2018-05-15 19:05] fkhadra commented on #174
Hello @jorgecuesta,

I'll close the issue for the moment. I'll create a new one if I plan to support this feature by default.
BTW thanks for the idea.

[2018-05-15 19:05] #174 closed

[2018-05-17 00:09] thousight opened #179 "Nodejs v10 compatibility"
I am running Nodejs v10, and react-toastify blocks me from installing it through yarn as it is compatible from v6 to v9. Please make sure it works with v10 and update the restriction on npm. Thanks

[2018-05-17 14:04] fkhadra commented on #179
Hello @thousight,

Are you running node v10 on osx ? If yes I encounter the same issue with every packages I tried to install using npm.

I got a weird output like:

[code]

To solve the issue I upgraded node to v10.1, then I upgraded also npm:

[code]

[2018-05-17 17:32] thousight commented on #179
Hmmm I am running node v10 on OSX. I tried your method by upgrading node and npm to the latest, and I tried installing react-toastify again. I found out that with npm it works, but not with yarn, yarn still blocks it.

[2018-05-17 20:30] Gaabe commented on #171
I tried setting the pauseOnVisibilityChange prop to false, but it only works when I switch to another window, if i just switch to another tab, the timer still stops.

[2018-05-18 13:46] fkhadra commented on #178
@bwoodlt I'll close the issue fill free to respond if your still have an issue.

[2018-05-18 13:46] #178 closed

[2018-05-18 13:48] fkhadra commented on #179
@thousight I'll close the issue, cause it's not related to the library. Feel free to respond if you need more help.

[2018-05-18 13:48] #179 closed

[2018-05-18 13:55] bwoodlt commented on #178
Thanks Fadi! Have been able to sort this issue. I needed to import into my style.less file like so incase someone had similar question:

`@import (less) "../node_modules/react-toastify/dist/ReactToastify.css`

Thanks again!
________________________________
From: Fadi Khadra <notifications@github.com>
Sent: 18 May 2018 14:46
To: fkhadra/react-toastify
Cc: Ifemide; Mention
Subject: Re: [fkhadra/reac

[2018-05-18 22:33] pkellner opened #180 "missing scss file after 2.2"
I did see a note regarding scss but did not understand.  My sass build uses the scss file that is in the distribution in 2.2 and now that file is gone.  Is there something I can do to get it back or achieve the same thing?  I use node-sass-chokidar to generate my css from scss and I can't figure how to keep that working and upgrade to the latest at the same time.

[2018-05-19 06:19] jitheshkt opened #181 "Call a function on close"
Please don't kill me for asking this. I know it is totally noob question. Here is the code I am using:

[code]

As you can see, I want to call a function once the toast is closed. Problem what I am facing now is the function is being called even before the toast is rendered (I know why it is, I have gone through the doc). So how to properly get this auto close event.?

[2018-05-19 06:37] fkhadra commented on #181
Hello @jitheshkt,

When you do as shown below, you call the function:

[code]

To pass a function you need to do as follow:
[code]

[2018-05-19 06:37] #181 closed

[2018-05-19 06:38] fkhadra commented on #180
Hello @pkellner,

Which version are you currently using?

[2018-05-19 12:45] cyaxares opened #182 "twice loaded same time"
Hello

I use this component fkhadra/react-toastify, twice loaded for me same time,  i want only once loaded other thing is correct and i dont have wrong or error on code writting , What is your solution ?

`notify({type,text}){
    toast(text, {
        position: "top-center",
        autoClose: 5000,
        hideProgressBar: false,
        closeOnClick: true,
        pauseOnHover: true,
        d

[2018-05-20 04:44] JustFly1984 commented on #130
I have same issue with React 16.3 It just ignores autoClose. Please help.

[2018-05-20 08:57] fkhadra commented on #182
Hello @cyaxares,

I don't understand your question. Could you describe me the current behavior?

Thanks.

[2018-05-20 09:01] fkhadra commented on #130
Hello @JustFly1984,

The `autoClose` works without any issue on react 16.3.
[![Edit y3xq288wk9](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/y3xq288wk9)

Could you share a sample?

As for react 0.14 I'm working on a way to support it

[2018-05-20 09:02] #180 closed

[2018-05-20 23:28] JustFly1984 commented on #130
It doesn’t work for me. I’m handling errors in Thunks,  and passing
autoClose: 5000 to both - toast call and ToasterManager component, and it
does not work.

[2018-05-21 07:58] fkhadra commented on #130
@JustFly1984 could you reproduce the issue on codesandbox, so I can help you?

Thanks.

[2018-05-22 07:39] matt-tatnell opened #183 "(Can't delete, sorry.) :("
(Can't delete, sorry.) :(

[2018-05-22 07:49] #183 closed

[2018-05-22 07:49] fkhadra commented on #183
Np i closed the issue

[2018-05-25 16:32] mrjack88 opened #184 "Typescript error"
I am getting this error
` ERROR in [at-loader] ./node_modules/react-toastify/index.d.ts:89:16
          TS2314: Generic type 'ComponentType' requires 1 type argument(s).`
I am using react-toastify v4.0.1, and typescript 2.4.1.

I have used v3.2.2 in a previous project using typescript 2.4.1 and everything was ok. I'll try v3.2.2 again, and will let you know

[2018-05-25 16:53] mrjack88 commented on #184
I can confirm that I can use 3.2.2 with typescript, no problems

[2018-05-25 17:09] fkhadra commented on #184
Hey @mrjack88,

Could you share a snippet so I can reproduce the issue ?

Thanks

[2018-05-28 14:14] Claim0013 commented on #182
Hey @fkhadra , I think I know what @cyaxares means.

I'm also using toastify since it's really intuitive. There's one issue though. When `autoClose > 2000` I get two toasts.

For example, if I set `autoClose=5000`, then the first toast that shows up, disappears in about 2 seconds, then a second one shows up and stays there for around 5 seconds.

I could provide a gif if you need some visual aid.

[2018-05-28 14:20] fkhadra commented on #182
Hey @Claim0013,

Yes, please 😁

[2018-05-28 14:36] Claim0013 commented on #182
Hold up! :>

[2018-05-28 14:46] Claim0013 commented on #182
[Here's the gif.](https://imgur.com/a/8NMMaRa).

And here's the code

`dispatch(action, toast.info("5 seconds"));` - note that it also happens if I just call it somewhere else.

[code]

[2018-05-28 14:55] fkhadra commented on #182
Thanks a lot. Could you show me where you are rendering the ToastContainer component. The best is to render it at the root of your App.

Do you have a way to reproduce the bug on codesandbox ?

Thanks again

[2018-05-28 14:59] Claim0013 commented on #182
No problem. Mhh I may be using it wrong.

I use `<ToastContainer..>` in each Components' main `<div>...</<div>` So, everywhere I want a popup in case I change something.

Sadly it's a quite large app.

[2018-05-28 15:13] fkhadra commented on #182
Could you try to remove all the ToastContainer and use only one at the root of your app ?

[2018-05-28 15:21] Claim0013 commented on #182
If I remove

`import { ToastContainer, toast } from 'react-toastify';
import 'react-toastify/dist/ReactToastify.css';`

from a component and put it in let's say `index.js` - I automatically get a `Failed to compile` exception in the class I removed those lines.

[2018-05-28 18:10] fkhadra commented on #182
Keep the toast import in your component as follow:
[code]

[2018-05-29 07:41] Claim0013 commented on #182
I added `<ToastContainer />` and the imports (without `toast`) to the `index.js` file where my paths are. I am using react router.

Looks like this:

`ReactDOM.render(
<Provider store={store}>
    <Router>
        <div>
            <PropsRoute exact path="/" component={App} store={store}/>
            <PrivateRouteA path="/pathA" component={A}/>
            <PrivateRouteB path="/pathB" component={

[2018-05-29 08:28] fkhadra commented on #182
Hey @Claim0013,

Sorry, I couldn't answer earlier, I'm glad you fixed your issue. Everything works as expected for you now?

[2018-05-29 08:53] Claim0013 commented on #182
No worries @fkhadra ! Yes it's working flawlessly!

[2018-05-29 15:01] MikeReyCodes opened #185 "Add "removeCloseButton" property"
I can't seem to find a property for removing the closing button. I would like to keep the click to dismiss feature but not the "x" to close. Is this something that can be added?

Thanks

[2018-05-29 15:09] MikeReyCodes commented on #185
Found it. Sorry about that.

[2018-05-29 15:09] #185 closed

[2018-05-31 14:14] sinplex opened #186 "wrapping div className "Toastify""
You could consider adding the className "Toastify" to the wrapping `div` of the component for sake of BEM conformity and to not have a `div` with no use. Realy nice work thogh!

[2018-05-31 18:52] fkhadra commented on #186
@sinplex  you're right

[2018-06-01 22:14] kc5ez opened #187 "Can I pass a favicon to render in the toast message?"
I'm doing ```        toast.success("Updated successfully.", {
          autoClose: false
        });```

But I'd also like to add a favicon to the "Updated Successfully" message in the toast. Can I do that? If so, how?

Thanks.

[2018-06-01 23:39] kc5ez commented on #187
Actually, just figured it out -
The first parameter, instead of text, you can pass in a component where you can render favicons. Like this -

[code]

[2018-06-01 23:40] #187 closed

[2018-06-03 01:46] mxmzb commented on #130
i have this issue, too. i also just tried to replicate it with pretty much my whole relevant code, but it worked in codesandbox. gonna try tomorrow to find out, what else could cause this behavior.

[2018-06-04 11:12] #186 closed

[2018-06-04 21:40] mindontheblink opened #189 "Variable toast width"
There doesn't seem to be a hook to make the width variable so that it fits the text dynamically.  The width property in the toast props drive this, and not specifying one defaults the width to a fixed 320px.

What is the preferred way to accomplish this?

Thanks.

[2018-06-05 09:56] ivanasetiawan opened #190 "Put button with onClick inside toast"
Is it possible to add a button with onClick behaviour inside the notification?

[2018-06-05 11:17] fkhadra commented on #190
You can use any react component to do so: https://github.com/fkhadra/react-toastify#render-a-component

[2018-06-05 11:17] #190 closed

[2018-06-06 12:42] shirbr510 opened #191 "custom style / css is not being applied to toasts"
I am trying out your repo for my project and for now: love it!

but, I'm having an issue with customization.

I'm trying to change the color and size of my toasts like you can see here:
https://github.com/shirbr510/react-toastify-demo/blob/master/src/App.js

I've tried with glamor, but have failed to change the style **at all**.

can you please help me out?

`react-toastify` version: 4.0.2

[2018-06-06 12:50] c2digital commented on #191
Same issue here, copy & pasted from examples, no luck.

React: 16.2.0
React-Toastify: 4.2.0

[2018-06-06 13:03] shirbr510 commented on #189
I am able to edit width by css but then the whole alignment screws up....

[2018-06-06 15:07] fkhadra commented on #191
Hello,

The v4 doesn't use glamor anymore. It relies on css to override styles.
Setting className with glamor should work. I'll check what's going on.

[2018-06-06 15:09] fkhadra commented on #189
Hello @mindontheblink,

The width can be changed via the css or the scss files. I'll post a sample later. Sorry for the late reply

[2018-06-06 15:13] shirbr510 commented on #189
@fkhadra I'm sorry I'm barging in, but it seems that it works via css with the solution you proposed, but then it doesn't align properly with position `top-center`

if you are able to give that a look at the same time, that could be lovely :)

[2018-06-06 16:22] LouisCuvelier opened #192 "Update toast draggable to true does nothing"
Hi,

Thanks for this lib !

I'm experiencing a weird problem when I want to update a toast that was created with `draggable: false`

Here's my code to update the toast :

[code]

Everything works perfectly except for the `draggable`. The toast can't be drag even with `draggable `set to true.

Is that a bug ?
Thanks for your help !

[2018-06-06 18:02] fkhadra commented on #189
@shirbr510 for the top-center and bottom-center position i'm defining a margin-left property as follow:

[code]
So if you change the width via the css you also need to adapt the `margin-left` for `top-center` and `bottom-center` position as follow:

[code]
[link to source](https://github.com/fkhadra/react-toastify/blob/master/scss/_toastContainer.scss)

Now If you decide to rebuild the scss files,

[2018-06-06 18:17] fkhadra commented on #192
Hello @LouisCuvelier,

You just spotted a bug well done 👌.

For the draggable props, I bound the events inside `componentDidMount` but in the case of an update `componentDidMount` is not called. This is why the draggable props is not working.

I'll work on a fix.

Thanks

[2018-06-06 20:39] shirbr510 commented on #189
Oh looks awesome!
Thank you very much!

On Wed, Jun 6, 2018, 21:02 Fadi Khadra <notifications@github.com> wrote:

[2018-06-07 10:15] fkhadra commented on #189
@mindontheblink i'll close the issue. If you need more information, feel free to open a new one.

[2018-06-07 10:15] #189 closed

[2018-06-07 12:01] fkhadra commented on #191
The following should work for the next release. I'm fixing the bug
[code]

[2018-06-07 12:20] fkhadra commented on #191
I

[2018-06-07 12:20] #191 closed

[2018-06-07 12:20] fkhadra commented on #192
@LouisCuvelier I published the fix

[2018-06-07 12:20] #192 closed

[2018-06-07 12:28] #182 closed

[2018-06-07 16:55] LouisCuvelier commented on #192
Thank you @fkhadra for this reactivity !

[2018-06-07 18:28] NetrushGarrett commented on #184
I am experiencing this same issue with typescript react. I was able to remedy it by editing the index.d.ts file and changing anything of type `React.ComponentType` to `React.ComponentType<any>`.

[2018-06-08 07:15] fkhadra commented on #184
@NetrushGarrett should I replace React.ComponentType by React.ComponentType<any> then ?

[2018-06-08 16:17] NetrushGarrett commented on #184
@fkhadra You could try it, I don't see how it could hurt but I'm also not an expert so I don't know if it would have any adverse effects on other people's environment I just know what got it working for my environment. Sorry I couldn't be of more help.

[2018-06-08 17:22] fkhadra commented on #184
I'll bootstrap a typescript project to see exactly what is going on.

[2018-06-08 18:00] fkhadra commented on #184
@NetrushGarrett could you modify my sample so I can reproduce the issue:
[![Edit 3vp23vmxvm](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/3vp23vmxvm)

Thanks

[2018-06-08 19:31] NetrushGarrett commented on #184
@fkhadra So after looking at your Sandbox I saw you were using react 16.4.0 I realized I was using v15 so once I updated to v16 it works just fine.

[2018-06-08 19:48] fkhadra commented on #184
@NetrushGarrett good catch !

[2018-06-14 08:22] Englund0110 opened #193 "Toaster not working properly in Firefox and IE11"
I just updated react-toastify from 3.4.3 to 4.1.0, but somehow it is not working as expected in Firefox and IE11. There are no problems when using Chrome.

Versions:
Firefox 60.0.2
Internet Explorer 11
Chrome 66

Screenshot of toaster in IE11:
![image](https://user-images.githubusercontent.com/6859869/41399700-4fc0405e-6fbb-11e8-80ce-7495a855e3f5.png)

Code:
[code]

[2018-06-14 08:38] fkhadra commented on #193
Hello @Englund0110 ,

Did you include the css also ?

[code]

[2018-06-14 10:59] Englund0110 commented on #193
I didn't.

I added this line of code to the top of my index.less, and it worked.
[code]

Thank you for the help and quick response!

[2018-06-14 11:14] #193 closed

[2018-06-18 11:43] MrPolymath opened #194 "App Build fails (dev works) when calling toast() from different file than where it's rendered"
I render the toast container in the root of the application.
Then, in a redux action I'm calling the `toast()` function.

For some reason that I haven't been able to figure out by myself, everything works when developing but then the build doesn't. (The build compiles without errors, but then I get a blank page when running it).

I suspect it might have to do with babel doing something weird when

[2018-06-18 16:34] speichs opened #195 "ERROR in ./node_modules/react-toastify/dist/ReactToastify.css Module parse failed: Unexpected token (1:0)"
I am having an issue getting my project to recognize the css file included with react-toastify. I understand that I might need to augment my webpack config in order to have this file recognized but I am wondering if you could provide an example as to how to modify.

I have encountered no issues with other css files that I am loading.

[2018-06-19 22:46] wwwennn commented on #195
I met the same problem. Hope someone could help.

[2018-06-19 22:50] speichs commented on #195
Though not the best solution and one that I would not care to keep in my project, try:

[code]

[2018-06-19 22:55] wwwennn opened #196 "UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'TOP_LEFT' of undefined"
Hi there,

Our project is recently upgraded to react16 but we found some errors caused by toast. If i comment out the code related to toast, everything works fine. The error message is as title describes. Could anyone help? We use react@16.4.1 and react-toastify@4.1.0.

[2018-06-19 22:59] fkhadra commented on #194
Hello @MrPolymath,

Did you eject CRA config?

[2018-06-19 23:01] fkhadra commented on #195
Hey,

Which version of webpack are you using? You just need the style loader as shown [here](https://webpack.js.org/loaders/style-loader/#src/components/Sidebar/Sidebar.jsx).

[2018-06-19 23:03] fkhadra commented on #196
Hello @wwwennn,

Could you share the code, please?

[2018-06-20 10:06] BenNG opened #197 "Not possible to set the background anymore ?"
with version 4.1.0 (and 4.0.1) with this kind of code I can't set the background properly:
notice that the `bodyClassName` and `progressClassName` seems to have the good behavior but not `className`
[code]

[2018-06-20 11:19] MrPolymath commented on #194
I did not @fkhadra

[2018-06-21 15:12] speichs commented on #195
I am using the latest version of webpack.  I believe that the issue is stemming from the fact that I cannot (do not know how) to add a loader to a specific file in the config.  If you have any recommendations I would very much appreciate it.  Here is my config file:

[code]

[2018-06-23 19:28] fkhadra commented on #197
Hello @BenNG,

I'm not able to reproduce the issue. In my case, it's working as expected.
[![Edit 9ll40lvymr](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/9ll40lvymr)

Could you try to reproduce the issue based on my sample?

Thanks

[2018-06-23 19:44] fkhadra commented on #195
Hey @speichs,

First suggestion, try the following config in place of your css block without options:

[code]
Then in your code:

[code]

If it works(it should work), add the postcss loader:

[code]
If It works, you can begin to add options to the loaders. I'm back fron holidays so I'll be able to respond faster.

[2018-06-23 19:47] fkhadra commented on #194
Hello @MrPolymath,

Is your project accessible or could you share a piece of code? I'm not able to reproduce the issue ☹️

[2018-06-23 19:47] #184 closed

[2018-06-23 19:48] #150 closed

[2018-06-25 06:51] MrPolymath commented on #194
Hi @fkhadra ,
Unfortunately the project isn't open :( .
Don't worry about the issue right now.
When I find time I'll try to reproduce it in an open demo and post it here so that we can reopen this.
Thanks a lot!

[2018-06-25 07:15] fkhadra commented on #194
Thanks @MrPolymath , I'll close the ticket open a new one when needed.

Have a good day

[2018-06-25 07:15] #194 closed

[2018-06-29 14:49] leanne2 opened #198 "Offer sync rendering for testing purposes"
I'm trying to test my implementations of toasts, namely the rendering (using snapshots but this is not especially relevant). The problem is that if i call the toast function in my test then render the output the toasts are not present in the output. I believe this might be because the library is event driven and so async (though could be wrong). What i would like is access to an API that allows me

[2018-06-30 06:02] laxa88 opened #199 "Reopen a toast via toastId"
Just wondering if there's a feature, or if not, whether it's feasible to add the feature:

Since we get a `toastId` when toasting, is it possible to allow the ability to use the toastId to reopen the toast?

E.g.

[code]

The reason I'm asking is, I was thinking of using the time-travelling feature of redux to debug stuff, and I dispatch an action to toast messages, then dispatch a separate action

[2018-06-30 19:59] fkhadra commented on #198
Hello @leanne2,

Jest offer a way to test async/callback. In your case you gonna need to use [timer-mock](http://jestjs.io/docs/en/timer-mocks). Internally the event manager use `setTimeout`.

could you try the following:

[code]

You can even write the test as follow:

[code]

Tell me if it's helped you.

[2018-06-30 19:59] #197 closed

[2018-06-30 20:04] fkhadra commented on #199
Hello @laxa88,

Unfortunately,  this is not possible. The toast id can be provided only when we call `toast.update`.
Maybe I could allow to define the `toastId`. I'll think about it.

[2018-07-02 02:51] billtlee opened #200 "Error in react-toastify/dist/ReactToastify.css Module parse failed"
Hi, I am trying to use this package.  However, I am running this issue with importing the css file.  I am using nextjs and semantic-ui.  Is it not compatible?  thx!

Error in react-toastify/dist/ReactToastify.css
Module parse failed: Unexpected token (1:0) You may need an appropriate loader to handle this file type. | .Toastify__toast-container { | z-index: 9999; | position: fixed;
ModuleParseErro

[2018-07-02 09:19] leanne2 commented on #198
@fkhadra  Thanks for your response. I am not using the Jest framework, I'm using Mocha. But sinon's `fakeTimer` seems to be the same util as Jest's fake timers. If I use a fakeTimer, as shown below, the snapshots does correctly generate, but *only* on a first lean test run. By this i mean, if i run up my tests once then exit, the toast is rendered and the snapshot outputs the full node tree as exp

[2018-07-02 10:19] fkhadra commented on #198
Hello @leanne2 ,

You're right. I'll work on fix to to reset the id on umount.

Could you share your package.json with the relevant packages for testing. I want to setup the same test env as yours.

Thanks a lot.

[2018-07-02 10:38] leanne2 commented on #198
**Test setup**

- Once setup run `npm run tdd`, check the genereated `.snap` file for full render including toastm then trigger a test change > observe failure above due to `id` increment on new test run

`package.json`:
[code]

`configuration/mocha/mocha.client.opts`:
[code]

 configuration/mocha/setup.dom.js:
[code]

`configuration/mocha/setup.test.js`:
[code]

`notification/notification.test.js

[2018-07-02 10:39] fkhadra commented on #198
Indeed, the unmount should reset the id of the toast, at least this is what I plan to do 😁.

Also, notice that with the following implementation, your are calling `toast` before the `ToastContainer` is mounted(first route):
[code]
In that case, when the container is not mounted the notification are stacked and rendered as soon as the container is mounted. This explain the inconsistency for your te

[2018-07-02 14:00] leanne2 commented on #198
@fkhadra Just to update some more. I do think there is a general cleanup issue with the notifications. If i set up a test suite that renders several toasts to test different types etc., then in watch mode each test run quickly gets slower and slower to the point of taking several seconds to run less than 10 specs. It seems like there is some kind of memory leak probably related to toast artifacts

[2018-07-03 01:55] billtlee commented on #200
@fkhadra
Thanks! Got it to work with your suggestion.

[2018-07-03 01:55] #200 closed

[2018-07-03 06:33] jmfadeley commented on #194
We just encountered the same issue. Minified project screams about this. https://reactjs.org/docs/error-decoder.html?invariant=44

Situation cannot be reproduced in development, just production. However, we're on react-toastify 3.4.3.

[2018-07-03 17:00] MaxiSantos commented on #47
I'm also having this issue

[2018-07-03 17:01] MaxiSantos commented on #130
maybe this issue is related with tihs: https://github.com/fkhadra/react-toastify/issues/47

[2018-07-03 22:45] JustFly1984 commented on #47
I have CSS modules, and just copied all CSS from the module and added :global prefix to each one. I do not have animations nor autoClose working.

[2018-07-05 05:37] kingleuther opened #201 "Do you support new line ?"
`toast.error(this.trans.invalid + '\n' + 'sorry',
                        {
                            position: toast.POSITION.UPPER_RIGHT
                        });`

[2018-07-05 06:31] kingleuther commented on #112
How about if we are using .js? How are we going to have a new line

[2018-07-05 08:32] fkhadra commented on #201
@kingleuther why not use jsx like so:

[code]

You can render any component in place of string

[2018-07-05 08:32] #201 closed

[2018-07-06 09:32] JaLe29 opened #202 "Toast style is not working correctly"
I installed last version of react-toastify.

When I use simple demo toast:

[code]

There is not "red" style - see image, why? What is wrong with my code?

In another component I have a  `<ToastContainer />` container.

![image](https://user-images.githubusercontent.com/22296816/42371530-0a48f712-8110-11e8-8ed3-17c70533012d.png)

[2018-07-06 10:10] fkhadra commented on #202
You need to import the CSS file.

[2018-07-06 18:53] #202 closed

[2018-07-16 10:11] SilencerWeb opened #203 "An option to disable all unnecessary styles"
It would be great if u add an option to disable all these unnecessary styles because they override default styles and it is so stupid to override them using cascade, it is much easier just to disable them using one option that can be called like `disableUnnecessaryStyles`

![image](https://user-images.githubusercontent.com/20713191/42753377-2cea91b6-890a-11e8-8c1f-a2e66a43083a.png)
![image](https:

[2018-07-17 06:09] SilencerWeb opened #204 "styled-components keyframes support for transition animations"

[2018-07-17 10:51] MartinCerny-awin opened #205 "Changelog"
It is good practice to include changelog when releasing a new version of library. It would help developers identify any (possibly breaking) changes without looking into commits. The changelog can be added to releases version in releases tab on GitHub or a new file called CHANGELOG could be created for ability to read changes offline.

https://keepachangelog.com/en/1.0.0/

[2018-07-18 05:46] jeffersoneagley commented on #109
I just ran in to a similar-looking issue:
![image](https://user-images.githubusercontent.com/15936010/42862068-cbc96466-8a12-11e8-8da2-a1dd92d6ab46.png)

I've doublechecked, I'm up to date and there's only one toastcontainer in the project... The toasts sort of brokenly insert themselves into the page wherever the toastcontainer element is.

I'm in the middle of migrating a project to reactstrap (

[2018-07-18 07:38] fkhadra commented on #109
@jeffersoneagley did you import the css file ?

[code]

[2018-07-18 19:35] jeffersoneagley commented on #109
Well.. that fixed it... I am not sure why I didn't see that in any of the instruction sets I looked at.

I've also noticed when a toast pops up over a modal, the grayed out area goes transparent and starts strobing.
![image](https://user-images.githubusercontent.com/15936010/42903508-e5ae238e-8a86-11e8-9324-1eaf54cfa4b7.png)
The light area around the toast is over a modal's gray box. it flickers b

[2018-07-18 19:47] ProductOfAmerica commented on #109
@jeffersoneagley just saying....it was literally in the first code example:
![chrome_2018-07-18_14-45-43](https://user-images.githubusercontent.com/14712114/42904040-4f441cba-8a99-11e8-8b29-5276ec419fb4.png)

Also, start a new issue.

[2018-07-18 21:16] jeffersoneagley opened #207 "Flickering and other visual artifacts when running under electron"
### Setup
I'm running a CRA/electron/react app:
reactstrap version `#6.3.0`
react version `#16.4.1`
bootstrap version `#4.1.2`
electron `#2.0.3`
react-toastify `#4.1.0`

### Issue
I had a few toasts pop up over top of a reactstrap (bootstrap 4) modal, this was the result:

![image](https://user-images.githubusercontent.com/15936010/42907727-8e203384-8a93-11e8-9d56-74815bc443a3.png)

![image](https

[2018-07-19 12:42] osnysantos opened #208 "Styles doesn't apply when using with CSS Modules"
I've tried using the sample code: https://github.com/fkhadra/react-toastify#usage in my React app (which is using CSS Modules) but the styles are not being applied.

This line `import 'react-toastify/dist/ReactToastify.css';` points to a CSS file which is already processed and converted to plain CSS class names.

Note: Removing CSS Modules config it works fine!

Now I wonder what I'm missing from

[2018-07-19 19:48] jeffersoneagley commented on #208
Did you add a <ToastContainer/> component to your app somewhere? (not just import)
Does anything show up at all, or does it just not show anything?
Can you go into inspector and see if theres a <div> with the class "Toastify" present in the DOM?

[2018-07-19 19:55] jeffersoneagley commented on #207
Apparently this is a known bug with chrome (which electron uses). Add the following CSS to your app as a workaround:
`.modal {
    transform: translate3d(0, 0, 0);
}`

[2018-07-19 19:55] #207 closed

[2018-07-19 22:03] osnysantos commented on #208
Did you add a component to your app somewhere? (not just import)
A: Yes

Does anything show up at all, or does it just not show anything?
A: Yes, the elements from toast show up but with no styles

Can you go into inspector and see if theres a with the class "Toastify" present in the DOM?
A: Yes, exist. Please see image:
<img width="1228" alt="screen shot 2018-07-19 at 7 01 00 pm" src="https://use

[2018-07-25 19:02] fernandolobao commented on #195
Same problem here :/

Dis someone already have an answer for this?

[2018-07-26 13:48] fernandolobao commented on #47
I have the same problem as @JustFly1984 , autoclose and animation are not working because I had to put the css rules under :global approach. Does someones have a fiz already?

[2018-07-26 22:31] samyoungnyc opened #209 "Feature Question - Possible to open a Toast Programatically?"
This isn't an issue but a question. I've looked through the docs and haven't found any way to open a programatically (i.e not using `onClick`)

I want to pass a flag i.e `this.props.loading` to my component (using redux),  and if that is `true` - render the toast. Is this possible?

[2018-07-27 08:40] fkhadra commented on #209
Hello @samyoungnyc,

You can use whatever you want to display a toast. You simply have to call the toast function as shown below:
[code]

[2018-07-27 08:40] #209 closed

[2018-07-27 08:43] fkhadra commented on #207
Hello @jeffersoneagley,

Thank you for sharing your solution, appreciate.

[2018-07-27 19:41] RickeyWard commented on #203
You have the option to specify the ClassName you want to use. if you don't use the default "Toastify_toast" then these styles won't used.

The CSS is an example of how to use the library, not a requirement.

Included is a non minimized css file, that you can copy to your local project, change to match you site, and then include it in your project instead of the supplies one.

[2018-07-29 13:46] fkhadra commented on #203
Hello @SilencerWeb,

I understand your need. Like @RickeyWard said using the css file is not a requirement, you can create your own if you want to.

I'm not considering to add an option to do that for the moment.

Thank you for your feedback.

[2018-07-29 13:46] #203 closed

[2018-07-29 13:52] fkhadra commented on #208
Hello @osnysantos,

I don't have that much with css modules. I found [this article](https://medium.com/@vuong.qnguyen10/using-css-module-with-external-ui-library-in-create-react-app-bdd1495615c4). Maybe it could help ?

[2018-08-01 01:30] jsequeira92 opened #211 "how to manually set position of the toast without using position top-center?"

[2018-08-01 05:54] fkhadra commented on #211
Hello @jsequeira92,

What do you mean by manually ?

You can find any detail regarding the position [here](https://github.com/fkhadra/react-toastify#positioning-toast)

[2018-08-01 09:59] alb3ric opened #212 "Toast not showing"
Hello,

I'm facing a problem displaying my toast.
I have a main project wich as another project as a dependency. This project is a minified library that i referenced with npm.
In the main project I set the <ToastContainer/> somewhere.
If I call the method toast() from the library the toast is not display. It is display if I call toast from the main project.
I tried to things :
- If I add a <ToastC

[2018-08-01 12:40] k4st0r42 commented on #47
Same problem for me, +1

[2018-08-01 12:47] fkhadra commented on #47
Hello,

It would be nice to reproduce the bug via codesandbox. Anyone know how to do this ?

[2018-08-01 12:51] fkhadra commented on #212
Hello @alb3ric ,

Is it possible to reproduce your setup?

The lib doesn't work with 2 `ToastContainer` for the moment .

[2018-08-01 14:01] k4st0r42 commented on #47
I could, but it is possible to update webpack configuration with codesandbox ?

[2018-08-01 14:18] k4st0r42 commented on #47
Here the code : https://codesandbox.io/s/z252xzmvrl

It does not work on codesandbox because the webpack.config.js is not used (so the modules are not activated by default for css-loader). I don't know if it is possible to configure webpack on codesandbox...

In my project on my PC, the CSS of the toast box works well, but not the autoclose or animations.
If I remove modules and import globally li

[2018-08-01 16:39] JustFly1984 commented on #47
In my case I use CSS modules, so I can’t just import styles from
node_modules. I’ve copied css, and added global prefix to each class name

[2018-08-02 09:46] alb3ric commented on #212
Hello @fkhadra

I did 2 test repository.
You can find the repository for the library here : https://github.com/alb3ric/ToastLib.git
And a repository with a project consuming the library : https://github.com/alb3ric/ToastTest.git

The ToastTest project reference the ToastLib library using : yarn add https://github.com/alb3ric/ToastLib.git

Launching TestToast :
* Use >yarn to get the dependencies
*

[2018-08-02 12:23] heamaral opened #213 "Warning when calling toast functions"
When I call toast.error("test") i got the following warning on console:
[code]

[2018-08-02 12:27] fkhadra commented on #212
Thanks @alb3ric, I'll try to have a look at this ASAP.

[2018-08-02 12:37] fkhadra commented on #213
Hello @heamaral,

Since React 16.3 `componentWillMount` and `componentWillReceiveProps` are 'deprecated' in favor of `getDerivedStateFromProps` and `getSnapshotBeforeUpdate`.

I need to update react-transition-group from 2.2 to 2.4. Those warning only appear during development, so don't worry for the moment.

The next release is scheduled for this month.

More detail about react lifecycle [here](h

[2018-08-02 12:37] #213 closed

[2018-08-04 09:18] manimurugank opened #214 "when i moving next page it is gone"
when i moving next page it is gone

[2018-08-04 12:02] bologer opened #215 "Sticky toast"
I was going through documentation and did not find anything about sticky toasts.

Lets say I have long page, when I make toast something like this:

[code]

The toast will be shown at the very top of the page, however I will not see it, as I am somewhere in the bottom of the page.

What to do in this case? Is it possible somehow to stick toast to the top center of the page and make it fixed positi

[2018-08-06 07:18] fkhadra commented on #215
Hello @bologer,

The toast position by default is set to 'fixed'. It should stick to the top or the bottom regarding the position you choose.

You can check the sample below
[![Edit y3xq288wk9](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/y3xq288wk9)

Could you reproduce the issue with codesandbox and share it ?

Thanks

[2018-08-06 09:46] NoMercy235 opened #216 "The styles seem to be missing with the most basic setup."
Hello! I have set up a playground here https://stackblitz.com/edit/nomercy235-react-pg-bo6ddb?embed=1&file=index.js to test the library in a more confined environment since I'm having the same issue in my main project. I have done the installation and usage steps, but, no matter what, the toaster looks like that. Does anyone have any idea why that happens?

![image](https://user-images.githubuserc

[2018-08-06 09:48] fkhadra commented on #216
Hello @NoMercy235,

You need to import the style as well:
[code]

[2018-08-06 09:48] #216 closed

[2018-08-06 09:50] NoMercy235 commented on #216
Ah... Thank you! Is that specified somewhere in the docs? I couldn't find anything written about this.

[2018-08-06 09:52] fkhadra commented on #216
Yes under the Usage section [here](https://github.com/fkhadra/react-toastify#usage)

Maybe I'll need to highlight it.

[2018-08-06 09:54] NoMercy235 commented on #216
Oh, it was in the comment section. 😄 Sorry, I totally missed it.

[2018-08-06 12:02] Jayphen commented on #130
In my case, autoClose was not working because I had not imported all of the CSS files. If you are manually copying the CSS, make sure to include the ProgressBar styles, even if you aren't actually displaying the progress bar.

[2018-08-06 15:12] fkhadra commented on #212
Hello @alb3ric,

The ToastTest project is not working as expected because it seems that 2 instances of `react-toastify` are running. You can see that after having a look at the webpack bundle generated by the ToastTest project:

<img width="579" alt="screen shot 2018-08-06 at 16 46 10" src="https://user-images.githubusercontent.com/5574267/43723863-fb7df86c-9998-11e8-9c78-4fa0b3dd7d24.png">
<img w

[2018-08-07 07:11] alb3ric commented on #212
Hello @fkhadra

Thx for the input. I'm currently on holidays, I ll try that as soon as I come back! I keep you in touch!

Best regards and thanks for your great work!

[2018-08-07 19:43] fkhadra commented on #212
You're welcome @alb3ric  bonne vacances!

[2018-08-07 20:57] himedlooff opened #217 "Is there the ability to use the alerts inline instead of fixed?"

[2018-08-08 12:04] AugustinLF commented on #214
This will happen if the component that renders the `<Toast />` is unmounted when you change your page. You should render the `<Toast />` at the root of your app, on a component that will be kept when you change of page.

[2018-08-08 13:53] himedlooff commented on #217
Thank you @fkhadra!

[2018-08-13 11:52] #211 closed

[2018-08-13 11:55] fkhadra commented on #205
Hey @MartinCerny-awin,

 Changelogs are live now. I'll try to improve the content when I got free time.

[2018-08-13 11:55] #205 closed

[2018-08-13 11:56] fkhadra commented on #198
Hey @leanne2 ,

The v4.2 clean all the reference and reset the id when the `ToastContainer` is umounted.

[2018-08-15 12:13] bologer commented on #215
@fkhadra what if you have page with iframe. Toast is shown inside iframe. Iframe has some height, e.g. 1000px, so you have some space to scroll down. Toast shown in the top right corner inside iframe. If I move down, toast inside the iframe stays at the top without following the screen.

[2018-08-19 20:39] TarikHuber opened #222 ""Symbol" ist undefiniert error in IE 11"
Browser: IE 11 (it works on other browsers I tested like Chrome, Firefox, Edge)
react-toastify version: 4.2.0

Error message:
"Symbol" ist undefiniert

The error is gone wehen falling back to 4.1.0

[2018-08-21 08:10] fkhadra commented on #222
Hello @TarikHuber ,

Thanks for the feedback. I'll fix it asap.

[2018-08-22 01:03] DrMeers opened #223 "autoClose doesn't work if you don't include ReactToastify.css ?"
If I don't include `ReactToastify.css` (which I'd prefer to omit than try to override everything I don't want/need from there), the toasts remain until clicked rather than unmounting after the `autoClose` delay... would it be worth documenting or providing a minimal CSS workaround to support `autoClose` without the bundled CSS?

[2018-08-22 13:56] caype opened #224 "Warning: React does not recognize the `closeToast` on using custom css classes"
Hello,

I'm using custom css classes in my web-app to style the default toastr message. The resultant toastr message looks like this:

![toastr-screenshot](https://user-images.githubusercontent.com/6301204/44467420-d63f3200-a5f0-11e8-863f-8066a529528e.png)

and I am using the following code to display a toastr and everything works well.

`toast.success(`We have successfully updated your preference

[2018-08-22 17:54] fkhadra commented on #224
Hello @caype,

Could you share a code snippet on codesanbox for instance.

Which version of react are you using ?

Thanks

[2018-08-22 18:38] caype commented on #224
Hey @fkhadra ,

I'm using React 16.3.2. you can find the behaviour in [this](https://codesandbox.io/s/jlm4kz3709) sandbox.

screenshot of the error on codesandbox.io:

![image](https://user-images.githubusercontent.com/6301204/44483273-a1df6c00-a618-11e8-87d2-4f9d6e5e36b3.png)

Thanks in Advance.

[2018-08-22 18:51] caype commented on #224
I understood what's going wrong. Instead of implementing a **component** for the **closeButton** prop, I'm directly passing in an Image tag for that prop.

Thanks again for the library 👍

[2018-08-22 18:51] #224 closed

[2018-08-22 19:10] TarikHuber commented on #222
Thx @fkhadra for the fast response. We just use the older version untill the fix arrives. Not a big problem. A Browserstack test that failed showed us the problem. Maybe a solution for this project to. It's free for open source projects.

[2018-08-22 19:30] fkhadra commented on #222
Perfect. I'll publish the fix during this week.

Indeed, Browerstack is a really good idea. I'll see how to add it to my stack.

[2018-08-22 19:32] fkhadra commented on #224
@caype I was about to answer. I'm glad you solved the issue.

My pleasure 😁

[2018-08-22 20:05] fkhadra commented on #223
Hello @DrMeers,

Thanks for the feedback.

The `autoClose` is triggered when the progress bar animation end. An `onAnimationEnd` event is bound to the component.

Regarding your needs, I see 1 easy workaround possible. In the sample below, open the style file to see the minimum style needed to trigger `autoClose`.

 [![Edit 7mrx50r2w1](https://codesandbox.io/static/img/play-codesandbox.svg)](https

[2018-08-22 20:07] fkhadra commented on #214
Hello @manimurugank ,

I didn't take the time to respond. @AugustinLF is right. If you render the `ToastContainer` at the root of your app you should not encounter this issue.

[2018-08-22 21:59] gairom opened #225 "toaster message with Link component"
Hi,
I created a Toaster component which is used by different pages in my app.
In some cases it's called with just a simple text message but in some cases I need to include a Link component inside the message.
Example:
<Toaster type='success' message={<span>Some text <Link to="/page">CLICK HERE</Link> more text</span>}/>
My problem is I want to close the toaster when the link is clicked but I can't

[2018-08-24 09:27] DrMeers commented on #223
Brilliant, thank you very much @fkhadra

[2018-08-29 05:49] TarikHuber commented on #222
Hi @fkhadra,

Maybe this example of a project with browserstack can help: https://github.com/TarikHuber/react-most-wanted

That is the one that detected this issue. It checks only the version of the project that is already deployed but better than nothing. Need to fix that to to check on localhost at Travis.

[2018-08-29 09:34] fkhadra commented on #222
Hey @TarikHuber,

Thanks. I already fixed the issue but I wanted to add an additional feature for the next release.

I'm gonna publish a patch release with that fix first. So It fixes the bug first.

[2018-08-29 15:21] fkhadra commented on #222
Hey @TarikHuber,

I published the v4.2.1. Should be ok now :)

[2018-08-29 15:21] #222 closed

[2018-08-29 21:04] abenhamdine opened #228 "error in react-toastify/libs/index.js:1 when running tests"
Since upgrading to version 4.2.0 to version 4.2.2, when I run tests with ts-jest I get the following error :

[code]

ToastContainer seems properly exported/imported in that file, so I don't understand the meaning of this error.

Our configuration :
"react-toastify": "4.2.2",
"react-scripts": "1.1.5"
"react-app-rewire-typescript": "2.0.2",
"react-app-rewired": "1.5.2",

Could someone provide some

[2018-08-29 21:17] fkhadra commented on #228
@abenhamdine did you upgrade any other dependencies like babel, babel-core ?

[2018-08-29 21:27] abenhamdine commented on #228
No, I'm still on babel 6.x, I didn't upgrade any of the babel suite :
[code]

[2018-08-29 21:41] fkhadra commented on #228
Can you delete the folder react-toastify under node_modules and reinstall it?

lib/index.js look normally like this:
[code]

[2018-08-29 21:45] fkhadra commented on #228
I'm able to reproduce the issue.

[2018-08-29 21:51] fkhadra commented on #228
Since I upgraded to babel7, I don't transform the `import` and `export` statement anymore.
I'll revert that behavior.

[2018-08-29 22:02] fkhadra commented on #228
@abenhamdine the issue is fixed now.

👍

[2018-08-29 22:02] #228 closed

[2018-08-29 22:09] abenhamdine commented on #228
thx a lot !
:+1: :dancer:

[2018-09-03 12:38] jamesmbourne commented on #196
I have experienced a similar error which can be reproduced with

[code]

This test case produces the error:

[code]

This has occured using v4.3.0. I think this issue is described in https://lukasbehal.com/2017-05-22-enums-in-declaration-files/ - I don't think that enums in `.d.ts` files are actually compiled into the JS output by the TypeScript compiler.

[2018-09-03 12:45] fkhadra commented on #196
Hey @jamesmbourne,

Indeed, they are not compiled. To sumup, I should replace the enum by type ?

I was using `type` instead of `enum` before the v4.3 but if you refer to this PR #221 , the `type` were causing bug.

[2018-09-03 13:01] jamesmbourne commented on #196
@fkhadra yes I believe that will be the best solution, without requiring a rewrite of the library in TS.

I've just put a PR in to revert the change from `type` to `enum` in #231. I have downgraded to v4.2.0 as a workaround and this seems to work both in terms of `type` and `position` for the toast.