[2022-06-08 07:51] Robloche commented on #775
Unfortunately, no. I would like to but I've got troubles with a couple of npm packages that weren't designed to be used in a browser but were supported until CRA 4.

[2022-06-08 08:02] fkhadra commented on #775
@thib3113 regarding semver, this is debatable. There are no breaking changes introduced in the library itself. **The main issue is that CRA v4 does not support es module.**

But as I said, this is debatable, so as a consumer of the package, I understand your point of view as well.

The current JS ecosystem is moving to es modules, there is a lot of friction but, passed that point, I believe that t

[2022-06-08 11:57] cakonze commented on #775
This solution works for me! Thanks!

[2022-06-08 19:01] forgowhisky commented on #775
also getting this

[2022-06-08 19:56] cypherfunc commented on #774
Ok, no problem. Unfortunately my company needs to support IE for at least another year, but it was easy enough to override this. Thanks for the great library!

[2022-06-09 02:05] Joshua-Enrico commented on #775
Not the best fix at the moment, but I opted to replace the version I was using with a minor one.
"react-toastify": "^9.0.1" > "react-toastify": "9.0.0",

[2022-06-09 06:16] thib3113 commented on #775
@Joshua-Enrico it works with `9.0.3` too . only the `9.0.4` introduce this change

[2022-06-09 11:21] dimitur2204 commented on #775
Same here `9.0.3` seems to work fine though.

[2022-06-10 21:48] AndrewOttavianoAbb opened #776 "Add hooks documentation"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
There are no docs for `useToast` or `useToastContainer`
![image](https://user-images.githubusercontent.com/78449844/173153916-3be18adb-33bc-4127-aa7f-8f80805c7ce8.png)
![image](https://user-images.githubusercontent.com/78449844/173153934-9a3fc5a2-708d-46ff-a161-1461d94bf0d6.png)
😔

**If the current beha

[2022-06-11 09:55] Harshilmehta23 opened #777 "Deleting issue"

[2022-06-11 15:45] #777 closed

[2022-06-11 20:41] sumitk-singh commented on #775
having the same isuue

[2022-06-13 17:11] fmenes01 commented on #775
same problem

[2022-06-14 15:48] QenOo commented on #775
having the same isuue

[2022-06-14 18:42] justin-mcclain opened #778 "CSS not working"
When I call on the function to show the toast notification, the styling of the notification is missing (green check mark, red x).

This is what I have for my code:

[code]

The sendEmail function is tied to a button, and the notifications appear, just not styled.
![toast](https://user-images.githubusercontent.com/95764373/173665087-c92bb89c-d459-4681-9970-03601da59847.png)

React version 18.1.0 an

[2022-06-15 08:40] fkhadra commented on #778
Hey @justin-mcclain, sound weird to me. Works just fine on codesanbox. Can you try to reproduce your issue there or share a repository so I'll be able to help you :)

[2022-06-15 15:59] justin-mcclain commented on #778
Have at it.  I am beyond confused on what's going on.  I've used it on a previous project with no issues and it was wonderful.  I also tried it on Code Sandbox and it worked there without issue too.

https://github.com/justin-mcclain/portfolio/tree/main/portfolio/client/src

Thanks!

[2022-06-16 06:53] fkhadra commented on #778
Hey @justin-mcclain, so the issue is coming from some global css rules that you have 😁
https://github.com/justin-mcclain/portfolio/blob/main/portfolio/client/src/App.scss#L239
[code]
This one will prevent the close button and the notification icon to be positioned as expected

I've also noticed that the text of the notification is centered, I don't know if it's intended but if it's not the case, i

[2022-06-16 06:53] #778 closed

[2022-06-16 10:22] djaffer commented on #775
same issue

[2022-06-17 08:41] thsorens opened #779 "inject-style has the wrong file-name in bundle"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
<img width="332" alt="image" src="https://user-images.githubusercontent.com/9530653/174261341-0f5eaae5-9001-4698-a08e-fe59439dab74.png">

<img width="188" alt="image" src="https://user-images.githubusercontent.com/9530653/174261376-3af16a56-3705-4977-8514-65cc122e9306.png">

After changing to mjs (vers

[2022-06-18 16:42] villqrd commented on #698
Hello!

Same issue here, did you find a solution by any chance?

[2022-06-18 17:54] Elugormo commented on #698
You might try to set a unique Id to the toast, so this problem won't appear if multiple requests for the same operation are coming, as shown in my Sandbox. By setting { toastId: 'something' } you will omit the problem for obvious reasons - only one promise will be handled. But in case there are a lot of them and they are different, this is impossible due to the specifics of the mechanisms that are

[2022-06-20 08:02] #779 closed

[2022-06-21 01:14] bluepeter commented on #775
Still the same issue in `9.0.4`

[2022-06-21 06:43] roblotter commented on #772
@fkhadra appreciate if you can have a look at the related PR that fixes the issue. Thanks

[2022-06-21 13:49] rus-yurchenko commented on #607
I was going to request the same feature. As for me, it's a bit weird that with the limit set up we have to wait until all of the visible toasts are vanished before starting to add the toasts from the queue. This adds a noticeable gap from the user's perspective.

It'd be nice to configure the behavior to support something like a 'stack' when the newly added item shifts the oldest visible toast fro

[2022-06-22 07:35] villqrd commented on #698
@Elugormo Thanks for your answer, it's a bit helping although still an issue..

[2022-06-22 13:38] rus-yurchenko commented on #321
@fkhadra is possible to smoothly shift visible toasts to the bottom with `newestOnTop` enabled? The current behavior is still  'jumping' when new elements are added from the top like it's shown in the last gif.

[2022-06-23 19:29] tarwn opened #782 "AutoClose starts paused on very fast updates that include a change to `type`"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

I display a toast (`autoClose: false`) when a record starts saving, then update that toast to report success (`autoClose: 5000`) when the save is successfully complete. When the save is too fast, the 2nd state with the autoClose appears, but the autoClose is paused. Actions that unpause the toast (ho

[2022-06-23 23:58] vincentes commented on #615
+1

[2022-06-24 02:03] athomas-wtv commented on #775
I got this error using 9.0.5. I went down to 9.0.3 and now it works.

[2022-06-24 07:19] hipitihop opened #783 "CSS distribution"
Great library. We have been using it for considerable time.

We use the npm module from within clojurescript, and compile via shadow-cljs. We currently use 8.2.0.
However we can't import CSS as per your docs, so to date we have been packaging the minified css along with our app, then loading it via html

[code]

But each release, I struggle to remember where to find the actual CSS as opposed to th

[2022-06-24 07:58] hipitihop commented on #783
Update: I found I had to go through the install/build process to produce the node_modules then navigate to react-toastify/dist/ to find it. Is there an easier way ? could the `dist` perhaps be included here in the repo ?

[2022-06-24 17:33] xkomiks opened #784 "Pending icon not show when used ToastContainer icon prop"
[code]

[2022-06-25 21:38] fkhadra commented on #782
Hey @tarwn, thanks for the codesanbox. I won't have time to investigate the issue before 1 or 2 weeks (👶 incoming). Meanwhile, I can suggest a workaround. You can add a delay as follow
[code]

[2022-06-25 21:40] fkhadra commented on #783
Hey @hipitihop, thank you. I'll see what I can do for you

[2022-06-27 11:11] xkomiks opened #785 "Not support react array"
[code]

[2022-06-30 07:58] DanielKucal commented on #343
Same problem with newest Next.js router, <ToastContainer> is placed in _app.tsx besides main app container (it doesn't work at all when placed in _document.tsx). I had to add setTimeout for the toast to appear after the route change is complete, otherwise the toast content was immediately gone.

[2022-07-01 16:40] IliaGolubenko commented on #753
You can try to set toast to toastId variable and dismiss it when needed
`const toastId = toast("Hello", options)`
`toast.dismiss(toastId)`

[2022-07-07 16:56] magicjeremy opened #787 "[Feature Request] Group toasts by ID"
The current behavior is to not show a toast with the same ID if one already is visible. However, we have a use case where we still want to group toasts by ID so that they're automatically collapsed by default, but expandable to see each toast. This is useful if there are multiple similar toasts that fit a specific category, but all differ slightly in the metadata.

Another example I've seen this i

[2022-07-08 15:02] ferfrey opened #788 "Swipe to dismiss animation not working correctly when using React 18"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
Animation (translate x) of the swipe to dismiss functionality is not working on React 18, introducing some weird behavior

Here is a codesandbox: https://codesandbox.io/s/green-rain-xnccs2
Steps to repro:
1. Click 'click me'
2. Try to dismiss the toast by performing a swipe to the right.
3. No

[2022-07-08 15:59] wiscat opened #789 "Override Default.CSS_NAMESPACE prefix ?"
Hello! Is there any way to change the class name "Toastify" prefix inside components?

[2022-07-08 21:43] fhrryDeveloper opened #790 "Can't import the named export 'cloneElement' from non EcmaScript module (only default export is available)"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
I can see following bug when I install this module
Can't import the named export 'cloneElement' from non EcmaScript module (only default export is available)
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed m

[2022-07-10 08:51] fkhadra commented on #788
Hey @ferfrey, this issue is caused by the fact that react18 run useEffect 2 times in dev mode. It won't happen in the production bundle.

https://reactjs.org/docs/strict-mode.html#ensuring-reusable-state

I have yet to find a way to fix this

[2022-07-10 08:52] fkhadra commented on #790
Hey @fhrryDeveloper what are you using to bundle your app? CRA, nextjs?

[2022-07-10 08:53] fkhadra commented on #785
`toast(<>{["Some text with a", <span>span</span>, "in it"]}</>) // work` -> valid jsx

`toast(["Some text with a", <span>span</span>, "in it"]) // does't work` -> unvalid jsx

[2022-07-10 08:53] #785 closed

[2022-07-10 11:25] mehdi-developer opened #791 "Progress bar overflow on iOS devices and safari browser"
The progress bar gets outside the toastbar on iOS devices and Safari browser on macbook .

<img width="424" alt="Screen Shot 1401-04-19 at 15 46 57" src="https://user-images.githubusercontent.com/63982703/178142822-fb64f288-03fb-41cb-82dc-5b171655769a.png">

This is how I modify it with tailwindcss :

[code]

Versions :

next 12.0.7
react 17.0.2
react-dom 17.0.2
react-toastify 9.0.5
Macbook Safari

[2022-07-10 13:19] nvsd opened #792 "numberOfToastDisplayed replacement in v9?"
**Do you want to request a *feature* or report a *bug*?**
feature:
This might already be present but a way to get the numberOfToastDisplayed now that onChange passes a ToastItem

**What is the current behavior?**
`toast.onChange` now passes a ToastItem which makes a lot more sense but I'm trying to find a way to get a count of the total number of toasts displayed and so far I don't see one. The dr

[2022-07-10 13:49] nvsd commented on #792
A quick glance at the code and I'm seeing some potential ways of doing this but I also could be missing where it's already exposed. If it's not already exposed I'd be happy to take a crack at a PR for this once an api is formulated.

Some ideas would be to return something like this from `useToastContainer`. It looks like `count` is already present on the instance of `ContainerInstance` it's just

[2022-07-10 17:39] McSam94 commented on #740
is there any update to this matter?

[2022-07-12 12:31] bkern commented on #790
I am having the same issue with same version of react/react-dom and I use CRA

[2022-07-12 12:41] bkern commented on #790
It was that CRA was old. I created project with v4 and now its on v5 which has solved this issue. By updating react-scripts in my project I was able to use this library.

[2022-07-12 14:36] ferfrey commented on #788
Thank you for your reply, I can confirm that is not happening in the production bundle.

[2022-07-12 16:59] loveyandex opened #794 "add "i got it" bottom button to close component"
x button is good but is not "i got it " concept
![image](https://user-images.githubusercontent.com/53381292/178550122-ecedb736-892b-4615-af32-6050962a5888.png)

[2022-07-13 17:43] dhebert-dev opened #795 "I am experiencing this issue currently as of react-toastify: ^6.2.0. Is there a planned date or quarter when this bugfix will go live? Thanks!"
I am experiencing this issue currently as of react-toastify: ^6.2.0. Is there a planned date or quarter when this bugfix will go live? Thanks!

_Originally posted by @dhebert-dev in https://github.com/fkhadra/react-toastify/issues/550#issuecomment-1183411690_

[2022-07-14 08:18] fkhadra commented on #794
Hey @loveyandex, you can render whatever you want. You are not limited to string. https://fkhadra.github.io/react-toastify/render-what-you-want/

[code]

[2022-07-14 08:18] #794 closed

[2022-07-14 08:20] fkhadra commented on #795
Hey @dhebert-dev, what prevents you from upgrading to a newer version? v6 is quite old now

[2022-07-14 08:30] fkhadra commented on #790
Hey @fhrryDeveloper, https://github.com/bezkoder/redux-toolkit-example-crud-hooks uses an old version of react-scripts. Using the latest should fix your issue.

[2022-07-14 08:30] #790 closed

[2022-07-14 08:31] #788 closed

[2022-07-14 08:40] fkhadra commented on #784
Hey @xkomiks, currently, there is no way to change the pending icon via the ToastContainer. Instead, you can do this

[code]

[2022-07-14 08:40] #784 closed

[2022-07-14 21:05] dhebert-dev commented on #795
Hey I have found the info needed and which version the bugfix was implemented. We are looking into upgrading. Thanks so much for reaching out and for all the hard work that has gone into this component.

fix [#550] Unable to select text inside inputs when a toast is open was pushed in version 7.0.0

[2022-07-14 21:05] #795 closed

[2022-07-15 15:52] goldmont opened #796 "Generic type is not passed to NotificationCenterItem in UseNotificationCenter interface"
Hi there,

As anticipated in the title, there is a type definition error that prevent me from specifing the type of the notification `data` payload. The problem is that the generic type `Data` is not passed [here](https://github.com/fkhadra/react-toastify/blob/master/src/addons/use-notification-center/useNotificationCenter.ts#L59). Thus, the result is that each notification has the following type

[2022-07-17 06:53] imranbarbhuiya opened #797 "Error: React is not defined"
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
Using [react-toastify](https://github.com/fkhadra/react-toastify) with `@vitejs/plugin-react v2.0.0` and `vite v3.0.0` throws
`ReferenceError: React is not defined` only in **Production**.

After getting the error, I enabled sourcemap and found the error in `react-toastify` esm build.
![image](https://u

[2022-07-17 10:58] goldmont opened #798 "useNotificationCenter: marking all as read or clearing notifications does not update all components using this hook"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Having two components `A` and `B`, clearing notifications from `B` does not update `A` component state. Currently, component `A` renders a badge showing the count of unread notifications; `B`, instead, is my implementation of the notification center. Clearing all notifications or marking them as read f

[2022-07-17 16:03] fkhadra commented on #798
Hey @goldmont, may I ask you to reproduce the issue in codesanbox? Thanks

[2022-07-17 16:05] fkhadra commented on #797
hey, @imranbarbhuiya which version of react-toastify are you using? A fix has been pushed in v9.0.4 to fix an issue with vite

[2022-07-17 16:11] #796 closed

[2022-07-17 16:13] fkhadra commented on #796
@goldmont thanks for reporting the issue. I've published the fix

[2022-07-17 16:14] goldmont commented on #796
Thank you man.

[2022-07-17 16:16] goldmont commented on #798
Sure, I can. I'll do it later this afternoon or tomorrow.

[2022-07-17 17:11] goldmont commented on #798
Here you are: [CodeSandbox](https://codesandbox.io/s/react-typescript-forked-ln02qy)

ToastContainer is hidden in this example via `display: none`. In order to reproduce the issue, you have to click on the notifications and look at the `unreadCount` value.

[2022-07-17 17:32] imranbarbhuiya commented on #797
I'm using v9.0.5

[2022-07-17 18:20] mehmetonder commented on #797
I get the same error using the newly released v9.0.6` @vitejs/plugin-react v2.0.0` and `vite v3.0.0`.

[2022-07-17 18:31] fkhadra commented on #797
@imranbarbhuiya would it be possible to reproduce your issue in code sandbox or share a repo? Thanks

[2022-07-17 18:40] fkhadra commented on #740
Hey @mattleonowicz, the `pauseOnFocusLoss` only has effects on displayed notifications
- With `pauseOnFocusLoss` enabled
https://user-images.githubusercontent.com/5574267/179411349-1c45a377-b604-4d2c-b60f-f605e1caaf4f.mov

- With `pauseOnFocusLoss` disabled, notifications keep running even when focusing on another window
https://user-images.githubusercontent.com/5574267/179411399-f460b33c-3132-4b6

[2022-07-17 18:40] #740 closed

[2022-07-17 18:47] fkhadra commented on #797
It seems to work just fine for me, so I believe it has something to do with the configuration

https://github.com/fkhadra/vite-toastify

[2022-07-17 19:12] fkhadra commented on #798
@goldmont thanks for the reproduction.  Using `useNotificationCenter` is like `useState` because they are totally independent when used in different components.

eg: every `useNotificationCenter` keeps track of his own state.

- When you add a notification it works because the hook relies on `toast.onChange` to update his state.
- When you use `markAsRead`, `toast.onChange` is not involved at all,

[2022-07-17 19:12] #798 closed

[2022-07-17 19:34] goldmont commented on #798
Is it possible to add the ability to notify all the notification centers? For example, each notification center could register internally to a shared object and force the relative component to re-render when the "notifyAll" function is invoked. Something like this

[2022-07-17 19:43] goldmont commented on #798
Another solution could be to add a new property to the ToastContainer. For example, the property `sharedNotificationCenter` of boolean type. Setting this property to true, it makes all notification centers centralized. What do you think about?

[2022-07-18 00:36] pitang1965 commented on #797
I ran into the same problem and couldn't solve it, so I switched to a different notification library, but the problem occurs before I switched.

* https://github.com/pitang1965/pitang-todo/commit/a85ecb251baa8775882d06b0fef3553b506e0922
* [Enter email and press button](https://62d3ec7f7f85b10009e9d32b--pitang-todo.netlify.app/)

[2022-07-18 03:56] imranbarbhuiya commented on #797
I'll try with your repo btw have you tried in production build or dev build? Because dev build works fine the issue comes in production build.

[2022-07-18 04:03] pitang1965 commented on #797
I have seen no issues in the development environment, only with Netlify.

[2022-07-18 08:15] JoepdeJong commented on #675
@fkhadra is it possible to push the source of the `gh-pages`? i would like to resolve this issue.

[2022-07-18 10:43] iambhautik opened #799 "./node_modules/react-toastify/dist/react-toastify.esm.mjs Can't import the named export 'cloneElement' from non EcmaScript module (only default export is available)"
i have installed react toastify 9.0.6
it through error like this...
./node_modules/react-toastify/dist/react-toastify.esm.mjs Can't import the named export 'cloneElement' from non EcmaScript module (only default export is available)

[2022-07-18 10:51] #799 closed

[2022-07-18 11:08] mattleonowicz commented on #740
Thanks for the explanation!. I ended up using `document.hidden` for my usecase and it works well.

[2022-07-18 12:34] goldmont commented on #798
Hi there,

I made my own implementation of `useSharedNotificationCenter` and it works as expected. Maybe it could be useful to someone

[code]

[2022-07-18 19:16] fkhadra commented on #797
You're right @imranbarbhuiya didn't see that the issue was just happening in production.

[2022-07-18 19:56] fkhadra commented on #797
@imranbarbhuiya may I ask you to try to install `yarn add react-toastify@9.0.6-vite-1` and see if it fixes your issue without changing the jsxRuntime. Thank you

[2022-07-18 19:58] fkhadra commented on #798
Hey @goldmont, thanks a lot for sharing your solution. I guess at some point I can add something similar to the addon so it's available out of the box

[2022-07-18 20:15] imranbarbhuiya commented on #797
No still the same error. I just upgraded my vite to `3.0.2` as I saw they fixed an esm issue but still, `react-toastify@9.0.6-vite-1` with `vite@3.0.2` throws the same error.

[2022-07-18 20:55] imranbarbhuiya commented on #797
Yeah yarn was resolving it to `9.0.6`. I just tried by pinning the version and it worked. Thanks.

[2022-07-18 20:56] fkhadra commented on #797
Awesome I'll publish a new version tomorrow then

[2022-07-19 06:33] #772 closed

[2022-07-19 06:42] fkhadra commented on #797
@imranbarbhuiya pushed v9.0.7

[2022-07-19 06:42] #797 closed

[2022-07-19 07:17] Robloche commented on #775
Hello,
Can we get an update on this issue, please?
Not a real blocker since we can stick to v9.0.3 but we're slowly drifting away from the latest version...

[2022-07-19 08:45] goldmont commented on #791
Same here, only on iOS after progressbar animation starts:
![image](https://user-images.githubusercontent.com/6855692/179707907-0f33a308-d74c-4e4b-ae28-3d043055e365.png)

[2022-07-19 11:58] fkhadra commented on #775
Hey @Robloche, I understand your concern but supporting something that's 2 years old + modern bundlers is a lot of work. Can't you upgrade CRA? As a maintainer, we are supposed to drive the changes to the modern module system but we also need your help with that.
If you want to stick with CRA v4 there is this workaround https://github.com/reactioncommerce/reaction-component-library/issues/399#issu

[2022-07-19 12:54] Robloche commented on #775
Yes, I totally want to upgrade to CRA5 but this leads to other issues (missing polyfills, as you're obviously aware)? So, for now, I'll stick to CRA4 and react-toastify 9.0.3.
And as soon as my workload allows it, I'll upgrade everything.

I just wanted to know if something was in progress regarding this issue, but I truly understand that's not a trivial dev.

Thanks!

[2022-07-20 09:22] djaffer commented on #775
It would be nice if it is not a requirement and expectation to upgrade to react. I really like this plugin.

[2022-07-20 13:50] kelvinelove commented on #799
Did you figure out what the issue was?

I am experiencing the same error in one of my projects:

[2022-07-20 18:16] cnelms opened #800 "Does not work in Vite v3 prod build"
When I upgraded to Vite v3, toastify started bombing on my production build due to a React.createElement statement causing "Reference error: React is not defined"

I have rolled back quickly so can't really show exactly where it happened, but I'm guessing you just need to be sure to `import React` in all your view components.

[2022-07-21 18:36] fkhadra commented on #800
Hey @cnelms the latest release fixes this issue. See https://github.com/fkhadra/react-toastify/issues/797 for more details

[2022-07-21 18:36] #800 closed

[2022-07-21 18:49] cnelms commented on #800
Awesome. That was quick. Thanks!
________________________________
From: Fadi Khadra ***@***.***>
Sent: Thursday, July 21, 2022 11:36 AM
To: fkhadra/react-toastify ***@***.***>
Cc: Carey Nelms ***@***.***>; Mention ***@***.***>
Subject: Re: [fkhadra/react-toastify] Does not work in Vite v3 prod build (Issue #800)

Hey @cnelms<https://nam11.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.

[2022-07-22 10:38] mthaak commented on #455
Another way of doing this (and I suspect @fkhadra's intention) is to create your own implementation of `ToastContainer` and `Toast` by using the `useToastContainer` and `useToast` hooks. This implementation can take inspiration from the existing [ToastContainer.tsx](https://github.com/fkhadra/react-toastify/blob/master/src/components/ToastContainer.tsx) and [Toast.tsx](https://github.com/fkhadra/r

[2022-07-24 09:22] nuthinking opened #803 "Module parse failed with `react-scripts-ts`"
I've a fairly old app initially created years ago with Create React App for Typescript. I basically don't have access to the Webpack config unless I eject it.

Trying to use the library I get:
[code]

Looking around the issues, the only solution I found that worked was using version 4.5.2. Not a very appealing strategy since now it's very old. What else could I try? Thanks a lot! 🙏

[2022-07-24 15:55] fkhadra commented on #803
Hey @nuthinking, it's happening because CRA pre v5  does not support esm module. Upgrading to the latest `react-scripts` should fix the issue

[2022-07-25 12:11] nuthinking commented on #803
Ok, thanks! I think I will try to re-create the project from start with CRA and Typescript. Wish me luck!

[2022-07-25 12:11] #803 closed

[2022-07-25 20:52] nuthinking commented on #803
@fkhadra too many issues upgrading CRA. I guess I'm stuck to my version.

[2022-07-29 05:45] ashikibrahim commented on #775
i had this error => "Can't import the named export 'cloneElement' from non EcmaScript module" i updated the react-script version 2.0.3 to 5.0.1 and i corrected the issue. i had tried many other ways but coudnt find a solution

[2022-07-30 16:45] Aeden-B commented on #771
I have the same bug.
No problem with react-toastify v8 but with v9 :
[code]

[2022-08-01 15:58] raDiesle commented on #782
the delay trick doesnt work for us

[2022-08-02 05:58] fkhadra commented on #782
@raDiesle do you have a repo that you can share?

[2022-08-02 08:32] raDiesle commented on #782
Unfortunately cant share demo.

So we figured out that migrating from 6.x to 9.x adding original css below fixes it.

Seems its also related to transition property, which if used, requires still global css to be added ( might be unexpected and a bug).

.Toastify__bounce-enter--top-right, .Toastify__bounce-enter--bottom-right
.Toastify__bounce-exit--top-right, .Toastify__bounce-exit--bottom-right
.

[2022-08-02 11:39] fkhadra commented on #791
Hey guys, it's a known issue with webkit. I managed to find a fix. Will be released in the next patch version

[2022-08-02 16:59] jshap2000 opened #810 "AutoClose doesn't work on update"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

When updating a toast, the toast loses it's ability to autoclose (even when including autoclose in the update body). You must hover  directly over the toast to close it.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug

[2022-08-02 17:25] fkhadra commented on #810
Hey @jshap2000 could you reproduce the issue in codesandbox please, this would speedup the fix if needed :)

[2022-08-02 19:55] jshap2000 commented on #810
https://codesandbox.io/s/dreamy-ganguly-hy9z5p?file=/src/App.js

[2022-08-02 19:56] jshap2000 commented on #810
https://user-images.githubusercontent.com/46686400/182461988-8dd78bdd-1a1b-4816-b6c9-6751761b9c8e.mov

Hope this video helps also. autoclose pauses until you hover over it.

[2022-08-03 08:48] fkhadra commented on #810
@jshap2000 it seems that the codesanbox you shared has not been saved :D

[2022-08-03 14:00] jshap2000 commented on #810
https://codesandbox.io/s/react-toastify-bug-replication-hy9z5p

[2022-08-03 14:02] jshap2000 commented on #810
Let me know if that link works, try replicating the behavior in the video.

[2022-08-03 21:32] trylle opened #811 "Programmatically dismissed toasts while container is unmounted still appear when the container is mounted"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Programmatically dismissing a toast while the container is unmounted has no effect. The toast still shows up when the container is mounted.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we

[2022-08-03 23:11] Faithfinder commented on #455
Since you're allowed to render a React component as a prop you can just wrap library's methods, like this, I believe. Ideally there would be no extra wrapper divs from library, but you can neutralize them easily enough. Other than that, I believe ergonomics are quite tolerable.

[code]

[2022-08-04 07:48] fkhadra commented on #810
@jshap2000 it seems that the next version(v9.0.8 will be released at the end of the week) will fix this issue. [![Edit Fix #810](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/fix-810-jv3qwt?fontsize=14&hidenavigation=1&theme=dark)

May I ask you to test in your project as well?

[code]

[2022-08-04 07:50] fkhadra commented on #782
The issue could be related to https://github.com/fkhadra/react-toastify/issues/810. If you want to test a potential fix run

[code]

[2022-08-04 07:53] fkhadra commented on #811
Hey @trylle, thanks for opening the issue. I never thought about this use case before :).  Regarding your PR, it's more a feature than a bug 😆.

[2022-08-04 07:55] #742 closed

[2022-08-04 07:57] fkhadra commented on #720
Fixed by #810 I believe

[2022-08-04 10:17] trylle commented on #811
Thanks for the quick response, @fkhadra. 🙂 I agree it's a bit of a edge case. In our case it did seem like a bug, because we had an unclosable toast (a load indicator) which would sometimes be initiated and dismissed programmatically before the toast container was mounted, and the toast was then left in a stuck/unusable state cluttering the user's view.

Our toast container was in a different part

[2022-08-04 12:09] jshap2000 commented on #810
Yup, the fix looks good!

[2022-08-04 12:11] fkhadra commented on #810
@jshap2000 thanks for testing! Expect a new release by the end of the week

[2022-08-04 15:17] jshap2000 commented on #810
@fkhadra Sorry to circle back on this but there is still one slight bug in the update. On the very first toast it seems like there is a slight delay before autoclose progress begins. If you call update in that moment before autoclose begins the next call to update will hang the autoclose (it will never finish).

Posted a video of first the bug and then it working as long as autoclose progress begi

[2022-08-04 15:28] fkhadra commented on #810
@jshap2000 I'm having a hard time reproducing the issue. Am I doing something wrong?

https://user-images.githubusercontent.com/5574267/182886177-646ace5e-1d7a-4949-97fa-97c6a3bf356a.mov

[2022-08-04 15:35] jshap2000 commented on #810
Actually it might just have been the animation time length I was using.

[2022-08-04 15:35] fkhadra commented on #810
The progress bar start only when the entrance animation is done

[2022-08-04 15:38] jshap2000 commented on #810
It seems like if the progress bar hasn't started yet, on a call to update, the progress bar will never start.

[2022-08-04 15:39] jshap2000 commented on #810
Is it possible to make it so that even if the progress bar hasn't started, on a call to update, it will still be able to start without having to manually hover over.

[2022-08-04 15:51] fkhadra commented on #810
Using https://codesandbox.io/s/react-toastify-bug-replication-forked-z4lkdf I can confirm that the issue is coming from the animation timing.
[code]
Just to give a bit of context. We don't want the autoclose timer to start before the entrance animation is complete,
because if the autoClose delay is shorter than the entrance animation, you would never see the notification.
That's why we wait for th

[2022-08-04 15:52] murillo94 commented on #775
in your webpack config file, just follow theses steps [here](https://github.com/reactioncommerce/reaction-component-library/issues/399#issuecomment-467860022)

[2022-08-04 16:10] jshap2000 commented on #810
Ok thanks again for your help with all this.

[2022-08-04 16:24] fkhadra commented on #810
You're welcome

[2022-08-05 04:08] sohhamm commented on #799
how did you resolve this?

[2022-08-05 05:17] 85ar opened #815 "useNotificationCenter with localStorage"
Good afternoon. Tell me please. In my react application, I use useNotificationCenter - that is, your Notification Center. But I need that after refreshing the page (F5) the data is not reset. I tried to do it through localStorage, but when the page is updated, notifications are still reset, because. const { notifications } = useNotificationCenter(). If I do this: const { notifications } = useNotif

[2022-08-05 09:29] lokomass opened #816 "Warning: React does not recognize the `closeToast` prop on a DOM element"
Hello,

I want to use component in a toast, It works but I have this issues :

[code]

Here is my code :

https://codesandbox.io/s/fervent-butterfly-dmf344?file=/src/App.js

Thanks for your help

[2022-08-05 11:21] kelvinelove commented on #799
I recall i removed /node_modules and package-lock.json, and downgraded my node version (to 14.x), and that seemed to solve it

[2022-08-05 17:29] fkhadra commented on #816
Hey @lokomass, wrap your component as follow
[code]

[2022-08-05 17:29] #816 closed

[2022-08-05 17:30] fkhadra commented on #815
Hey @85ar, you have to pass the items to data

[code]

[2022-08-05 17:30] #815 closed

[2022-08-05 20:02] yaoyang2 opened #817 "If ToastContainer is created by createPortal, the toast message cannot be closed manually or automatically"
If  ToastContainer is created by createPortal, the toast message cannot be closed manually or automatically

[2022-08-06 00:47] alejandr0bovino opened #818 "Animation duration"
Hi,
Is there a way to configure animation duration?

[2022-08-06 06:50] grazianodev opened #819 "Have the "type" property accept a function that receives data when using toast.promise"
**Do you want to request a *feature* or report a *bug*?**

I want to request a feature

**What is the current behavior?**

Currently, when using toast.promise you can only set a toast's type as a string,  eg.:

[code]

**What is the expected behavior?**

It would be nice if `type` accepted a function that receives the data (just like `render`), and determine the type based on that data. I'm asking

[2022-08-06 10:14] fatemeKholousi commented on #423
in version 9 you can:
toast.success("And of course a component of your choice", {
  icon: MyIcon
});

[2022-08-07 03:09] darshantank1995 opened #820 "SyntaxError: The requested module 'react' is expected to be of type CommonJS, which does not support named exports. CommonJS modules can be imported by importing the default export. For example: import pkg from 'react'; const { isValidElement, useRef, useLayoutEffect, useEffect, cloneElement, useReducer, useState, forwardRef } = pkg;"
SyntaxError: The requested module 'react' is expected to be of type CommonJS, which does not support named exports. CommonJS modules can be imported by importing the default export.
For example:
import pkg from 'react';
const { isValidElement, useRef, useLayoutEffect, useEffect, cloneElement, useReducer, useState, forwardRef } = pkg;

[2022-08-07 05:44] #791 closed

[2022-08-07 05:45] #810 closed

[2022-08-07 05:45] #782 closed

[2022-08-07 05:45] #771 closed

[2022-08-07 05:45] fkhadra commented on #771
@martinadamec  should be fixed in the latest release

[2022-08-07 05:46] #752 closed

[2022-08-07 05:46] #720 closed

[2022-08-07 05:47] fkhadra commented on #817
Hey @yaoyang2 could you share a codesanbox with the issue please? Thank you

[2022-08-07 05:49] fkhadra commented on #820
Hey @darshantank1995 it would be difficult for me to help you without a reproduction. Repository, setup etc... thanks

[2022-08-07 05:50] fkhadra commented on #818
Hey @alejandr0bovino, the animations used are plain CSS animations so you can do as you please. https://fkhadra.github.io/react-toastify/custom-animation/

[2022-08-07 05:50] #818 closed

[2022-08-07 05:52] #811 closed

[2022-08-08 11:17] yaoyang2 commented on #817
[https://codesandbox.io/s/goofy-sea-j32qmr](url)

[2022-08-09 04:57] fkhadra commented on #817
@yaoyang2 your exmaple is not using portal but creating a new react tree
[code]

[2022-08-09 10:38] TAGC commented on #639
For some reason this doesn't seem to work for me.

I'm trying to pad the toast container so that toasts are 20px offset from the edges of the page, but nothing I put in here gets picked up:

[code]

![image](https://user-images.githubusercontent.com/1588951/183628314-a8af59ab-4196-498b-9ced-910b24ee8e46.png)

[2022-08-09 11:53] unematiii commented on #534
There is definitely something going on when browser is activated from background (throttling of timers?). So I switched from using my own constant ID-s to one generated by this API while storing them in ref object. But now, sometimes when browser is activated again `toast.dismiss(id)` or even `toast.dismiss()` does not nothing, toast just wont hide...

[2022-08-09 12:17] yaoyang2 commented on #817
//ok
  const container = document.createElement("div");
  document.body.append(container);
  const portal = createPortal(<ToastContainer />, container);

  //not work
  const container = document.createDocumentFragment();
  const portal = createPortal(<ToastContainer />, container);
  setTimeout(()=> {
    DocumentFragment.body.append(container);
  })

[2022-08-09 13:10] fkhadra commented on #817
So it does work with react portal. The issue is coming from `document.createDocumentFragment`. Why are you using a document fragment? This is not working with a `DocumentFragment` because it's not attached to the actual DOM, so the events won't be propagated

[2022-08-09 14:30] yaoyang2 commented on #817
In my project, I need the ToastContainer to be at the top level of the dom, otherwise the toast message will be obscured

[2022-08-09 15:06] zephimir commented on #820
I'm having a kinda similar error in a nextjs project with preact as a dep instead of react. Are you having anything similar @darshantank1995?

[2022-08-09 17:57] #817 closed

[2022-08-10 10:28] iMoses-Apiiro opened #822 "autoclose doesn't work if `.Toastify__progress-bar--animated` doesn't have a css animation"
I'm using a custom CSS in my application and I've noticed that since updating to v9 the `autoClose`
option no longer work. After a short debug session I've found that these are the CSS lines that were missing to fix it:

[code]

Not sure why, I'm guessing the code might be checking the DOM animation to trigger the action, but with it this works and I'm not even using the progress bar (`hideProgres

[2022-08-12 07:44] lokomass commented on #816
thanks you very much !

[2022-08-12 08:51] Mominadar commented on #695
Hi, I would like to work on this. Can you assign it to me? @fkhadra

[2022-08-15 23:01] ahemadShaikh commented on #775
i am having same issue @fkhadra

./node_modules/react-toastify/dist/react-toastify.esm.mjs
Can't import the named export 'cloneElement' from non EcmaScript module (only default export is available)

please help @fkhadra

[2022-08-16 01:03] KubaChoice opened #824 "Unexpected behavior with combination: update & limit"
When you try following code when toast container have set limit=1, expected behavior should be same in both runs, but i did not, in the second run it show fist message and not last:

[code]

During first "onClick()" run is eventually (instantly) showed 'c'
After close (manually or after time out), second "onClick()" show 'a' (even twice - but this can be related with another issue)

[2022-08-16 18:03] fkhadra commented on #822
Hey @iMoses-Apiiro, sorry for that.

The lib waits for the entrance animation to finish before starting the autoClose timer. The autoClose timer is linked to the progressBar animation, that's why this piece of style is needed.

So even if you don't use the progress bar, this style is still needed. That's why it's `hideProgressBar` and not `disableProgressBar`.

I might review the implementation at

[2022-08-17 06:46] 85ar opened #826 "useNotificationCenter and localStorage"
Good afternoon. In my react application I use useNotificationCenter. I need to make sure that messages and the number of unread messages are stored in localStorage. It is necessary that after reloading the page, you can view messages - read or unread, see the number of messages. And so that after reloading the page, I could again correctly delete messages and make them read. Here is an example cod

[2022-08-17 09:31] iMoses-Apiiro commented on #822
@fkhadra if you're welcoming PRs I can give it a go myself when I get a chance

[2022-08-18 09:08] znat opened #827 "Notification content not showing in toast"
Hi there :)

**Do you want to request a *feature* or report a *bug*?**
A bug or a question

**What is the current behavior?**
I simply npm installed and implemented as follows:

[code]
But the toast content is directly shown in the page
<img width="606" alt="image" src="https://user-images.githubusercontent.com/3694634/185356483-48dda342-f560-4966-8d69-8c45fef05bce.png">

**Which versions of React

[2022-08-18 19:03] Davenporten commented on #775
I'm seeing this issue with CRA5 and >=v9.0.4

[2022-08-18 19:19] fkhadra commented on #827
@znat looks like you didn't import the required CSS
[code]

[2022-08-18 19:20] fkhadra commented on #824
@KubaChoice can you reproduce the issue on codesanbox or share a repository thank you

[2022-08-18 19:43] fkhadra commented on #826
Hey @85ar,

I made a working example here
[![Edit notification-center-local-storage](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/mystifying-frog-6moocn?fontsize=14&hidenavigation=1&theme=dark)

Now let's deep dive into some explanation to understand what was the issue.

In your case, you were calling `useNotificationCenter` 3 times. It behaves like `useState`,

[2022-08-18 19:43] #826 closed

[2022-08-18 19:49] fkhadra commented on #775
@The-Code-Monkey Any repo to share?

@Davenporten I've created a project with CRA5 and it worked as expected. Are you sure, you are using the right react-scripts version ?
<img width="1479" alt="Screenshot 2022-08-18 at 21 48 05" src="https://user-images.githubusercontent.com/5574267/185481998-82985189-c5c5-4565-a31b-01f241629f77.png">

[2022-08-18 19:58] Davenporten commented on #775
I've been trying out the `react-app-rewired` solution and am waiting for things to compile/index. I will revert back in just a little to confirm. Thanks for the quick response!

[2022-08-18 19:59] fkhadra commented on #775
I'll try tomorrow with the rewired solution and keep you posted

[2022-08-19 07:19] 85ar commented on #826
Thank you very much

[2022-08-19 07:26] 85ar commented on #826
Yes, everything is working as it should now. But only unreadCount does not work correctly. If we create, for example, 5 notifications (unread Count = 5) and mark 3 of them as read. Then refresh the page, then the unread Count will still show 5, not 2. After all, now we have only 2 unread messages.

[2022-08-19 07:31] fkhadra commented on #826
Hey @85ar, the first number uses `notifications.length`, not `unreadCount`. I've updated the example to make it more clear.

https://user-images.githubusercontent.com/5574267/185567209-9fc3a494-87d0-4531-b464-abb0ce64dbef.mov

[2022-08-19 08:29] 85ar commented on #826
Now I understand. Thank you

[2022-08-19 09:51] KubaChoice commented on #824
Hi
There it is: https://codesandbox.io/s/toastify-update-que-issue-eo21yj?file=/src/index.js

- it seems that update() method working only on active notifications

This is very nice tool, however working with queue is limited, it is pity
Working with queue (in my case) missing at least following:
- update queued notifications (this issue)
- check if notification (id) is queued
- remove specific no

[2022-08-19 10:03] 85ar commented on #826
And what should I do if I want to send a message with a link? That is, I want there to be a link in the message, and you can click on it. And then it was in the notification center - so that you could also click on it.
I did something like this:

[code]

As a result, a message with a link arrives, it appears in the notification center. But if you reload the page and reopen the notification center,

[2022-08-19 10:57] fkhadra commented on #826
@85ar I've updated the example
[![Edit notification-center-local-storage](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/mystifying-frog-6moocn?fontsize=14&hidenavigation=1&theme=dark)

Everything that you'll store in the local storage must be serializable. So instead of passing a react component in data, pass an object or a string.
[code]
Then, when you render y

[2022-08-19 11:03] fkhadra commented on #824
Hey @KubaChoice, you're right. `update` only works with active notification. I think I could address the following point in a future version as they make sense
- update queued notifications (this issue)
- check if notification (id) is queued
- remove specific notification (id) from queue

Regarding `add/relocate notification (id) to queue to specified position`, not too complicated to implement bu

[2022-08-22 08:29] xsjcTony opened #828 "Feature request: Be able to update all existing toasts without knowing their ids"
**Do you want to request a *feature* or report a *bug*?**
Feature

---
**What is the current behavior?**
When I want to update a toast, I have to know its id
[code]
---
**What is the expected behavior?**
I want to update all current toasts that are showing on the screen, without knowing all their ids and iterating through.
[code]
It will work just like `toast.dismiss()` which closes all existing t

[2022-08-22 12:51] 85ar commented on #826
Thanks. You're helping me a lot. And how can I pass such a link:

[code]
I get the 'name' variable from the state in the same component and want to pass it as part of the link.
And then in the notification center:

[code]

[2022-08-22 12:59] fkhadra commented on #826
Hey @85ar, indeed it should work with the code above.

[2022-08-22 19:33] PranoySarker commented on #775
i have the same issue and i have used create-react-app
my react-toastify version is ^9.0.8. please help me

[2022-08-24 05:20] 85ar commented on #826
Found a problem. If you clear all notifications and reload the page, then all the same notifications are loaded into the notification center anyway. They are not cleared from localStorage

[2022-08-24 05:25] fkhadra commented on #826
@85ar this is happening because we only touch the localstorage when there are some notifications
[code]

Just clear the localstorage when you clear all notifications
[code]

[2022-08-24 05:34] 85ar commented on #826
Awesome Everything works. Just need it like this:
`localStorage.removeItem("notifications")`
Thank you.

[2022-08-24 06:06] fkhadra commented on #828
Hey @xsjcTony, not sure this is something that I would put in core. You can already implement such functionality.

[code]
It could potentially be an addon

[2022-08-24 06:12] xsjcTony commented on #828
@fkhadra Yeah such functionality can be implemented but since toast can be triggered anywhere in the component tree, I may need an extra global state for storing ids which is an extra cost, that's why I think such a feature would be great.

[2022-08-24 06:14] tomal02 commented on #765
It's been reported here - https://github.com/fkhadra/react-toastify-doc . Just needs to be merged

[2022-08-24 09:29] 85ar commented on #826
There is such a task. A certain function triggers the creation of data on the backend. The result is recorded as a response when a get request is sent to the endpoint. After starting the function, I need to knock on the endpoint, and depending on the status, output first: the process is started, the process is successfully completed or an error.

[code]

I don't understand how in this case I can s

[2022-08-25 05:48] cristoferrao commented on #775
me to same issue just updated to ^9.0.8 from ^7.0.4

[2022-08-25 05:53] PranoySarker commented on #775
My issue is solved by update the react-script and node version.

[2022-08-25 06:48] cristoferrao commented on #775
thanks

[2022-08-26 09:39] JoyCood opened #830 "react-toastify v9.0.8 autoClose not working on update"
here is the code on [sandbox](https://codesandbox.io/s/react-toastify-update-bug-forked-or7iq7?file=/src/index.js)

[2022-08-29 22:33] ardunster opened #833 "Screen reader loses toasts especially when using multiple toasts."
**Do you want to request a *feature* or report a *bug*?**

Accessibility bug.

**What is the current behavior?**

If a toast renders while reloads are happening on the page, Voiceover (MacOS screen reader) loses them and does not announce them. If multiple toasts render at the same time without any reloads on the page, Voiceover will only read the most recent one on top. This happens even if autoC

[2022-08-30 06:26] fkhadra commented on #830
Hey @JoyCood , when transitioning from `loading` to `update` you have to explicitly tell that the notification is not loading anymore
[code]

[2022-08-30 06:26] #830 closed

[2022-09-02 14:50] SaniMusic opened #836 "Feature request: increase Limit of active container (Think of a "show more butto)"
Feature request

Awesome tool!
Just one scenario I can't see how to implement (maybe I'm missing something from the API)

If you increase the limit of the ToastContainer it will not process the current queue into the container. I basically need a "show more button".

So something like the function

But more like

Could we dynamically add the Toasts in the queue to the active state when the Limit i

[2022-09-03 09:21] ru-zxr commented on #202
I removed PurgeCSSPlugin from my webpack config and the toast style is working.

[2022-09-04 13:13] alexandredev3 opened #837 "`onChange` callback `data` type definition"
**Awesome tool!**

Currently, the type of the `onChange` callback data is always an empty object, so if you try to access any prop from the data object, Typescript would complain.
![image](https://user-images.githubusercontent.com/61118233/188314613-895dfe6f-067c-469c-a53b-e70aff43876f.png)

It would be nice if the `onChange` method accepted a generic to type the `data` object.
![image](https://us

[2022-09-06 21:23] alexandredev3 commented on #819
Such a feature would be nice. Do you know if anyone is working on this? If not, I can give it a try myself!

[2022-09-08 14:10] rus-yurchenko commented on #416
Same request here. I use multiple containers and want to dismiss tosts within an exact container. As an alternative is to call `dismiss` inside a loop over a list of known ids. But, in this case there is a chance to notice a "stepping disappearance" animation.

Since you support multiple containers, do you have any timelines on when this feature can be implemented?

[2022-09-08 15:57] michal-kurz commented on #594
I experience a ~500 ms delay between  `toast.isActive(id)` becoming false, and `options.onClose`  callback triggering (onClose triggers second), this seems to be highly related.

I made a workaround that tracks the open status separately, and re-dispatches toast after `onClose` gets called. It's not ideal (there is a visual delay, because we need to wait for the inital toast to actually finish clo

[2022-09-14 06:32] fkhadra commented on #837
Hey @alexandredev3, glad you like it. You can do as follow :)

[code]

This is documented here https://fkhadra.github.io/react-toastify/listen-for-changes/

[2022-09-14 06:32] #837 closed

[2022-09-15 19:19] JBaczuk opened #839 "closeOnClick cursor"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When `closeOnClick` is set to `false` the cursor is still a pointer, indicating that the toast can be clicked.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doe

[2022-09-16 14:45] haripriya9209 opened #840 "Toaster is reappearing even it is manually closed"
I am using react-Toastify for displaying a toaster when my app goes offline mode. To detect offline mode, I am using react-detect-offline. I am successfully able to display the toaster in offline mode, but the toaster is reappearing on click on the cross button. On click on the cross button For the 3rd reappeared toaster message, the toaster message completely disappears. Attaching sandbox with my

[2022-09-21 09:45] salmanQualogy opened #841 "toast.promise - can't hide the spinner animation during pending"
Not sure if this is possible with this package but I am trying to hide the spinner animation when pending a promise resolve.

Cant hide the animation with package props

**What is the expected behaviour?**
Using a prop to hide the spinner animation during resolve

Is it possible and yes how?

[2022-09-21 18:19] datainvestor opened #842 "Close toast by clicking anywhere outside"
Is there a way to close the Toast by clicking anywhere outside the toast itself? Can't find this in documentation and not sure what should be the best approach when implementing custom solution for that?

[2022-09-22 19:35] IrumiDesu7 commented on #215
Hello have you found a solution for this?

[2022-09-22 19:37] IrumiDesu7 commented on #215
Nvm I've found it, replace the position using important feature in css.
As I am using tailwind, simply use:
`class="!absolute"`
It will stick to it's closest relative parent.

[2022-09-23 08:16] congduong97 commented on #775
It work for me, Thanks

[2022-09-23 20:00] fkhadra commented on #842
Hey @datainvestor, there are several ways to achieve that based on your needs. For example, you could do something like

[code]

[2022-09-23 20:00] #842 closed

[2022-09-24 17:09] IronGeek opened #843 "Cannot find module 'react-toastify' with TypeScript moduleResolution: "NodeNext""
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

When importing `react-toastify` in a typescript project with `moduleResolution` sets to `Node16` or `NodeNext` the following message is shown:

[code]

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much

[2022-09-25 11:07] xSyki commented on #640
@AdrienLemaire @xdebbie @ceconcarlsen @vitorbertolucci
Hi, you can find the changes you've been waiting for in the pull request above. I hope you will like my implementation.

ToastContainer now has a queueLimit property, thanks to which we can set the maximum queue length, or if we want to turn it off completely, we can give queueLimit equal to 0.

[2022-09-25 19:35] gvkhirwadkar opened #845 "Toast must stay if hovered !"
****************************************************************** BUG ***********************************************************

CURRENT BEHAVIOUR -

If the user hovers on toast message it pauses and stays in same position unless user hovers out !

Now if the user clicks on some action repeatedly, it results in showing several toast message.

Let us suppose there were 10 toast messages and user

[2022-09-29 08:31] John-Yue commented on #775
Me too!!!

[2022-09-29 13:39] fanorenantsoa opened #846 "Dispatch toast outside of react component doesn't work, it isn't showing"
I followed the instructions here https://fkhadra.github.io/react-toastify/dispatch-toast-outside-of-react-component/

Then when I switch browser to offline (in Applicaiton tab of dev tools), no toast was appear.

Any idea please ?

[2022-09-29 13:49] mkvlrn commented on #843
Noticed that as well, and to be honest I didn't even realise typescript 4.8 had `NodeNext` by default. Changing it to `Node` works just fine and doesn't break my app, so I'll just use it as a workaround.

[2022-09-30 16:36] waellaataoui commented on #840
Any news with this issue, I feel like it's not getting enough attention. This is probably a bug related to react 18. 😞

[2022-10-02 07:24] ajohnson1031 opened #847 "react-toastify/dist/ReactToastify.css could not be found..."
**Do you want to request a *feature* or report a *bug*?**
BUG

**What is the current behavior?**
![image](https://user-images.githubusercontent.com/33072719/193442908-e9f7e81a-bec7-4bb6-8882-26714e6f519a.png)

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it do

[2022-10-03 05:15] haripriya9209 commented on #840
Yeah may be

On Fri, Sep 30, 2022 at 10:06 PM waellaataoui ***@***.***>
wrote:

[2022-10-04 09:20] halvor07 commented on #841
[code]

[2022-10-04 16:53] ruymaster commented on #775
Also I got this issue.

./node_modules/react-toastify/dist/react-toastify.esm.mjs
Can't import the named export 'cloneElement' from non EcmaScript module (only default export is available)

[2022-10-04 18:57] iamrosada commented on #775
The some issue
./node_modules/react-toastify/dist/react-toastify.esm.mjs
Can't import the named export 'cloneElement' from non EcmaScript module (only default export is available)

[2022-10-06 07:00] asif-simform opened #848 "Two toast overlapping issue while we have used Two or more containers"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When we have two containers and at a time while displaying toast from both container toast are overlapped.

Container One Toast - Click here to add more details...
Container Two Toast - Your profile has been updated

<img width="208" alt="overlapp" src="https://user-images.githubusercontent.com/6265776

[2022-10-07 07:16] paulleonartcalvo opened #849 "Spinner disappears when using toast.promise() and custom icons on ToastContainers via callback"
**Do you want to request a *feature* or report a *bug*?**
This is a bug

**What is the current behavior?**
If no callback is provided to `ToastContainer.icon`, then the spinner appears as expected in any toast which is created via `toast.promise()`. However, if a callback is provided to `ToastContainer.icon`, the following combinations are not possible:

1) a custom icon for a specific toaster `ty

[2022-10-07 16:57] bhorc opened #850 "useNotificationCenter redirect issue"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
When going to any other page, useNotificationCenter does not save data.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React

[2022-10-08 20:01] fkhadra commented on #850
Hey @bhorc, you have to hydrate the notification center, here is an example using localStorage.
[![Edit notification-center-local-storage](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/notification-center-local-storage-6moocn?fontsize=14&hidenavigation=1&theme=dark)

The data can come from anywhere as long as there are serializable and have the correct shape :)

[2022-10-08 20:01] #850 closed

[2022-10-08 20:16] fkhadra commented on #847
Hey @ajohnson1031, unfortunately, the library is not compatible with react-native yet. I did a POC https://github.com/fkhadra/react-toastify/issues/515 but didn't find more time to keep working on it.

[2022-10-08 20:16] #847 closed

[2022-10-08 20:16] #841 closed

[2022-10-08 20:22] fkhadra commented on #843
Thanks for reporting the issue, will fix it asap

[2022-10-08 20:37] fkhadra commented on #840
Hey @haripriya9209! A few remarks, you should render the `ToastContainer` directly and also avoid calling `notify` during rendering

[code]

https://user-images.githubusercontent.com/5574267/194726882-d568ea7b-a794-4963-986e-e526c5050c53.mov

[2022-10-08 20:37] #840 closed

[2022-10-08 20:38] fkhadra commented on #839
Thanks for reporting this issue, makes total sense :)

[2022-10-08 21:27] bhorc commented on #850
thank you very much for the answer, I apparently haven’t fully figured out the module yet, I didn’t know that it was possible

[2022-10-09 18:54] fkhadra commented on #846
Hey @fanorenantsoa, sorry but I cannot help without a repo or a reproduction. You can reproduce your issue in codesanbox and share it there

[2022-10-09 18:55] fkhadra commented on #848
Hey @asif-simform any reason to use multiple containers instead of one?

[2022-10-09 18:56] #827 closed

[2022-10-09 19:39] fkhadra commented on #492
`onClose` callback will be removed in the next major release. It's replaced by the `toast.onChange` https://fkhadra.github.io/react-toastify/listen-for-changes/

[2022-10-09 19:39] #492 closed

[2022-10-09 20:03] fkhadra commented on #660
Solved in latest

[2022-10-09 20:03] #660 closed

[2022-10-10 06:52] asif-simform commented on #848
Hi @fkhadra

I've some special requirements and cases so I need to use multiple containers instead of one for handling the stuff.

[2022-10-10 08:32] fkhadra commented on #848
Hey @asif-simform, in your case both containers use the same position, hence the overlapping issue. Honestly, I don't think I'll fix this issue, the amount of work needed for it is not worth IMO.

In general, I advise against using multiple containers. Most of the time having just one container is enough. May I ask you to share your special requirements, so I could maybe help you

[2022-10-10 12:34] fabb opened #853 "toast.done() not dismissing toast if progress was 0"
This is a bug.

**What is the current behavior?**

1. Show a toast with `autoClose: false`
2. Call `toast.done(toastId)`

**What is the expected behavior?**

The toast should animate the progress bar from 0 to 1 and then dismiss the toast.

**What is the actual behavior?**

The toast sets the progress bar to 1 without animation, and stays open.

https://codesandbox.io/s/0-done-llxovb?file=/src/App

[2022-10-11 08:16] asif-simform commented on #848
Hi @fkhadra

Thanks for the update. I've fixed this issue on my end writing some CSS on the wrapper class and its working as expected.

Example :

[code]

[code]

[2022-10-11 08:18] fkhadra commented on #848
Hey @asif-simform thanks for the update. Do you mind sharing your CSS ? So anyone facing the same issue as you might use your solution.

[2022-10-11 08:59] fkhadra commented on #848
Thanks for sharing

[2022-10-11 08:59] #848 closed

[2022-10-11 23:34] scrumptiousdev opened #854 "Clsx is not a function"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Error thrown as below:
[code]

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React. Paste the link to your CodeSandbox (http

[2022-10-14 10:50] cpvalente commented on #775
Hi, I am having this issue in a non CRA boilerplate but in a project with just storybook and webpack, probably same scenario as @The-Code-Monkey

[code]

what exactly in CRA5 makes the system work? I am looking to manually upgrade the necessary dependency but slightly unsure on where the break is here

[2022-10-14 12:37] dimitur2204 commented on #775
@cpvalente Try different versions of `webpack`, I honestly doubt the issue is anywhere else

[2022-10-15 19:25] shehi opened #855 "Toast Update: enableMultiContainer breaks it"
When `enableMultiContainer` is enabled and we have multiple ToastContainers, `toast.update()` doesn't work:

https://codesandbox.io/s/react-toastify-update-bug-forked-1nkwyp?file=/src/index.js

[2022-10-15 19:35] shehi commented on #855
Please note that, in the example, we are dealing with "default" container (the one without explicit ID set to it). If containerId is set, then it works.

[2022-10-16 09:36] lukema95 opened #856 "How to add a link to toast message?"
I want to add a link to toast message.

[2022-10-16 09:49] #856 closed

[2022-10-16 10:15] xSyki commented on #855
Hi, You forgot to add containerId to toast.update and toast.loading. Function should look like this:
[code]

[2022-10-16 13:00] shehi commented on #855
But why? What is the point of last bulletpoint [here](https://fkhadra.github.io/react-toastify/multi-containers) then:

This way, a `ToastContainer` without explicit `containerId` defined becomes de-facto default. Toasts created with no `containerId` end up in this "default" container. And it works.

Now what one would expect here is for those "default" toasts to also properly update. Am I missing

[2022-10-16 20:23] zanzlender commented on #343
I'm just posting this in case anyone else gets this bug with NextJS.

I was using the getLayout function as described in the docs for when want to use layouts [NextJS Layouts](https://nextjs.org/docs/basic-features/layouts). And then my _app.tsx looked something like this:

[code]

The problem lies in the function because it's called on every page it resets react-toastify.

The workaround is quire

[2022-10-17 14:35] dianaaceves opened #857 "Disable transition"
Is there any way to disable the transitions and just have the toast appear and disappear?
I've been looking in the documentation but I don't see any way to do it.
Thanks!

[2022-10-18 05:42] nik32 opened #858 "Uncaught TypeError: Cannot read properties of undefined (reading 'content')"
**Do you want to request a *feature* or report a *bug*?**
bug report

**What is the current behavior?**
So is complicated to explain as this might be specific to my project, But I will try!! In our product - we are having a modal on top of modal. Both of these modals are having their own ToastContainer [with multiContainer enabled and containerId provided to both - so that toast produced in one mo

[2022-10-18 11:52] cgibin commented on #855
I agree, toast.update() works not as expected, at least for me. We have a lot of uses of default container and occasional use of another one, with specific containerId. Now we have a need to update default one in some scenario and we cannot do it easily, because it wont work without containerId. To do that we need either somehow add it to every use of default toast, or make another container for t

[2022-10-18 20:11] erikbg7 commented on #857
Probably not the best workaround out there, but doing a fake animation would do the trick:

**CSS**

[code]

**JS**

[code]

[2022-10-19 16:40] erikbg7 commented on #858
Looks like a bug caused by unmounting the ToastContainer with the Toast before removing it correctly.

The main issue is that we expect the toast to exist but it does not:
https://github.com/fkhadra/react-toastify/blob/b53938a61756c7fc1d3de47eaba858fc2691e520/src/hooks/useToastContainer.ts#L191

So it breaks when we try to access it:
https://github.com/fkhadra/react-toastify/blob/b53938a61756c7fc1

[2022-10-19 16:59] vh2224 opened #859 "toast does not render when doing a custom installation (using a react component) within a vue structure, ex."
#### I have a custom system, built with 0 webpack, where we have several frameworks together, I tried to make use of toast within an application in react, but being called by a vue application. toast does not render. if I give the only start of the react application, it picks up normally. would it be some conflict with the build, which the toast might not recognize?

[2022-10-19 17:34] benlieb opened #860 "Not working with rails cssbundling-rails and jsbundling-rails"
In this setup css (usually scss) is imported outside of react components.

I have two options for importing `import "react-toastify/dist/ReactToastify.css"`, importing css into react component, or into the scss file, but neither work for me.

When I import into react component, all my other css is overwritten (I think) and no styles apear on my page, except the toast notification works and has pro

[2022-10-21 06:29] nik32 commented on #858
Hey @erikbg7, thanks for taking time to look into this issue!!

That is actually a bit problematic in my case - as I have my own custom modal. If I move the ToastContainers out of my modals - the toast comes behind the backdrop of modal. Thus not allowing the user to close the toast or see the toast properly.

[2022-10-21 10:13] dianaaceves commented on #857
Thanks, @erikbg7, I'd prefer something more straightfordward like "transition: false" implemented 😅, but if I can't find another way I might have to use your solution. Thanks!

[2022-10-21 11:09] nettum commented on #858
I can also confirm that I run into this, probably when using `React.useRef()` and `toast.dismiss`.
I only have one `ToastContainer` in a layout wrapper component and the toast itself is fired from inside a `<Portal>`-component from `react-portal`. Have not done enough testing yet to figure out the root cause and get this error consistent.

Example:
[code]

[code]

[2022-10-21 12:54] nik32 commented on #858
For me, in the modal situation, the root cause most likely is to be "closing the modal too quickly", after dismissing the toast [or in simpler terms - when the time b/w closing the modal and toast is very less']. I was able to produce this error every time doing so.

[2022-10-22 16:17] erikbg7 commented on #857
Agree, ideally we should be able to easily disable transitions :)

I will take a deeper look to check out possible implementations.

[2022-10-22 17:15] erikbg7 commented on #857
@dianaaceves after checking it better I think that you can achieve the same with the following code

[code]

[2022-10-24 07:16] dianaaceves commented on #857
Thanks sooo much! 🙏🏼

[2022-10-24 08:26] dianaaceves commented on #857
Thanks, @erikbg7 but does it work for you? it doesn't work for me, the toast doesn't close. 🙄

[2022-10-24 09:51] nettum commented on #858
Thanks for the info @nik32! For the record, I was now also able to get the same error somewhere else in the app without any modal context, so there might be something else going on with mouting / unmounting and "quick navigation".

[2022-10-24 10:11] nettum commented on #858
I had the ToastContainer in a layout component that sometimes had to do re-renders. Will move it further out to see if the problem disappears.

[2022-10-24 16:48] MasterOdin opened #861 "Toast close button doesn't show for very wide toasts"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

If a toast shows text that has words that stretch the toast div, then the close button will end up being pushed outside the clickable space.

If showing a toast that has a lot of text

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the prob

[2022-10-26 18:04] sarahsga opened #862 "sh: parcel: command not found"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React. Paste the link to your CodeSandbox (https://codesandbox.io/s/new) exam

[2022-10-27 07:07] amithashenoy commented on #244
@thisKeeWord  : Hi are you able to resolve it ?

[2022-10-27 17:57] thisKeeWord commented on #244
I don't think I ended up finding a solution.

[2022-10-28 08:22] khuram-ingenetic commented on #139
I just add the Toast container on my index.js after the <APP /> and it fixed for me
below the index.js file

[code]

[2022-10-28 08:25] mrkhuram commented on #139
I just add the Toast container on my index.js after the <APP /> and it fixed for me
below the index.js file
it worked for Material UI modal and ReactStrap Modal.

[code]

[2022-10-28 13:54] aspirisen commented on #775
For me this fixed storybook https://github.com/storybookjs/storybook/issues/16690#issuecomment-971579785

[2022-10-28 19:24] thib3113 commented on #775
I will close the issue here .

If you got this error, you can :
 -> fix the version of react-toastify to 9.0.3
 -> upgrade to CRA 5 / webpack 5

But, [webpack 5 stop including polyfills by defaults](https://webpack.js.org/blog/2020-10-10-webpack-5-release/#automatic-nodejs-polyfills-removed)

So, if you got errors with storybook, or any other error related, you need to add them manually ( you can

[2022-10-28 19:24] #775 closed

[2022-10-29 19:40] fkhadra commented on #855
Hey @shehi, dunno what happened with this issue. That being said, I agree with you that the documentation is not accurate and misleading. I'll update it.

I did not foresee a case where one would use multiple containers, one with an id and one without.

When using multiple containers, you should provide a `containerId` for every container. Imagine the following case
[code]
I have no way of telling

[2022-10-29 19:41] fkhadra commented on #854
Hey @scrumptiousdev, I believe your issue is coming from your setup, could you share a repo with the reproduction or a codesanbox? Thank you

[2022-10-29 20:52] fkhadra commented on #732
Hey Sorry for the late reply @Enebz. It's not possible to change the class names using CSS variables. What you could try is to use `injectStyle` helper instead of importing the CSS file. You can call `injectStyle` after your polyfill see https://fkhadra.github.io/react-toastify/how-to-style/#inject-style-on-demand

[2022-10-29 20:52] #732 closed

[2022-10-29 20:53] fkhadra commented on #862
This is happening because you need to install the packages first, the documentation is lacking. We should consider adding a readme :0

[2022-10-29 20:53] #862 closed

[2022-10-29 20:54] fkhadra commented on #860
Hey @benlieb, sorry to hear that. I'm not familiar with your stack at all. Could you share a repo, so maybe I'll be able to help?

[2022-10-29 20:55] fkhadra commented on #859
Hey,  could you share a repo, so maybe I'll be able to help?

[2022-10-30 21:28] shehi commented on #855
Well, the concept of "default" by default means one item right? So, you pick the first ToastContainer without Id and use it as default, regardless how many such containers exist. You can even emit a warning when more-than-one container without an id is detected. I believe this use case would add to the strength of this package.

[2022-10-31 19:26] fkhadra commented on #855
Fair enough @shehi, if I do what you suggested, this is doable indeed. I'll add that as a feature enhancement

[2022-11-01 09:07] fkhadra commented on #759
Hey it just works, don't forget to add preact/compat

https://codesandbox.io/s/preact-react-toastify-igdh7u

[2022-11-01 09:07] #759 closed

[2022-11-01 09:09] fkhadra commented on #556
Closing the issue, `onClose` and `onOpen` callback will be removed in the next major release

[2022-11-01 09:09] #556 closed

[2022-11-01 09:12] fkhadra commented on #686
Closing as I think this should not be implemented in the core. Addons are welcome ofc

[2022-11-01 09:12] #686 closed

[2022-11-01 11:47] #861 closed

[2022-11-01 11:47] #853 closed

[2022-11-01 11:47] #843 closed

[2022-11-01 11:47] #839 closed

[2022-11-01 11:47] #580 closed

[2022-11-01 11:47] #397 closed

[2022-11-02 07:26] linhquachsw commented on #775
cool, I fixed the version of react-toastify to 9.0.3 when working on project SP Extensions

[2022-11-02 15:31] Zerebokep opened #869 "[next-i18next] 9.0.8 -> 9.1.0: Type 'unknown' is not assignable to type 'never'."
My toast() calls complain about the type now, especially when using next-i18next's t():

toast(t('test.test'))

casting to string works, but isn't that pretty. Any chance to get the old behaviour back or was this a typescript optimization?

[code]

[2022-11-02 19:21] fkhadra commented on #869
Hey @Zerebokep, I'm investigating the issue. It's really strange though.

[code]

 Anyway I'll push a fix :)

[2022-11-02 19:44] reinfi opened #870 "Style property applied to toast container and toast itself"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Style Property is applied twice since 9.1.0.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React. Paste the link to your Co

[2022-11-02 19:46] reinfi commented on #870
This was changed here https://github.com/fkhadra/react-toastify/pull/763but I would say the implementation is not correct. Toast Container styles should not be propagated to the toast.

[2022-11-02 20:03] fkhadra commented on #870
Hey @reinfi thanks for reporting the issue. I've published a new version with the fix v9.1.1

[2022-11-02 20:03] #870 closed

[2022-11-02 20:04] reinfi commented on #870
Thanks for the fast response! great library!

[2022-11-02 20:25] fkhadra commented on #869
@Zerebokep while I figure out the proper fix you can do  write `toast<void>(t("foo"));` instead of using type assertion.

[2022-11-02 20:53] fkhadra commented on #869
So, after checking the source of next-i18next, they added `extends infer A ? A : never` as a workaround for this issue https://github.com/i18next/react-i18next/issues/1222.

Still investigating what would be a proper fix and if it needs to be fixed.

[code]

[2022-11-03 08:09] Zerebokep commented on #869
Really appreciate your effort, you rock.

[2022-11-05 13:03] goldmont commented on #798
Hi, news about this? Thanks

[2022-11-05 13:13] goldmont commented on #787
It would be great to have also the ability to pass an ID to the `useNotificationCenter` hook in order to automatically filter notifications. Furthermore, every notification center with the same ID should be internally linked, so a change made to one notification center is also propagated to all the other `linked-by-id` centers. Thanks

[2022-11-05 17:52] nippysky commented on #307
Worked perfectly. thank you very much for this. God Bless you

[2022-11-07 10:47] robin-plus-peter opened #871 "onClick() Called when click inside Toast notification of body only"
**Do you want to request a *feature* or report a *bug*?**
i want to onClick onClose both as same time but onClick should not called with i click on close button.

**What is the current behavior?**
but with current implementation if pass a callback function onClick of toast notification it also called when i click on close button.

**If the current behavior is a bug, please provide the steps to rep

[2022-11-08 07:43] fkhadra commented on #871
Hey @robin-plus-peter, `onClick` and `onClose` callbacks will be removed in the next major release. A solution for your use case would be [![Edit onclick-with-closeOnClick](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/strange-glitter-y4hhlz?fontsize=14&hidenavigation=1&theme=dark)

Hope it helps

[2022-11-08 07:43] #871 closed

[2022-11-10 03:49] bruce-c-liu opened #872 "Merge toast's style instead of replacing it"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
I'm currently setting some base styles via:
[code]
When I want to add some additional styles, however, the base styles get completely replaced with new styles from `toast()`.
[code]

[2022-11-11 12:01] olegKusov opened #873 "When setting custom animation, toasts do not dissapear from html layout."
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

When setting custom animation, toasts do not dissapear from html layout.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than Re

[2022-11-11 14:02] SaniMusic commented on #836
@fkhadra any thoughts on this?

[2022-11-11 22:20] fkhadra commented on #873
Hey @olegKusov can you share a repository or a codesanbox with a reproduction please. Thanks

[2022-11-13 00:45] uicrafts opened #876 "Dismiss click passes event through and causes Modal to close incorrectly"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When a Modal is rendered using HeadlessUI React, and a toast is dismissed manually by clicking on the X button, **it causes the modal to close as well**.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed muc

[2022-11-13 13:02] Snouzy commented on #775
So it's time to switch to vite ? ahah

[2022-11-13 13:04] fkhadra commented on #775
@Snouzy either you upgrade CRA or you switch to vite. I'd like to remind that CRA v4 is more than 2 years old.

[2022-11-13 13:05] Snouzy commented on #775
Yup ahah, i will !
thanks buddy :)

[2022-11-14 15:54] raulcrisan commented on #869
Hey guys, any news regarding this issue? When will be available a version with this fix?

[2022-11-14 16:35] Lodennn commented on #820
Did you fix the problem ?

[2022-11-19 13:23] nik32 commented on #858
@erikbg7 any update on this?

[2022-11-20 06:03] wmahmood1984 commented on #212
hi,

when i am doing toast.configure before app component. i am getting this error

react_toastify__WEBPACK_IMPORTED_MODULE_10__.toast.configure is not a function

Can any one help with this please

[2022-11-20 08:28] fkhadra commented on #212
Configure has been removed, you should use the ToastContainer instead

[2022-11-21 14:17] max9599 commented on #873
Hey @fkhadra we just started to use react-toastify and encountered same issue.

Using latest version 9.1.1

Container and transition:
`
const Transition = cssTransition({
    enter: 'animated slideInUp',
    exit: 'animated fadeOutDown',
})

<ToastContainer position="bottom-center" theme="dark" hideProgressBar autoClose={2000} transition={Transition} />
`

If i spam fast:
`
toast(errorMessage, { t

[2022-11-22 14:48] andresyapp opened #878 "individuals toasts from array objects"
how can I display toasts by traversing an array of objects, each of these objects with a unique id and names. I need to display a toast for each object inside this array, with a text and the value {item.name}.

Example: https://codesandbox.io/s/exciting-cloud-9oqhke?file=/src/App.js:0-583

In this example I used the React-toastify, and added the array of objects as an example, in that example ther

[2022-11-22 15:17] #878 closed

[2022-11-23 18:36] Zerebokep commented on #869
next-i18next v13 seems to fix this issue.

[2022-11-24 06:14] fkhadra commented on #869
Thanks for the update. I'll close the issue

[2022-11-24 06:14] #869 closed

[2022-11-30 10:10] sulamanshahbukhari commented on #678
Im facing a similar issue but in chrome browser , works fine in Firefox any help will be much appreciated

[2022-11-30 21:17] a03z opened #879 "ToastContainer autoclose callback"
Feature request

autoClose currently accepts number value

Basically, the idea is to make it accept either number or callback with an argument of message we want to put in notification.
`autoClose={(message) => { if (message.length > 50) {return 5000} else { return 3000 } }`
or just `autoClose={3000}`

This way, it will be one line of code instead of checking the length of the message string in ev