[2020-06-06 07:44] Tsyklop commented on #428
Problem is still exists.

[2020-06-07 05:45] ahmetbcakici opened #493 "not showing toast component in nextjs"
im using nextjs and installed the package in the project, im using right commands but when i call notify() function there is no any toast

i checked some issues opened before but they were not useful for me

[2020-06-07 20:35] rodlukas opened #494 "Types - Type 'string' is not assignable to type xxx"
**Do you want to request a *feature* or report a *bug*?**
bug with types

**What is the current behavior?**
toast.POSITION.xxx and toast.TYPE.xxx can't be passed to ToastContainer or toast() ->
* `Type 'string' is not assignable to type '"info" | "success" | "warning" | "error" | "default" | undefined'.`
* `Type 'string' is not assignable to type '"top-right" | "top-center" | "top-left" | "bottom-

[2020-06-09 03:27] mattcarlotta commented on #493
Works fine: https://github.com/mattcarlotta/basic-toast

1.) `cd ~/Dekstop && git clone git@github.com:mattcarlotta/basic-toast.git`
2.) `yarn` or `npm i`
3.) `yarn dev` or `npm run dev`

[2020-06-09 07:54] ahmetbcakici commented on #493
thank you so much @mattcarlotta

[2020-06-09 07:54] #493 closed

[2020-06-09 08:39] rohan-naik commented on #198
Hello,
I've made a common component sort of thing for Rendering the toast.
This is what it returns.

[code]

I'm trying to write test cases for the above snippet where I just run the method that triggers the Toast
### e.g:- Toast() will trigger the above function.

I'm testing it using ReactTestUtils and jest .

The test that I have written is :

[code]

and when I try console log the **tree.toJSO

[2020-06-09 09:02] rohan-naik opened #495 "Testing with react-test-renderer and jest"
Hello,
I've made a common component sort of thing for Rendering the toast.
This is what it returns.

[code]

I'm trying to write test cases for the above snippet where I just run the method that triggers the Toast
### e.g:- Toast() will trigger the above function.

I'm testing it using ReactTestUtils and jest .

The test that I have written is :

[code]

and when I try console log the **tree.toJSO

[2020-06-09 09:11] #495 closed

[2020-06-09 09:12] rohan-naik opened #496 "How to test toastify with react-testing, react-test-renderer and Jest"
Hello,
I've made a common component sort of thing for Rendering the toast.
This is what it returns.

[code]

I'm trying to write test cases for the above snippet where I just run the method that triggers the Toast
### e.g:- Toast() will trigger the above function.

I'm testing it using ReactTestUtils and jest .

The test that I have written is :

[code]

and when I try console log the **tree.toJSO

[2020-06-14 12:06] rajeshde commented on #494
Having same issues here.

[2020-06-15 12:01] muscaiu opened #497 "Update a toast in useEffect"
Hello, i'm working on a React-Electron app and want to use react-toastify to show that the app has downloaded an update.

Inside the Root i added this useEffect, but it won't update the `🦄 Update available` toast.

I also made a  [Codesandbox Example](https://codesandbox.io/s/toasterupdate-kcs67?file=/src/index.js)

Any idea why it doesn't update the toast?

[code]

[2020-06-17 09:14] brillout opened #498 "Financing"
Hi :wave:,

I'm Romuald from the [Lsos](https://lsos.org/), an organization that develops financial solutions for open source projects, and we are currently doing outreach to projects we like.

One of our solutions is the [Lsos Commons](https://lsos.org/#lsos-commons) which I believe could fit; is that something React-Toastify would be interested in?

If not I'm sorry for having opened this ticket

[2020-06-18 10:39] meness opened #499 "Feature: An option to create a new toast if given update ID doesn't exist"
**Do you want to request a *feature* or report a *bug*?** Feature

**What is the current behavior?**

`toast.update()` doesn't create a new toast if the given ID as the first param doesn't exist.

**What is the expected behavior?**

Sometimes we need to update an existing toast, but if it doesn't exist create a new one because User should be notified anyway.

There are two workarounds for this:
-

[2020-06-18 23:36] stoneRdev commented on #459
If someone can provide a quick gist of how `useToast` works, I can write documentation on it

[2020-06-19 15:49] Pogodaanton opened #500 "Missing collapse animation when swiping to dismiss"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
The toast is dismissed and immediately removed from the DOM tree.

![Screen Recording 2020-06-19 at 17 36 40](https://user-images.githubusercontent.com/8974778/85151167-c0820e80-b253-11ea-934b-e98371149511.gif)

**What is the expected behavior?**
After successfully swiping away the toast should play a

[2020-06-21 17:08] #500 closed

[2020-06-22 07:28] AhmedJoda opened #502 "TypeError: Object(...) is not a function"
I get this error once I use ToastContainer Component and my app doesn't work when I remove ToastContainer everything works fine

![0](https://user-images.githubusercontent.com/40957053/85260830-96a33480-b46b-11ea-8fff-789fbc5168ad.jpg)

[2020-06-22 10:07] hisuwh commented on #494
I'd raised another issue for this here:
https://github.com/fkhadra/react-toastify/issues/486

[2020-06-30 07:33] Aarbel opened #503 "Question: is that possible to put a "Cancel" or "retry" button inside the toaster ?"
![image](https://user-images.githubusercontent.com/25119847/86096780-050f7480-bab4-11ea-81b9-b56671a0c4ab.png)

Most toasters should include a Cancel action to allow users to go back from what they've done.

What is the best way to do it ? Do you have an example about it ?

Thanks a lot.

[2020-06-30 07:33] Aarbel commented on #503
@ghusse @jgoux

[2020-06-30 09:21] WhyRoy commented on #502
I encountered this issue too, and I don't know why.
So i just instal the 4.0.1 version of react-toastify, then everything works.
Does any friend could tell me the exact reason that I can use 6.0.6 version? and are there any better ways to fix this issue?

[2020-06-30 09:26] fkhadra commented on #502
This seems like a bundler issue. Could you share what you use to build your app ?

[2020-06-30 09:28] fkhadra commented on #503
Hey,
The process is described here https://fkhadra.github.io/react-toastify/add-an-undo-action-to-a-toast/. The example is an embeded codesanbox

[2020-06-30 09:31] fkhadra commented on #499
Hey @meness,

This is by design.  I'll think about it.

[2020-06-30 09:33] WhyRoy commented on #502
thank u for replying, sorry to say I am a beginner, I am a little confused by "what you use to ...", I am build a react app, and I use npm to install react-toastify

[2020-06-30 09:34] fkhadra commented on #502
Did you use something like create-react-app to bootstrap your application or do you use a custom webpack configuration?

[2020-06-30 09:37] fkhadra commented on #496
Hey @rohan-naik , you can have a look at https://github.com/fkhadra/react-toastify/blob/master/test/core/toast.test.tsx#L200

[2020-06-30 09:37] #496 closed

[2020-06-30 09:37] #480 closed

[2020-06-30 09:47] WhyRoy commented on #502
Thx for ur patience, actually, I downloaded from a courses' provide,
and I tested just now on another app which I built use "creact-react-app", everything with react-toastify works perfectly.
So I think it's the courses' app that has some problem.
Thanks

[2020-06-30 09:50] fkhadra commented on #502
Ok thanks for you feedback. I'll close the issue then :)

[2020-06-30 09:50] #502 closed

[2020-06-30 10:12] fkhadra commented on #492
Hey @An-dz,
Thank you for reporting the issue. It works fine with Firefox but not with chromium based browser. So I'll probably have to check if the chromium team has already something for that.

[2020-06-30 10:19] fkhadra commented on #491
Hey @coltenkrauter,

Maybe you can try to call `window.blur()`. Let me know if it works :)

[2020-07-02 07:11] redhoteggplant commented on #494
Has anyone figured out a temporary workaround?

[2020-07-02 10:03] fkhadra commented on #494
I'll have a look at this ASAP.

[2020-07-02 10:05] redhoteggplant commented on #494
Thank you so much! ❤️ We really appreciate your work on this

[2020-07-02 10:07] #503 closed

[2020-07-02 17:07] alish1129 commented on #224
What's the answer to this error? I am getting it but I haven't used any closeButton or closeToast prop.

[2020-07-02 17:24] #494 closed

[2020-07-02 17:29] fkhadra commented on #494
The issue should be solved with the release 6.0.7 that I've just pushed.

[2020-07-02 17:29] fkhadra commented on #486
Hey @hisuwh,

The issue is fixed in release 6.0.7.

[2020-07-02 17:29] #486 closed

[2020-07-02 17:38] rajeshde commented on #494
This is solved!!!

Just checked with v6.0.7

[2020-07-02 20:45] stoplion opened #504 "Children in ToastContainer?"
Is it possible to use children with ToastContainer?

[code]

[2020-07-03 17:53] #504 closed

[2020-07-03 20:11] stoplion commented on #455
This example is not working for me. :(

[2020-07-03 20:18] stoplion opened #505 "How do you use useToastContainer?"
I'm trying to create a custom Toast using Tailwind css.
It looks like `react-toastify` exposes `useToastContainer` for the purpose.
How do you use useToastContainer? Thanks.

[2020-07-03 22:16] brillout commented on #498
We developed a new solution: the [Lsos Donation Fund](https://lsos.org/fund). Unlike the Lsos Commons, the Lsos Donation Fund doesn't alter your license and everything stays free; the donation fund collects donations on your behalf and uses a "donation-reminder".

We estimate the donation-reminder to substantially increase donations. Sublime Text, for example, achieves impressive results using a s

[2020-07-06 05:08] thril commented on #3
I did not see any option in their docs about preventing duplicates, but I checked on the source and you can achieve preventing duplicates by specifying the `toastId` option.

https://github.com/fkhadra/react-toastify/blob/e21b30c07e671905a924fe8910d53c4729610a90/test/components/ToastContainer.test.tsx#L88

In my particular case, I just used my toast message (which is always a string) as the `toast

[2020-07-13 14:15] Muniraj577 commented on #225
Hello gairom how can I use link in toastr message.

[2020-07-15 14:08] dmarafetti commented on #451
I was having this same issue with animate.css. I tried adding 'animate__animated' to toastClassName into ToastContainer and did work.

[2020-07-16 09:32] danyakalnov opened #506 "Styles not applying immediately to toasts rendered after first one if limit=1"
**Do you want to request a *feature* or report a *bug*?**

I want to request a bug

**What is the current behavior?**

Current code:

<ToastContainer
          limit={1}
          hideProgressBar
          style={{
            display: 'flex',
            justifyContent: 'center',
            marginLeft: '0',
            transform: 'translate(-50%)',
            width: 'auto',
          }}

[2020-07-17 13:54] vijilvpillai commented on #130
Me too facing the same issue. Does anyone know how to fix this webpack issue . The progressbar and auto close is not working

[2020-07-17 13:58] vijilvpillai commented on #47
Me too facing the same issue. Does anyone know how to fix this webpack issue . The progressbar and auto close is not working

[2020-07-23 11:44] sushmitg commented on #481
Yes, I am having the same issue with limit={1} and

**App.js**
[code]
**notify-util.js**
[code]

[2020-07-26 10:26] harsh-98 opened #509 "Adding <ToastContainer /> fails with an error."
** Report a *bug* **

**What is the current behavior?**
<img width="822" alt="Screenshot 2020-07-26 at 3 44 02 PM" src="https://user-images.githubusercontent.com/23700929/88476753-97daec00-cf58-11ea-90a1-3d44d1bbb552.png">

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your

[2020-07-27 12:23] oklas commented on #195
We have same here in create-react-app ("react-scripts": "3.4.1") - it is reproducing only in production - in development it is not reproducing

[2020-07-29 09:47] muscaiu opened #510 "add a default image like 🦄 at the beginning of all toasters"
Hello, is there any way to put a default icon like the awesome 🦄 to the beginning of every toaster message?

[2020-07-29 11:39] muscaiu commented on #510
Found an easy solution by adding it to the css.
[code]

[2020-07-29 11:39] #510 closed

[2020-07-30 17:21] sashahavia opened #511 "Warning: React does not recognize the `nodeRef` prop on a DOM element. If you intentionally want it to appear in the DOM as a custom attribute, spell it as lowercase `noderef` instead"
I just updated `react-toastify` to `6.0.8` version and getting this error now

[code]

[2020-07-30 19:50] JakubKoralewski opened #512 "[FEATURE REQUEST] Config specify swipe to close direction"
**Do you want to request a *feature* or report a *bug*?**

Feature.

**What is the current behavior?**

You can only swipe horizontally, left and right to close the toast.

**What is the expected behavior?**

It would be nice to be able to still have horizontal by default to not make any breaking changes, but still allow to pass an option for the swipe to be vertical.

[2020-08-02 17:46] talentedandrew commented on #440
I encountered this same issue.

[2020-08-03 13:15] fkhadra commented on #511
Hey,

Could you provide a codesanbox reproduction thanks.

[2020-08-03 13:16] fkhadra commented on #509
Hey @harsh-98, you need to upgrade to React 16.8 at least.

[2020-08-03 13:16] #509 closed

[2020-08-03 13:19] fkhadra commented on #498
Thanks for reaching out I'll have a look.

[2020-08-03 13:19] #498 closed

[2020-08-03 13:20] fkhadra commented on #497
can you share a repository with the issue ?

[2020-08-03 13:20] #491 closed

[2020-08-03 13:21] fkhadra commented on #490
You can listen for changes https://fkhadra.github.io/react-toastify/listen-for-changes/

[2020-08-03 13:21] #490 closed

[2020-08-03 13:22] #489 closed

[2020-08-03 13:24] fkhadra commented on #487
I'm not sure to understand what is the issue. Could you share a [codesanbox](https://codesandbox.io/index2)  with the issue?

[2020-08-03 13:26] fkhadra commented on #485
You should put the `ToastContainer` at the top of your app:

[code]

[2020-08-03 13:26] #485 closed

[2020-08-03 13:29] fkhadra commented on #483
Hey thank you.

You should be able to reuse the same toast id. Could you provide a [codesanbodx](https://codesandbox.io/index2) witht the issue ?

[2020-08-03 13:30] #215 closed

[2020-08-03 13:31] #262 closed

[2020-08-03 13:31] #265 closed

[2020-08-03 13:32] #320 closed

[2020-08-03 13:33] #306 closed

[2020-08-03 13:34] #358 closed

[2020-08-03 13:34] #340 closed

[2020-08-03 13:34] #401 closed

[2020-08-03 13:34] #407 closed

[2020-08-03 13:36] #374 closed

[2020-08-03 13:39] fkhadra commented on #433
Hello,

With nextjs all you have to do is to import the css file in you `app` file. https://nextjs.org/docs/basic-features/built-in-css-support#adding-a-global-stylesheet

I use nextjs as well and I don't have issue with it.

[2020-08-03 13:39] #433 closed

[2020-08-03 13:41] fkhadra commented on #451
@PierrickGT may I ask that you reproduce the issue in codesanbox? Thank you

[2020-08-03 13:43] fkhadra commented on #474
I think this has been fixed with the latest version

[2020-08-03 13:43] #474 closed

[2020-08-03 13:46] fkhadra commented on #477
After havind a look at different design system/css framework (bootstrap, uber, ibm etc...) None of them seems to fully meet WCAG. I'll close this issue has this can be fixed by the end user.
But I'll still had a mention in the documention for that.

[2020-08-03 13:46] #477 closed

[2020-08-05 02:04] jerrybuks commented on #512
can I take on this @fkhadra?

[2020-08-05 08:50] fkhadra commented on #512
Hey @jerrybuks,

Please do. I don't hesitate if you need some guidance.

[2020-08-05 08:51] fkhadra opened #514 "[WIP] Removing dependency to react-transition-group"

[2020-08-05 21:14] fkhadra opened #515 "[POLL] Would you like to have react-toastify ported to react-native ?"
[![](https://api.gh-polls.com/poll/01EF07CG6KAE8CP7ABC4RR889Q/Yes)](https://api.gh-polls.com/poll/01EF07CG6KAE8CP7ABC4RR889Q/Yes/vote)
[![](https://api.gh-polls.com/poll/01EF07CG6KAE8CP7ABC4RR889Q/No)](https://api.gh-polls.com/poll/01EF07CG6KAE8CP7ABC4RR889Q/No/vote)

![toastify-native](https://user-images.githubusercontent.com/5574267/89464846-655b9b00-d771-11ea-82df-652e2e0bd231.gif)

[2020-08-06 02:59] jerrybuks commented on #512
Okay, will give it a shot and let send in my questions when I need guidance

[2020-08-06 05:07] burhanuday opened #516 "[HELP WANTED] Position toast in the center of the screen"
**What is the current behavior?**
Toasts can only be positioned in the corners or top or bottom of the screen. I want to position toasts in the center of the screen, like toast notifications in mobile phones.

There is no available positioning option for doing so

**What is the expected behavior?**
An option to position the toast in the center of the screen. Centered vertically and horizontally

[2020-08-06 07:06] fkhadra commented on #516
Hello,

You can center it as well: https://fkhadra.github.io/react-toastify/positioning-toast/

[2020-08-06 07:06] #516 closed

[2020-08-07 12:36] ozil07 opened #518 "Documentation"
Where did the documentation go?

[2020-08-07 12:42] fkhadra commented on #518
Hey @ozil07,

The link is in the readme: https://fkhadra.github.io/react-toastify/introduction/

[2020-08-07 12:42] #518 closed

[2020-08-07 15:42] PierrickGT commented on #451
@fkhadra here is a working version of the transitions: https://codesandbox.io/s/objective-hugle-mpi0l?file=/src/index.tsx
And here is a non working version, using Animate classes `slideInDown` and `slideOutUp` : https://codesandbox.io/s/adoring-herschel-wyclj?file=/src/index.tsx

[2020-08-10 06:25] mortezashojaei commented on #139
I have same problem in modals created by react portal

[2020-08-13 18:23] zilahir opened #519 "öhm, where is the documentation?"
This might be a bit odd, but seriously, where it is? I can only get to the demo page.

[2020-08-14 07:44] fkhadra commented on #519
Hello,

I think this is related to a cache issue caused by the service worker. May I ask you to clear the cache for the domain fkhadra.github.io or you can visit https://fkhadra.github.io/react-toastify/introduction/ in a private tab

[2020-08-14 07:48] zilahir commented on #519
hehh :) indeed, private tab solved the issue. odd :)

but thanks!

[2020-08-14 07:48] #519 closed

[2020-08-14 14:53] christiantigre opened #520 "How I can use z-index"
**How I can use z-indez *bug*?**

**Y try z-index: 99999;**

[code]

**But dont result**

![toast](https://user-images.githubusercontent.com/17419095/90262240-ac056100-de13-11ea-9140-440755bf1891.png)

[2020-08-14 16:51] ScotchAndSoda commented on #506
This happens not because the style does not apply immideately, but because new toasts are polled from the queue before a previous toast has finished its exit animation.

[https://github.com/fkhadra/react-toastify/blob/cb7afbe5976f032b6f23c9c838453c5acc88d9b0/src/hooks/useToastContainer.ts#L134](url)

Considering that default animations take 750ms to exit, and there's a fixed 500ms timeout before a

[2020-08-14 17:35] fkhadra commented on #506
@ScotchAndSoda good catch. This make senses. I'll try to free some time to work on the fix.

[2020-08-14 21:43] ErikQuiterioAcquatronix commented on #182
I have the same problem, it shows all notifications at the same time without even clicking the button, then clicking it does nothing. Tried everything but nothing works.

Products.js
[code]

My App.js

[code]

and My AppRenderer.js

[code]

![Sin título](https://user-images.githubusercontent.com/66882533/90294915-3918dc00-de4d-11ea-9eef-922b457616ec.png)

[2020-08-18 10:32] mateushnsoares commented on #520
umm try to add to this bar a `z-index: 3` and to Toast a `z-index: 5;`

[2020-08-20 10:03] muscaiu commented on #443
@fkhadra sorry for long time since no reply.
It was an issue with my router history configuration.
Closing.

[2020-08-20 10:03] #443 closed

[2020-08-27 06:42] Jeremy-JM commented on #444
I also meet this problem.

[2020-08-27 18:13] insuusvenerati opened #522 "Question: Why does toast.dismiss() return void | false?"
Possibly a feature request. Clarification in the docs.

**What is the current behavior?**
`toast.dismiss()` returns `false | void`

## To repro:
- Create a CRA Typescript project
- Setup eslint with `eslint --init` and choose typescript
- Use `useEffect` to load a toast with deps
[code]
- Use `toast.dismiss()` as a returned cleanup function
  `return () => toast.dismiss()`

Eslint will complain `T

[2020-08-27 18:19] insuusvenerati commented on #522
I wasn't able to use Codesandbox because I didn't know how to implement eslint for typescript. Sorry about that.

[2020-08-29 23:18] dishcandanty commented on #449
I'm personally no longer seeing this with  `react-toastify": "^6.0.0-rc.3",`

[2020-08-30 17:25] utiq commented on #200
Hi @wilfredonoyola, where did you add that import?
How did you do for ToastContainer to not look for the css version?

[2020-09-04 11:15] tbntdima opened #524 "Typo in documentation"
[https://fkhadra.github.io/react-toastify/how-to-style](https://fkhadra.github.io/react-toastify/how-to-style)
It says `import 'react-toastify/dist/ReactToastify.minimal.css';` when it should be `import 'react-toastify/dist/ReactToastify.min.css';`

[2020-09-07 14:11] net-bet opened #525 "Style without css loader / global css"
**Do you want to request a *feature* or report a *bug*?**
Feature
**What is the current behavior?**
If I am copying the css into the styled wrapper of the ToastContainer, the placement of the wrapper is relative to the container and not to the viewport.

Is there a possibility to allow the placement styling without the need to import the css?

[2020-09-08 10:12] KarenOk commented on #524
@fkhadra  I would like to fix this.

[2020-09-08 11:06] MrGrashopper opened #526 "QUESTION: toast after post request"
Hey guys,

I wanna call a toast after a POST request in ".then" method but it doesn't work. On a GET request it works fine:

`toast.configure()
const notify = (message) => toast(message);`

`    handleFilter() {
        setAxiosHeaders()
        axios
            .get('/api/v1/desks/', {
                params: {
                    date:  this.state.resDate,
                },
            })

[2020-09-10 17:31] MoltenCoffee commented on #526
The way you display your code makes it hard to read, [posting code in code blocks](https://docs.github.com/en/github/writing-on-github/creating-and-highlighting-code-blocks) would help a lot!

I assume your code is supposed to be:

[code]

One thing I notice, is that the get request has:

[code]

Whereas the post:

[code]

In the `get` example, `notify()` is the second parameter passed into `then(

[2020-09-11 01:59] chiragbhansali commented on #47
I was using Next.js with CSS Modules and faced a similar issue. I solved it by tweaking the CSS file as follows:

Initial:

[code]

Final (wrapping the animation name with `:global()`):

[code]

Source: [css-modules#115](https://github.com/css-modules/css-modules/issues/115#issuecomment-228224639)

I had to manually add `:global` to all the keyframes, apart from a common `:global` for the other cl

[2020-09-11 02:02] chiragbhansali commented on #47
@fkhadra Can you please add this to the documentation? It might be helpful for people using CSS Modules.

[2020-09-11 10:53] MrGrashopper commented on #526
Hey thanks for your reply. Its inside the .then method.

[code]

If I do the same for the post method it deosnt work but I don't know why:
[code]

I get the same response with different data but same structure. Is it maybe something with post request rules?

[2020-09-11 17:09] pavlobu commented on #202
I have same issue.

No, simply importing css does not help at all.

It seams tricky to add react-toastify to already mature react app.
Seems the only way to make it work is to add it to your react app from very beginning when you just started building your app, otherwise it is not working straight out of the box.

[2020-09-14 13:54] MrGrashopper commented on #526
Do someone can help me? :D

[2020-09-15 08:45] MrGrashopper commented on #526
I tried this but still doesn't work:

[code]

[2020-09-15 10:21] MoltenCoffee commented on #526
Do your request succeed? Check the network tab in the developer tools to see if they return anything, or if they return errors from your backend.

Try adding a catch:
[code]

to the chain as well. I have the feeling something goes wrong with your request, not toastify.

[2020-09-15 12:36] MrGrashopper commented on #526
No there is no error. Yes maybe there is another problem. But when I print my response, verything is ok. And the state is changing correctly too. I only get this key warnings: "react.development.js:164 Warning: Each child in a list should have a unique "key" prop."

[2020-09-15 13:48] MoltenCoffee commented on #526
Try this:

[code]

In your code, you're passing `notify()` as a second parameter to then(), making it only execute when the request fails. [See the MDN for details.](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/then)

[2020-09-15 14:13] MrGrashopper commented on #526
No still doesn't work. You may have another idea why it doesn't work?

[code]

[2020-09-15 14:38] MoltenCoffee commented on #526
Going back to this post; the key warnings are caused when rendering items from something iterable, for example rendering components in a .forEach or .map of an array. Just add an iterating prop of some sort: `key = "item"+i`.

If state is updated correctly and you can print the response, there are just a few options left:
- toastify exports a `toast()` function. I assumed you wrapped this into `no

[2020-09-15 14:49] MrGrashopper commented on #526
this is how I did it:

[code]

[2020-09-15 15:00] MoltenCoffee commented on #526
If you render `<ToastContainer />` somewhere in or next to `<DeskItems />` I see no reason why this wouldn't work I'm afraid.

[2020-09-15 15:02] MrGrashopper commented on #526
Yes me too I really don't know why it doesn't work. thank you for the "key" hint. Now I don't get any warnings.

[2020-09-15 15:05] MrGrashopper commented on #526
This is my render function. Is there maybe something wrong?
[code]

[2020-09-15 15:18] MoltenCoffee commented on #526
I'm afraid I don't see anything that would break this.
I have used toastify several times, and I just imported the CSS and rendered `<ToastContainer />` in the topmost file of my app, and just imported toast whenever I wanted, which worked.
I believe `toast.configure()` creates a `<ToastContainer />` dynamically, so perhaps not use them both.

I hope you figure it out!

[2020-09-15 15:26] MrGrashopper commented on #526
Thank you so much for your help 💯  You are right I don't need them both. Here is the complete component, maybe there is a failure:

[code]

[2020-09-15 16:59] MrGrashopper commented on #526
I think it's not a JS problem. It's on my backend side

[2020-09-16 10:08] #526 closed

[2020-09-18 14:29] Hakeemmidan commented on #195
Importing `'react-toastify/dist/ReactToastify.css'` to the file where I was importing `<ToastContainer />` (I'm personally doing it in my root component), and restarting the server has solved the issue for me.

Here's how my root file looks like:
[code]

[2020-09-22 09:07] fatihyildizhan opened #527 "Custom CSS is not working in production as expected"
**Deploy & Custom CSS *bug***
The custom CSS is not working on deploy as expected. Also, it is working in localhost and production differently.

**What is the current behavior?**
On localhost, multiple toasts are stacking to the bottom. When I deploy, only one toast appears. Others are staying the first one's back.
![single](https://user-images.githubusercontent.com/602600/93863371-18556900-fccc-1

[2020-09-22 14:09] Veri5ied opened #528 "How to use in TypeScript React App"
Hello! Please I want to request for a feature to be added. Can we have a readme or guide on how to use this React Toastify with a typescript react app?

I've read all documentations of yours and the only supported is React.

[2020-09-23 00:52] canselcik commented on #444
Not very clear from the description what's going on here but I believe I might be having a similar issue.

Likely not a very accurate description of what's going on from my end either but the toasts seem to block the pipeline that processes certain React events, leading to the queue building up and things happening delayed.

[2020-09-23 11:45] fatihyildizhan commented on #527
Remove `z-index: 9999;` from `.toast-success-container`.

[2020-09-23 11:45] #527 closed

[2020-09-25 08:54] #528 closed

[2020-09-25 09:06] gnoesiboe commented on #511
I suspect this [`{...props}`](https://github.com/fkhadra/react-toastify/blob/44ed0334bd25f1b0352ed08053f523179864bd9d/src/types/index.ts) might be the problem. As `nodeRef` is part of `ToastTransitionProps`, it is passed to the `<Transition />` component. Maybe something changed in `react-transition-group` recently? When I look into their code I see the props [being added to a `div`-element](https

[2020-09-25 10:16] agcty commented on #505
I need this too but the documentation for this hasn't been updated in some months.

[2020-09-26 06:04] spookyvert commented on #342
@ezeikel @JrFarias @fkhadra Hey is this updated? I cannot override any existing CSS classes at all

[2020-09-27 20:31] Avi98 commented on #514
@fkhadra I can try and look into it.

[2020-09-30 10:10] gajjarnirmal0 commented on #483
I have provided sample code [codesandbox](https://codesandbox.io/s/react-toastify-l1jmx?file=/src/app/components/auth/Login.js:2561-2622).

When you login (admin, adm) and press `enter` it creates notification with "Internal Server Error.".
But this works sometimes and sometimes it doesn't.

Also check console.log on `login.js:96` logs every time
`
console.log("MAIN_ERROR_MESSAGE", this.props.erro

[2020-09-30 14:18] princefishthrower opened #529 "Toggling CSS class on <div class="Toastify"> ?"
**Do you want to request a *feature* or report a *bug*?**

I suppose this is a feature request (though it may exist already and I just can't find it!)

As the title states, I'd like to statefully (or dynamically) add an "active" class to the wrapping div, i.e. the div with CSS class="Toastify"

**What is the current behavior?**

As far as I can tell, there is no way to access that topmost div via

[2020-09-30 17:48] piducancore commented on #529
I used css to make the cointainer transparent:
[code]
Then you can style the inner component however you like.

[2020-10-01 13:36] princefishthrower commented on #529
@piducancore - yes, I ended up doing a similar thing, but styling on the toastify and dimming the background instead of setting the toast itself to transparent. I found the `onClose` and `onOpen` callbacks to work for my use case.

in my `toast()` calls:

[code]

and in my SCSS:

[code]

[2020-10-01 13:36] #529 closed

[2020-10-02 15:19] freezepl opened #530 "[bug] 'format.replace is not a function' when generating toastId"
**Do you want to request a *feature* or report a *bug*?**
BUG
**What is the current behavior?**
Toasts are not working. Error is displayed in the console:
[code]
How to reproduce?
Paste the code of the method in the console:
[code]
I tried to change `toString` to `toISOString` and it worked:

[code]

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minima

[2020-10-03 06:42] fkhadra commented on #530
Hello @freezepl,

Could you reproduce the bug and share a codesanbox thanks.

[2020-10-03 06:43] #524 closed

[2020-10-05 06:45] fkhadra commented on #525
Hello @net-bet ,

Can you describe your use case ?

Thanks

[2020-10-05 06:49] fkhadra commented on #522
Hey @insuusvenerati,

`toast.dismiss` return `false` if it was not able to remove a notification and `void` if it succeded.

You don't need to cast it at all. Simply surround your cleanup function with curly brace:
[code]
Hope this help

[2020-10-05 06:49] #522 closed

[2020-10-05 06:50] #520 closed

[2020-10-05 06:51] fkhadra commented on #515
thanks for the feedback. I'll try to free time for this

[2020-10-05 06:51] #515 closed

[2020-10-05 06:54] fkhadra commented on #511
Hey @gnoesiboe, are you able to reproduce the issue ?

Thanks

[2020-10-05 07:13] fkhadra commented on #506
So after analysis, I don't think that the issue is related to what @ScotchAndSoda mentioned.
This piece of code is called only when the exit animation is **done**. I think the issue is caused by something else. I would need a reproduction to investigate more.

[code]

[2020-10-05 07:17] fkhadra commented on #499
Hey @meness,

I've decided not to implement this feature. As you said, you can check if a toast `isActive` and do the necessary.

Of course, I could do that in the library itself but from an API point of view, this can be confusing. Also, it would introduce a breaking change for something that is not expected by everyone.

[2020-10-05 07:17] #499 closed

[2020-10-05 07:18] #497 closed

[2020-10-05 07:20] #487 closed

[2020-10-05 07:51] net-bet commented on #525
Thanks for the response!

In order to give the basic styling I had to put *some* of the styles in the GlobalStyle (I took the css you distribute with the lib).
I don't want it in the global style to prevent possibility for future collisions.

This is my component:

  return (
    <>
      <GlobalStyle />
      <StyledToastContainer
        {...props}
        theme={theme}
      />
    </>

This is

[2020-10-05 08:32] fkhadra commented on #483
It looks like there is a race condition somewhere.

[2020-10-05 08:52] fkhadra commented on #261
closing for housekeeping purpose

[2020-10-05 08:52] #261 closed

[2020-10-05 08:55] fkhadra commented on #321
`newestOnTop` work well when the toast are positionned at the bottom.

[2020-10-05 08:55] #321 closed

[2020-10-05 08:58] fkhadra commented on #422
I've worked on a prototype. It seems to be doable. Unfortunately, I need to find free time for this.

![toastify-native](https://user-images.githubusercontent.com/5574267/89464846-655b9b00-d771-11ea-82df-652e2e0bd231.gif)

[2020-10-05 08:58] #422 closed

[2020-10-05 08:58] #435 closed

[2020-10-05 08:59] #436 closed

[2020-10-05 08:59] #462 closed

[2020-10-05 09:04] fkhadra commented on #464
Hey,

By default, all toasts are displayed with the ARIA role alert. It's up to you to make the content of the toast accessible. The close button also has an aria-label set to 'close'. Both can be changed.

If you want to make the color of the notification AA or AAA compliant I suggest that you use the axe browser extension https://www.deque.com/axe/

[2020-10-05 09:04] #464 closed

[2020-10-05 09:06] fkhadra commented on #481
Hey,

Could you provide a codesanbox with the issue thanks.

[2020-10-05 09:09] fkhadra commented on #525
@net-bet what is your setup ? CRA, nextjs ?

Could you share a codesanbox with the issue ?

[2020-10-05 11:21] net-bet commented on #525
https://codesandbox.io/s/react-hook-form-password-match-check-standard-validation-forked-24z38?file=/src/index.js

You can see in this example that toaster toasts all the way up.
If you remove the comment from the import css everything looks good.

However, the css are identical.
I assume it is related to the place where the toaster being positioned and styled are applied should be a root level el

[2020-10-05 12:28] fkhadra commented on #525
Hey @net-bet,

Thanks. I managed to fix your issue.
[![Edit React Hook Form - Password match check - Standard Validation (forked)](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/react-hook-form-password-match-check-standard-validation-forked-ekgp2?fontsize=14&hidenavigation=1&theme=dark)

Instead of using `styled(ToastContainer)` I used `createGlobalStyle` from s

[2020-10-05 12:28] #525 closed

[2020-10-05 12:34] net-bet commented on #525
Hi,
I know it can work like this (this is how I solved it in my project)
But it is still a global style :(

[2020-10-05 12:43] fkhadra commented on #525
TBH the chance it's collapse with another library is quite low. But I got your point.

[2020-10-05 17:19] insuusvenerati commented on #522
It does thank you :)

[2020-10-07 11:14] kkak10 commented on #516
@fkhadra how can i it? position option is not have center-center..

[2020-10-08 12:27] m-alzaki commented on #382
Have you manged to resolve this?
I am also facing the same issue.
where i am trying to apply styles to toast using:
`toast('message', {
        className: css({
          color: '#343a40',
          minHeight: '60px',
          borderRadius: '8px',
          background: '#2FEDAD',
          boxShadow: '2px 2px 20px 2px rgba(0,0,0,0.3)',
        }),
        progressClassName: css({
          backgr

[2020-10-08 12:45] m-alzaki opened #532 "styles supplied to toast does not override defaults."
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
After applying  css styles to the toast it does not override the default one.

**Steps to reproduce:**
1-  import `ToastContainer` and toastify style from `react-toastify/dist/ReactToastify.css`
2- Applied custom styles using `glomar` to `className` and `progressClassName` of`toast options` when callin

[2020-10-08 19:01] fkhadra commented on #532
Hey @m-alzaki,

Thank you for providing a codesanbox. With glamor you need to call `toString` to get the css className generated
![Screen Shot 2020-10-08 at 8 59 05 PM](https://user-images.githubusercontent.com/5574267/95501917-524f8c00-09a9-11eb-982b-0113651b9070.png)

The glamor library is not maintained anymore. You can find more details on how to style here https://fkhadra.github.io/react-toas

[2020-10-08 19:01] #532 closed

[2020-10-15 00:21] timrodz commented on #121
Hey @fkhadra,

I've been testing this library with accessibility, and I'm still getting the screen-reader saying the message twice (upon entering and exiting the transition). My setup is like so:

[code]

[2020-10-15 06:55] gnoesiboe commented on #511
@fkhadra I ran into this issue myself. That is how I ended up here.

[2020-10-15 10:16] fkhadra commented on #511
@gnoesiboe if you have time could you try to reproduce the issue on codesandbox or share the repo if it's public. Thanks!

[2020-10-15 11:02] gnoesiboe commented on #511
Sharing is not possible I'm afraid. And time is something I do not have at this point. I'll put it on my todo list but it won't be somewhere on top..

[2020-10-15 12:02] fkhadra commented on #511
No problem. Thank you anyway.

[2020-10-19 17:10] erikujczo commented on #512
@fkhadra @jerrybuks Hey, I would like to take care of this issue.

[2020-10-23 01:52] gvsakhil commented on #139
Add this piece of code to fix it

.Toastify__toast-container {
 z-index: 200000;
}

[2020-10-23 01:53] gvsakhil commented on #126
.Toastify__toast-container {
 z-index: 200000;
}

Add this to fix it

[2020-10-23 21:33] derek-groupmail opened #534 "[bug] ToastId can't be reused!"
**Do you want to request a *feature* or report a *bug*?**

Bug report!

**What is the current behavior?**

Thanks for the great library, this is very slick and professional!
Unfortunately though, I think I've uncovered a bug that badly affects how I want to use it.

Basically, I'm using toastIds in order to prevent duplicate toasts from being displayed.

This works pretty well usually but on occas

[2020-10-28 11:56] biswaranjannaik commented on #112
Did you find any solution for this @fkhadra ?

[2020-10-29 17:46] JacekKraj opened #535 "Toastifies don't have style in production mode, work in dev"
I would like to ask for help, because my toastifies don't recive styles while on production mode. In development everything is ok.
I need to add that i use css modules.

That's my wbepack.prod.config.js

[code]
Anyone can help me? I ask for clear answers because im a beginer developer :)

[2020-10-30 00:23] thomasjm opened #536 "Inline styles passed to toast function disappear after a second"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current behavior?**

If you pass inline styles to `toast`, they are present when the popup first appears but then they disappear within a second or so. I.e. something like

[code]

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get f

[2020-11-03 09:04] yjp20 opened #538 "react-dom should also be a peer dependency"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**

react-dom, which should be a peer dep isn't, which results in errors with yarn pnp

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies othe

[2020-11-03 14:42] IzakJackson commented on #505
Anyone managed to figure this out?

[2020-11-03 14:50] fkhadra commented on #505
Sorry guys for the delay. The thing is that I'm working on several projects at the same time. I don't know when I'll be able to free some time(full-time jobs + covid + kids 😭).
I can suggest that you look at the source right now to see how it's used internally.
With a step back, I'm not satisfied with the implementation, that's why I'm a bit reluctant to document it.

[2020-11-03 15:46] IzakJackson commented on #505
No problem, it's completely understandable 😊

I'll have a look through the source code. Thanks!

[2020-11-11 04:01] AdrienLemaire opened #541 "pauseOnFocusLoss is not applied to windows already unfocused."
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When a notification is triggered, already unfocused windows will see the notification play.
Receiving notifications while not already focusing the page can happen with websocket subscriptions for example.
[video example](https://www.youtube.com/watch?v=RWsRDRfASTE)

**If the current behavior is a bug,

[2020-11-13 08:14] belfz commented on #536
I've noticed the same bug,

[2020-11-18 09:35] sunviwo commented on #516
@fkhadra how to center a toast ?

[2020-11-19 11:46] sergeycw opened #543 "Notification stuck on dragging"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
mouseup event doesn't fire when mousemove default event happens

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React. Paste

[2020-11-19 13:04] osamajandali commented on #505
@fkhadra Can I work on the documentation for `useToastContainer` as well as `useToast` ?

[2020-11-27 12:27] TeplyyMaksim opened #545 "Show only last toast"
I am curious about are there an ability to show only one last toast and close others without using dismiss or other additional methods.

Library has huge amount of interesting features dedicated to different tasks. For my case I need to show only one and only last toast. Is there an ability to do it without calling dismiss, clearQueue or other great methods?

[2020-11-28 14:35] fcollonval opened #546 "Support react 17"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React. Paste the link to your CodeSandbox (https://codesandbox.io/s/new)

[2020-11-29 11:07] fkhadra commented on #546
Hello,

It does work with react 17. https://codesandbox.io/s/ancient-currying-9ykpc?file=/src/App.js

[2020-11-29 11:07] #546 closed

[2020-11-29 12:23] fcollonval commented on #546
Thanks for the quick reply and this awesome library!

[2020-11-29 15:54] awe-eduard commented on #416
I know that this post is kind of old, but I think it still could be of general interest.

You can easily dismiss all toastrs, or one specific, o a particular set of them, in a simple manner, by wrapping your toastr text in a <div> with a class. Example:

`toastr.options = { positionClass: 'toast-top-right' };
toastr.error('<div class="toastr">This is the text in my toastr</div>');`

Since toastrs

[2020-12-07 15:47] guicara commented on #534
Hello,

I have exactly the same issue and the same question as you.
I also don't know if the current behavior is a bug or not.

[2020-12-07 18:55] raDiesle opened #547 "Make demo documentation page ie11 compatible"
It would be awesome to provide running example of documentation page to be compatible with older browsers,  so to include polyfills.

[2020-12-08 09:36] fkhadra commented on #545
Hello @TeplyyMaksim,

There is no bult-in way to do that. This needs to be implemented in user land, sorry for that.

[2020-12-08 09:36] #545 closed

[2020-12-08 09:39] fkhadra commented on #547
Hey @raDiesle,

I understand your point of view.  Unfortunately, I don't have the infrastructure to test on ie11 anymore. But PR are welcome of course.

[2020-12-08 09:39] #547 closed

[2020-12-08 09:54] #536 closed

[2020-12-08 09:55] fkhadra commented on #543
Hey @sergeycw , your PR with the fix has been merged

[2020-12-08 09:55] #543 closed

[2020-12-12 14:20] tonix-tuft commented on #416
@fkhadra You can close it if you want (or I will close it if you think it is not worth tracking anymore, let me know). I ended up monkey patching this using pigretto, as I wrote above. Would be great if `react-toastify` would provide this feature out of the box, though.

Thank you!

[2020-12-20 09:31] felixmosh opened #550 "[Bug]: Unable to select text inside inputs when a toast is open"
**What is the current behavior?**
When the toast is open & `draggable={true}` it is not possible to select the text inside inputs with **mouse drag**.

https://user-images.githubusercontent.com/9304194/102709941-78ea4700-42b7-11eb-8a68-768fb6725b1c.mov

Steps to reproduce:
1. open codesandbox https://codesandbox.io/s/react-react-toastify-working-forked-bu95r
2. write some text inside the input
3.

[2020-12-20 13:56] AmooHashem commented on #550
Isn't it a normal behavior?

[2020-12-20 13:59] felixmosh commented on #550
Why is it a normal behavior?
The `draggble` must apply only of the toast, not the entire page.

Think about a call center app, which shows the caller details in a toast, which always affects the entire page.

[2020-12-20 14:11] fkhadra commented on #550
@felixmosh fair point. It seems like a regression to me as you were not able to reproduce the issue with v6.1 . I'll look at it asap.

[2020-12-20 14:12] felixmosh commented on #550
Thanx 🙏🏼

[2020-12-20 17:55] fkhadra commented on #534
Hey, thanks for reporting. It's indeed a bug, I'm working on a fix.

[2020-12-20 21:33] fkhadra commented on #550
@felixmosh, is it the expected behavior?

https://user-images.githubusercontent.com/5574267/102724939-5f76e880-4313-11eb-8c8e-53ae4350be2f.mov

[2020-12-21 05:40] felixmosh commented on #550
It can be fixed with usage of css user-select: none.

[2020-12-21 19:47] willyrk1 opened #552 "How to position vertically centered?"
**Do you want to request a *feature* or report a *bug*?**
TBD

**What is the current behavior?**
Per https://github.com/fkhadra/react-toastify/issues/516, toasts cannot be centered _vertically_, only horizontally. That issue was closed with just a link but the given link does not (currently) explain how to center a toast vertically.

**If the current behavior is a bug, please provide the steps to

[2020-12-21 21:54] fkhadra commented on #552
Hello @willyrk1, by vertically, you mean to center the toasts at the center of the screen as below?
<img width="946" alt="Screen Shot 2020-12-21 at 10 48 29 PM" src="https://user-images.githubusercontent.com/5574267/102825236-a7af0d00-43de-11eb-8df5-7f7923d58279.png">

In that case, there is no built-in way yet. I'll probably add it to the next release. Until then, one solution is to position the

[2020-12-23 01:53] CesarMurilloS commented on #212
This solved my problem! THANKS A LOT!

[2020-12-23 16:30] fkhadra commented on #535
Hello @JacekKraj , I've helped someone to solve the same issue yesterday. In the zip you can find a working example.

There are 2 rules, one for css module and one for third party css.

[code]

[debug.zip](https://github.com/fkhadra/react-toastify/files/5736183/debug.zip)

[2020-12-23 16:30] #535 closed

[2020-12-23 16:32] fkhadra commented on #511
This will be fixed with the new release. I'm removing the dependency to `react-transition-group`

[2020-12-23 16:45] fkhadra commented on #451
hello @PierrickGT , sorry for the late reply.
So the first code sandbox works because it uses the built-in transition provided by the library. There are 4 of them:
- bounce
- slide
- zoom
- flip
Your first example could have been written as follow.
[code]

Your second example does not work because the class names you are using `slideIn` and `slideOut` doesn't exist. If you want to you a custom ani

[2020-12-23 17:08] fkhadra commented on #534
@guicara do you have an easy way to reproduce the issue ? thx

[2020-12-23 17:48] PierrickGT commented on #451
Thanks for the explanation!

[2020-12-23 17:52] #451 closed

[2020-12-24 11:38] denydavy commented on #512
I've got a PR for this feature ready to be sent @fkhadra. I use your library in production and I really need this feature ASAP :)

[2020-12-25 06:37] gnoesiboe commented on #511
ah, nice! Thanks!

[2020-12-25 08:31] #552 closed

[2020-12-29 16:55] dvkndn commented on #459
@stoneRdev  https://github.com/fkhadra/react-toastify/pull/421

[2020-12-29 19:44] fkhadra commented on #541
Hello @AdrienLemaire this will be fixed in the next release. Thanks for reporting

[2020-12-30 10:26] VovaGayduk42 opened #555 "[Bug]: The toast timer starts after you click on the toast"
Hello!
The bug was found

If you run a toast with these configurations:
[code]
The toast timer stops after you hover on the toast. But it starts after you click/dbClick on the toast.
I would like to rule out this behavior, Thanks.

[2021-01-05 19:32] utkarshgupta137 opened #556 "Feature request: separate onDismiss callback & don't trigger onClose on manual dismiss"
This is a feature request, but also a bug report.

FEATURE REQUEST:
Anytime a toast closes, manually or automatically, onClose is called. This makes the [undo toast recipe](https://fkhadra.github.io/react-toastify/add-an-undo-action-to-a-toast/) unuseful in certain scenarios.
For example, I've to handle in onClose whether or not I manually dismissed the toast. It gets really complicated when the t

[2021-01-05 19:35] utkarshgupta137 commented on #556
Here is a custom hook I wrote to tackle this issue for now:

[code]

It is designed to only have 1 toast at time, so if another entity is deleted, then the undo/deletion will be grouped together.

[2021-01-08 07:26] vikrant-gembrill commented on #27
on mouse click anywhere on the page, the animation pauses and resumes on hover, how can we disable this feature so that the animation continues no matter what?

[2021-01-08 07:26] vikrant-gembrill commented on #223
on mouse click anywhere on the page, the animation pauses and resumes on hover, how can we disable this feature so that the animation continues no matter what?

[2021-01-08 07:31] vikrant-gembrill commented on #47
on mouse click anywhere on the page, the animation pauses and resumes on hover, how can we disable this feature so that the animation continues and the toast closes ?

[2021-01-08 07:33] fkhadra commented on #27
@vikrant-gembrill you can set `pauseOnHover` to `false`

[code]

[2021-01-08 07:37] vikrant-gembrill commented on #27
@fkhadra it only works for hover, however, when i **click** anywhere on the page, even outside toast message, the toast animation pauses.
it only resumes when i hover on it.

[2021-01-08 07:39] fkhadra commented on #27
@vikrant-gembrill if the toast pause when you click outside of the page you have to set `pauseOnFocusLoss` to `false`
[code]

[2021-01-08 07:40] vikrant-gembrill commented on #27
@fkhadra yes that has resolved the issue, thanks.

[2021-01-15 16:18] DaleyKD commented on #550
Seeing the tag "Merged in next", does this mean that this is fixed in the next release?

[2021-01-15 16:36] fkhadra commented on #550
Indeed. The PR is open I'm almost done.

[2021-01-15 17:17] DaleyKD commented on #550
@fkhadra : THANK YOU! This bug came up via QA for our product, and would be great for it to be resolved before we go live. Thank you for such an awesome library.

[2021-01-16 23:00] MuhammedAO opened #557 "How can i stop toastIds from displaying on the screen when i make a toast"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React. Paste the link to your CodeSandbox (https://codesandbox.io/s/new) example

[2021-01-25 09:26] brenthmiras opened #558 "toast.dark is not a function"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React. Paste the link to your CodeSandbox (https://codesandbox.io/s/new) example

[2021-01-25 10:20] fkhadra commented on #558
@brenthmiras I think you are using an older version.

[2021-01-25 10:20] #558 closed

[2021-01-25 11:15] darmawan01 commented on #502
same issues here, adding to my existing app

my dependency
[code]

[2021-01-25 14:45] #530 closed

[2021-01-25 14:45] #538 closed

[2021-01-25 14:45] #541 closed

[2021-01-25 14:45] #511 closed

[2021-01-25 14:45] #514 closed

[2021-01-25 14:45] #550 closed

[2021-01-25 14:45] #555 closed

[2021-01-25 14:45] #512 closed

[2021-01-25 14:50] #483 closed

[2021-01-27 00:39] guicara commented on #534
Hello @fkhadra,

Thank you for this new release (7.0.0)!

I have upgraded the package on my project. Unfortunately, the issue is not resolved :cry:

I will try to reproduce the bug on a codepen this week.

In the meantime, please find below a screen recording of the issue on my project. The user can download files by clicking on a button. When a download starts a toast is displayed. Each toast has

[2021-01-27 06:57] fkhadra commented on #534
Damn I'll reopen the issue then

[2021-01-27 08:22] andreivanea opened #559 "Closing animation showing twice if dismiss is called after a very short time after showing the toast"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When calling `toast.dismiss()` directly (or shortly) after displaying a toast with `autoClose: true`, the closing animation is shown twice: once it transitions to the side, then the toast is again displayed in the "original", on-screen position from where it collapses to bottom.

**If the current behav

[2021-01-27 10:07] #559 closed

[2021-01-27 10:08] fkhadra commented on #559
Hey @andreivanea thanks for reporting the issue. I've published a fix available in v7.0.1

[2021-01-27 21:16] andreivanea commented on #559
Hey @fkhadra, that was really fast! Thanks! It works like a charm. Thank you for your work!

[2021-01-28 17:43] hluu5 opened #560 "Limit 1 toast - problem with transition in and out"
**Do you want to request a *feature* or report a *bug*?**
Not sure if this is a bug or a feature.

**What is the current behavior?**
Our app uses limit 1 toast to display on screen at a time. Basically, whenever we have an API call error, we would dismiss all open toast and generate a new one. The problem with this is when the previous toast hasn't transitioned out, the new toast already start to

[2021-01-28 19:20] #560 closed

[2021-01-28 19:24] fkhadra commented on #560
Hello @hluu5,

I've just pushed a fix in version 7.0.2. It seems that you are still using the v6, I would suggest that you update to the latest version.  You can find the release note for the v7 [here](https://github.com/fkhadra/react-toastify/releases/tag/v7.0.0)

There is a breaking change regarding the `cssTransition`. Now it fully relies on CSS. This is document here as well https://fkhadra.gi

[2021-01-29 06:32] achmadk opened #561 "error ToastContainer after running `tsc` in command line"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
After upgrading `react-toastify` to v7.0.2, I execute `tsc` in command line. Unfortunately I got error message like this:

[code]

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we

[2021-01-29 06:45] achmadk commented on #561
If you dont mind, please check [here](https://github.com/fkhadra/react-toastify/compare/master...achmadk:fix-issue-561) to resolve this issue.

[2021-01-29 08:07] fkhadra commented on #561
Hello @achmadk,

I think that something is wrong with your setup. I've been using the library exclusively with typescript and I never had this issue.
You can find below a working example with typescript using CRA
[![Edit relaxed-shadow-nwcn4](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/relaxed-shadow-nwcn4?fontsize=14&hidenavigation=1&theme=dark)

Maybe if you

[2021-01-29 10:23] achmadk commented on #561
I have refresh install dependencies with yarn but still have same problem above.

[![Edit holy-cache-dddx8](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/holy-cache-dddx8?fontsize=14&hidenavigation=1&theme=dark)

[2021-01-30 03:43] mskian opened #562 "After latest Update close Icon having Alignment issue"
Updated to Latest Version `7.0.2`  close Icon having Alignment issue
I am using it with Bulma CSS
No issue with the Previous Version `6.2.0`

![gttstv](https://user-images.githubusercontent.com/10300271/106346199-46326600-62db-11eb-92d9-1f25b695922b.jpg)

[2021-02-01 08:37] fkhadra commented on #562
Hello @mskian,

The codesanbox below uses bulma without any issue.
[![Edit relaxed-shadow-nwcn4](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/relaxed-shadow-nwcn4?fontsize=14&hidenavigation=1&theme=dark)

If you can provide a reproduction I could help

[2021-02-01 08:37] #562 closed

[2021-02-01 11:42] felixmosh commented on #561
same in my projects, the `ToastContainer.d.ts` is missing in `node_modules`,

![image](https://user-images.githubusercontent.com/9304194/106454345-44130780-6493-11eb-9cdb-da4013bc9dea.png)

[2021-02-01 11:50] fkhadra commented on #561
Thanks, @felixmosh that was helpful. TBH I don't even know how this happened. I've built it again and published a new version to npm.

[2021-02-01 12:03] felixmosh commented on #561
@fkhadra I've just tested 7.0.3, same issue :|

[2021-02-01 12:06] fkhadra commented on #561
@felixmosh can you delete node_modules/react-toastify ?
I've tried again on my side and I can see the typescript defintion
![Screen Shot 2021-02-01 at 1 04 45 PM](https://user-images.githubusercontent.com/5574267/106456689-25f6d880-648e-11eb-861e-9034ac576b5d.png)

Also, it has been packed when I ran npm publish
![Screen Shot 2021-02-01 at 1 05 38 PM](https://user-images.githubusercontent.com/5574

[2021-02-01 12:14] felixmosh commented on #561
Yeap, that helped, Thanx for the quick fix

[2021-02-01 12:15] fkhadra commented on #561
@felixmosh you're welcome. cc @achmadk

[2021-02-01 13:55] #561 closed

[2021-02-01 15:24] egardner2019 opened #564 "autoClose and closeOnClick not working in version 7 of react-toastify"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
The toast is no longer closing when using autoClose or closeOnClick after updating to version 7.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have depe

[2021-02-01 15:29] fkhadra commented on #564
Hey @egardner2019,

You forgot to import the default stylesheet as well. Here is a working example.

[![Edit react-toastify_issue (forked)](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/react-toastifyissue-forked-92r5j?fontsize=14&hidenavigation=1&theme=dark)

[2021-02-01 15:34] egardner2019 commented on #564
Oh! Thank you so much!

[2021-02-01 15:34] #564 closed

[2021-02-03 19:07] afozbek commented on #224
If anyone still doesnt understand the solution, all you have to do that create a React element as a wrapper for toastContent.

### Old Code
[code]

### New Code

[code]

[2021-02-03 19:07] afozbek commented on #14
If anyone still doesnt understand the solution, all you have to do that create a React element as a wrapper for toastContent.

### Old Code
[code]

### New Code

[code]

[2021-02-07 18:48] iamkratos opened #565 "Is there anyway to change the progress bar direction?"
Is there anyway to change the progress bar direction to LTR without modifying the orientation of the entire notification?

[2021-02-08 07:24] tejasgoswami commented on #437
I'm facing the same issue and i got reason for the issue,
It's actually with the css,
it's not able to find the CSS for the Toastify__toast-container from the node modules,
after deploying the react app.

[2021-02-08 07:27] fkhadra commented on #437
Hey @tejasgoswami, without knowing your setup is not easy to help you :(. Are you using css modules ?
Could you try to inject the style on demand to see if it solve your issue ?
https://fkhadra.github.io/react-toastify/how-to-style/#inject-style-on-demand

[2021-02-08 08:55] Martinnord commented on #505
@fkhadra Are PRs about updating the documentations about useToast and useToastContainer welcome?

[2021-02-08 09:05] agcty commented on #505
To be honest, I just use https://react-hot-toast.com/ nowadays, it's docs are superb and using the toast with custom styling works out of the box.

[2021-02-08 09:45] fkhadra commented on #505
Hey @Martinnord, it would be awesome.

[2021-02-08 10:39] fkhadra commented on #505
@agcty react-hot-toast is a really cool library.

React-toastify provides more features just to name a few of them
- custom animation out of the box (even easier with the latest version)
- drag and drop
- controlled progress bar

Is react-toastify better than react-hot-toast? I don't think so. Open source is about diversity, use what works the best for you.

[2021-02-09 16:56] Link2Twenty commented on #565
Yep! You can change it with CSS.

[code]

[2021-02-11 04:44] tejasgoswami commented on #437
@fkhadra   Thanks for the suggestion, it works fine for me.

[2021-02-11 08:51] Martinnord commented on #505
Okey cool. I've always wanted to contribute to OS. This could be a great start. Will try to submit a PR this weekend.

[2021-02-11 13:51] kkuriata opened #566 "[Feature Request/Question] Handling all the toasts globally"
**Expected behavior:**

I would like to attach to some global event to handle shown toasts. For example, there are some `toast.error()` calls that sometimes contain some useful informations for debugging. I want to catch them all in one place without creating a wrapper.

[code]

Or even better solution:

[code]

[2021-02-14 06:55] cseas opened #567 "webkit-transform error reported by VSCode"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
VSCode shows red lines in the third line of `ReactToastify.css` with the following message:
![Selection_017](https://user-images.githubusercontent.com/29686866/107870529-28f6bd80-6ebf-11eb-81ec-edf6cef7ec57.png)

**If the current behavior is a bug, please provide the steps to reproduce and if possible

[2021-02-15 16:02] stanleyk opened #568 "How to pass props to a custom component in TypeScript"
According to the [docs](https://fkhadra.github.io/react-toastify/render-what-you-want) I can create my own component and use it like this:

`toast(<Msg />)`

But when I create the component just like the docs suggest:

[code]
I get the (pretty obvious) error:

I can get it working by using the

`toast(Msg)`

form, but how do I pass anything (like the actual text I want to show) to the component in

[2021-02-15 16:12] Rafatcb commented on #568
This is more of a workaround than an answer, but I do it like this:

[code]

[2021-02-15 16:18] stanleyk commented on #568
I thought of such a workaround too. But I want to be able to use the `toastProps` in my component too, for example to read the `toastProps.type` and style the component accordingly. I don't see a way to achieve that in such a workaround though.

[2021-02-15 16:32] JesusTheHun opened #569 "`closeToast` does not work"
Here is a sample from the [doc](https://fkhadra.github.io/react-toastify/render-what-you-want), you can also try it on [codesandbox](https://codesandbox.io/s/strange-noyce-ii7yh?file=/src/App.js) :

[code]

The toast should close when the __close button__ is clicked, but it's not. I tried in practice in my own code, it does not work either.

[code]

What's required to make this work ?

Versions :

[2021-02-15 16:52] JesusTheHun commented on #569
Does not work either :
[code]
Nor :
[code]

[2021-02-15 16:56] fkhadra commented on #569
Hello @JesusTheHun ,

According to your codesanbox, the stylesheet is not imported. I forked you codesanbox  and added the stylesheet. It works as expected.

[![Edit vibrant-lumiere-5shso](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/vibrant-lumiere-5shso?fontsize=14&hidenavigation=1&theme=dark)

[2021-02-15 17:01] fkhadra commented on #568
@stanleyk does the following solve your issue ?

[![Edit toast-content-ts](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/recursing-euclid-3mtx4?fontsize=14&hidenavigation=1&theme=dark)

[2021-02-15 17:02] #569 closed

[2021-02-15 17:04] JesusTheHun commented on #569
Indeed it works with the css. So I understand that the all disparition thing is only based on the css animation, does it means the element is never removed from the queue ? or do you listen to the animation to dequeue the element at the end.

Since I use a fully custom toast, I just tried to import `import 'react-toastify/dist/ReactToastify.minimal.css';` but with this sheet it does not work.

[2021-02-15 17:12] fkhadra commented on #569
Indeed, the lib listens to `onAnimatedEnd` event to remove the element from the queue. With the minimal stylesheet, the element is removed but after a delay.
[![Edit autumn-frog-n5rj7](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/autumn-frog-n5rj7?fontsize=14&hidenavigation=1&theme=dark)

Regarding your customization, isn't it something that can be done by over

[2021-02-15 17:14] fkhadra commented on #567
Hey @cseas, this is done due to a safari bug. https://github.com/fkhadra/react-toastify/pull/339

I don't know if it's still relevant though.

[2021-02-15 17:18] JesusTheHun commented on #569
I c/c'ed the css into my style sheet and I'm customizing it. Things gonna work out ! Thank you for your quick responses

[2021-02-16 13:47] stanleyk commented on #568
@fkhadra Yes, great, thank you!

For future readers (I noticed the CodeSandbox examples disappear after some time): Declaring the component props using the [Partial](https://www.typescriptlang.org/docs/handbook/utility-types.html#partialtype) utility type helps:

[code]

[2021-02-16 13:52] fkhadra commented on #568
@stanleyk thanks for testing. I guess this should be added to the documentation.

[2021-02-22 15:20] bryantobing12 commented on #374
where should I put this CSS ??

[2021-02-22 15:33] fkhadra commented on #374
@bryantobing12, you can checkout the codesanbox below. I've added the style in the `style.css` file. That one is imported after `react-toastify` style.

[![Edit hopeful-euclid-z1uy6](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/hopeful-euclid-z1uy6?fontsize=14&hidenavigation=1&theme=dark)

You can also have a look at the documentation for more details https://f

[2021-02-24 00:41] jkamleh opened #572 "Flex layout issue in IE11 (includes fix suggestion)"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Using flex layout (Bootstrap 4) inside `Toastify__toast-body` class has issues rendering in IE11, works fine in latest Chrome. Example is with one fixed column width (col-md-3) and second column dynamic (col):
![image](https://user-images.githubusercontent.com/14323780/108926899-382ff500-768f-11eb-9f62

[2021-03-03 17:26] AlexandreMumble opened #574 "Bug: les units ne sont pas mises à jour automatiquement via live queries dans la liste de fares"

[2021-03-03 17:27] #574 closed

[2021-03-05 16:38] santi8194 opened #575 "Cannot update toast before queue shows it"
When there is a limit to the number of toasts displayed, if I create a toast that cannot be displayed yet and I try to update it, when the toast appears, it is in the state that created it not the updated state.

Steps to reproduce:

1. Set a limit to the number of toasts displayed (3 toasts)
2. Create 4 toasts sequentially
3. After creating the fourth toast, update it
Bug: the fourth toast never

[2021-03-05 17:16] fulanovic commented on #107
Put styles in CSS class adn apply it with `toastClassName='className'`

[2021-03-08 08:47] AriHrannar opened #576 "Problems with testing toast.dismiss using react-testing-library"
**Do you want to request a *feature* or report a *bug*?**
Help testing with React-testing-library

**What is the current behavior?**

I am trying to write a test for toasting a message that doesnt go away by itself (closeButton={false}, autoClose={false}, closeOnClick={false}, draggable={false}) and the user has to explicitly dismiss the toast by clicking a button inside of the toast. This behavio

[2021-03-08 08:49] AriHrannar commented on #342
It doesnt seem like this link works anymore? It just brings me to the demo page - I would expect that it should be a special page with code examples of how to style with styled-components?

[2021-03-08 09:08] fkhadra commented on #342
@AriHrannar can you try from a private tab ? I suspect a cache issue

[2021-03-08 09:42] AriHrannar commented on #342
Awesome, thanks that did it :)

[2021-03-09 16:51] dustincjensen opened #577 "Border radius in mobile is not 0"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Border radius in mobile is 4px.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Can be seen on the introduction page https://fkhadra.github.io/react-toastify/introduction

**What is the expected behavior?**
Border radius in mob

[2021-03-10 19:53] ag2byte opened #579 "toast not working with onClick in React"
** BUG REPORT **

toast not showing up using onClick event

I have a button component with the following definition:
[code]

addtocart function:
[code]
The function is being called properly as the ```console.log(item,"added")``` line is working fine.
Expected behavior: toast must be displayed but is not being rendered

[2021-03-11 22:09] #579 closed

[2021-03-13 05:23] anoopvasudevan commented on #481
Hi, I am facing the same issue.

I have reproduced the issue in codesandbox,
[https://codesandbox.io/s/cranky-montalcini-gshqf?file=/src/AppNotifications.js](url)

My use case:

1. Fetch some data from the backend in 2 minutes intervals and display them as toasts on the frontend.
2. Limit the number of toasts displayed on the screen at any time to 3 (e.g. Data-1, Data-2, Data-3. If the user decide

[2021-03-15 10:08] mina-raina-choi opened #580 "Progress countdown stops on Mobile"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
On mobile, it stops countdown when I attempt to dismiss toast but do not dismiss.
It works well on desktop.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn'

[2021-03-15 14:34] rrcdr opened #581 "Sound feature?"
Is there a way to make a sound play with the notification?

[2021-03-15 15:23] PierrickG34 commented on #292
Hi, thanks for your example @JulianoGTZ.
We can improve it with `toastId` option like this :

1. Create toast :
` toast.success("hello" , {toastId: "my-toastId"});`

2. Cypress command for check :
[code]

3. Use it :
`cy.checkToastMessage("my-toastId", "hello")`

[2021-03-15 18:16] skrivanos commented on #534
@fkhadra Issue still looks closed and I can confirm there's still oddities with the toast ids, leading to toasts not being shown in certain cases.

[2021-03-16 06:50] mazimazur opened #582 "HTML not rendered"
Documentation says that there's more than a string to render. If I put HTML in it (`<button>Test</button>`) it gets not rendered. Output remains `<button>Test</button>` instead of rendering the button.

[2021-03-16 06:53] fkhadra commented on #582
@mazimazur please share a codesandbox with the issue

[2021-03-16 07:17] fkhadra commented on #202
please open an issue next time. If the issue has been already closed it's hard for me to keep track. @kiily this is more likely an issue with your toolchain. It should just work with nextjs. An alternative solution would be to inject the stye on demand https://fkhadra.github.io/react-toastify/how-to-style/#inject-style-on-demand

[2021-03-16 07:52] mazimazur commented on #582
It's quite a large application, but the example is simple, please see this video: https://recordit.co/IHXgbUFOyl

[2021-03-16 08:07] fkhadra commented on #582
The issue in your case is that you are passing a string instead of jsx.
Your translation is defined outside of react runtime, so the `<div>your content</div>` is not transformed to jsx but interpreted as a string.
[![Edit magical-wiles-3fw9u](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/magical-wiles-3fw9u?fontsize=14&hidenavigation=1&theme=dark)

[2021-03-16 08:10] #582 closed

[2021-03-16 09:11] kiily commented on #202
It was what we suspected, tailwind purgecss issue. After adding the `react-toastify` styles to the array it started working again

[code]

For the record, prior to this error, I had seen no issues with the `react-toastify` lib and using it in Next.js.

[2021-03-18 08:45] Sagr859 opened #583 "Toast appearing again all together when modal is opened"
**Reporting a BUG (ReactJs)**

**Toast is generated as a whole group where is isnt needed.**

Bug is only visible at a certain part of the whole project. The part being the parent component of the whole project.
After generating the toasts (where its meant to be shown and comes,) if any modal is opened in the parent component, all the toasts that was generated is generated again. Not an issue of a

[2021-03-18 11:18] fkhadra commented on #583
I'm not sure to understand your issue.
Do you want to remove all notifications when you open the modal ? Can you provide a minimal reproduction on code sanbox?

[2021-03-18 11:47] fkhadra commented on #581
Hey @rrcdr,

This should be doable.

[code]

https://developer.mozilla.org/en-US/docs/Web/API/HTMLAudioElement/Audio

[2021-03-18 11:47] #581 closed

[2021-03-18 11:50] fkhadra commented on #481
Hey @anoopvasudevan , the codesanbox seems to be empty :(

[2021-03-18 12:01] fkhadra commented on #557
Hey @MuhammedAO ,

Sorry for the late reply. Your issue is that you are calling `toast` during the render process. You should do this instead

[code]

[2021-03-18 12:01] #557 closed

[2021-03-18 12:09] fkhadra commented on #576
Hey @AriHrannar,

You can have a look at this test https://github.com/fkhadra/react-toastify/blob/master/test/components/ToastContainer.test.tsx#L79-L101

The thing is that we also need to trigger the `animationEnd` event to complete the exit animation https://github.com/fkhadra/react-toastify/blob/master/test/components/ToastContainer.test.tsx#L97.

Hope this help

[2021-03-18 12:09] #576 closed

[2021-03-18 14:18] anoopvasudevan commented on #481
@fkhadra
Oh! Sorry about that. Looks like I didn't save the code properly. Let me create it again & get back to you.

[2021-03-18 15:09] anoopvasudevan commented on #481
@fkhadra Here you go,
[https://codesandbox.io/s/react-toastify-example-gshqf?file=/src/App.js](url)

data loads in every 10 seconds

[2021-03-18 17:06] Sagr859 commented on #583
Firstly, thank you for a quick response for my issue.
To clarify my problem I am attaching a video which shows the issue. The
project is now in production so I cannot provide my code. But you can see
the problem in
https://classroom.eddzi.com

Note:
im using ReactJs 16.x, following new methodology (using functional
components with Hooks, redux, axios instead of class components).
Almost 70% all pa

[2021-03-18 17:46] fkhadra commented on #583
So I saw that in every component you import the `ToastContainer` and the stylesheet. Insert the `ToastContainer` and the stylesheet only once in your app. For example in `index.js`, also, inject the CSS there.

[code]

[2021-03-18 17:52] fkhadra commented on #481
Thanks for the reproduction.

[2021-03-18 18:01] Sagr859 commented on #583
Thanks, I'll check it out. 😉😋😇

On Thu, Mar 18, 2021 at 11:16 PM Fadi Khadra ***@***.***>
wrote:

[2021-03-18 18:12] fkhadra commented on #481
TL;DR; So here is a working example to unlock you. I've removed the container id
[![Edit react-toastify-example (forked)](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/react-toastify-example-forked-7oup0?fontsize=14&hidenavigation=1&theme=dark)

This is clearly a bug 🤣, oops sorry. I'll deploy a fix ASAP. Thanks a lot for the reproduction, it helped a lot

[code

[2021-03-18 18:12] #583 closed

[2021-03-18 18:25] Sagr859 commented on #583
Man, that was quick!!!! thank you so much @fkhadra and react-toastify team for such a fast response.... Thank you so much!!!!!
![WatchfulDigitalLacewing-size_restricted](https://user-images.githubusercontent.com/40241809/111677600-62677380-8845-11eb-8dc1-bc22f2dcbeb3.gif)

[2021-03-18 19:17] anoopvasudevan commented on #481
@fkhadra Thanks. That fix will work for me.

[2021-03-19 14:48] bmolnar2 commented on #572
Hi all!

That change on the body style, removing `flex 1 1`, cause as an another problem. Considering a ToastContainer with fixed width:
[code]
, the body's div does not grows with the container's size, but only with the content's grows. This leaves us with the situation of having oddly narrow toast messages:
![image](https://user-images.githubusercontent.com/17888368/111796700-57055e00-88c0-11eb-

[2021-03-22 09:26] AriHrannar commented on #576
@fkhadra thank you for the response

Its sadly still not working for me, ive updated the CodeSandbox above for the test that has no fake timers.

`jest.useFakeTimers()` doesnt work in CodeSandbox but I am running this test locally and the toast never appears after clicking the button that toasts

[code]

![image](https://user-images.githubusercontent.com/6696198/111967082-e8aae080-8af7-11eb-8462-0

[2021-03-22 11:26] bmolnar2 commented on #572
Never mind my question. I realized that I can just override the class style in a new scss file and include, that will override the body. :)

[2021-03-22 16:16] fkhadra commented on #576
@AriHrannar This is indeed really weird. I'm able to reproduce the issue locally. I'll check `react-testing-library` release notes. This is weird

[2021-03-25 10:45] sainiankit commented on #202
`import 'react-toastify/dist/ReactToastify.min.css';`
instead of
`import 'react-toastify/dist/ReactToastify.css';`

Solved it for me. (Was not able to see proper css in Production Builds)

[2021-03-25 14:53] hello2parth opened #584 "React does not recognize the `closeToast` prop on a DOM element."
I am getting following console warning every time, I invoke toast.

`        <ToastContainer
          transition={Slide}
          className="toast-notification"
          toastClassName={classes.toastNotificationBody}
          hideProgressBar
          pauseOnHover
          autoClose={autoClose}
          position={position}
          closeButton={false}
          closeOnClick
        />`

rea

[2021-03-29 05:05] rodrigovilla opened #585 "Toastify works perfectly but it shows out of the visible area."
Hello guys,

Hope you guys are doing great. We've been using **react-toastify** in a production environment for almost 7 months: https://www.rooeda.com

It's a great library. I just spotted an inconvenient outcome in terms of UX, the Toast notification gets lost on top of the page. Please let me know if you there's a way we can we always keep the notifications showing in the visible area regardles

[2021-03-29 06:20] fkhadra commented on #585
Hey @rodrigovilla,

The `ToastContainer` uses a fixed position, so it should always be visible. Do you use an iframe or something similar for the visible area? If you could reproduce the issue on codesanbox that would be really helpful.

https://user-images.githubusercontent.com/5574267/112794674-90c82880-9067-11eb-96d9-1d14025dbdfd.mov

[2021-03-29 06:59] rodrigovilla commented on #585
Hey @fkhadra

Thanks for your quick reply. I see it works perfect in your samples and documentation. We're not using an iframe, we are using a Design System by **IBM**: https://www.carbondesignsystem.com/guidelines/2x-grid/overview

I will check if I could reproduce the issue on **code-sandbox** but for now maybe you could get the idea by clicking 'Continuar' and resizing the window height and/or

[2021-03-29 07:15] rodrigovilla commented on #585
Hey @fkhadra

What's up again. Good news, the 'bug' was fixed by placing the component out of class="bx--content"

Now I just need to re-oder some things internally, probably I was using bad practices.

Thank you, excellent library. Have a good one!
Rodrigo

<img width="385" alt="bug" src="https://user-images.githubusercontent.com/1043405/112799896-2fcf2f00-902c-11eb-8d67-6522b3c6cb5b.png">

[2021-03-30 07:04] rodrigovilla commented on #585
Hey guys,

It might help somebody in the future. I was mistakenly putting the **ToastContainer** component inside each class instead of only putting in the **App** component:

<img width="673" alt="Screen Shot 2021-03-30 at 1 03 14 AM" src="https://user-images.githubusercontent.com/1043405/112947348-ea763480-90f3-11eb-9426-eeaabe93b741.png">

Best regards,
Rodrigo

[2021-04-09 13:14] andoulla opened #589 "Progress-Bar accessibility warning"
**Do you want to request a *feature* or report a *bug*?**
Improvement

**What is the current behavior?**
Currently, the toast fails our accessibility testing (we use https://github.com/dequelabs/axe-core) as the progress bar doesn't have an `aria-progressbar-name` label. Even when `hideProgressBar` is enabled, the test still fails as the progress bar div is still present in the dom but not shown.

[2021-04-10 19:12] fkhadra commented on #589
@andoulla thanks for reporting the issue. I'm planning to launch the next release during the coming week. I'll add this to my backlog

[2021-04-10 19:13] #585 closed

[2021-04-19 01:51] jkamleh commented on #572
@bmolnar2 Hi Bence, I'm not sure what you mean when you refer to removal of `flex 1 1`. The proposed changes in PR #573 only **add** `width: 100%;` to toast body. Even the workaround I mentioned (e.g. your own code), by specifying `.Toastify__toast-body` only adds to the existing stylesheets (unless you override existing styles defined in the SCSS)?

[2021-04-19 07:59] bmolnar2 commented on #572
@jkamleh, sorry, I did not link the change. It wasn't #573 , but this: https://github.com/fkhadra/react-toastify/commit/468d54513148ba1bcad5124640f8b8080ce176aa
Probably I thought this bug was reported as one caused by the latter.

For my case, the solution was to override the style in SCSS. Obviously not with the change you proposed, but whatever is necessary (e.g. adding back `flex 1 1`).

The p

[2021-04-20 19:37] fkhadra commented on #584
Hey @hello2parth, I suggest you upgrade to the latest version.

[2021-04-20 19:49] fkhadra commented on #575
Hey @santi8194, thank you for providing the codesandbox. This is a limit to the current implementation. Only rendered toast can be updated. From what I see, this would require adding ~2-3 lines of code.

[2021-04-20 19:50] #568 closed

[2021-04-20 19:50] #567 closed

[2021-04-20 19:51] #565 closed

[2021-04-20 20:00] #437 closed

[2021-04-20 21:16] martinkollie commented on #200
[code]

These types of errors are caused by hot reloading

[2021-04-22 07:10] fkhadra commented on #572
@bmolnar2 tbh I don't remember why I've removed `flex 1 1`, maybe a mistake from my side. I'll dig deeper

[2021-04-22 07:34] fkhadra commented on #572
Ok, I remember why I did it... I forgot to revert this thing 🤣

[2021-04-23 11:49] fkhadra commented on #534
Hey @skrivanos can you help me reproduce the issue on codesandbox? This would be really helpful 🙏

[2021-04-23 12:34] #481 closed

[2021-04-23 12:34] #577 closed

[2021-04-23 12:34] #589 closed

[2021-04-23 12:34] #572 closed

[2021-04-26 19:52] UncleInf opened #594 "Toast does not always appear after immediately hiding it"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

Been facing some weird toast show/hide behavior so tried to reproduce it in clean project (codesandbox link attached). The problem is multiple fold (but possibly related):
1. Regarding provided codesandbox example - toast does not always show after showing it in `componentDidMount` and hiding it in `c

[2021-04-27 22:55] nicolasguasca1 opened #595 "Type checking looks for a 'default' property."
I have the following question:

My app is already doing what is intended to but the type checking is not passing yet. Why is the  Here is the component:

[code]

This is my ts.config.json:

[code]
However, the return function: toast[options] is throwing the error: `Property 'default' does not exist on type '{ (content: ToastContent, options?: ToastOptions | undefined): ReactText; success: (content

[2021-04-29 05:04] tim-bloxsome opened #596 "toastId showing up in the render"
This may be a bug or I may be incompetent.

The toast shows up when it should, but the toastId is also showing up in the render.

The steps I used to create this issue are just that most basic setup in the docs.

The expected behaviour is that the toast shows up but not a printout of the toastId

latest version of react and toastify (as of 2021/04/29) in chrome browser.

Thanks.

[2021-05-08 18:39] Delta-official commented on #455
@nihalanisumit

This is really interesting, but for some reason the toast is displaying incorrectly for me (I made some small modifications so it looked like I needed, but the strange margin/padding on the toast couldn't be removed)
![Знімок екрана  о 21 35 11](https://user-images.githubusercontent.com/64544951/117549863-73628300-b045-11eb-8486-2ca289050e42.png)

[2021-05-19 00:23] thisKeeWord commented on #244
@unknouun How did you get it to work? It's almost 3 years after the initial post, so if you don't recall, that's very much understandable.

[2021-05-19 13:20] nazrow opened #600 "Feature request: Like/Unlike hotkey"
If that is at all possible, a keyboard hotkey to like (or unlike previously liked) song would be great.

[2021-05-19 18:01] iraqwarvet31 commented on #202
Having same exact issue. @sainiankit did not solve my issue though. No css styles are being applied and I suspect it has something to do with bootstrap overriding them. We definintely need a fix here.

[2021-05-20 08:08] elGusto commented on #576
RTL has now support for fake timers working with async utils out of the box: [https://github.com/testing-library/react-testing-library/releases/tag/v10.4.0](https://github.com/testing-library/react-testing-library/releases/tag/v10.4.0)

So there is no more need to use `jest.useFakeTimers()` or `jest.runAllTimers()` if you use find:

[code]

[2021-05-20 15:51] anton-danilov-neurio commented on #594
faced the same issue

[2021-05-22 15:34] sant527 opened #601 "how to position to a specific position"
**Do you want to request a *feature* or report a *bug*?**
request feature

**What is the current behavior?**
I can place at the bottom right

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React. Paste the link to your Cod

[2021-05-28 02:47] AravindTReddy opened #603 "Toast appears 4 times with every single call"
Hey all, I recently started using react toastify and everything worked fine until I noticed this odd behavior.

Here is my code:
`this.adderrorNotification('Error: You are not allowed to have white(#ffffff) as your primary or secondary color. Please try again!')`

`adderrorNotification(message){
    toast.error(message, {
      onClose: () => console.log('called when I close')
    });
  }`

![imag

[2021-05-28 03:39] #603 closed

[2021-05-28 20:44] pstephenwille commented on #594
Same here.  Was using  "react-toastify": "^5.5.0", and clicking the same button to launch a toast would re-launch the toast.  Now with v7 I have to wait 500ms or so between clicks.  This is breaking my tests.

[2021-05-30 12:45] atulmy commented on #584
I'm using `"react-toastify": "^7.0.4",` but still face this issue:

Warning: React does not recognize the `closeToast` prop on a DOM element. If you intentionally want it to appear in the DOM as a custom attribute, spell it as lowercase `closetoast` instead. If you accidentally passed it from a parent component, remove it from the DOM element.
    at svg
    at div
    at ToastTransition (webpack-

[2021-05-30 12:49] atulmy commented on #584
Warning is triggered when using `closeButton` prop

[code]

[2021-05-31 08:24] fkhadra commented on #601
Hey @sant527,
You can override the css class as follow:
[code]

[2021-05-31 08:24] #601 closed

[2021-05-31 08:26] fkhadra commented on #600
Hey I think wrong repo 😆

[2021-05-31 08:26] #600 closed

[2021-05-31 08:27] fkhadra commented on #596
Hey @tim-bloxsome cannot do much without a codesanbox or a code snippet. Could you reproduce your issue [codesandbox.io](codesandbox.io/) ? thanks

[2021-06-02 03:11] tim-bloxsome commented on #596
Thanks for responding. I was trying to call the toast from inside the render. I just moved the call up into the logic and no problem. My error. Great package.

[2021-06-02 03:11] #596 closed

[2021-06-02 05:15] bharat787 opened #604 "Is there a way to add a button / link inside the toast message?"
I use the toast to display if an error has occurred and want to add a button to re-route the back user to the homepage in the toast itself. Is there a way to do so?

Thanks.

[2021-06-02 18:56] imprfekt commented on #604
+1
can't find any reference to this in docs.
@bharat787 if you find a solution, please share it here. :)

[2021-06-02 19:30] imprfekt commented on #604
@bharat787 you can pass React Node as an argument.
For example:
`toast(<span>This is a <a href="https://example.com">link</a></span>)`

[2021-06-03 03:22] bharat787 commented on #604
@imprfekt Thanks for the method, wasn't able to figure out this!

[2021-06-03 13:19] imprfekt commented on #604
@bharat787 You're welcome, you can close the issue now. :)

[2021-06-03 13:20] #604 closed

[2021-06-08 03:35] Sh1d0w commented on #534
I can confirm that it still happens on version 7.0.3

How it happens for me is that I have an app that have toast notifications triggered by events coming from websockets.

If I open two tabs and trigger a notification from the first one to the second one which is in background and then switch to it I can see the notification properly showing. Then I go to the first tab trigger cancel which closes

[2021-06-14 14:19] fkhadra commented on #195
@akinncar it seems to be an issue with the css loader. The style can also be injected without importing the css file
https://fkhadra.github.io/react-toastify/how-to-style/#inject-style-on-demand

[2021-06-14 15:03] akinncar commented on #195
Thank's for your fast answer @fkhadra, it works perfectly!

[2021-06-14 22:33] anthonyraymond opened #607 "[Feature request] Queued toast evict oldest one to make room"
Hi,

**Do you want to request a *feature* or report a *bug*?**
Request a feature

**What is the current behavior?**
So far **when there is a limit**, if a toast is queued it will remains as such until a visible toast time out and finally vanish. At this point the queued toast will be shown.

**What is the expected behavior?**
I'd like to have a gobal flag (at the ToastContainer level) to tell that

[2021-06-15 00:57] rivajunior opened #608 "ToastContainer lazy behavior"
**Do you want to request a *feature* or report a *bug*?**
Is a *feature* request, but I think it is also a *bug*

**What is the current behavior?**

When an app uses the `configure` method

[code]

Only a root DOM element to render the toast is created on demand, when `toast` function or its variations (eg. toast.info()) is called.
But is really what should be considered as "lazy"?

[code]

**If t

[2021-06-15 10:57] iserranoe commented on #584
As mentioned in the documentation, _when you use a custom close button, your button will receive a closeToast function. You need to use it to close the toast_:
https://fkhadra.github.io/react-toastify/use-a-custom-close-button-or-remove-it/

[code]
When defining the CloseButton function, the warning disappears.

[2021-06-16 05:52] hyposlasher opened #610 "Toast disappears immediately after nextjs router.push"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
Toast disappears immediately after nextjs router.push
**If the current behavior is a bug, please provide the steps to [reproduce]([url](url)) and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React. Past

[2021-06-16 06:37] #610 closed

[2021-06-18 12:58] Its-Alex opened #611 "[Bug] Close on the Toast or Close button not working when disable animations"
**Do you want to request a *feature* or report a *bug*?**

I want to report a bug

**What is the current behavior?**

I can't close the Toast when disabling animations. Maybe I'm doing something wrong when disabling animations 🤔

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run

[2021-06-22 12:25] singhaishwarya commented on #440
any update?

[2021-06-22 14:40] Its-Alex commented on #611
@fkhadra Have you an idea on how to fix this?

[2021-06-22 15:49] fkhadra commented on #611
Hey @Its-Alex,

By design, the `close` behavior is coupled with the animation. eg `onTransitionEnd/onAnimationEnd`.  There is no built-in way to disable the transition, I should probably add this in the future release.

Anyway, to fix your issue you can create a dummy animation
[code]
Then use it as follow
[code]

Live example here https://codesandbox.io/s/react-toastify-animatecss-forked-13kuw?fi

[2021-06-23 13:52] Its-Alex commented on #611
@fkhadra Thanks this works perfectly!

[2021-06-23 13:54] fkhadra commented on #611
Awesome. I'll probably add this to the documentation

[2021-06-23 13:54] #611 closed

[2021-06-28 05:47] Vivek205 opened #612 "NextJs build fails with React-toastify"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
Nextjs build fails after adding React-toastify in the project.
`Cannot read property 'registered' of null
    at render (/Users/vivek/Documents/DAO/dapp-mainnet/node_modules/@emotion/core/dist/emotion-element-0e1e5002.cjs.prod.js:53:84)`

**What is the expected behavior?**
Should be able to build the pr

[2021-06-28 05:48] Vivek205 commented on #612
[code]

[2021-06-29 15:20] chr4ss1 commented on #502
useReducer was added in react 16.8.0, ensure you are using that version or higher

[2021-07-07 09:45] matsinvasion commented on #417
Have tried the two workarounds mentioned above but still not working. The toast is not working in production.

[2021-07-08 06:30] pastinepolenta opened #614 "Toastify__toast-container does not get styled"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When styling using `styled-component` the container `Toastify__toast-container` does not get styled.
The other parts get styled properly.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we c

[2021-07-08 15:11] saravanabalagi opened #615 "Indeterminate or infinite progress bar"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

Currently we have determinate progress bar attached to the toast

**What is the expected behavior?**

![PuC7J](https://user-images.githubusercontent.com/8567893/124945986-8aeac780-e006-11eb-967a-533a9711e69d.gif)

Buffered requires two values, so can leave it out if that's too much.
Indeterminate

[2021-07-09 00:55] Nikhiladiga commented on #580
Works properly if pauseOnHover is set to false.

[2021-07-12 05:10] sineqa opened #616 "Toast container shows giant X (firefox) or missing image (chrome)"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

When calling toast(), a giant X appears (firefox) or missing image appears (chrome)

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies ot

[2021-07-12 05:31] sineqa commented on #616
Nvm I was missing the css import :(
[code]

[2021-07-12 05:31] #616 closed

[2021-07-14 00:08] mmesar commented on #461
I also have this problem. I have socket connection and data is coming at regular intervals over that connection. Sometimes data is bad and I notify user about that. When user is in full screen notifications are not shown, and when the user exits full screen notifications are waiting for him and are displayed.

[2021-07-14 00:30] mmesar commented on #298
Do we, maybe, have access to that que. I am interested in number of notifications in que. Or, and I know this is not the topic, can we get number of currently displayed notifications. For example, I would like to display "dismiss all" button inside notification only when there is more than 3 notifications displayed.

[2021-07-14 12:34] MrFarhan commented on #139
@fkhadra  I am unable to find your sandbox on given link, can you again send me the link ?

![image](https://user-images.githubusercontent.com/26528236/125622564-e6983795-99f8-41db-9676-e9df4093bb39.png)

[2021-07-15 17:14] fkhadra commented on #612
Hey @Vivek205, I think your issue is coming from somewhere else. I use the library with Nextjs without any issue. Can you share your setup?

[2021-07-27 12:47] mppvgithub commented on #579
The same issue, have got the solution?

[2021-07-27 13:05] ag2byte commented on #579
I basically used the type with the toast itself. Example:
[code]

[2021-07-27 13:06] ag2byte commented on #579
I basically used the toast type with the toast as
[code]

[2021-07-27 13:40] mppvgithub commented on #579
I used toast.configure();
this is works for me!

[2021-07-28 07:31] AdrienLemaire opened #617 "How can we define custom types ?"
**Do you want to request a *feature* or report a *bug*?**
Feature or Question

**What is the current behavior?**
react-toastify makes 6 types of notification available
[code]

**What is the expected behavior?**
I'd like to define a number of other types to show more notifications with different styles/options.

**Current strategy**
Please let me know if the current direction is correct or not.
Ins

[2021-07-31 11:44] stla opened #618 "`onClose` callback of updated toast is not executed if `position` is not changed"
Hello,

  I noticed the following behavior. When I update a toast with `toast.update`, the `onClose` callback of the updated toast is executed if and only if the updated toast and the initial toast have the same `position`. Is it a wanted behavior, or a bug?

[2021-08-01 12:14] PukarHub commented on #455
@fkhadra  hey , I just wanted to change the background color for all the toast that are available, I am using scss , react-typescript and I have parcel bundler too. I tried all the possible way from your documentation to change the background but it's not working can you help me out. @fkhadra

[2021-08-04 08:56] AdrienLemaire opened #619 "Example in "How to clear the waiting queue" is incomplete"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
The [documentation](https://fkhadra.github.io/react-toastify/limit-the-number-of-toast-displayed#how-to-clear-the-waiting-queue) refers to creating a function `clearWaitingQueue`, but the function is never called anywhere.

**What is the expected behavior?**
See where the function is called to understa

[2021-08-04 08:59] AdrienLemaire commented on #619
Well, I must be tired ^^  The example just means that I need to call `toast.clearWaitingQueue()` from wherever I decide to clear it.

But then I have a question.  I would like a queue of only 3 toasts, with new toasts replacing older ones in the queue.
Is it possible to do so with react-toastify ?

[2021-08-04 09:59] hichemfantar opened #620 "Change notification position on mobile"
**Do you want to request a *feature* or report a *bug*?**
This is a feature request.

**What is the current behavior?**
Setting the notification position is the same for mobile and desktop.
On mobile I have a bottom navbar so the notification hides it.

**What is the expected behavior?**
I'd like to set the position on desktop to be bottom however on mobile I want it to be at the top.

A prop call

[2021-08-05 07:40] ekaradon commented on #620
Why not just conditionally set the position depending of the platform you are?

[2021-08-05 22:25] JimmyBlundell opened #621 "Translation strings not working with toasts?"
Possible feature, or just a misunderstanding on my part?

**What is the current behavior?**

I am using the formatjs library. We wrap our strings in components (or imperative api calls) and use that string as a predefined message. We eventually get an ID for that string, which maps to translations in different translation files.

**What is the expected behavior?**

I could do something like so:<br

[2021-08-06 16:40] moiz-frost commented on #485
This doesn't seem to fix the problem. I tested this by moving the toast container outside of <Switch> component and then also tested it by moving it outside <BrowserRouter>.

Whats <Router> here?

[2021-08-10 05:48] JimmyBlundell opened #622 "Unable to pass in a React.Element[] to my toast?"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**
I have a pre-defined array and another element that I map that array onto to return several divs. I then throw that element into my toast, but nothing ever gets toasted. Is it possible to do this?
[code]

**What is the expected behavior?**
Toast would pop up with the divs.

**Which versions of React, and w

[2021-08-17 13:21] usamedin opened #625 ""The final argument passed to useEffect changed size between renders" thrown as Warning from toastify"
**Bug**

**Initial setup of react-toastify throws a warning**

[code]

![image](https://user-images.githubusercontent.com/5623935/129733198-e0218f48-7fb1-4805-9ed6-4b962bae0688.png)

[2021-08-18 08:04] minami-choi commented on #580
This error occurs when pauseOnHover is set to true.

[2021-08-19 09:16] fkhadra commented on #625
Hey @usamedin, I don't know what you are trying to accomplish but did you had a look at https://fkhadra.github.io/react-toastify/installation#the-gist ?

[2021-08-19 09:20] usamedin commented on #625
@fkhadra my implementation is very simple, exactly as described in the video. i will try to create sandbox and share with you

[2021-08-19 09:22] fkhadra commented on #622
Hey @JimmyBlundell, it's supported. Just wrap your `testElement` with a fragment. See the example below
[![Edit exciting-sun-4yx3c](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/exciting-sun-4yx3c?fontsize=14&hidenavigation=1&theme=dark)

[2021-08-19 09:22] #622 closed

[2021-08-19 09:25] fkhadra commented on #621
Hey @JimmyBlundell, are you 100% sure that the code below return the right string?
[code]
Adding a `console.log` right before the toast could help. The library itself does not touch the provided input. I'll close the issue by now. If you have a reproduciton I would be happy to help

[2021-08-19 09:25] #621 closed

[2021-08-19 09:30] fkhadra commented on #620
Hey @hichemfantar, as @ekaradon suggested you could adapt the position of the toast conditionally. For example this can be done using `matchMedia`.
[code]

[2021-08-19 09:30] #620 closed

[2021-08-19 09:33] fkhadra commented on #617
Hey @AdrienLemaire, indeed using multiple containers is a way to solve your issue. I'll close the issue, don't hesitate if you have more questions

[2021-08-19 09:33] #617 closed

[2021-08-19 13:18] usamedin commented on #625
@fkhadra The issue was with `react-hot-loader`, once i removed this library the error is gone
Thanks

[2021-08-19 13:18] #625 closed

[2021-08-22 07:16] goforbg commented on #612
Same here, I use react-toastify with next.js without any problems!

[2021-08-24 07:46] zicokuo opened #627 "Bug | Error closeButton style in firefox v80"
![image](https://user-images.githubusercontent.com/4969958/130577501-9b3bc360-9856-4966-89f0-929cf97d7a20.png)

there is a svg bug in firebox v80 , react v17

screenshot for default close button style

[2021-08-25 04:05] Vivek205 commented on #612
@fkhadra , Yeah. My bad. The issue was due to the `react-loading-skeleton` package.
I shall close this issue.

[2021-08-25 04:05] #612 closed

[2021-08-25 13:59] fkhadra opened #628 "v8 media"
![800](https://user-images.githubusercontent.com/5574267/130804494-a9d2d69c-f170-4576-b2e1-0bb7f13dd92d.gif)

https://user-images.githubusercontent.com/5574267/130804357-38d9893e-6a60-4e81-a218-43538b8dd568.mov

[2021-08-25 13:59] #628 closed

[2021-08-26 08:28] alexander-vashchuk opened #629 "DevTools failed to load source map"
How to get rid of this warning?

App warning:
![image](https://user-images.githubusercontent.com/86713661/130928964-268cca3b-e791-4ceb-8766-2fc590f204ac.png)

[2021-08-26 21:47] gvega3902 opened #635 "Notifications on Safari iOS are large and have no icon"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
After updating to v8 the notification looks huge and with no icon on Safari for iOS.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies oth

[2021-08-27 18:31] MedzikUser opened #636 "Animation is very fast, even ignored in Promise"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
the animation is very fast, even ignored

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React. Paste the link to your CodeSa

[2021-08-28 07:04] vspassion007 opened #637 "Toast Update : not updating type, autoClose after using loading"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
after I grab toast id from _toast.loading("blah blah")_
and then try to update like toast.update(toastId, {render: "yeah bruh", type: 'info', autoClose: 5000});
then only content is updated, type remains same and loading icon keeps showing :-(

Note: Same is happening on your demo page too. :-(

Also S

[2021-08-29 18:13] Ziqing19 commented on #635
same here

[2021-08-30 05:56] object1037 commented on #635
I resolved the same issue by adding the following css.
[code]
![IMG_4006](https://user-images.githubusercontent.com/22705084/131291955-0a035815-714a-438e-baf0-f2d46c8cfd01.jpg)

[2021-08-30 09:15] ricardoribas commented on #32
This problems seems to persist. I am using the latest version (8.0.1). Reducer is being executed and triggering the **REMOVE** action.

[2021-08-30 10:28] fkhadra commented on #32
@ricardoribas please provide a reproduction otherwise I cannot help :(

[2021-08-30 10:30] ricardoribas commented on #32
After researching a bit, it seemed that was a matter of importing the css file. Problem solved.

Additionally, there is any prop to disable the animations?

[2021-08-30 12:21] fniessink commented on #635
Unfortunately, this didn't work for me.

[2021-08-30 14:17] terragady opened #639 "Styling a position of the container with styled components"
Hi, I want to position the toasts in custom position but when I am overriding the classes in styled components it does not override them. I can override all the rest but not the position. What is the problem? I am using top-center and wanted to style that but I have also did not specify position and tried just container and also did not work.
here is my code:

[code]

[2021-08-30 14:50] fkhadra commented on #635
Hello guys, sorry for that. I miss the notification just pushed a fix

[2021-08-30 14:55] #635 closed

[2021-08-30 14:57] fkhadra commented on #627
@zicokuo which version are you using?

[2021-08-30 15:13] fkhadra commented on #637
Hey @vspassion007, actually this is by design. There is an issue with the documentation.

[code]
In the future, maybe I can think about inferring the loading state.

[2021-08-30 15:14] fkhadra commented on #637
I'll close the issue for now. I've updated the documentation, thanks for reporting the issue

[2021-08-30 15:14] #637 closed

[2021-08-30 15:20] fkhadra commented on #636
@MedzikUser indeed, it's fulfilled quickly. Can you try to see if adding a delay as shown below solve your issue?
[code]

[2021-08-30 15:21] fkhadra commented on #629
Hey @alexander-vashchuk can you provide a reproduction or a code snippet?

[2021-08-30 15:29] fniessink commented on #635
Thanks for the fix, can confirm 8.0.2 works fine on macOS Safari.

[2021-08-30 15:30] vspassion007 commented on #637
@fkhadra Thanks for update, I created custome component usign promise to handle situation as promise is working as expected

[2021-08-30 19:55] MedzikUser commented on #636
ok thanks that solved my problem

[2021-08-31 03:10] AdrienLemaire opened #640 "Limit the waiting queue to 2 toasts"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
When using `limit`, all pending toasts will be queued. Coming after a while, toasts will start playing from the most recent to the oldest one.

**What is the expected behavior?**
We would like to keep a `limit=1` with a `queueMax=2` (property not existing at the moment), so that we aren't spammed b

[2021-08-31 05:21] fkhadra commented on #640
Hey @AdrienLemaire, I'll check if this can be implemented without too much hassle.

[2021-08-31 05:21] #636 closed

[2021-08-31 08:09] andreifloricel opened #641 "Bug | Source code is wrongly eliminated during tree-shaking"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Parts of react-toastify sources are wrongly treated as dead-code and eliminated during tree-shaking.

Ex: the [imported eventManager](https://github.com/fkhadra/react-toastify/blob/v8.0.2/src/core/toast.tsx#L5) has [side-effects](https://github.com/fkhadra/react-toastify/blob/v8.0.2/src/core/toast.tsx#

[2021-08-31 13:19] fkhadra commented on #641
Hey @andreifloricel, is it possible for you to share the output of the bundle or the part that shows that the eventManager is eliminated? I'm trying to understand why this is happening

[2021-08-31 13:21] fkhadra commented on #455
Hey @PukarHub sorry for the late reply. I've released a new major version that allows more configuration when it comes to styling. https://fkhadra.github.io/react-toastify/migration-v8

[2021-08-31 19:40] andreifloricel commented on #641
Hi @fkhadra ,
unfortunately I can't provide you the bundle because it's part of a closed-source app.
But I'll do my best to explain the scenario:

We develop  **library A** which depends on a **component B** which depends on **react-toastify**.

If our library A is integrated in an **app X** which has the following [compression configuration](https://github.com/terser/terser#compress-options):
_(w

[2021-08-31 19:52] fkhadra commented on #641
@andreifloricel thanks for the explanation. I've published a version with `sideEffects` set to true, you can install run yarn or npm with `react-toastify@test`. Can you confirm that it solves your issue? If it's the case then I'll push the fix to latest as well.

[2021-08-31 20:10] andreifloricel commented on #641
@fkhadra I just tested it, everything works as expected with `react-toastify@test` :)

[2021-08-31 22:46] devAmirHemmati opened #642 "parcel error in (yarn start) example directory(./example)"
parcel error in (yarn start) example directory(./example)

[code]

[2021-09-01 07:41] PukarHub commented on #455
Hey there , It is still not working on my application. Can you help me
please??

On Tue, Aug 31, 2021 at 7:06 PM Fadi Khadra ***@***.***>
wrote:

[2021-09-02 07:58] wilson-webdev opened #644 "Make the stages of toast.promise optional"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
`toast.promise` expects all three stages to be defined in `ToastPromiseParams` e.g. `success`, `pending` and `error`.

**What is the expected behavior?**
As a developer, I want each of these properties to be optional so that I can utilise the `toast.promise` function for resolving promises but have

[2021-09-02 09:57] fkhadra commented on #644
Hey @wilson-webdev, your request makes total sense now that I think about it. Although, one can do
[code]
Anyway, it doesn't hurt to have it built-in the library

[2021-09-02 10:26] callmejm opened #645 "toast.update with onClose"
**Do you want to request a *feature* or report a *bug*?**
Bug

    const toastId = toast.dark("abc", toastConfig);
    setTimeout(() => {
      if(toast.isActive(toastId)){
        toast.update(toastId,{
          render:"ok",
          onClose:()=>{
            console.log("asdasdasd");
          }
        })
      }else{
        toast.dark("ok", toastConfig);
      }
    }, 1500);

The onClose c

[2021-09-03 05:52] alexander-vashchuk commented on #629
Nothing special, I guess

[code]

[2021-09-03 16:02] wilson-webdev commented on #644
@fkhadra I have raised a PR against this issue. 😊

[2021-09-03 16:05] saeedth1214 opened #647 "react toastify autoclose not working for the second time"
hello .. i'm using react 17.0.2 and react-toastify 7.0.2 in my project ..
when i want to show a message for the first time in a component ... everything is ok and works ...
but ...  when i  want to  show  a message for the second time in another component ... message is displayed  to me  but autoclose or closeonclick not working  and message does not remove on page ...

pleases help me  :( .

[2021-09-05 17:21] fkhadra commented on #629
I don't have this issue at all in codesanbox. I believe this has something to do with your build tools

[2021-09-07 03:11] BlobDotExe opened #648 "Toast not showing time left in a song"
the option is greyed out and when a song ends, the toast shows the previous song instead of the present one.

![image](https://user-images.githubusercontent.com/87003469/132278405-7db77098-74c7-45f1-87df-4da32aeb595e.png)

[2021-09-07 14:30] fkhadra commented on #648
@BlobDotExe there is nothing like that in my demo. https://fkhadra.github.io/react-toastify/introduction/ could you send me the URL please :D

[2021-09-08 10:36] yashgandhi303 opened #649 "toastify autoClose not working"
bug

Tech Stack: Next js, React

**What is the current behavior?**

autoClose is not working until user clicks on toast

**What is the expected behavior?**

**Which versions of React, and which browser / OS are affected by this issue? Did this work in previous versions of React?**

"react":17.0.2"
toast: tried with version 6 to 8

not sure but it was working with   `react: "^16.8.3"`

[2021-09-08 12:14] clflo commented on #639
I have the same problem. I can override .Toastify__toast and .Toastify__toast--error (and the other types) but not position and container.

[2021-09-08 12:38] znalexandr commented on #649
Yes, I have too not working

[2021-09-08 13:52] fkhadra commented on #649
Hey guys, really hard to help without minimal reproduction

[2021-09-08 14:45] znalexandr commented on #649
The problem was solved. It turned out that AutoClose depends on these styles. I returned this code to my css and autoClose worked

[code]

[2021-09-08 18:14] yashgandhi303 commented on #649
@znalexandr was the problem solved in production ?

[2021-09-08 18:28] yashgandhi303 commented on #649
@znalexandr Thanks, that solved my problem. Closing the issue.

[2021-09-08 18:28] #649 closed

[2021-09-09 03:42] BlobDotExe commented on #648
URL of what exactly? I don't do coding at all.

[2021-09-09 03:47] BlobDotExe commented on #648
I am so sorry I went to the wrong Toastify

[2021-09-09 03:47] #648 closed

[2021-09-15 18:56] chaserda opened #650 "Icon is not assignable to Toast Properties"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When trying to add custom Icon to toast, error shows that:
[code]

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React. Past

[2021-09-16 13:13] whatthehanan opened #651 "Bug: Nextjs toast styling"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
toast works on desktop devices perfectly. the toast position on mobile is not correct

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies ot

[2021-09-16 14:27] #651 closed

[2021-09-17 08:43] keighleymcf commented on #639
It seems like styling the ToastContainer can only apply styles to classes for elements _inside_ of the ToastContainer, not the ToastContainer itself. Would be great if the documentation could be updated to explain how to change the ToastContainer styles themselves.

[2021-09-18 12:37] spostad7 commented on #304
hi @fkhadra ,
I didn't find any 'wait' option in the api. is it still an option in v8.0.2?

[2021-09-18 16:10] wilson-webdev commented on #644
@fkhadra any update on this?

[2021-09-20 11:07] riteshnewal opened #652 "Bug"
**Do you want to request a *feature* or report a *bug*?**
*bug*
**What is the current behavior?**
Showing blank. toast when pass a component in toast.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React. Paste the link t

[2021-09-20 13:18] Goldskin commented on #645
Can confirm, doesn't work anymore

[2021-09-21 12:13] agigroup opened #655 "customizing theme using SCSS - variables are not taking effect."
I've copy and pasted the whole scss folder from the  node_modules/react-toastify and imported my _variables.scss to the toastify's _variable.scss file.  Please see my code below.

This is _abstracts/_variables.scss

[code]

Here's toastify _variable.scss

[code]

My issue is that the imported variables doesn't work in toastify's scss.

It's weird because `@debug` outputs the correct variable value

[2021-09-21 16:28] ceoshikhar opened #656 "[Bug] Doesn't work with Electron App"
**What is the current behavior?**
When clicked on "Notify" button, toasts are generated as shown below:

![image](https://user-images.githubusercontent.com/62669971/134209505-d9c7b1c7-2997-4f39-8e54-a219cb1d555c.png)

You can reproduce this by starting with [Electron React Boilerplate](https://github.com/electron-react-boilerplate/electron-react-boilerplate) and add `react-toastify`.

[code]

**Wh

[2021-09-22 00:54] Snapperfish commented on #202
I switched to [Red Hot Toast](https://github.com/timolins/react-hot-toast).

[2021-09-22 06:11] fkhadra commented on #655
Hey, this is related to sass. https://sass-lang.com/documentation/interpolation

[2021-09-22 06:11] #655 closed

[2021-09-22 06:12] fkhadra commented on #656
Hey @ceoshikhar, did you import the css file ?

[2021-09-22 06:14] fkhadra commented on #652
Hey @riteshnewal, can you please share how you render your component?

[2021-09-22 06:15] fkhadra commented on #644
Hey @wilson-webdev, sorry for the late reply. I'll review the PR this weekend

[2021-09-22 09:23] wilson-webdev commented on #644
@fkhadra no worries, thank you very much!

[2021-09-22 09:31] ceoshikhar commented on #656
Yes I did. I tried with both of them (minified). I tried it in `App.tsx` and in `index.tsx`. Still they render like that.

[2021-09-22 12:01] riteshnewal commented on #652
toast(<SessionTimeoutPopup />);

SessionTimeoutPopup is a functional component that shows this Modal popup,].
<Modal isOpen={true} className={className}>
...

[2021-09-22 14:02] ShardanaSoft opened #657 "Center content"
Hi

After [8.0.0](https://github.com/fkhadra/react-toastify/releases/tag/v8.0.0) update I cannot control where to position content.

[code]

**What is the current behavior?**
 using textAlign doesn't control the content anymore

You can try it in [CodeSandbox ](https://codesandbox.io/s/determined-grass-fkpj6?file=/src/App.js:471-740)

You can swap react-toastify from 7.04 to 8.0.0 to see that cont

[2021-09-23 13:15] tkounenis opened #658 "Disabling the icon individually with `icon: false` not working properly on latest version"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
Icon is not hidden when passing `icon: false` upon calling any toast render methods

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependen

[2021-09-24 18:29] fkhadra commented on #658
Thank you for reporting the issue.

[2021-09-24 19:18] fkhadra commented on #657
Hey thanks for reporting the issue

[2021-09-24 19:32] fkhadra commented on #656
Hey @ceoshikhar, for an unknown reason the CSS classes are not picked up, probably due to how the electron boilerplate is configured. Anyway, instead of importing the CSS you can inject the style as follow
[code]
<img width="1071" alt="Screenshot 2021-09-24 at 21 27 01" src="https://user-images.githubusercontent.com/5574267/134730171-1de0535b-cadb-4f09-9852-4817bb823913.png">

[2021-09-24 19:32] #656 closed

[2021-09-24 19:34] #629 closed

[2021-09-24 19:37] fkhadra commented on #650
Hey @chaserda , I'm not able to reproduce your issue. It works fine here. Can you provide an example?
[code]

[2021-09-24 19:38] fkhadra commented on #647
Hey @saeedth1214 , can you provide a reproduction, thanks

[2021-09-24 21:01] #658 closed

[2021-09-24 21:01] #657 closed

[2021-09-24 21:01] #641 closed

[2021-09-24 21:02] fkhadra commented on #652
@riteshnewal I think your issue is that the component you are passing to `toast` does not return anything.

[2021-09-24 21:02] #652 closed

[2021-09-25 14:02] alexander-vashchuk commented on #629
I did my research

the issue occurs only while using vite bundler

to fix the issue, simply import "react-toastify/dist/ReactToastify.css" locally and remove

this line
`/*# sourceMappingURL=ReactToastify.css.map */`

[2021-09-27 03:39] sebastienbarre commented on #584
[code]

I'm getting the warning still.

[2021-09-27 06:45] fkhadra commented on #584
@sebastienbarre could you reproduce your issue on codesanbox? Thank you

[2021-09-27 09:23] riteshnewal commented on #652
`import React, { useState } from 'react';
import ConfirmationPopup from './ConfirmationPopup';
import exclamationMark from '../../assets/img/icons/exclamation-mark-icon-blue.png';
import { Col, Row } from 'reactstrap';
import { setCookie } from '../../data/cookies/cookiesdataoperation';

const SessionTimeoutPopup = props => {
  const { showPopup, setShowPopup } = useState(props.showPopup);
  const

[2021-09-27 09:45] fkhadra commented on #652
If you just want to display the modal the `toast` is not needed at all.
That being said,  the toast is empty because you are trying to render the modal within it. This won't work because the modal uses a portal to be rendered.

[2021-09-27 15:32] sebastienbarre commented on #584
@fkhadra yup, here it is https://codesandbox.io/s/react-toastify-container-styled-forked-qp7rv

[2021-09-28 11:48] qasimmehdi commented on #615
+1

[2021-09-28 11:48] andreifloricel commented on #641
@fkhadra Thank you very much! :)

[2021-09-28 11:52] fkhadra commented on #641
You solved the issue :D

[2021-09-29 21:42] l-mendes opened #660 "[Intervention] Unable to preventDefault inside passive event listener"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When dragging toast (dismiss), I've got the following error

`
useToast.ts:162 [Intervention] Unable to preventDefault inside passive event listener due to target being treated as passive. See https://www.chromestatus.com/features/5093566007214080
`

The error has occurred only on Chrome.

**Which vers

[2021-09-30 12:44] fkhadra commented on #584
@sebastienbarre the thing is that you are spreading all the props to the div. When you render a custom component some props that are not HTML attributes are passed to your component https://fkhadra.github.io/react-toastify/render-what-you-want/. THis is way you have this warning

[code]

[2021-10-03 00:01] sgehrman commented on #307
didn't work

[2021-10-03 00:05] sgehrman commented on #107
didn't work.  Which css()?  I have one in Chakra.  Doesn't work.  Why can't this be normal scss modules?

[2021-10-05 11:46] vaaralav opened #661 "`autoClose` with ReactToastify.minimal.css styles doesn't work on react-toastify>=7.0.0"
**Do you want to request a *feature* or report a *bug*?**
Bug :bug:

**What is the current behavior?**
Using minimal CSS the toasts won't autoClose.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React. Paste the link to

[2021-10-05 16:29] seba9999 opened #662 "Clearing just before triggering doesn't work"
I'm trying to have "class base" toasts.

Here is the [Code sandbox](https://codesandbox.io/s/react-toastify-inject-style-forked-pkk55?file=/src/App.js=

**What is the expected behavior?**
I would like the previous toast ("HELLO") to be knocked out before the new one ("WORLD") appears

I'm trying to clear all the toast of just the one with the "class1" id ... But then the toast.warn() doesn't trigg

[2021-10-06 16:10] greg59650 opened #663 "Addition of the colored theme in the toast options"
I use react-toastify to display my toast, I created a component that allows me to display the toast according to the type.
[code]

with the next call :

`Alert('error', 'Try Again');`

options determine all the options I want to configure

but if I add in the options theme: 'colored'

I end up with the following message :

[code]

On the other hand if I make the call differently

[code]

I have no

[2021-10-11 14:30] MikePrus opened #666 "Toast on Safari & IOS are larger than on other browsers and have no icon."
I've faced with issue in Safari browser (macOS v11.6 , Safari v 15.0) toast have different styles than in other browsers Chrome, Firefox, etc..

package version "react-toastify": "^8.0.3"

I've no idea why is this happens & how to fix this.

<img width="1428" alt="Screenshot 2021-10-11 at 17 23 39" src="https://user-images.githubusercontent.com/82815054/136807592-8d4a5fd3-a082-449a-af9b-a3facd15cd

[2021-10-12 11:31] xdebbie commented on #619
I get an error with this ```clearWaitingQueue``` as well.

[code]

[2021-10-13 09:32] sw-yx commented on #556
i solved this by not using `onClose`, and just setting a timeout alongside my toast instead so i could clear it manually.

[2021-10-19 12:26] ospfranco opened #668 "Huge delay when showing toasts in a blitzjs (nextjs) app"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
I'm trying to display a simple toast, however when I call the `toast` function, nothing happens for a while, then after several seconds the toast gets rendered

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fix

[2021-10-19 12:37] ospfranco commented on #668
Ugh, the problem might have been Safari, I tried it chrome and it was working fine, I restarted safari and now it works just fine

[2021-10-19 12:37] #668 closed

[2021-11-03 09:54] TemoSulava commented on #645
autoClose is not working for me either, in the update the loading toast remains there unless i refresh the browser..

[2021-11-03 18:50] #644 closed

[2021-11-04 20:13] bbiney1 opened #672 "Overriding default styling"
I'm basically trying to do the same thing in this post for my react app: https://github.com/fkhadra/react-toastify/issues/346

For the corresponding webpage, I have

[code]
I'm trying to do the custom styling in style.module.css.
[code]
But in my browser I can see that the toastr notification is still getting the class assignments of `Toastify__toast Toastify__toast-theme--light Toastify__toast--d

[2021-11-05 02:45] AdrienLemaire opened #673 "How to dismiss a toast with multiple containers ?"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Cannot dismiss a toast when multiple containers exist

**If the current behavior is a bug, please providecontainerId the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React. Paste

[2021-11-08 13:47] Gyappu commented on #212
Thank you so much for this!
I did everything correctly in my project and it didn't work at all. I'm curious as to why some need to add this function and others do not, though.

[2021-11-10 09:03] callisto1337 commented on #672
I have the same problem

[2021-11-11 20:09] dospolov commented on #629
Same for me

[2021-11-15 19:47] Tamashii90 commented on #672
Are you able to replicate this in codesandbox ?
I tried personally and it works fine: https://codesandbox.io/s/f7iis

What bundler are you using ?

[2021-11-18 16:36] YuriLopesM commented on #663
I think this is a problem with types, 'cause the type `Theme` provided by **react-toastify** use Literal Types instead of string, and then when you create an object with a property `theme` and write a string, the compiler will understand this as string, and not a Literal Type:

[code]

In JavaScript, I think the best way is creating a `enum` and them using it in the property:

[code]

In TypeScrip

[2021-11-19 19:16] TomaszKisiel opened #674 "Overlapping theme property."
# Issue
Hi, I am wondering about possibility of theming colored toast with `ThemeProvider` from "styled-components". Due to exisiting `theme` property on `ToastConteiner` when I am trying to fetch some theme settings for toast I meet with `theme` from `ToastContainer` overlaps my `theme` property from `ThemeProvider`.

# What I want?
I would like to be able to theme a colored toast with the styled

[2021-11-19 19:49] TomaszKisiel commented on #674
Works like a charm #342

[code]

[2021-11-19 19:49] #674 closed

[2021-11-21 14:40] garygoodger commented on #575
Does anyone have a solution for this? I'm also seeing this issue, only active toasts are being updated and this is causing me issues. Any toasts that go beyond the limit do not get updates, and therefore never clear.

[2021-11-24 13:12] DjovDev opened #675 "Demo page is missing theme setting"
Toastify supports 3 basic themes: light, dark and colored.

When selecting the theme on https://fkhadra.github.io/react-toastify/introduction/ , nothing happens to the `<ToastContainer/>` sample code.

This should trigger the **theme attribute** to change.

[2021-11-25 15:44] AgustinJuarezN opened #676 "[Chore][Bug] Having troubles installing and running the example project to start contributing"
## **Do you want to request a *feature* or report a *bug*?**
I want to request a chore and a bug to improve the starter to contribute.

## **What is the current behavior?**

## Missing step

When I followed all steps on the `CONTRIBUTING.MD `file I saw a missing step to install the example project before` run yarn start.`

## Parcel issue

### Problem
Also when I was installed the example project

[2021-11-30 12:37] bartektartanus commented on #575
I think this issue also applies to situation when you try to update the toast too soon (before it is fully rendered).

[2021-12-01 03:48] 1211ciel opened #677 "how to show err msg after submit"
[code]

[2021-12-01 04:37] #677 closed

[2021-12-01 04:38] 1211ciel commented on #677
I have found the answer

[2021-12-01 12:32] ceconcarlsen commented on #663
thanks, worked for me :)

[2021-12-02 14:53] Wraithraiser commented on #576
Hello @fkhadra, I have the same issue trying to test with RTL. Using the code above works fine to check the display of the toast but I can't check that the toast is being removed even using `waitForElementToBeRemoved` because it will timeout. I'm sorry to post in an issue that is closed, I can open a new issue about this problem or is it possible de reopen it ? Thank you.

[2021-12-03 12:38] papuruth opened #678 "Toast not appearing"
**Do you want to request a *feature* or report a *bug*?**
I want to report a bug.

**What is the current behavior?**
The current behavior is that the toast appears fine on desktop browsers as well as chrome mobile but it doesn't show on the native Android browser.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will

[2021-12-05 09:29] shirshendubhowmick opened #679 "Documentation link seems to be incorrect ?"
**Do you want to request a *feature* or report a *bug*?**
Possible issue with README

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React. Paste the link to your CodeSandbox (https://cod

[2021-12-06 00:19] bronz3beard opened #680 "Basic Attention Token (BAT) Verified creator."
**feature**
Completely unrelated to the code, but I really enjoy using this package and wish to tip the creator with BAT.
I know there are already some options for donation etc... but I would like to use this option if you can provide it.

current behaviour & recreate
On brave browser when I click the brave rewards icon in the search bar the pop-up banner shows "Unverified creator"

**What is the

[2021-12-07 16:51] ZENALC commented on #201
Just as a heads up for others, @vitaliyhayda means to add that in the CSS of your project.

[2021-12-09 13:50] ceconcarlsen commented on #307
Thanks, worked for me !!!

[2021-12-09 13:53] ceconcarlsen commented on #640
nice :)

[2021-12-10 13:04] fkhadra commented on #680
Hey @bronz3beard, thank you for the support. I've created a brave account now :). Thanks for sharing this!

[2021-12-20 05:32] David2k13 commented on #675
me too

[2021-12-21 08:56] Abdoulrasheed commented on #515
Any update on this?

[2021-12-21 09:46] harshitappinventiv opened #684 "<SHOW_TOAST> Event is not registered. Did you forgot to bind the event ? how to resolve in function component?"
if (res.code == 200) {
			play();
			console.log(res.result, "res.result");
			if (!toast.isActive(toastId)) {
				return (toastId = toast.warn(
					<div className="incoming-call-toaster">
						<h2 className="bold center mb-10">Consultation Call</h2>
						<p className="center bold">{`${res.result.fromUserName} is calling you...`}</p>
						<div
							style={{
								width: 55,
								height:

[2021-12-30 13:26] DjovDev opened #685 "onClose props has 1s delay"
[code]

[2021-12-30 13:28] DjovDev commented on #685
Possible duplicate of https://github.com/fkhadra/react-toastify/issues/487 ?

[2022-01-03 19:10] JBaczuk opened #686 "[Feature Request] Clear All Button"
Feature Request

In order to clear the queue, it must be done using the [toast API](https://fkhadra.github.io/react-toastify/limit-the-number-of-toast-displayed/#how-to-clear-the-waiting-queue) (which is great). It would be good if the stack of toasts would also include a "Clear All" button at the bottom. For example, if there are 10 toasts, and the container is limited to 5, clicking clear all, w

[2022-01-04 16:27] nemonemi commented on #342
The issue that I'm having is defining a colored theme overwrites the actual styled-components theme property.

[code]

Has anyone found a way around this?

[2022-01-05 08:26] arnaudambro opened #687 "Line break in toast"
I'm trying to insert a line break in my toast but I can't figure out how

[code]

none of those are working, any idea ?

[2022-01-07 22:11] ayoubaayoub commented on #343
thanks, Mr @fkhadra fkhadra . is solved my issue!

[2022-01-12 00:01] Luperi opened #689 "Promise without success hangs on the pending state"
@fkhadra I've pushed the changes suggested, along with removing the edits to the example page. I agree it's nice and simple!

One thing I have noticed is that if you provide a `pending` stage and not `success`/`error`, it hangs on the pending state. We could add a bit more logic to the promise then/catch chain to check what's defined, and then remove the toast if appropriate. Up to you! 😃

_Origin

[2022-01-15 17:09] wilson-webdev commented on #689
@Luperi I have raised a PR that resolves this issue.

[2022-01-17 07:14] #680 closed

[2022-01-17 07:17] fkhadra commented on #687
Hey @arnaudambro, you can render anything you want, so for example

[code]

see https://fkhadra.github.io/react-toastify/render-what-you-want/

[2022-01-17 07:17] #687 closed

[2022-01-19 10:54] pchr-srf opened #695 "Add custom data attributes to Toasts"
Hi and thank you for `react-toastify`! Using it has been very straightforward so far 👍

**Do you want to request a *feature* or report a *bug*?**
A *feature*

**What is the current behavior?**
We can add ids and classes to the toasts, but no data attributes.

**What is the expected behavior?**
We can additionally add data attributes to toasts, eg via
[code]
so that the resulting rendered toast has

[2022-01-19 10:59] upadhyayprakash opened #696 "toast.clearWaitingQueue does not clear the full queue - only clear visible messages"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When calling `toast.clearWaitingQueue()` method with a limit (eg. `limit = 3`), only the 1st 3 toast messages are cleared, but rest of the other messages (queued) still popup. The issue is re-producible on the demo page of react-toastify library.

**If the current behavior is a bug, please provide the

[2022-01-19 17:39] stefanprobst commented on #637
@fkhadra could you clarify what properties `toast.update` will inherit from the toast container? i have found that, in addition to `isLoading: false` i also need to:

[code]

thanks!

[2022-01-21 07:07] wlcharlie commented on #686
@JBaczuk Hi, have you try `toast.dismiss()`?

ref: https://fkhadra.github.io/react-toastify/api/toast

[2022-01-21 09:02] eddsaura commented on #433
Hey I have problems using it with nextjs. Its like next cant find the module installed.

[2022-01-21 09:06] fkhadra commented on #433
Hey @eddsaura can you share what's your error.

[2022-01-21 09:14] eddsaura commented on #433
sure @fkhadra , I got:
![image](https://user-images.githubusercontent.com/13334047/150499595-00173268-7c36-49ce-bbb0-ea437720765e.png)

And nextjs reference to this page: https://nextjs.org/docs/messages/module-not-found

Also, our webpack config is like this:
![image](https://user-images.githubusercontent.com/13334047/150499777-0fae1384-77ce-4eb1-b98f-3b3e2d9ac3f2.png)

Thing is, I imported it fi

[2022-01-21 09:17] fkhadra commented on #433
Stupid question 😆 are you sure the library is installed, I mean can you check the content of your node_modules folder.

If you don't have a CSS loader there is a helper to inject the style https://fkhadra.github.io/react-toastify/how-to-style/#inject-style-on-demand

[2022-01-21 09:23] eddsaura commented on #433
Hahaha not stupid at all. Yes it is installed. I just deleted yarn.lock and node_modules and reinstalled again (for third time just for checking it you know) same output!

![image](https://user-images.githubusercontent.com/13334047/150501293-5e491d75-a16f-42e3-8670-e0fea54bc645.png)

Still not working with injectStyle. I think importing the css is not the problem.

[2022-01-21 09:26] fkhadra commented on #433
Super weird. Are you on https://www.reactiflux.com/. If yes you can ping me directly it will be easier. Can you share the repo?

[2022-01-21 09:31] eddsaura commented on #433
Yup, just pinged you through #help-react . Maybe can I mp you? tyty

[2022-01-21 10:11] fkhadra commented on #433
Issue solved :). Docker cache issue

[2022-01-21 21:22] vitorbertolucci commented on #640
It would also be interesting to disable the queue completely. In my case I would prefer that a notification sent while the limit is full got lost.

[2022-01-22 11:23] bhargavamamidi commented on #526
Hii @MrGrashopper,
hope you are doing fine,

I am also facing the same issue bro, have you resolved the above issue? if yes please respond with a solution. that would be really helpful.

Thank you.

[2022-01-22 11:28] bhargavamamidi opened #697 "react tostify after post request"
Hey guys,

I wanna call a toast after a POST request in ".then" method but it doesn't work. On a GET request it works fine:

toast.configure() const notify = (message) => toast(message);

handleFilter() { setAxiosHeaders() axios .get('/api/v1/desks/', { params: { date: this.state.resDate, }, }) .then(response => { this.setState({ desks: response.data }); },notify("aktualisiert!")) }

But when I do

[2022-01-22 13:27] itayseer commented on #645
Yes I faced that today
[code]
it shows the alert of the first definition

[2022-01-22 20:06] #444 closed

[2022-01-22 20:07] #484 closed

[2022-01-22 20:07] #506 closed

[2022-01-22 20:18] fkhadra commented on #595
Quite a late answer but I'll answer if anybody else wants to understand what's going on.
So, based on the value of `options` you want to display the appropriate toast type (info, success, etc...).

You are doing `toast[options]` which would be equivalent to `toast.success, toast.info, etc...`.  When `options` is set to `default` this would call `toast.default` which does not exist, hence the error

[2022-01-22 20:18] #595 closed

[2022-01-22 20:21] fkhadra commented on #608
I'll update the doc to make it clear. And maybe update the implementation when react 18 ship. Closing for now

[2022-01-22 20:21] #608 closed

[2022-01-22 20:23] fkhadra commented on #614
Hey a bit late for the answer. This is a specificity issue. https://styled-components.com/docs/faqs#how-can-i-override-styles-with-higher-specificity. You can fix your issue as follow.

[code]

I'll update the documentation to make it clear

[2022-01-22 20:23] #614 closed

[2022-01-22 20:24] #627 closed

[2022-01-22 20:31] fkhadra commented on #639
Hey a bit late for the answer. This is a specificity issue. https://styled-components.com/docs/faqs#how-can-i-override-styles-with-higher-specificity. You can fix your issue as follow.

[code]

[2022-01-22 20:31] #639 closed

[2022-01-22 20:42] fkhadra commented on #673
A bit late to the party. This works just fine. Under the hood, the library checks every container. I'll probably add an option to specify the containerId. Closing for now. Feel free to reopen if you are able to reproduce the issue

[![Edit reverent-silence-mrbr7](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/reverent-silence-mrbr7?fontsize=14&hidenavigation=1&th

[2022-01-22 20:42] #673 closed

[2022-01-22 20:43] #663 closed

[2022-01-22 20:44] #672 closed

[2022-01-22 20:45] #684 closed

[2022-01-22 20:47] fkhadra commented on #685
Hey @DjovDev, `onClose` is called after the exit transition is completed. Even though the notification is not visible on the screen when removed, the exit animation is not completed, hence the delay.

[2022-01-24 15:30] JBaczuk commented on #686
Thanks, I'll take a look. Still would be nice to have a button placed in the list so it's internal to the lib not external.

[2022-01-25 09:10] Elugormo opened #698 "Not processing toast.promises in the background with low limit of ToastContainer"
The bug is related to the incorrect processing of promises. In my case, I have to queue a lot of notifications that are tightly dependent on network requests, that may take some time to process. Currently, for some reason, after queueing more promises that are available in the set limit of ToastContainer we get a forever pending promise, that can't somehow be resolved. FYI I can't increase the lim

[2022-01-25 16:58] sowizz opened #699 "Resolving promise before (delayed) toast is shown results in toast being stuck in pending state"
**Do you want to request a *feature* or report a *bug*?**

Report a bug (?)

**What is the current behavior?**
If a promise resolves before the delayed toast is shown, the toast will not leave pending state, thus it will never leave the screen. I'm not even sure if that qualifies as a bug.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of

[2022-01-26 18:47] sampbarrow opened #700 "Generics with toast.promise custom render function"
**Do you want to request a *feature* or report a *bug*?**

A bug.

**What is the current behavior?**

Currently generics are not used for toast.promise's result type if you use a custom render method.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't ha

[2022-01-28 02:11] dding-g opened #701 "icon props in "ToastContainer" is not work when using custom icon in "toast" function."
Hello! I really using useful your assume toastify. :)
Thank you so much.

**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current behavior?**
1. pass icon props in "toast" function
[code]

2. disable icon in "ToastContainer"
[code]

I follow [migrate to v8 document](https://fkhadra.github.io/react-toastify/migration-v8).

**If the current behavior is a bug, please pr

[2022-01-28 06:30] essential-randomness opened #702 "Autoclose duration start before entrance animation completed"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Custom animation duration time is not respected. There is a default duration that is hardcoded (750ms).

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't

[2022-01-29 17:54] #685 closed

[2022-01-29 19:14] fkhadra commented on #702
Hey @essential-randomness, it does work. If you open the style.css file you will see that I set the transition duration to 3sec.
[code]

[![Edit react-toastify-#702](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/react-toastify-702-qy45g?fontsize=14&hidenavigation=1&theme=dark)

The example you linked contains 2 transitions, 1 from animate.css and another 1 from

[2022-01-30 10:16] #689 closed

[2022-01-30 21:23] essential-randomness commented on #702
Try setting the entry duration to 30s and you can see more clearly that the new duration is indeed not respected.

[2022-01-30 21:45] fkhadra commented on #702
Ok, I see what's the issue now good catch :). I'll fix it with the release tomorrow.  The autoClose duration start before the entrance animation  is complete

[2022-01-31 10:18] fkhadra commented on #696
Hey @upadhyayprakash, on the demo page, the `clear all` button does not invoke `toast.clearWaitingQueue()` but `toast.dismiss()`. Which would remove all active toasts. In order to remove all toasts (active + queued), you would have to do call `toast.clearWaitingQueue()` then `toast.dismiss()`

[2022-01-31 10:18] #696 closed

[2022-01-31 10:21] fkhadra commented on #679
Hey @shirshendubhowmick, maybe a cache issue on your side? The API documentation is on the left panel.
![Screenshot 2022-01-31 at 11 20 23](https://user-images.githubusercontent.com/5574267/151776535-abc413e9-f67b-4e87-b28d-91054e0e4903.png)

[2022-01-31 10:21] #679 closed

[2022-01-31 10:56] #647 closed

[2022-02-01 13:52] #645 closed

[2022-02-01 13:52] #702 closed

[2022-02-01 14:02] #618 closed

[2022-02-02 07:31] leadstar116 opened #705 "How can I get callback for onClose on ToastContainer?"
This can be a feature as well as a bug.

Feature Request:
Currently, <ToastContainer> is not exposing `onClose` callback, so I can't update my internal states and do some chores.
Please expose `onClose` callback in <ToastContainer> also, so I can handle the rest stuff.

[2022-02-04 09:47] alajmo commented on #139
If you're using react-modal, then you can simply set the same parent for both the react-modal and ToastContainer.

[code]

and workout the z-index.

[2022-02-05 18:13] cspicuzza commented on #319
Incase anyone needs a solution for this:

add `<div id="toast-root"></div>` to your html, preferably right above `</body>`

then create your toast component that will use [portals](https://reactjs.org/docs/portals.html) to mount react-toastify

[code]

add `<ToastPortal />` to your project

[2022-02-07 02:01] matheuscamarques opened #706 "Toast promise it locked"
My toast promise it locked but promisse sucess response

![image](https://user-images.githubusercontent.com/37029621/152713456-9886b446-faa9-4cf1-b987-fa50caef4557.png)

[2022-02-07 02:03] matheuscamarques commented on #706
My toast promises to be locked, but it promises a successful response, the toast also crashes and I can't pause

[2022-02-07 10:45] fkhadra commented on #706
@matheuscamarques please provide reproduce the issue on codesanbox so I can help you

[2022-02-07 10:59] matheuscamarques commented on #706
i solved it, i was using the toast container in two parent and child components, in that i removed the one from the child component and it worked.

[2022-02-07 10:59] #706 closed

[2022-02-08 17:20] phoniks commented on #342
If anyone else is having issues with this and is working with both typescript and styled-components, I found that I wasn't getting my styles passed through because I hadn't told typescript to expect a className on my components.  Once I fixed that my custom styles started showing up.  This is the[stack over flow answer](https://stackoverflow.com/questions/54113367/extending-styles-with-styled-comp

[2022-02-09 00:33] GibsDev opened #707 "Promise toast does not close automatically if promise resolves too quickly"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Promise toast requires manual interaction to close (when autoClose is defined) if the promise resolve time is less than the css enter animation time for the toast to appear.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your

[2022-02-10 05:51] jcho0216 opened #708 "[Feature Request] prompt, confirm"
It would be lovely if I could use prompt and confirm feature that react-toastify provides as well as the alert feature
thank you 💛

[2022-02-10 16:25] iamjohnsimeon commented on #416
I am dismissing all toast using toast.dismiss() and creating a new toast on the following line using toast.success()...
It works but there is a weird jerky animation but i suspect it's because the script is not meant to be used this way.
I also tried chaining the toasts like toast.dismiss().success() but this does not work.

Is there a way to dismiss a toast and replace it with a new one. Such as

[2022-02-11 21:35] Seijinx commented on #707
I confirm I have the same behavior, have to stick to `8.1.0` at this point.

[2022-02-14 12:01] enisdenjo commented on #707
Me too, seems like the promise has to take at least 1 second.

A quick workaround:
[code]

[2022-02-14 13:28] fkhadra commented on #707
Thanks, @GibsDev for the reproduction. It really helped me narrow down the issue. I'll release a new version with the fix ASAP.

[2022-02-14 20:02] #707 closed

[2022-02-14 20:06] fkhadra commented on #707
v8.2.0 solve this issue

[2022-02-16 18:57] stefanprobst opened #711 "updated toast sometimes has wrong styles"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

when a toast is updated immediately, it is sometimes missing the correct classname. in the codesandbox example below, when the toast is updated to "success" type, it sometimes (the first time?) has "default" styling.

note that when the toast update is wrapped in `setTimeout(..., 0)` it seems to work

[2022-02-16 19:13] fkhadra commented on #711
Hey @stefanprobst, not sure to spot the issue. This is a recording from your codesandbox

https://user-images.githubusercontent.com/5574267/154338577-fa9afae8-0f5f-4922-ae6e-b3cb9dbf70b8.mov

[2022-02-17 05:22] ali-edx commented on #107
Thankyou... this has been helpful to me.. :)

[2022-02-17 06:52] stefanprobst commented on #711
hmm, i'm having a hard time reproducing this myself in the codesandbox today, although i *was* seeing it intermittently yesterday. closing for not until i can come up with a better reproduction. thanks for taking a look!

[2022-02-18 10:15] kimgysen commented on #212
Shouldn't make sense to glorify a solution nobody understands.

[2022-02-20 12:32] Altereyo opened #712 "toast.loading() doesn't close after toast.update() with autoClose parameter"
Hi

When i trying to call an .update() to a toast.loading, it succesfully updates, but doesn't close with autoClose parameter.

My piece of code:
[code]

I did all directly from [this official guide](https://fkhadra.github.io/react-toastify/promise), but it doesn't work

[2022-02-22 17:08] rubenyeghikyan-highway opened #713 "Add functionality to get all open toasts"
### [feature request]

Hi, it would be nice to have functionality to get all open toasts somehow, something like

[code]

### **Motivation**:
So before showing and spamming lots of notifications, you could check first if there are some open toasts, then decide to show or not. The better scenario of this feature would be when you have auto-check functionality for example, which runs every second, s

[2022-02-22 17:21] rubenyeghikyan-highway commented on #713
Also would be nice to have functionality to add some custom data in toast, for example

[code]

But this might be another **Feature Request** I guess

**Use Case**
[code]

[2022-02-23 11:50] Saicharan0662 opened #714 "toast UI is distorted"
I was using react toastify version 8.1.0 the UI of the toast is distorted.
Please have a look.
![image](https://user-images.githubusercontent.com/83747548/155313841-1ce8f7d5-7b88-4e99-834f-2be4f9a49ad0.png)

I used this in same in my previous project it was working perfectly.
Even in version 8.2.0 I was getting this problem.

[2022-02-23 11:50] Saicharan0662 opened #715 "toast UI is distorted"
I was using react toastify version 8.1.0 the UI of the toast is distorted.
Please have a look.
![image](https://user-images.githubusercontent.com/83747548/155313841-1ce8f7d5-7b88-4e99-834f-2be4f9a49ad0.png)

I used this in same in my previous project it was working perfectly.
Even in version 8.2.0 I was getting this problem.

[2022-02-23 22:34] sgarcia-dev commented on #712
Same problem as above^

In case it helps @Altereyo , I ended up just using `toast.info(..., { autoClose: false})` instead of`toast.loading` and managed to get it to work. Ex:
[code]

The only minor difference is the loading icon isn't show with `toast.info`, but I disabled icons regardless.

[2022-02-23 22:37] sgarcia-dev commented on #711
I'm having the same issue @stefanprobst  and @fkhadra  and have no idea what's going on. I tried it on a codepen and I couldn't repro the issue either, but it's happening locally on my codebase. Really wish we could find a way to reproduce the issue because all the `toast.update` style inconsistencies forced us to drop all the react-toastify styling in favor of custom styles using the `render` opt

[2022-02-24 02:28] sgarcia-dev commented on #711
Some additional information. I tried downgrading to 8.1.0 as @stefanprobst suggested, and the toast update issue went away. So there was definitely a change introduced at some point that caused this bug, in case that helps @fkhadra .

Also, something I noticed is the bug only happens consistently when I try to update notifications approximately less than 1 second. So for example, the following get

[2022-02-25 08:46] Message-Akunna opened #716 "A way to listen for autoClose complete event."
Is there a way to listen for autoClose event which will be different from onClose event? This is to know if the toastify timer was completed or cut short due to some event say “cancel an action “.

[2022-02-25 13:45] rubenyeghikyan-highway opened #717 "[Bug] pauseOnFocusLoss is not working properly"
### ToastContainer with `pauseOnFocusLoss={false}` option is not working as expected.

When you are on that tab and switch to another monitor or application and do something there, it works fin., **BUT** when you switch browser tab and do something there, `pauseOnFocusLoss` is ignored, and when you return back to your tab you see tons of notifications appeared on screen.

I will explain my use cas

[2022-03-01 07:57] waleedbutt98 commented on #242
add this in toast container component
[code]

Works Fine For Me!

[2022-03-02 00:40] nadin3amanda opened #719 "Exclamation mark on toast notifications goes in front of the sentence"
Hi guys, I just want to bring up this issue wherein the exclamation mark on this  toast notification goes right in front of the sentence

![image](https://user-images.githubusercontent.com/85320612/156272247-abbbd3bc-ba90-4f60-b180-4f37d96b0fb2.png)

even if I have the code looking like this. Using (React ts)
![image](https://user-images.githubusercontent.com/85320612/156272071-c67c0e06-a319-499a-

[2022-03-02 09:02] theaafofficial opened #720 "AutoClose on .update method doesn't work unless i point my cursor on it."
**Do you want to request a *feature* or report a *bug*?**
I want to report a bug

**What is the current behavior?**
When using toast with update, autoClose doesn't work until i point the cursor on toast and then it starts closing. Otherwise it stays there.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fix

[2022-03-03 09:11] eddsaura commented on #635
you are the one

[2022-03-05 17:07] Ckbhatia commented on #32
@fkhadra I don't know what's wrong with my configuration. Auto disappearing isn't working for me.

```react-toastify: ^8.2.0```

Other project dependencies:

[code]

`import 'react-toastify/dist/ReactToastify.css'`

Imported CSS in 'index.js'

[code]

Usage:
[code]
It gets removed only if I click or drag it.

<img width="368" alt="Screenshot 2022-03-05 at 10 36 14 PM" src="https://user-images.gith

[2022-03-07 02:21] 18566246732 opened #721 "The toasts hided can be recover"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
I have a page which contains several menus, clicking each menus will loads the corresponding content in the main area, the toasts showed up in the "A" menu's main area will be removed when the menu switch to "B" which is what I wanted, but can't be recover when the menu switch back to "A" which is

[2022-03-08 02:10] #721 closed

[2022-03-11 01:48] 18566246732 commented on #720
same issue here, any solutions ?

[2022-03-11 01:58] 18566246732 commented on #720
@theaafofficial  I just fount a workaround here, move your update inside a setTimeout, and set the delay of setTimeout to 0.1 s, I don't know why but that just works .

[2022-03-12 09:47] kostas2231 opened #724 "React Native"
Hello , very helpful library , I just wanted to ask one question cause I am not sure .
Does this work with react native and in general with mobile devices?
Thanks in advance!

[2022-03-12 09:49] kostas2231 commented on #515
Does it work with react-native projects?

[2022-03-12 15:52] krconv commented on #661
Workaround; include this CSS:
[code]

[2022-03-14 10:58] anand-edge commented on #675
it is
`theme="colored"`

`
<ToastContainer
          position="top-right"
          autoClose={5000}
          hideProgressBar
          newestOnTop
          closeOnClick
          rtl={false}
          theme="colored"
          pauseOnFocusLoss
          draggable
          pauseOnHover
        />
`

[2022-03-14 13:32] vaaralav commented on #661
@krconv that's the minimal CSS included in `react-toastify/dist/ReactToastify.minimal.css`. I believe the workaround you posted works for versions before `7.0.0`

[2022-03-15 04:45] urvish91 commented on #416
This is not implemented. I could add that to the v6 roadmap. is it added @fkhadra ? I am using v8. please confirm.

[2022-03-17 15:54] toviszsolt commented on #32
I can confirm that the `success` toast on `promise` does not disappear, process bar also does not move.
No focus loss or hover state.  The `pending` and `error` toasts work fine.
Other information: container and API calls are made in two different files.
**Possible source of the problem: solve the Promise too quickly (almost immediately).**

Toast Container:
[code]

API Call with Axois:
[code]

[2022-03-17 16:02] toviszsolt opened #725 "The `success` toast on `promise` does not disappear."
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
The `success` toast on `promise` does not disappear

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React. Paste the

[2022-03-17 16:05] toviszsolt commented on #725
Now I notice that sometimes it works, sometimes it doesn't. Most of the time it gets stuck.

[2022-03-19 21:06] #642 closed

[2022-03-19 21:16] fkhadra commented on #725
Thanks, @toviszsolt for the reproduction. I think I have a race condition. Until I find a proper way to fix the issue, you can use the following workaround

[code]

[2022-03-19 21:19] fkhadra commented on #720
@theaafofficial could it be the same as https://github.com/fkhadra/react-toastify/issues/725 ?

[2022-03-19 21:44] fkhadra commented on #717
@rubenyeghikyan-highway having a hard time reproducing it. I would suggest that for your autosave notification you always use the same id. This will prevent duplicate notification

[code]

[2022-03-19 21:44] #717 closed

[2022-03-19 21:49] toviszsolt commented on #725
@fkhadra Thanks for reply.
I delayed the `success` and `error`, now it's work.
You might be able to delay the `Promise` resolver by `100ms` by default.
[code]

[2022-03-21 09:51] fkhadra commented on #725
@toviszsolt a fix will land in the next version

[2022-03-21 09:52] fkhadra commented on #724
Hey it does not work in react-native. Wanted to port the lib but not enough resources to do so. It does work on mobile, though https://fkhadra.github.io/react-toastify/how-to-style/#mobile

[2022-03-21 09:52] #724 closed

[2022-03-21 10:03] fkhadra commented on #713
Hey @rubenyeghikyan-highway, the v9 will rework the `toast.onChange` API. This is an excerpt of the documentation I'm currently working on. You could use this API to track the opened toasts.

[code]

That being said, for your use case I would suggest that you use ids to prevent duplicate

For example, let's say you want to display a toast every time your autosave. You could do as follow
[code]
If

[2022-03-21 10:05] fkhadra commented on #712
Is it the same as https://github.com/fkhadra/react-toastify/issues/725 ?

[2022-03-22 11:21] psaffrey opened #726 "Use `toast.promise` to issue an error if a response is not `ok`"
First of all, thanks for the library which is really great and makes my applications look much better :)

I would like to use `toast.promise` to issue an error if a promise completes, but contains a response that is an error - that is `Response.ok` is false or `response.status` is not 200. At the moment I have something like this:

[code]

which does at least say "failed" when the response is a 50

[2022-03-23 07:40] fkhadra commented on #726
Hey @psaffrey, I see 2 ways to solve your issue.

1. Wrap your API call so it throw when `response.data.ok` is not ok
[code]

2. Using `toast.loading` + `toast.update`

[code]

[2022-03-23 10:28] psaffrey commented on #726
Perfect, thanks!

[2022-03-23 10:28] #726 closed

[2022-03-25 06:44] #713 closed

[2022-03-25 09:59] #715 closed

[2022-03-25 10:03] #714 closed

[2022-03-25 11:31] Rafatcb commented on #712
@fkhadra I noticed another bug that may have the same source — that's why I'm not opening a new issue.

When I try to updated a `loading` toast and change its `className`, it's not updated if the toast is updated too fast (e.g. in 100ms). I created a repro on [Code Sandbox](https://codesandbox.io/s/toastify-update-classname-bug-wl55f8?file=/src/App.js). This bug was introduced on v8.2.0.

| v8.1.1

[2022-03-25 12:55] stefanprobst commented on #711
looks like this has a repro now in https://github.com/fkhadra/react-toastify/issues/712#issuecomment-1078931386

[2022-03-25 12:58] fkhadra commented on #712
@Rafatcb thank you for the reproduction. I'll have a look

[2022-03-25 19:22] fkhadra commented on #712
@Rafatcb I managed to fix the bug locally. I'll do my best to plan a release this weekend. Huge thank you for the reproduction it's helped a lot

[2022-03-25 19:45] Rafatcb commented on #712
I'm glad it helped! Looking forward to seeing how you managed to fix this issue. Thanks for the lib and the replies 😀

[2022-03-28 08:51] git-angelo commented on #699
Concerning the expected behavior, the toast should not appear except if autoClose is set to "false".

I created some views with some basic toasts (loading/success/error) on an API call and I don't want to show the loading toast if it's very quick to avoid the default behavior where it appears and desappears very quickly.

I read the documentation but I did not find how to do this for now. I will p

[2022-04-01 21:27] Enebz opened #732 "react-toastify changing class-names"
**Problem**
I would like to be able to change the default class-names in the file where you find the css variables.

**Why**
I am trying to use [https://github.com/GoogleChromeLabs/container-query-polyfill/](url) with my react project, however the `container-query-polyfill` doesn't allow `@container` tags nested inside `@media` tags. The issue lies on `container-query-polyfill`'s side because the

[2022-04-03 18:10] johnnytolengo commented on #202
The same issue here, after build there are not css styles. I don't know how to fix it. :(

[2022-04-03 20:07] alex-clear opened #734 "Cannot mock lib"
Hi guys
First of all great lib! Thanks
I am trying to build tests for my app
When I add mock to you lib like:

[code]

I get next error:
[code]

I did not find any similar issues in web or in your issues
Thanks for help
`  "react-toastify": "^8.2.0",`

[2022-04-04 07:07] fkhadra commented on #734
Hey @alex-clear, can you try the following instead
[code]

[2022-04-04 08:47] alex-clear commented on #734
Thanks @fkhadra
Solved

[2022-04-04 08:47] #734 closed

[2022-04-08 17:45] nb89 opened #736 "Replace ReactDom.render with root.render"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
![image](https://user-images.githubusercontent.com/14173819/162494218-766c4eed-18d5-48b1-bce1-85bae399756f.png)
This message is shown when a toast is appears on React 18.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your b

[2022-04-08 19:00] fkhadra commented on #736
@nb89 the v9 has migrated to react18. It's still in RC but pretty stable if you want to give it a try.
`npm installl react-toastify@next`

You can find the release note here https://fkhadra.github.io/react-toastify/migration-v9

[2022-04-09 19:49] nb89 commented on #736
Thanks for the info.  Closing this.

[2022-04-09 19:49] #736 closed

[2022-04-12 18:11] lwhiteley opened #738 "Question/Feature request: Define custom icons globally"
## Feature Request

Currently from the documentation one must specify icons when calling each toast method.

[code]

Can it be possible to define icons for each toast type globally from the toast container?

[code]

This way one doesn't need to always re-specify these unless specifically there is a need or writing wrapper functions

[2022-04-12 18:19] lwhiteley commented on #738
hmm had to look at the source, it is already like this but docs doesnt show an example it seems

[2022-04-13 08:16] #738 closed

[2022-04-13 12:33] mattleonowicz opened #740 "pauseOnFocusLoss={false} not working"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

I have `pauseOnFocusLoss={false}` set on Container.
When the tab is not active, there are couple of toasts triggered.
When the browser tab is active again, I am flooded with all the notifications, like they were waiting for the tab to be active to play out.

**If the current behavior is a bug, please

[2022-04-14 09:01] hanseonghye commented on #610
I have same problem

[2022-04-14 12:34] fs-innonova commented on #610
Hi @chrishrb sorry for late reply, the problem was actually not with react-toastify but with my own routing setup. Try to check "preserve log" in the developer tools section to see if you have any error while navigating between routes.. I had a 404 that I could not see and that error was causing the react-toastify to not appear. I hope it helps someone..

[2022-04-15 06:26] webhasan opened #741 "onClose event trigger 2 times."
**onCloese event trigger 2 times**
Following the code, I am getting closed alert two times once before showing the message & another one after closing the message.

[code]

[Video](https://www.loom.com/share/787cfa04307f48ae9bbf2565d0a89892)

[2022-04-15 13:34] yoyos opened #742 "autoClose=5000 not working anymore"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Toast isn't sliding out after 5s anymore. Bug found on 8.1.1 and 8.2.0.
Is working on 8.1.0

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependenc

[2022-04-15 18:50] fkhadra commented on #742
I think I've fixed it in v9. It's still in RC but pretty stable if you want to give it a try.
`npm installl react-toastify@next`

You can find the release note here https://fkhadra.github.io/react-toastify/migration-v9

[2022-04-16 08:37] AngerminecraftYT opened #743 "Tutorial Request: Toast for Github Pages"
**Do you want to request a *feature* or report a *bug*?**

A tutorial request not a bug or feature

** More infomation?**

Yes, i want to request a tutorial how to use Toastify V9 on Github Pages
as im trying to make a sorta page with toastify but dont know how to do on Github pages and there were no tutorials on youtube!

[2022-04-19 08:19] cpecorari commented on #711
Hi,
Same issue here, when updating too quickly after rendering initial toast.
The settimeout works for me, using this workaround for now...

[2022-04-19 08:21] fkhadra commented on #711
@cpecorari can you try the latest major release. It's still in RC but pretty stable if you want to give it a try.
`npm installl react-toastify@next`

You can find the release note here https://fkhadra.github.io/react-toastify/migration-v9

[2022-04-19 10:30] cpecorari commented on #711
Perfect, it works, thanks !

[2022-04-20 23:12] puopg commented on #320
I must agree, an element that must be rendered in the page that we can easily remove using css affecting the behavior of the toast is wild.

Please document this somewhere in the autoClose section: https://fkhadra.github.io/react-toastify/autoClose

[2022-04-21 10:56] dyabol commented on #741
I think is related with this https://github.com/reactwg/react-18/discussions/19.
Try disable React.StrictMode, is not solution but until someone fix it...

[2022-04-21 11:00] dyabol commented on #741
I think is related with this https://github.com/reactwg/react-18/discussions/19
Try disable React.StrictMode, it's not solution, but unit someone fix it...

[2022-04-26 01:52] Djunnni commented on #741
Hi there, i also catch 2times event trigger in React 18 but it's not evoke in React 17
[codesandbox](https://codesandbox.io/s/toastify-clear-t8p2g5)

[2022-04-26 06:58] tanmay-gp commented on #716
This would be great. Just a parameter mentioning the source of the close event would the job I suppose.

[2022-04-27 05:12] shozib13 commented on #741
@dyabol thanks
Issue solved after disable StrictMode

[2022-04-30 09:57] Rafin31 opened #744 "React toast is showing multiple time."
Hello, I am using react toasty in my project. I was doing a simple authentication with firebase. There I was trying to show a toast after user login. But the same toast is keep showing again and again .

[2022-05-02 14:17] malatini42 opened #746 "Disable piling toast"
Hello, sorry I am a noob (and french !), is it possible to disabled "piling" toasts (can only have one displayed)

[2022-05-03 12:15] erictompkins commented on #712
@fkhadra I'm also having issues with toast not closing on click when using `toast.update()`. This update may fix my issue. Do you know when you will release a new update?

[2022-05-03 18:55] fkhadra commented on #746
Hey @malatini42, you can use an id for example
[code]
https://fkhadra.github.io/react-toastify/prevent-duplicate

ps: Vive la France 🇫🇷

[2022-05-03 18:55] #746 closed

[2022-05-03 19:12] #712 closed

[2022-05-03 19:12] #725 closed

[2022-05-03 19:35] fkhadra commented on #686
Hey @JBaczuk, since v9 the lib support an addon system. You could contribute by providing this functionality as an addon. https://fkhadra.github.io/react-toastify/migration-v9

[2022-05-03 20:08] ian-cla opened #748 "Highlighting text inside toast and clicking outside does not remove focus in Chrome"
**Do you want to request a *feature* or report a *bug*?**
- Bug

**What is the current behavior?**
- Using Chrome, when I highlight text inside of a toast and then click outside of the toast, focus does not seem to be removed.

- This seems to prevent the toast from closing at the specified time (`autoClose` set to 10000 ms) as well as the `closeButton` functionality from removing the toast from t

[2022-05-03 21:41] pachkovska commented on #744
Please see this issue - https://github.com/fkhadra/react-toastify/issues/741. At the bottom there are two reproduction sandboxes. This issue seems to be unique to using react-toastify in react 18. According to one of the comments, disabling strict mode in react solved an issue. It did not however work for me.

[2022-05-04 15:06] mario-iliev commented on #658
@fkhadra This bug is still reproducible if the prop is passed to the ToastContainer or the "toast" function. I see that the fix you did was only for "useToastContainer". This is in version 9.0.0. I confirm that there is no problem for version 8.2.0
I saw that the "icon" prop is not described here: https://fkhadra.github.io/react-toastify/api/toast-container
But at the same time it's working in 8.2

[2022-05-04 16:59] uttamsaha opened #749 "React Toastify is broken while showing. How can I show react toastify correctly in the top of the page?"
## React toastify now showing properly.

Hi i am trying to show react toastify but it is not showing correctly. It's broken while showing.

Here is my code.
[code]

    export default Toast;

And it is output
[Here is the output][1]

  [1]: https://i.ibb.co/1dJrNwS/toast.png

If I click on the button it's showing broken toast and it's not moving from the screen.
How can I solve this problem please

[2022-05-04 21:02] zbuttram commented on #701
Can confirm this issue also exists in 9.0.0 and in that version there is no longer an available workaround for this issue (using `toast.configure()`)

[2022-05-05 09:15] QuiiBz commented on #749
Hi, have you imported the default CSS? From the [docs](https://fkhadra.github.io/react-toastify/installation#the-gist):

[code]

[2022-05-05 09:21] QuiiBz opened #750 "Icons always show the default in v9"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When specifying a custom `icon` (globally or per `toast` call), `react-toastify` always shows the default one. Even disabling completely the icon with `false` still shows the default icon.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the p

[2022-05-05 10:00] uttamsaha commented on #749
It worked before without import css. I didn't import the css. I imported &
its working fine now.

On Thu, 5 May 2022, 3:16 pm Tom Lienard, ***@***.***> wrote:

[2022-05-05 10:02] QuiiBz commented on #749
That shouldn't work without importing any CSS 🤔  Feel free to close the issue if it's resolved.

[2022-05-05 10:03] uttamsaha commented on #749
Okay thank you..

[2022-05-05 10:03] #749 closed

[2022-05-05 11:57] rfgmac14 commented on #750
I am facing the same issue.. in version 9.0 of react-toastify is no longer possible to set custom icons.
Also, in order to remove the default icons it is now needed to render a toast without any type...
There is no mention to these changes in https://fkhadra.github.io/react-toastify/migration-v9 so this must be a bug @fkhadra

[2022-05-05 12:35] QuiiBz commented on #750
Looks like a regression from https://github.com/fkhadra/react-toastify/pull/731/commits/a3ba9dd7b5db4da08428796a64231ad4f3ccc6e0#diff-4b84ae4e863e8ba70ebdd6767b0bc38e30f6cbc25ce40dae0377a8ac7b6d0395L61-L75 were the logic has been moved to `src/hooks/useToastContainer.ts`.

Specifically, the [old version](https://github.com/fkhadra/react-toastify/pull/731/commits/a3ba9dd7b5db4da08428796a64231ad4f3c

[2022-05-05 12:49] fkhadra commented on #750
Damn good catch. @QuiiBz want to submit a PR?

[2022-05-05 13:03] QuiiBz commented on #750
Thanks. I can open a PR for this fix if you want (already done), but looks like you're already working on it.

[2022-05-05 13:19] QuiiBz commented on #750
You're welcome, thanks for the release :)

[2022-05-05 13:25] #750 closed

[2022-05-05 15:08] BPreisner commented on #658
+1 from me, I am also experiencing this issue in 9.0.0 😞

[2022-05-05 17:54] fkhadra commented on #658
I've released a new patch version to fix this

[2022-05-06 12:10] tbjerknes opened #751 "Toast emitter stopped working in v9 ?"
Hi

I may be missing something very obious, but the toast emitter stopped working when I upgraded from 8.2.0 to 9.0.1

Here is a codesandbox for 8.2.0 where it is working fine:
https://codesandbox.io/s/toastify-8-2-0-1n3if7-1n3if7?file=/src/App.js

sandbox for 9.0.1. The only difference is that i have removed toast.configure();
https://codesandbox.io/s/toastify-9-0-1-z9tgqv-z9tgqv?file=/src/App.js

[2022-05-06 13:02] fkhadra commented on #751
Hi @tbjerknes, `toast.configure` has been removed. You have to use the `ToastContainer` at the root of your app.

[code]

[2022-05-06 13:02] #751 closed

[2022-05-07 15:34] konstantincheban opened #752 "The draggable doesn't work because of extra animate styles"
I noticed that one of the container that is responsible for draggable (translateX) does not remove the animation style that prevents the correct work translateX. Because of this, I only have opacity working.

I don't understand why in CodeBox everything works with the same version, maybe the problem is in something else. Help to understand.

Chrome: Version 101.0.4951.54 (Official Build) (x86_64)

[2022-05-08 13:24] biswajit-adhikary opened #753 "Is there any option to hide the previous toast message?"
**Is there any option to hide the previous toast message?**

**I added a toast message when I click deliver button. After clicking the deliver button first toast message displaying. When I'm clicking the another deliver button, the second toast message is displayed at the bottom of the previous message.  Is there any option to hide the first one automatically or need to wait sometime?  (https://ib

[2022-05-13 17:41] jcubic opened #756 "No toast"
**Do you want to request a *feature* or report a *bug*?** Bug

**What is the current behavior?**

I've just installed the library and it doesn't work.

this is my code, I've followed the documentation:

[code]

[code]

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code

[2022-05-13 21:00] rumfiske commented on #417
Thanks this works for me! :)

[2022-05-15 16:06] fkhadra commented on #756
Hey @jcubic, it would be easier for me to help if you could share a simplified example. Meanwhile, it seems that `saveError` contains an `Error`. The `toast` function expect  valid `ReactNode: string | components | function`.
[code]

[2022-05-15 16:29] jcubic commented on #756
Thanks for your help, that was it adding `saveError.toString()` solved the issue.

[2022-05-15 16:29] #756 closed

[2022-05-16 13:18] ingro opened #757 "Empty data object in NotificationCenter's notifications"
Hi there! I'm trying the new NotificationCenter addon, but I found an issue accessing the data object from the notification.

For example when I insert a new toast like this (as reported in the [documentation](https://fkhadra.github.io/react-toastify/addons/use-notification-center#notifications)) :

[code]

I expect to find the data object when I cycle the notifications from the hook `useNotificat

[2022-05-17 17:24] 7flash opened #759 "using with preact ?"

[2022-05-18 17:40] C3ntraX commented on #757
I have the same problem.

If I want to add data to
`toast.error("Message", { data: "test" })`

Than I cant access the data in
`toast.onChange`.

But i need this to be working, because the onClose event does trigger twice, once it is mounted and again on unmounted.
Which is a bug, this shouldn´t happen.

Additional, if I want to add two toast with the same toastId, I get the error "Encountered two

[2022-05-19 16:34] ian-cla commented on #748
EDIT:
This issue was specific to Chrome and Edge. However, upon further testing I was able to determine it was not specific to focus.

Actual Behavior:
- When the toast is mounted, if I immediately click on the close button, the toast will be dismissed as expected.
- When the toast is mounted, if I do not interact with the toast (hover over, click inside or click anywhere else in the window), the

[2022-05-19 16:34] #748 closed

[2022-05-23 09:49] ghazale-javaheri commented on #32
same here, it doesn't disappear even if put the `ToastContainer` in the root of application

[2022-05-23 10:24] grit96 opened #760 "Style option doesn't work in 9.0.1"
I recently decided to upgrade react-toastify from 8.x to 9.x in our app and in doing so I discovered that the `toastStyle` prop and the `style` options no longer work.

Code sandbox using react-toastify 8.2.0 - works using either `toastStyle` prop on `ToastContainer` or the `style` option passed to `toast.error`.
https://codesandbox.io/s/headless-leaf-pvl8ep

Code sandbox using react-toastify 9.0.

[2022-05-23 11:27] Vl3oss opened #761 "[Bug] Type error when customize icon with function"
**Do you want to request a *feature* or report a *bug*?**

report a bug 🐞

**What is the current behavior?**

When customize icon with function like the last example [in the doc](https://fkhadra.github.io/react-toastify/icons#custom-icons), Typescript will complain about type mismatched.

For example `toast("Wow so easy !", { icon: () => "a" })` would results in this error from

[code]

**If the c

[2022-05-23 14:36] madcido commented on #760
I just had the same issue. I think the toast styles are being overwritten [here](https://github.com/fkhadra/react-toastify/blob/175ef403aecc339af27bf67602e9a392b1b6dad3/src/components/ToastContainer.tsx#L63)

[2022-05-23 14:49] grit96 commented on #760
@madcido could you give my PR a go to see if it sorts it

[2022-05-23 15:04] madcido commented on #760
Oh, I'm no maintainer of this repo. I was just poking around and suggested a possible solution 🙂 - not sure how to help/test your PR

[2022-05-23 15:07] grit96 commented on #760
I've tested it in my app with patch-package and it seems to work fine, let's hope someone can merge it

[2022-05-25 09:00] roozbeh95m opened #765 "i think you forget the theme"
hi in your website
i think you forget the theme
in this page https://fkhadra.github.io/react-toastify/introduction/

when you change the theme , the theme changes doesn't appear in the code .
it took a while for me to find out what should i change

[2022-05-27 13:27] mikebarkmin opened #766 "React Toastify not recognized as an ES module"
**Do you want to request a *feature* or report a *bug*?**

I think this is a bug with the bundle.

**What is the current behavior?**

React Toastify is not recognized as an ES module. The build of an next application with react toastify will fail with the following error.

[code]

**What is the expected behavior?**

It should not fail with this error and just load the ES module.

**Demo-Repo**

ht

[2022-05-29 07:42] #761 closed

[2022-05-29 07:43] #760 closed

[2022-05-29 07:45] fkhadra commented on #766
Hey @mikebarkmin, were you able to test your fix?

[2022-05-29 07:55] mikebarkmin commented on #766
@fkhadra I tested the second option and added mjs. This worked fine with nextjs.

[2022-05-29 08:03] fkhadra commented on #757
Hey @ingro sorry for that. Fix incoming

[2022-05-29 08:14] fkhadra commented on #766
Ok, thanks. I'm running a couple of tests with your PR and I will merge it if everything is ok. Thanks a lot!

[2022-05-29 10:04] fkhadra commented on #766
I've just created a new nextjs app locally and I'm not able to reproduce the issue.

<img width="1011" alt="Screenshot 2022-05-29 at 12 02 54" src="https://user-images.githubusercontent.com/5574267/170862595-b3a2d670-e737-4815-933e-5592966192a5.png">

Also, I don't see react-toastify in the repo you linked https://github.com/openpatch/patches-nextjs-starter/tree/dcd30554da8c1cd393a8c15be4f2d4c6ae8

[2022-05-29 10:16] jbebe opened #769 "[feature request] Support callback function as autoClose value"
`autoClose` property for the Toast container is a number right now,
therefore I can't set a dynamic value to it depending on how long the text should be shown.

So basically, the property would change from

`autoClose?: number | false` to `autoClose?: ((message: ToastContent<unknown>) => number | false) | number | false`

I want to receive at least the `ReactNode` of the toast message about to be

[2022-05-29 10:41] mikebarkmin commented on #766
Ok. Then the issue seems to be that I am indirectly importing react-toastify via another library. Maybe in your setup react-toastify was loaded as a CommonJS and in my case react-toastify was loaded as a ES module.

Not using the right file extension lead to issues for other libraries as well:

- https://github.com/react-hook-form/react-hook-form/pull/7262
- https://github.com/prismicio/prismic-re

[2022-05-29 14:19] #650 closed

[2022-05-29 14:36] fkhadra commented on #752
Hey @konstantincheban, if I'm not mistaken you are using react18 with strict mode. React18 with strict mode will run effects twice in development, that's why you have the issue, but it's not visible on code sandbox, which uses a production build of react.

Can you check with a production build?

[2022-05-29 14:38] fkhadra commented on #766
Ok, I'll close the issue for now but keep your PR open. If more people encounter the same issue, I'll use your PR. Thank you

[2022-05-29 14:38] #766 closed

[2022-05-29 14:49] fkhadra commented on #757
fix released

[2022-05-29 14:49] #757 closed

[2022-05-29 14:53] fkhadra commented on #741
Hi there, sorry for the late reply. But it's indeed happening because of the new behavior in dev mode when using react18. The same is happening here https://github.com/fkhadra/react-toastify/issues/752.

I could add some code to ensure that it runs only one time but I don't want to, it's only something happening in dev mode.  I'll try to reach other library maintainers to see how they handle this

[2022-05-29 15:33] ingro commented on #757
Thanks man much appreciated! 👍

[2022-05-30 18:49] lfernandez55 commented on #741
Please keep us posted on your thoughts on a fix.  It's true that the problem may only appear in dev mode and with strictmode turned on.   But strictmode should be used.  So until there's a fix I don't feel comfortable upgrading to Toastify 9.0.2.  from Toastify 7.0.3 (The problem doesn't occur when using React 18.1 and Toastify  7.0.3)

[2022-05-31 07:42] tropicbliss opened #770 "Toast not updating properly after update() method is called with the corresponding toast id"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
1. I create a new toast like this:
[code]
2. I then update it like so:
[code]
The toast still has the loading animation besides the text after it's updated. The toast text updates as per normal

Current toast container setup:
[code]

**If the current behavior is a bug, please provide the steps to repro

[2022-05-31 20:10] fkhadra commented on #741
@lfernandez55 sorry to hear that. I can confirm at 100% that the issue will only appear in development. I've also created a codesanbox react18 + react-toastify v7.0.3 and we can see that the issue is occurring
[![Edit young-rain-okurds](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/young-rain-okurds?fontsize=14&hidenavigation=1&theme=dark)
<img width="1041" alt=

[2022-05-31 20:12] #770 closed

[2022-05-31 20:16] #566 closed

[2022-05-31 20:19] #701 closed

[2022-05-31 21:09] lfernandez55 commented on #741
Oh interesting.  I was able to confirm as you did that the problem is present in v7.0.3.  However, not in all contexts.  I have an application running react18 + react-toastify v7.0.3 + CRA + strictmode and when the first toast is generated this is what appears in the Chrome console:

react_devtools_backend.js:4026 Warning: ReactDOM.render is no longer supported in React 18. Use createRoot instead.

[2022-06-01 07:59] martinadamec opened #771 "Can't find stylesheet to import."
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
unable to start app because import sass file throwing error

**If the current behaviour is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React. Paste the

[2022-06-01 09:21] fkhadra commented on #771
Hey, in order to import the stylesheet you have to do
[code]

[2022-06-01 09:26] martinadamec commented on #771
@fkhadra but I want to change sass variables so I need sass file not compiled css file

[2022-06-02 02:16] lfernandez55 commented on #741
Thanks for the clarification!  For our common sake I hope React gets around to addressing this.  It seems odd to me that a bug this big would make it into a release.  Don't they have any QA where, say, they invite maintainers of popular code to test things out?  This problem would have manifested itself in a simple smoke test.  It's not obscure at all.  And at least from the perspective of this us

[2022-06-02 02:31] lfernandez55 commented on #741
Maybe it would be helpful to specify in the Toastify documentation what versions of React each version of Toastify is compatible with?  If was trying to resolve a minor incompatibility between React 18 and Toastify 7 (e.g. when using Toastify 7, React 18 issues the console warning I refer to above).  But the incompatibilities between React 18 and Toastify 9.0.3 are even more pronounced.  Maybe I s

[2022-06-02 05:17] #711 closed

[2022-06-02 05:33] fkhadra commented on #741
Ag-grid people raised the same issue https://github.com/facebook/react/issues/24553.  They also proposed a workaround I'll see how I can use it in my case https://blog.ag-grid.com/avoiding-react-18-double-mount/

[2022-06-02 16:53] claytonrothschild commented on #685
I also ran into this problem, where the delay causes the user to lose his "instruction" but he can still take his "action" within one second. This causes UX problems.

I dont want to convolute the library (which is great), but I do propose exploring these additional callbacks:
- `onDismiss` or `onAutoClose` - when the toast is dismissed automatically rather than thru user interaction
- `onCloseSta

[2022-06-03 08:15] roblotter opened #772 "Memory leak when multiple containers are used"
**Do you want to request a *feature* or report a *bug*?**

Bug, more exactly, a memory leak

**What is the current behavior?**

When multiple toast containers are alive at the same time, and then some of them destroyed, the memory is not reclaimed from the destroyed containers - they still keep references of objects around until the last toast container is unmounted. Only at that point, memory is

[2022-06-04 22:43] DFearing commented on #770
This still isn't working for me using version 9.0.3. Either using toast.loading or toast.promise, the loading spinner just doesn't disappear.

[2022-06-06 11:06] roblotter commented on #772
This is showing the retainers

<img width="1278" alt="Screenshot 2022-06-06 at 14 06 02" src="https://user-images.githubusercontent.com/50020244/172149314-e185eda8-5e22-4d8c-8e76-be465d173f7e.png">

[2022-06-06 18:36] doener1337 opened #773 "react-toastify not working with react version nr 18.0.0"
Hello,
it seems like react-toastify is not working with the newst react version.
"Uncaught TypeError: dispatcher is null" when using it inside my component.

[code]

[2022-06-06 21:22] cypherfunc opened #774 "flexbox CSS breaks in IE11"
`flex: 1;` causes toasts to collapse in IE, it should be `flex: 1 1 auto;`

https://github.com/fkhadra/react-toastify/blob/deb681ba363a80fd36982cecfbbf16e5168c62f8/scss/_toast.scss#L26

[2022-06-07 06:23] progys commented on #772
This issue is affecting us too, would be great to fix it.

[2022-06-07 19:56] fkhadra commented on #773
Hey @doener1337, I think your issue is related to your setup.
[![Edit green-rain-xnccs2](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/green-rain-xnccs2?fontsize=14&hidenavigation=1&theme=dark)

[2022-06-07 19:56] #773 closed

[2022-06-07 19:58] fkhadra commented on #774
Hey @cypherfunc, I don't fix issues related to ie11 anymore given that EOL is on 15 June of this year. You can always override the default style.

[2022-06-07 19:58] #774 closed

[2022-06-07 22:46] thib3113 opened #775 "[CRA v4] Can't import the named export 'cloneElement' from non EcmaScript module. PLEASE UPGRADE YOUR CRA VERSION 😿"
**Do you want to request a *feature* or report a *bug*?**

A Bug

**What is the current behavior?**

v9.0.4 seems to add a breaking change .

My setup works with V9.0.3, but when updating to V9.0.4 react scripts refuse to build
[code]

**Which versions of React, and which browser / OS are affected by this issue? Did this work in previous versions of React?**

React 17.0.1
react-scripts 4.0.1 ( wit

[2022-06-08 06:25] techiekarthick commented on #202
The same issue here.. css not loading.. can i help me how to fx ;(

[2022-06-08 06:55] fkhadra commented on #775
I'm on it

[2022-06-08 07:00] fkhadra commented on #775
@Robloche you are using latest CRA?

[2022-06-08 07:06] fkhadra commented on #775
@cakonze, @niwa-takeru, @thib3113, just tested with the latest CRA and it works as expected. I suggest you upgrade to the latest CRA. 4.0.1 is almost 2 years old

[2022-06-08 07:18] thib3113 commented on #775
@fkhadra not so easy ...

CRA 5 use webpack 5, which remove node js polyfill ; And lot of people can't migrate to it : https://github.com/facebook/create-react-app/issues/11756 .

About my personal case, I'm actually migrating to V5, but it will took a long time (because I need to rewrite/re publish some libraries that use polyfill)

[2022-06-08 07:34] fkhadra commented on #775
@thib3113 I want to 😭. The module system in our ecosystem is so messy. If I revert the PR then I would break vitejs and nextjs. I don't see any good solution

I understand your pain, believe me. What I can suggest is to stick to v9.0.3 until you fully migrated to CRA v5.

[2022-06-08 07:36] fkhadra commented on #775
I've also found this solution, for those who cannot migrate to v5 https://github.com/reactioncommerce/reaction-component-library/issues/399#issuecomment-467860022

[2022-06-08 07:45] thib3113 commented on #775
@fkhadra thank you, but it's not really a solution with react-scripts . It's a solution to doesn't use it :) . ( but, my case is "pretty" easy, I'm just using an old library, that is preparing a big major update ... and so doesn't update the last one ... I will start by trying to fix it, and do a PR, before switching to another things )

---

About the module system, the main problem for me is may